[2021-02-09 18:17] rhuss commented on #997
After thinking a bit around the issue, in order to stay scalable (wrt the number of options and length of the command-line)  and still being able to provide a decent UX, I think we can't avoid to make multi-container management a multi-step interaction with an intermediate file.

Some ideas about the UX:

* Using a new `container` command the builds up a list of container specs in a file (option n

[2021-02-09 18:19] rhuss commented on #997
@dprotaso we are going to discuss these two alternatives above in the client WG call.

btw, I don't think it's a 'good first issue', it touches quite a bit ;-)

[2021-02-11 08:15] rhuss commented on #842
@duglin I still think that your ask is quite reasonable but I still don't see an easy solution to implement this.  Technically we could implement it ...

* ... by adding an additional status field in the `Revision` that indicates the number of replicas configured in the backing `Deployment`. This would require changes in serving. @knative/serving-writers (btw is this the proper alias to use to pin

[2021-02-11 08:22] markusthoemmes commented on #842
We could update the Revision's status with the number of replicas surfaced by the Deployment no problem.

[2021-02-11 08:35] rhuss commented on #842
Ah, that would be very cool and very helpful so that we can visualize this with `kn service describe`. Going to open an issue in https://github.com/knative/serving ...

Thx!

[2021-02-11 14:18] duglin commented on #842
Having the revision.status show the desired size of the deployment would be nice. If I understood it properly, on yesterday's API call I think Matt mentioned the idea of introducing an abstraction between Revisions and Deployments so that someone could plug-in something other than a Deployment to manage the instances. While it would seem odd, it might be possible that the desired size of that yet-

[2021-02-11 14:37] markusthoemmes commented on #842
@duglin up to you to decide. Both would work for deployments.

[2021-02-11 14:59] duglin commented on #842
interesting, I would think it would be annoying to update the revision's status each time some pods died. But if it's trivial, then having a "desired" and "actual" instance count would be really cool.

[2021-02-11 15:03] markusthoemmes commented on #842
Trivial to implement, non-trivial in terms of API churn, potentially :P

[2021-02-11 15:42] lamw commented on #287
Great to see this idea being discussed! I recently came across this challenge as consumer of Knative and realized that we'd have to ask our end users to switch between `kn` and `kubectl` to handle arbitrary secrets/sensitive information that would can then be accessible within Knative service.

@rhuss Your proposal sounds great (prefer top level as well), how do we go about moving this forward?

[2021-02-11 18:26] vagababov commented on #842
Well, it's easy in terms of API as well (just take it off KPA) and populate status.
It's more of a KN work where it has to distinguish between 0 - scaled to 0, 0 - failed and 0 - server is older than client and does not set the field.

[2021-02-11 19:58] csantanapr opened #1222 "Improve --sink by adding support for svc kind and other addresables"
### Feature request

Ability to use any addressable resource for the `--sink` flag (ie Broker, Service, etc..)

### Use case

While fixing an issue in the sample pingsource docs https://github.com/knative/docs/pull/3217

I cant use a short version of `--sink` to specify a normal K8s service, not a ksvc

In this case `event-display` is not a knative service, just a normal `Kind: Service`

A Service

[2021-02-12 09:48] dsimansk commented on #333
/remove-lifecycle stale

[2021-02-12 10:32] dsimansk commented on #213
/remove-lifecycle stale

[2021-02-15 07:50] rhuss commented on #1102
/remove-lifecycle stale

I think this is still a good idea to move this feature to a shared place

[2021-02-15 07:56] rhuss commented on #496
/remove-lifecycle stale

The direction of the implementation will likely shift to the usage of the discovery API instead of CRDs because regular users are not able to read CRDs in general, so some other meta data discovery mechanism is required. But the the general idea, to allow managing sources with plugins by evaluation CLI specific metadata is still valid.

[2021-02-15 07:57] rhuss commented on #888
/remove-lifecycle stale

[2021-02-15 07:58] rhuss commented on #888
This is refactoring should be considered to be implemented along with the extraction of the shared code #1039

[2021-02-15 08:14] rhuss commented on #287
That's not true, for `source` we have everything one layer deeper `kn source ping create`, so there is already some 'ordering' level (having those top-level would have lead to `kn ping-source create` or `kn apiserver-source create`).

So from that pov, I wouldn't mind adding a `kn config secret create` or `kn config cm create`, also to make it clear that those are _not_ key parts of Knative itself

[2021-02-15 08:39] rhuss commented on #287
The next step would be to think about the implementation of this feature and how it looks like from the CLI. For larger new features we should create a Feature Track document (like it is common for Knative serving), but for this one I would suggest that we just mimic the way how kubectl implements the secret/cm management. We should just decided whether we want to skip some of the more advanced fe

[2021-02-15 08:40] rhuss commented on #287
**Option A:**

Please vote with 👍  if you in favour of this option (don't vote down please)

[2021-02-15 08:43] rhuss commented on #287
**Option B**

Please vote with 👍 if you in favour of this option (don't vote down please)

[2021-02-15 08:44] rhuss commented on #287
Please vote Option A or B until EOD PDT of February 19th.

[2021-02-15 09:00] rhuss commented on #293
I think we kind of implemented it with the `--target` option. So let's close this issue.

[2021-02-15 09:00] #293 closed

[2021-02-15 09:33] rhuss commented on #1222
A bit of history context:

In previous versions of `kn` we mapped a `svc:` prefix also to a Knative service, but realised that this can be confused with a regular K8s service. Therefor we freed up that slot for `svc:` for a K8s service, but decided to *not* include the mapping by default into `kn` as a K8s service is not part of the Knative API contract. Instead we suggest to add such a mapping to

[2021-02-15 09:41] rhuss commented on #1087
@dsimansk The fix should be available now in #1212 Would you mind to give the PR a review please and eventually close this issue if the PR fixes it ?

[2021-02-15 09:48] rhuss commented on #1080
/remove-lifecyle stale

I like the idea, but I don't have a Windows system at hand (and no cycles free, too). From my feeling, Chocolatey is the most widely used package manager, so that we should tackle this first.

Any volunteer ?

[2021-02-15 10:04] rhuss commented on #1205
It's a good idea and a valuable addition, however we should think about the name to align it with the other autoscaling parameters. Also we then might align the option names as e.g. we have currently `--concurrency-target` but I guess when using "rps" the target has a different meaning (`--rps-target`). So a `--autoscale-target` would be more appropriate (or even `--scale-target` to align with the

[2021-02-15 10:15] rhuss commented on #1047
Thanks for the report ! (and sorry for that very delayed response).

That definitely looks like an bug and we should add in the general wait loop the case when an `DELETE` event occurs, that the wait should abort then, too.

/label good-first-issue

[2021-02-15 10:17] rhuss commented on #1071
/remove-lifecycle stale

[2021-02-15 10:19] rhuss commented on #1071
@abrennan89 sorry for the late response, just going through my backlog of open issues.

I agree that the contributing link needs to be updated, but I also think that  https://knative.dev/contributing/ should be removed, too. Let me open issue over there at docs, too.

Yes, definitely ! Good find. I will address this with a PR, too.

[2021-02-15 10:39] dsimansk commented on #1047
@rhuss it sounds similar to the race condition issues, that was fixed a few weeks ago. https://github.com/knative/client/issues/1109

[2021-02-15 10:45] #1071 closed

[2021-02-15 11:02] rhuss commented on #1015
Definitely a good idea. We have to think about though, how we can seamlessly and backwards-compatibly add this to the volume specification which already a bit complex and uses our own encoding.

Any suggestion on how to add the subpath to the `--mount` option of `kn service create` would be quite helpful to kick off this feature.

[2021-02-15 11:02] csantanapr commented on #287
Have a copy and support all options as kubectl create secret including registry creds.

alias “kn create secret”=”kubectl create secret”
alias “kn create cm”=”kubectl create cm”

[2021-02-15 11:03] rhuss commented on #925
+1, let's check how `kubectl` implements this.

[2021-02-15 13:15] lamw commented on #287
Thanks for the write-up @rhuss and no, I'm not a developer, so I wouldn't be able to help with the implementation but more than happy to help with the testing/consumption :)

[2021-02-15 14:26] rhuss commented on #1181
+1. This is also a good first issue, the option should reflect the yaml field. Note that the name should be also selected that way that it does not get confused with `--wait-timeout` which is used as a timeout for a blocking wait.

/label good first issue

[2021-02-15 15:19] embano1 commented on #287
I think @csantanapr raises a good point: if we simply mimic `kubectl` behavior, there's probably not much gain for the end user. What is the UX we can provide on top which justifies a top-level `secret` | `configmap` command?

[2021-02-15 15:25] rhuss commented on #287
@embano1 the reasoning above was to add a kubectl feature 1:1 to allow for a single tool (kn) managing all aspects of Knative applications. No need for an installing kubectl in addition.

From this issue's description by @duglin

If we can reuse kubectl commands by including those as dependencies (like we do for machine-readable output for `kn service describe -o yaml`) then it's just added conven

[2021-02-15 15:26] rhuss commented on #287
no worries, was just asking ;-) Anybody who is interested in implementing this feature, feel free to pick it up.

[2021-02-16 07:07] navidshaikh commented on #394
/reopen
/remove-lifecycle stale

[2021-02-16 07:30] rhuss commented on #336
FYI, we are focussing first on support for so-called [Kamelets](https://github.com/apache/camel-kamelets) which should already cover a decent amount of possible sources.

cc: @christophd as reference for how we wanted to approach Camel-K support before Kamelets were introduced

[2021-02-16 07:31] rhuss commented on #497
/remove-lifecycle stale

[2021-02-16 07:32] rhuss commented on #498
Not sure if this story is relevant anymore.

Anybody supporting this feature, please remove the 'stale' label. Otherwise I would let fade out this feature proposal.

[2021-02-16 07:41] rhuss commented on #110
/remove-lifecycle stale

I think this issue is still valid

[2021-02-16 07:52] rhuss commented on #398
To reiterate on this issue, I see really two possible desired behaviours here, when `--image` is provided on update with the same image as the original one.

* A: The image has changed in the registry (different digest) --> Then a _new revision_ should be created
* B: The image has not changed in the registry --> No new revision should be created.

When using BYO revision as we do now, then for ev

[2021-02-16 21:46] dsimansk opened #1231 "Improve `knb` test coverage and docs"
This is  follow-up to initial work done in the PR https://github.com/knative/client/pull/1226 to add `knb` tool to enhance plugin inline support.

TODO:

- [ ] Generate commands documentation in similar way as `kn`
- [ ] Specific plugin examples with plugins + yaml configs
- [ ] Add test coverage with unit & E2E tests

[2021-02-17 00:20] vaikas commented on #1222
This is neat:
[code]

Is there a default map that we ship with? I took a quick look at this repo but didn't find one. Perhaps we could create a default and if it doesn't fit the folks desires, they can mod as they see fit, but wouldn't have to add them from scratch?

[2021-02-17 08:15] rhuss commented on #1222
No, we don't initialize the configuration file initially, but this is a good idea anyway (also as a starting point to find out what can be customized). One caveat though is that using a configuration file that would need to be customised doesn't help much in a CI/CD context when kn is served from within a container.

[2021-02-17 08:21] rhuss opened #1232 "Initialize a .config/kn/config.yaml if not already exist"
### Feature request

If no configuration file exists, then a new one with examples and e.g a default sink mapping should be created. Maybe also add a `--no-init` option to prevent that creation and a `--init` for re-initializing the config (with doing a backup of an old one).

### Use case

This feature would be very helpful to add custom mappings by default, like discussed in https://github.com/k

[2021-02-17 10:41] dsimansk commented on #1087
Per WG call discussion I'd like to start a vote on the `--mode` flag default value since the PR to fix mode flag also sets default.

Option A:
The `--mode` flag default is `replay`. The Service and Revisions are exported as plain Kubernetes custom resource, either single Service or list of resources with multiple Revisions. The format is meant to be used with `kubectl` to recreate/import.

Option

[2021-02-17 10:42] dsimansk commented on #1087
The --mode flag default is replay. The Service and Revisions are exported as plain Kubernetes custom resource, either single Service or list of resources with multiple Revisions. The format is meant to be used with kubectl to recreate/import.

Vote with the :+1:, please don't down vote.

[2021-02-17 10:42] dsimansk commented on #1087
Option B:

Vote with the +1, please don't down vote.

[2021-02-18 20:22] maximilien commented on #925
Does `kubectl` assumes a default location for the `KUBECONFIG` file, e.g., `.kube`

[2021-02-18 20:50] duglin commented on #925
I believe it's ~/.kube/config

[2021-02-19 09:12] rhuss commented on #925
Yes, it what @duglin says but the location can be overridden by setting `KUBECONFIG` env var. The default context itself (server, namespace) is set within the config in the `default:` section. Tools like `kubectx` (or also OpenShift's `oc`) can switch that default context.

With my comment above, I meant that we should check whether we can reuse code from `kubectl` for how it implements the `--con

[2021-02-22 12:31] dsimansk commented on #1087
It feels kinda inconclusive with just 3 votes collected.

@maximilien @navidshaikh could you please chime in?

[2021-02-23 08:37] rhuss commented on #1087
@itsmurugappan just out of curioisity, why do you think that "replay" mode should be the default ?

[2021-02-23 08:54] #925 closed

[2021-02-23 18:37] eletonia commented on #925
Can we use the implementation of `kubectl use-config` to help implement the `--context` flag for kn?
https://github.com/kubernetes/kubectl/blob/c1df07341a15fb36264a018e130ee397332bdfc0/pkg/cmd/config/use_context.go

[2021-02-23 19:46] dsimansk commented on #925
It's done similarly with help of  client-go config loader and `ConfigOverrides` hook, pls see the change on [PR](https://github.com/knative/client/pull/1234/files#diff-10591b341830c6b126e817c7813eecc94eebbb85c5dd97f6fe16e46dd46d0042R172-R178).

[2021-02-24 07:16] #1144 closed

[2021-02-24 12:10] csantanapr opened #1241 "Why the documentation for the kn CLI not on the website?"
This is the second time I get lost searching for the usage of a kn CLI command by going to the documentation site I can’t find it https://knative.dev/docs/

I think having this information on the site increases visibility and adoption

 /kind question
 /kind doc

cc @omerbensaadon

[2021-02-24 13:05] rhuss commented on #1241
That's all my fault, it was planned since a [long time](https://github.com/knative/docs/issues/1555) and we started with some [automation](https://github.com/knative/client/issues/539) to add the doc extracted from the help messages but we never did the final step to auto-integrate this into the website.

There were more plans for additional docs as described in https://github.com/knative/client/i

[2021-02-24 13:08] csantanapr commented on #1241
I see a lot of activity on go code even more plugins created, what about pausing new features for a time period and focus on getting documentation automated and into the website I bet all folks contributing to CLI would not mind helping with docs for a short period

[2021-02-24 13:11] csantanapr commented on #1241
Docs should not be a one person (re understaff) open source will always be understaff :-)
The same we can say about tests, the little staff on board needs to be decided into function, tests, and docs.
this could be a good discussion for CLI WG to put foot down and say no more features are accepted until docs are in place

[2021-02-24 13:13] csantanapr commented on #1241
Is breaks my ❤️  so much innovation being done and no recognition or usage of the features no one will know about their existence.

The same goes for a list of plugins available and how to installed them to be on the website and get visibility

[2021-02-24 13:14] rhuss commented on #1241
My feeling is if we have a simple foundation and automation (build integration) for the core document assets (reference manual, user manual, faq), then we can gather much more input and e.g. make it even an acceptance criterium when reviewing PRs.

However we need to get this automation rolling, which involves connecting the content-producing repo (this one) with the publishing-repo (website). I d

[2021-02-24 13:16] rhuss commented on #1241
From the list of plugins tbh, there are only two in a ready to use status (admin & kafka source). There will be many more, and I totally agree without a central landing page, those plugins are lost. Also, we should think about a simple template for the plugin's documentation itself and introduce it to kn-plugin-sample, which is the blueprint for all new, golang based, plugins.

[2021-02-24 13:27] csantanapr commented on #1241
The automation the CLI folks could take a look is in the website git repo there is a script that copies files from docs and community into the website and then does the build.
you could take same approach copy the md files from the client repo into website the same way docs and community content.

[2021-02-24 13:34] csantanapr commented on #1241
For the plugins today in the website I don’t know about the 2 that are ready

[2021-02-24 13:45] csantanapr commented on #1241
I think some of the foundation for the website is in place today because website repo is separated from docs repo that holds the content

where it gets tricky is the versioning the website only have 1 documentations version master/Head 0.20 0.19 ...

The script will pickup the CLI md files from a branch maybe the latest branch 0.20.x

But all this comes down to a simple bash script that exists tod

[2021-02-25 20:03] eletonia commented on #633
/assign

[2021-03-02 14:50] maximilien commented on #397
What about using `brew` for that purpose? We could use this issue as a way to discuss. For instance, should there be one `brew` repo for all the plugins or one per plugin?

Cc: @zhanggbj @navidshaikh @rhuss

[2021-03-02 15:09] abrennan89 commented on #1241
@rhuss I'm going to go ahead and manually add CLI docs until we can figure out the automation part - I think it's better than nothing for now? woman_shrugging wdyt?

[2021-03-02 15:37] rhuss commented on #397
I would think that all plugins that are part of the _release train_ (i.e. that are released together with `kn`) should share the same brew repository. I suggest creating a repository `knative-sandbox/homebrew-kn-plugins` that host all formulas for the support plugins. Then a user can e.g. install the plugin with

[code]

when then corresponding files are created.

[2021-03-02 15:58] maximilien commented on #397
Sounds good to me. Unless someone else is on this already, let me work with @zhanggbj and @zhangtbj to get this done.

Cc: @navidshaikh @itsmurugappan @dsimansk

[2021-03-02 16:50] rhuss commented on #397
+1, go ahead. I think the first step is to kick off the process to create that repo.

[2021-03-03 10:30] rhuss commented on #1241
yep, definitely ! Especially if we don't find some volunteer to work on this (i would like to help, but I'm totally overloaded right now :-(

thanks for taking care ...

[2021-03-03 10:31] rhuss commented on #400
/remove-lifecycle stale
/reopen

[2021-03-03 10:36] rhuss commented on #1031
@markusthoemmes are you sure the reference to the upstream PR is correct ? It looks unrelated to this issue to me.

[2021-03-03 10:41] rhuss commented on #1162
/remove-lifecycle stale

[2021-03-03 10:42] rhuss commented on #485
/remove-lifecycle stale

[2021-03-03 10:44] markusthoemmes commented on #1031
Fixed, thanks.

[2021-03-03 16:06] abrennan89 commented on #1241
/assign

[2021-03-03 18:32] abrennan89 commented on #955
Added a PR for some docs for ths https://github.com/knative/docs/pull/3306

[2021-03-04 07:56] rhuss commented on #1039
/remove-lifecycle stale

[2021-03-04 14:00] #1087 closed

[2021-03-05 07:55] rhuss opened #1251 "Update documentation how to connect kn to cluster"
See https://github.com/knative/docs/pull/3302#discussion_r585833962

[2021-03-08 08:01] rhuss commented on #1165
/remove-lifecycle stale

this is indeed a serious bug that we should address. The order of environment variables is important and should reflect the order as given on the command line.

For updates, new environment variables should be added to the end as I consider the intention that those are the most specific. I would *not* try to add a feature for allowing to reorder env variables, nor to allow

[2021-03-09 01:53] duglin commented on #983
/remove-lifecycle stale

[2021-03-09 08:10] rhuss commented on #983
So that we are now on k8s 1.19, have we fixed this issue magically automatically ?

[2021-03-09 16:29] maximilien commented on #397
@rhuss see https://github.com/maximilien/homebrew-kn-plugins

Not done. Got to fix a bug and move binary to plugin directory but should have a version today.

We also need to create a new sandbox repo or move it to the `homebrew-client` repo.

Anyhow, let’s discuss briefly at WG meeting today.

[2021-03-09 17:04] dsimansk commented on #983
Yep, it's look all right to me. The `jsonpath` produces json output now. And there's new option `jsonpath-as-json` as well coming from the updated cli-runtime.
[code]

[2021-03-09 17:55] rhuss commented on #1184
Checking your script, I think you don't have to set the revision name anymore explicitly as by default  `kn` is using server-side generated revision names now since 0.21. If you update, could you try if your use case would work without setting an explicit `--revision-name` ?

[2021-03-09 18:07] #983 closed

[2021-03-11 23:45] maximilien commented on #400
@rhuss does this still need to remain open?

[2021-03-11 23:48] maximilien commented on #397
@rhuss and @navidshaikh can you give https://github.com/maximilien/homebrew-kn-plugins a quick spin? Should be OK to install the `admin` and `source-kafka` plugins v0.21 version.

It should be working but missing the code to create symlink to user's `~/.config/kn/plugins` but otherwise should work. Once the new `homebrew-kn-plugins` repo is ready, I'll move the code there.

cc: @zhanggbj

[2021-03-12 06:34] navidshaikh commented on #397
lgtm
[code]

+1

[2021-03-12 10:31] rhuss commented on #400
The last missing piece is to add the automatic update of the homebrew repo when a kn release has landed, i.e. creating automatically a PR against homebrew-client which updates the versions. Or, what is probably easier, create the script in homebrew-client that is then called when a release of kn is done and then add the step to call this script to the release documentation.

I think we should star

[2021-03-15 11:02] navidshaikh commented on #1143
/unassign

[2021-03-15 11:44] Kaustubh-pande commented on #1143
I would like to work on this
/assign

[2021-03-15 13:31] duglin commented on #317
/reopen

[2021-03-15 13:32] duglin commented on #317
#1217 doesn't actually address this (at least I don't think it does)

[2021-03-15 13:34] duglin commented on #317
I missed that this was done before #1217 at least for delete
/close

[2021-03-15 13:34] #317 closed

[2021-03-16 10:47] dsimansk commented on #652
/remove-lifecycle stale

[2021-03-17 06:46] navidshaikh commented on #1129
/remove-lifecycle stale

[2021-03-17 10:24] rhuss commented on #1066
Is there still interest in this feature, or can we close this issue ? (asking because it went stale)

[2021-03-17 10:25] rhuss commented on #1160
Maybe its a good time now to revisit the eventing API and what we are supporting and whether we need some alignment. Any volunteer to check those API versions ?

/remove-lifecycle stale

[2021-03-17 10:45] dsimansk commented on #1197
/assign

[2021-03-17 10:48] kameshsampath commented on #1066
I think we can close it

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Roland Huß ***@***.***>
Sent: Wednesday, March 17, 2021 3:54:28 PM
To: knative/client ***@***.***>
Cc: Kamesh Sampath ***@***.***>; Mention ***@***.***>
Subject: Re: [knative/client] GitHub Action for kn (#1066)

Is there still interest in this feature, or can we close this issue ? (asking be

[2021-03-17 11:09] Divyansh42 commented on #1066
@danielhelfand we have created an action https://github.com/redhat-actions/kn-service-manager to manage knative services, but knative should be installed in your kubernetes cluster to work with this action. May be this action can partially fulfill your requirement.
We would love to see your views on this and do let us know if you want some improvements/features in this, we can discuss that further

[2021-03-17 14:36] rhuss commented on #462
/remove-lifecycle stale

[2021-03-18 11:55] dsimansk commented on #278
/reopen
/remove-lifecycle stale

[2021-03-18 13:41] #1143 closed

[2021-03-19 09:07] slinkydeveloper opened #1269 "kn broker create with broker class"
### Feature request

It would be nice to be able to specify the broker class when creating a broker, in order to create brokers with classes different from default. For more info: https://knative.dev/docs/eventing/broker/#configuring-broker-classes

### Use case

Create a Kafka Broker without setting it as default broker class: https://knative.dev/docs/eventing/broker/kafka-broker/#create-a-kafka-

[2021-03-19 17:14] dsimansk commented on #1269
@Kaustubh-pande FYI would you like to take it?

/kind good-first-issue

[2021-03-20 04:28] Kaustubh-pande commented on #1269
Thanks, I will
/assign

[2021-03-22 10:57] rhuss commented on #1269
Sounds good. However I would call the option `--class` as `broker` seems to be redundant (we are dealing with a broker anyway)

[2021-03-23 12:20] navidshaikh opened #1272 "Expose context to client APIs"
### Feature request
During upgrade to k8s 1.18 libs, around knative 0.18 release timeframe, it was required to pass additional arguments for context and create/update/delete options, see https://github.com/knative/serving/pull/9367/files and https://github.com/knative/client/pull/1025/files . We worked around by adding `context.TODO` and empty create/update options.
To be consistent with the API u

[2021-03-23 12:22] navidshaikh commented on #1272
/milestone v0.22.0

[2021-03-23 19:54] matejvasek commented on #1272
@navidshaikh @rhuss I started working on possible implementation.
https://github.com/knative/client/compare/main...matejvasek:knservigclient-ctx

[2021-03-23 19:55] matejvasek commented on #1272
The two last commits are not needed:
Using cmd.Context() in pkg/kn/commands 57437b7
Handling SIGINT and SIGTERM 9ca1e16

[2021-03-24 05:36] navidshaikh commented on #1272
@matejvasek nice! Can you create the PR so we've the CI verifying the changes as you keep updating the clients?

Handling SIGINT and SIGTERM 9ca1e16

We can have them in a follow up PR?

[2021-03-24 08:43] lstocchi opened #1273 "List command doesn't return empty result in correct format"
Hello,
we are working on a knative plugin for IntelliJ and we found out this misbehavior.

### Bug report

`list` command doesn't return empty result in correct format (json, yaml, .).

[code]

### Expected behavior

I would expect it in json format
E.g
[code]

### Steps to reproduce the problem

Step above

### kn version

[code]

### Knative (serving/eventing) version

[code]

[2021-03-26 16:23] #1272 closed

[2021-03-26 16:24] navidshaikh commented on #1272
/assign matejvasek

[2021-03-27 02:07] #994 closed

[2021-03-30 18:10] dprotaso commented on #997
@rhuss mentioned this has an owner - if things have changed feel free to un-assign

/assign @dsimansk

[2021-03-31 17:12] eclipselu commented on #1204
ContentType is also needed if we consider feature parity with v1beta2 PingSource.

[2021-04-01 02:13] #821 closed

[2021-04-01 15:53] #1197 closed

[2021-04-04 08:42] narenarjun opened #1281 "Consider `kn install` command to install serving and eventing components via `kn`"
### Feature request
`kn` cli needs to have a `install` command which can be used to install `serving` component and `eventing` component separately or together respectively on a cluster.

### Use case

Every time i want to install the `knative` serving into the vanilla k8s cluster [not talking about openshift] , I have to look at the docs to get the install `yaml` or go to the knative serving gith

[2021-04-05 09:38] zhanggbj commented on #1281
The knative installation also takes my extra efforts and I've heard same concern from other folks.

Many CLI support installation. For e.g. the istioctl mentioned above, or the gloocli even support knative install like below

[code]

Another proposal, perhaps we can add installation in the kn plugin [kn-admin](https://github.com/knative-sandbox/kn-plugin-admin) which target to take care of knative

[2021-04-07 18:46] dprotaso commented on #842
Can we start poking at this in the client given https://github.com/knative/serving/pull/11038 has landed

[2021-04-08 10:35] rhuss commented on #842
@dprotaso thanks for the heads, going to hunt for somebody to implement it ;-)

[2021-04-08 10:37] rhuss commented on #842
Note to the implementer: When checking for the corresponding status fields (actualReplica, desiredReplicas) care should be taken that these fields might be missing when running against older Knative cluster. `kn describe` should then do not show anything related to the replicas.

[2021-04-13 11:34] dsimansk opened #1287 "Refactor watch functions to pass resourceVersion"
Let me add a few thoughts after digging into watch API a bit.

That's a neat fix. Thanks for pointing that out. The go docs are pretty clear there.

Indeed you're correct here as well. With the fix for watcher [race condition](https://github.com/knative/client/commit/83b8635d85c528f4da86c95ef5c3d74aa8543a30#diff-2a2da1f17418a3a96fbb5303e3406e5ae60f72536097b23d56f7ab583456ac8a) we actually lost the

[2021-04-13 11:35] dsimansk commented on #1287
/kind bug
/assign

[2021-04-13 14:53] #1273 closed

[2021-04-14 18:23] #842 closed

[2021-04-14 20:07] rhuss commented on #1281
There are several reasons why `kn` directly won't support any installation options for Knative itself

* The core `kn` CLI tool is targetting purely the developer persona for _using_ Knative
* `kn` can talk with the cluster only via the Knative API. It can not be assumed that Knative is always running on Kubernetes (there are other platforms than Kubernetes that are used for e.g. running CloudRun)

[2021-04-14 20:11] rhuss commented on #1281
That's, because on OpenShift it should be just 2 or 3 clicks (or the creation of a simple `CluserServiceVersion` resource) to trigger a full install of OpenShift Serverless (aka Knative on OpenShift), and get updates automatically when released. Please ping me on slack or per mail (as this out of the scope of this issue), really interested in what makes it hard for you to install Knative on OpenSh

[2021-04-15 02:45] itsmurugappan commented on #890
/remove-lifecycle stale

[2021-04-15 02:46] itsmurugappan commented on #890
/assign

[2021-04-15 06:09] rhuss commented on #1191
/good-first-issue
/remove-lifecycle stale

[2021-04-15 06:34] rhuss commented on #182
/remove-lifecycle stale

[2021-04-15 06:35] rhuss commented on #585
/remove-lifecycle stale

[2021-04-15 06:36] rhuss commented on #1023
/remove-lifecycle stale

[2021-04-15 14:19] duglin commented on #390
/remove-lifecycle stale

[2021-04-15 15:46] rhuss commented on #997
It's still close to the top of the client bucket list, we just don't have a huge velocity right now .. :(

[2021-04-19 23:40] maximilien commented on #397
Can we close this now that we have: https://github.com/knative-sandbox/homebrew-kn-plugins ?

[2021-04-20 11:56] rhuss commented on #397
+1 for closing it

[2021-04-20 11:59] rhuss commented on #732
no, not yet. It hasn't be picked up, nor is there a near-term plan from the core contributors. Any news that might impact the priority? (Still, I believe it would be a nice-to-have feature, we just don't have the spare cycles to tackle it)

[2021-04-20 13:27] csantanapr commented on #1281
In the UX WG we did some user testing with one line command setup
Today we are using [konk](https://github.com/csantanapr/knative-kind)
We show them
![image](https://user-images.githubusercontent.com/1094878/115403018-01231f00-a1ba-11eb-86aa-e37060ccf535.png)

[code]
We got user feedback that it was not sure it wanted to curl website she was not aware

I think having a command like "kn install san

[2021-04-20 13:33] omerbensaadon commented on #1281
+1 to the above comment!

Users like the 1-line install nature of konk, but the shell script makes people wary. One user even admitted that he's more comfortable using `brew` even though it functionally does the same thing.

[2021-04-20 14:46] navidshaikh commented on #732
I'll take it.
/assign

We can have `wait` sub-command with `--wait-timeout` flag to specify timeout in number of seconds before giving up waiting for the service to become ready (default 600 seconds).
[code]

[2021-04-20 14:53] navidshaikh commented on #732
Also, `kn` now supports `kn apply` with `wait` behaviour by default. So users can
[code]

with this, `kubectl apply -f` + `kn service wait` can be replaced by `kn service apply -f`

[2021-04-21 10:05] dsimansk commented on #889
/remove-lifecycle stale

[2021-04-24 20:54] narenarjun commented on #1281
@csantanapr  so, if the k8s ingress/gateway matures enough will knative become free of the minimal service mesh layer it wants now for it's proper functioning ?

[2021-04-24 21:34] csantanapr commented on #1281
Yes @narenarjun when k8s gateway lands knative will support it and will not require a side ingress

[2021-04-24 21:59] narenarjun commented on #1281
@csantanapr  wow, that's just awesome. When that comes,  Knative will make writing ingress route config go ancient , haha

[2021-04-26 06:51] rhuss commented on #1073
/remove-lifecycle stale

[2021-04-26 06:51] rhuss commented on #1195
/remove-lifecycle stale

[2021-04-26 06:54] rhuss commented on #989
/remove-lifecycle stale

[2021-04-26 06:54] rhuss commented on #71
/remove-lifecycle stale

[2021-04-26 06:56] rhuss commented on #166
/remove-lifecycle stale

[2021-04-26 06:57] rhuss commented on #520
I still think this is would be a valuable addition, so I move the issue over to sandbox and the sample plugin, as I think it would make sense to have the sample plugin possibly within the same repository.

[2021-04-26 07:03] rhuss commented on #520
Closing this one here, let's followup with the issue over there in the sandbox

[2021-04-26 07:03] #520 closed

[2021-04-26 10:25] rhuss opened #1293 "Add "config" command to manage configuration file"
### Feature request

Add a new command group `config` for managing `kn` configuration files

### Use case

`kn` can be customized by a local configuration file, that e.g. can specify how plugins are found or add additional sink mappings.

In order to provide an enhanced user experience to manages that configuration a new top-level command group, `config` is proposed.
The details of the subcommand

[2021-04-26 10:39] rhuss opened #1294 "Rename "alias" to "prefix" for channel mappings in the configuration"
### Bug report

SinkMappings used a `prefix:` option in the configuration, while ChannelMappings use a `alias:` config option for the same concept.

### Expected behavior

Both should use the same option key (`prefix` or `alias`). I suggest `prefix` as this already is kind of common for sink mappings

`alias` could be kept for a certain amount of time in order to allow a migration but should be ma

[2021-04-26 10:42] rhuss commented on #1294
Sorry, misunderstood the concept 😬 . Of course, alias is not a prefix.

[2021-04-26 10:42] #1294 closed

[2021-04-27 18:22] abrennan89 commented on #1241
Added a section to the docs site for CLI: https://knative.dev/development/client/

It's not complete since there will be a lot of additions in time, but I think CLI reference docs as a whole need to be built through completing smaller issues like https://github.com/knative/docs/issues/3496 and figuring out things like content reuse for adding all the reference docs for individual commands here, as

[2021-05-03 06:28] rhuss opened #1300 "Add codecov coverage tests"
### Feature request

Similar to the other Knative projects let's add codecov coverage test so that those stats appear at https://app.codecov.io/gh/knative/client

Also add a badged to the README.md that contains the overall coverage stats.

### Use case

One of the 1.0 criteria will be a test coverage >= 80% so we should calculate that number with every merge.

[2021-05-05 08:38] Shivkumar13 commented on #1251
/assign

[2021-05-06 07:17] mvinkler opened #1304 "Allow for tests to run in a pre-created NS"
### Feature request

In some environments, it is not possible for the testing infrastructure to easily create new namespaces at will, so it would be nice if there was a way to run the e2e tests all within a single, pre-created, namespace.

### Use case

Running the kn client e2e TS on Openshift Dedicated cluster as a regular user.

[2021-05-07 10:30] rhuss commented on #1304
So you mean to separate the part where the test namespaces are created and where the tests are run and make the 'namespace create' step optional ?  Sounds like a good idea to me.

[2021-05-07 20:09] duglin commented on #1042
/remove-lifecycle stale

[2021-05-09 02:12] #1186 closed

[2021-05-10 07:19] mgencur opened #1308 "Nithtly Tekton tests fail with short-name resolution enforced but cannot prompt without a TTY"
### Bug report

Buildah/Podman now enforce specifying the full image names unless disabled in a global Podman configuration file on the host. The error is as follows:
[code]
The error can be seen here: https://prow.knative.dev/view/gs/knative-prow/logs/ci-knative-client-tekton/1391377492714983424

### Expected behavior

The Tekton tests run successfully.

### Steps to reproduce the problem

See th

[2021-05-10 12:40] #1308 closed

[2021-05-17 02:38] duglin commented on #287
/remove-lifecycle stale

[2021-05-17 18:47] #1300 closed

[2021-05-17 19:03] duglin opened #1318 "can no longer force a re-download of an image via "kn update" w/o extra stuff"
Before v0.21.0 I used to be able to do:
[code]
and it would always force a new revision to be created. This was really handy when all I wanted was for the image to be re-downloaded because I did a "docker build" to update it. Notice, I don't have a tag on the image name.

It would be nice if this feature was added back in. W/o it, it's not clear to me how to force this to happen.... at least not w

[2021-05-17 19:58] duglin commented on #1318
Playing around with this, it seems like we could restore the old semantics:
- if a revision name is in the ksvc, and one was not specified on the `update`, then clear the current name
- add/update a client specified annotation on the ksvc.spec.annotation with a unique value (e.g. current `generation` value)

That should force serving to create a new revision and avoid the duplicate name issue.

Th

[2021-05-18 05:13] navidshaikh commented on #110
/remove-lifecycle stale
/unassign

[2021-05-18 13:20] rhuss opened #1322 "Increase code coverage to be larger than 80%"
Codecov is now active and measures the code coverage which is currently ~ 73%

In order to meet the 1.0 criteria, we need to raise the coverage to 80%

The coverage with a drill down can be found at https://codecov.io/gh/knative/client/tree/main

[2021-05-21 20:25] maximilien commented on #1318
/assign @maximilien

[2021-05-21 21:30] maximilien commented on #1318
So even if the image has not changed (basically the image bits are the same) you would still want this to create a new revision?

[2021-05-21 22:16] maximilien commented on #1318
When I try this with a service already created `hello` I get this error:

[code]

[2021-05-22 00:10] duglin commented on #1318
yes, that was the old semantics

Dunno about your error. Were you on v0.20? You should never see that error when using `kn` since the revName is managed by `kn` (unless the user goes out of their way to touch it).

[2021-05-24 01:32] #993 closed

[2021-05-24 01:32] #892 closed

[2021-05-24 01:32] #858 closed

[2021-05-24 01:32] #829 closed

[2021-05-24 13:23] csantanapr opened #1327 "Auto notify user how to get new version of kn CLI when using old version"
### Feature request

The CLI to print a notification if a user is using the older version and is recommended to get the new version.

### Use case

As kn CLI user I would like to get informed that I'm using an older version of the CLI and that a new one is available, and what command to I could use to quickly update based on the OS and method installation I used.

### UI Example

I know there are

[2021-05-25 13:46] navidshaikh commented on #1322
/assign @dsimansk

[2021-05-25 14:11] evankanderson commented on #1318
It seems like it might be nice to be able to simply run `kn service update echo` without arguments to cause a re-resolution of the docker image tag. I think @navidshaikh is going to write more, but removal of the client-generated names caused this change:

Before:

[code]

Note that the image _didn't_ change, only the revision name changed; this was enough to cause server-side generation of a new

[2021-05-25 15:28] duglin commented on #1318
I don't think I'm asking for the old client-side name generation. What I'm suggesting is that the CLI ack that the user said "update" and that forces a new revision. I believe this would give us the old semantics at least w.r.t. forcing a re-download. My suggested change [here](https://github.com/knative/client/issues/1318#issuecomment-842591544) should do it.

Whether we require a param like `--i

[2021-05-25 18:13] maximilien commented on #1318
I believe @navidshaikh also suggested a way to have this work with using a revision flag, If I recall correctly. Navid can you please chime in with your suggestion from the call this AM. Thanks.

[2021-05-26 12:39] duglin commented on #1318
I'd prefer to see if we can keep revision names out of it because, to me, revision names are kind of an advanced topic and probably mainly used when doing traffic splitting. In the simple cases some people will never even really know about revisions. As such, asking them to do something like set a revision name just to force a re-download of the image is asking them to learn about something (to th

[2021-05-26 23:43] maximilien commented on #1318
@duglin I also agree that changing semantics for an important command as `service update` is not something we should take lightly or change after it's been consistent from the start. This IMO is a strong argument to not bread old semantics.

[2021-05-27 00:42] duglin opened #1329 "lock-to-digest help text default is backwards and doesn't seem to work"
service create help text:
[code]

Script:
[code]

HEAD output:
[code]
Notice it shows "test" as the output of the curl because it picked up a new "echo" image.

Which shows that the default is 'false' not 'true'. I believe these are the correct semantics so the help text needs to be updated with 'false' as the default value. I think "create" has the same backwards default value.

When I modify the

[2021-05-27 08:10] navidshaikh commented on #1329
this is for the case where you are *not* specifying the image, in your script I see update command has `--image` specified. did I miss something here @duglin ?

[2021-05-27 10:32] navidshaikh commented on #1318
The use case here is to resolve the image digest, currently thats possible by requesting a new revision and given thats how serving resolves the image digest. Client was doing this by defaulting to client side revision name generation per update. However this caused inconsistencies when users are working with kubectl and kn.

With changing the default of client generating revision name (from v0.21

[2021-05-27 11:11] navidshaikh commented on #1322
Pasting numbers from https://codecov.io/gh/knative/client/tree/main for files under https://github.com/knative/client/tree/main/pkg which can be picked in order

Files | tracked-lines | lines-hit | lines-partial | lines-missed | Coverage
-- | -- | -- | -- | -- | --
printers | 122 | 24 | 0 | 98 | 19.67%
wait | 192 | 126 | 17 | 49 | 65.63%
serving | 683 | 481 | 61 | 141 | 70.42%
kn | 5,984 | 4,352 |

[2021-05-27 14:15] navidshaikh commented on #1329
I think the `lock-to-digest` flag helps in cases where user wants to apply non-image config changes while keeping the image digest pinned as of last revision. In this case, kn finds the sha from base revision and refers `image@sha256:..` for image in spec.

We should consider how the server reacts to such cases, kn is trying to be consistent here if the same set of values passed by other clients.

[2021-05-31 17:30] dsimansk commented on #1287
/reopen

[2021-06-01 07:02] rhuss commented on #496
/remove-lifecycle stale

[2021-06-01 07:03] rhuss commented on #888
/remove-lifecycle stale

@dsimansk Not sure if we can do it within the current scope of extracting shared code or whether we should consider this story for a second step refactoring.

[2021-06-01 07:04] rhuss commented on #213
/remove-lifecycle stale

[2021-06-01 07:04] rhuss commented on #333
/remove-lifecycle stale

[2021-06-01 07:40] rhuss commented on #336
As Camel Source are now deprecated, let's close this issue and focus on Kamelet support.

[2021-06-01 07:40] #336 closed

[2021-06-01 07:41] rhuss commented on #1232
/remove-lifecycle stale

I still think that this feature might be helpful. What do you think ?

[2021-06-01 07:42] rhuss commented on #1102
/remove-lifecycle stale
/good-first-issue

Still a valid improvement to reduce our code footprint. Also, I think this would be a good first issue.

[2021-06-01 11:45] rhuss commented on #398
/remove-lifecycle stale

This issue is still important and connected to these issues:

* https://github.com/knative/client/issues/1318
* https://github.com/knative/serving/issues/11317
* https://github.com/knative/client/issues/1329

[2021-06-01 11:48] rhuss commented on #1318
See also my comments https://github.com/knative/client/issues/398#issuecomment-779654440 and https://github.com/knative/serving/issues/11317#issuecomment-851885865

tldr;  I'm totally +1 for solving this issue server side, similar to a `ImagePullPolicy` so the (a) other clients can benefit from this and (b) that the use has the choice how image should be updated.

[2021-06-01 12:01] rhuss commented on #497
For arbitrary sources, this feature could be added best when leveraging the Discovery API because for normal users it is often not possible to evaluate CRDs for meta data like the schema (CRDs are read-only by cluster admins only, e.g. on OpenShift)

Still, the command itself makes sense and helps users to understand the configuration options for a given sink.

[2021-06-01 12:01] rhuss commented on #497
/remove-lifecycle stale

[2021-06-01 12:02] rhuss commented on #1015
/remove-lifecycle stale

[2021-06-01 12:02] rhuss commented on #1205
/remove-lifecycle stale

[2021-06-01 14:51] dsimansk commented on #1039
Following the original `knative/client-pkg` that requires a new repository, There was another discussion around introducing submodule to original `knative/client` repository. I'd like to share a couple of points from my PoC.

Related docs:
* https://github.com/golang/go/wiki/Modules#faqs--multi-module-repositories
* https://github.com/go-modules-by-example/index/tree/master/009_submodules

PoC cha

[2021-06-01 18:02] navidshaikh commented on #1322
/assign @itsmurugappan

[2021-06-02 07:11] navidshaikh commented on #485
/remove-lifecycle stale

[2021-06-02 07:36] rhuss commented on #1162
/remove-lifecycle stale

[2021-06-02 11:27] duglin commented on #1318
I don't have a opinion yet on whether this should be solved via a new server-side config option or not. My bigger concern is that we've changed the semantics of what the 'update' command used to do, and what the user must now do to force a re-download of their image. So, at least for me, I'm viewing this as a breaking change, not just for `kn` but for any other tool that's leveraging the `kn` code

[2021-06-02 15:24] rhuss commented on #1318
Actually we _only_ changed the default, which means as soon as you add the default value yourself like in `kn service create --revision-name {{.Service}}-{{.Random 5}}-{{.Generation}}` then everything should be the same as before. If not it is a bug. That change of the default value has been pointed out in https://github.com/knative/client/releases/tag/v0.21.0 including some reasoning for this cha

[2021-06-02 15:25] rhuss commented on #1318
If you would have used `--revision-name ""` in `kn service create` you already would have got the current behaviour already.

[2021-06-03 00:33] duglin commented on #1318
As I mentioned, I don't think we should ask users to have to learn about revisions, or do such a complicated thing such as setting a random revision name, to get the old semantics.

I think the CLI might need to be a bit more careful about breaking backwards compatibility - not only for existing users but for other tooling that is based on it.  Is the CLI going to go v1.0 at the same time as event

[2021-06-03 07:43] evankanderson commented on #1039
Just to clarify the TOC concerns:

* The release (as described in https://github.com/knative/release) is currently a 7-stage process due to dependencies between repos. There's also a certain ongoing cost syncing actions, groups, etc between repos. As we untangle dependencies (good!), we should avoid simply moving the mess to the release process, and instead see if we can simplify outcomes.
* It mi

[2021-06-03 09:13] BbolroC opened #1337 "Enable to e2e-test with contour and kourier"
The current e2e test only runs over the network `istio`. It would be good to run the test over other network layers (e.g. `contour` and `kourier`) if the network is pre-installed and the environment variable `$INGRESS_CLASS` is set as follows:

[code]
I would like to get some feedback on this. :wink:

[2021-06-04 10:25] dsimansk commented on #1039
I like the idea of reusing existing `knative.dev/pkg`. I've check a few plugins and the code that's currently shared could be moved `pkg` without too much interference. Mainly the shared code includes utils, common flags, plugins and printers packages.

However, if we'd like to share `kn`'s client facades then we could start to hit the actual limitations.
@rhuss wdyt about starting incrementally w

[2021-06-04 22:22] maximilien commented on #1318
I agree with @duglin that "the CLI might need to be a bit more careful about breaking backwards compatibility"

Can we discuss this at the next CLI WG? I'll add an agenda item.

[2021-06-06 15:09] rhuss commented on #1318
I agree, but I still don't think that this particular issue is a _backward compatibility_ issue, but revealing a bug of how the client deals with server-side naming of revisions. I.e. in older versions, you would also have an issue with the update of images if you would have used `--revision-name = ""` although the behavior wrt/ to image handling should be exactly the same as without this option.

[2021-06-06 15:11] rhuss commented on #1031
/remove-lifecycle stale

[2021-06-06 15:47] rhuss commented on #1039
@dsimansk Would this be a submodule in `knative.dev/pkg` (with an own go.mod) or just added as packages ? We considered the latter already but that would introduce some client-only dependencies (cobra, pflag, viper, go-homedir, x/term, ..., and there transitive dependencies) which would be added to pkg's vendor/ dir, but is not useful for server-side projects that depend on pkg (and that are many

[2021-06-06 15:49] rhuss commented on #1039
A JavaEE analogy would be to add AWT or Swing widgets to a server-side WAR dependency.

[2021-06-06 16:55] dsimansk commented on #1039
Sure, you're right @rhuss. Surprisingly I've kind of mixed `knative.dev/pkg` and `knative.dev/test-infra` that has cobra dependencies already. In fact we'd introduce a few CLI dependencies that aren't required elsewhere.

The Evan's comments mentioned that concern as well. Indeed we need to find out if it pollutes server-side repositories as well.

[2021-06-06 17:09] duglin commented on #1318
Let's separate out the revision naming from the purpose of this issue. While they're related because changing one impacted the other, this issue isn't about revision naming.  This is just about reverting the semantics around when an image will be re-downloaded. How we do that under the covers (for the most part) should be transparent to the user. To me:
[code]
should behave the way it did before,

[2021-06-08 19:52] #1337 closed

[2021-06-08 20:02] rhuss commented on #1318
I hear you and I think we can tackle it purely on the client-side for now, with some improvements if we get server-side support, too.

The idea would be:

* Add an annotation `client.knative.dev/updateTimestamp` that is always set when an update occurs. This will always create a new revision when someone calls kn service update, which is an imperative command to update. A change in the resource is

[2021-06-09 02:32] duglin commented on #1318
@rhuss yes I think that would work and supporting it with just `kn service update mysvc` would be nice too. Thanks.

[2021-06-09 06:05] rhuss commented on #1318
Cool, so let me try to fix it now like suggested. It will be part of the next release. 'happy that we hopefully have now a solution that fits both needs (be able to update an image only and getting rid of client-side revision naming as default).

[2021-06-09 08:48] rhuss commented on #1329
I added an issue to serving to discuss how the serveri-side could help with this use case: https://github.com/knative/serving/issues/11483

[2021-06-10 14:34] avnish80 opened #1342 "kn is presenting API server errors incorrectly"
![image (5)](https://user-images.githubusercontent.com/47804703/121544519-6c090d80-ca27-11eb-9919-44438bc1c012.png)
![image (4)](https://user-images.githubusercontent.com/47804703/121544480-627fa580-ca27-11eb-9259-3e35d665f98b.png)

export WORKLOAD_NS=serverless-demo
kubectl create ns ${WORKLOAD_NS}

then When i run this - kn service create helloworld-go -n ${WORKLOAD_NS} \
  --image gcr.io/knativ

[2021-06-10 15:19] dprotaso commented on #1342
To clarify I think the API server is reporting an error invoking the webhook but the client presents this as if `kn` cannot connect

![image](https://user-images.githubusercontent.com/18562/121551456-a948ad80-c9dd-11eb-96e9-6e4cbfe76c7c.png)

[2021-06-15 17:46] evankanderson commented on #997
(This still needs a _design_ before we can start implementation)

[2021-06-17 01:27] #1047 closed

[2021-06-17 22:35] pianohacker opened #1346 "Suggestion: mixed offline/online mode for `kn create ... --target`"
### Feature request

Add a new flag, `--with-target`, that creates/updates objects locally _and_ in the cluster.

### Use case

As a new user, I want to switch cleanly from creating objects with the CLI to managing them as local YAML, so that I can get started easily then switch to a GitOps workflow with the same services/triggers/etc.

### UI Example

[code]

/kind proposal

[2021-06-19 01:28] #498 closed

[2021-06-22 14:10] ericmillin opened #1349 "Race in waiting loop"
I saw you [reverted the `resourceVersion` solution](https://github.com/knative/client/pull/1321). I have a fix for the race, though it does not do it "the right way" by watching `resourceVersion`. I can submit it if you think it is helpful as a temporary fix. There are a couple small change I will make before submitting, such as removing the paincs.

https://github.com/ericmillin/client/commit/a52

[2021-06-23 07:48] markusthoemmes opened #1350 "Investigate Kubernetes warnings support"
### Feature request

Since Kubernetes 1.19, webhooks can add warnings to the request that `kubectl` shows by default, see https://kubernetes.io/blog/2020/09/03/warnings/. It'd be awesome to also support this in `kn` in a nice way, so that we can warn users of potentially making mistakes without straight out failing requests.

### Use case

Well, see above, warning users about things that might be

[2021-06-24 09:19] dsimansk commented on #1349
The fix was reverted as it seemed to cause instability in nightly/release CI jobs. However, it isn't manifesting now in the PR https://github.com/knative/client/pull/1333. Could you please take a look, maybe we can iron out any possible nits?

[2021-06-24 10:52] mgencur opened #1352 "Allow for running E2E tests by users with reduced privileges"
### Feature request

It should be possible to run E2E tests by users without cluster-admin permissions. This will be useful in restricted environments where the container runtime is managed by someone else or the end user is simply given reduced permissions. It should be possible to verify the basic functionality of Knative Client even without cluster-admin permissions.

The current state is follo

[2021-06-24 10:59] rhuss commented on #1352
Thanks a lot for reporting those issue. While some of them might look like OpenShift specific one (like the `anyuid` issue), I think there are also other Knative environments out there that are locked down (like not being able to label a namespace), so we should fix them.

Actually I see the following sub-issues that we can tackle:

* Create the broke explicitly with e.g. `kn broker create` instea

[2021-06-24 17:20] ericmillin commented on #1349
@dsimansk Assuming that the wait will see the `DELETED` event even if it starts after `deleteService` is called, then it looks good.

[2021-06-27 01:28] #633 closed

[2021-06-29 07:59] rhuss commented on #1327
Thanks for the heads up and I definitely find this useful. I don't think its a `brew` feature as it mention to call `brew update` first (so your local brew installation does not know about this). It looks like that `gh` itself is aware that is has been installed via brew, so recommends the update steps.

`minikube` does something similar by phoning home.

When we introduce such a feature it needs

[2021-06-29 08:48] #1165 closed

[2021-06-30 11:17] rhuss commented on #1346
I see your use case, but maybe `kn export` would be helpful for your case? `kn service export` and `kn service import` were created for exactly this gitops workflow, where one first interactively and imperatively build up a service but then export it for storage in an SCM.

[2021-06-30 11:26] rhuss commented on #1318
Unfortunately, the fix did not make it to 0.24.0 as I was able to pick up the issue again only since yesterday. The plan is now to have a quick fix for a 0.24.1 (i.e. adding an update annotation), with a more rigorous fix potentially for 0.25.0

Sorry for the delay, but my calendar exploded in the last six weeks.

[2021-06-30 13:59] duglin commented on #1318
been there!  thanks for the update

[2021-07-01 08:48] dsimansk commented on #1204
/remove-lifecycle stale
/kind good-first-issue

[2021-07-01 14:24] dsimansk commented on #1039
Sorry for the delay, I'd like to share a bit more points to keep this issue moving.

`knative.dev/pkg` example with less dependent plugin:
- https://github.com/dsimansk/pkg/commit/f621c111173c9795083fbd20014db93b70bc78de
  - modified `pkg` with a bit of shared kn's code
- https://github.com/dsimansk/serving/commit/b13ada9237fb75ca4b6996c4389accfd3a8230b0
  - Serving repo is not pulling any new kn'

[2021-07-01 15:24] rhuss commented on #1039
Let me try to summarize (and verify that I understand correctly):

*  Putting the client shared code as a subdirectory to `knative.dev/pkg` is not possible because the client-pkg has dependencies on eventing and serving that can be reused by plugins (i.e. the client's simplified access API that e.g. includes sync waiting on services)
* Putting the client shared code as go submodule in `knative.dev

[2021-07-01 19:05] #1287 closed

[2021-07-02 12:05] dsimansk commented on #1039
Yes, that's perfect summary @rhuss.

We can definitely start to move those parts with out Serving,Eventing dependency. And re-evaluate the need for standalone `client-pkg` repo in a while?

[2021-07-05 07:12] rhuss commented on #1269
/remove-lifecycle stale

[2021-07-05 07:35] rhuss commented on #1066
/remove-lifecycle stale

[2021-07-05 07:44] rhuss commented on #1129
Lets keep it still open until  knative/eventing#4514 is fixed or closed

[2021-07-05 07:49] rhuss commented on #1160
I _think_ we already updated to the v1 versions where the beta versions were removed, so I'm good with closing this issue.

[2021-07-05 08:33] Divyansh42 commented on #1066
@mattwelke Based on your comment:

[OpenShift Tools Installer](https://github.com/redhat-actions/openshift-tools-installer) action can install `kn` and it has semver support too and also caches the binary for faster installation in future jobs. You can give this a try!

[2021-07-05 10:24] rhuss commented on #257
Still an issue with v0.24.0

/remove-lifecycle stale

[2021-07-05 12:54] rhuss commented on #1184
/remove-lifecycle stale

[2021-07-05 13:19] rhuss commented on #278
/remove-lifecycle stale

[2021-07-05 13:19] rhuss commented on #462
/remove-lifecycle stale

[2021-07-05 14:59] rhuss commented on #1086
/remove-lifecycle stale

[2021-07-06 13:52] rhuss commented on #1281
This is now tackled by the https://github.com/knative-sandbox/knative-plugin-quickstart repository, let's close it here.

[2021-07-06 13:52] #1281 closed

[2021-07-06 15:39] rhuss opened #1365 "Improve traffic split UX"
The current way how to specify a traffic split has its limitations. It is at least a two-step process with setting a tag and referencing it for the split. Or at least one has to look up a revision name manually.

In this feature track https://docs.google.com/document/d/15IGutQM7TQblXJ0tTbn1Eqfi-RJZYcDhl0Rhz1QXabk/edit#heading=h.n8a530nnrb we collected the various use case which we see for a traffi

[2021-07-06 16:04] rhuss commented on #1349
@ericmillin thanks for the heads up ! Let's close this issue and continue on #1333

[2021-07-06 16:04] #1349 closed

[2021-07-06 16:12] rhuss commented on #1342
Hmm, I don't according to the original error report, it looks like that the client accurately reports the problem, i.e. that the webhook  has an issue (not that it does not connect).

Tbh, I'm a bit confused about the error message and what has been done (the initial issue description contains twice the same call with different output).

Could you please describe the context a bit more in depth ?

[2021-07-06 16:22] rhuss commented on #1329
While fixing the image digest resolution issue via #1364 , I can confirm the following the behaviour, that has been there from the beginning (and actually is also explained in the help message, too)

* `--lock-to-digest` is the default
* If `--no-lock-to-digest` is given and you do a `kn service update` the image is re-resolved
* If `--lock-to-digest` is given (or no lock option, because this is t

[2021-07-06 16:22] #1329 closed

[2021-07-06 16:24] rhuss commented on #1304
Can we track the issue together with #1352 ? Closing this issue, for now, feel free to reopen it if needed.

[2021-07-06 16:24] #1304 closed

[2021-07-06 16:33] rhuss commented on #1269
@Kaustubh-pande are you still on it ? If not, could you please unassign yourself. Thx!

[2021-07-06 16:36] rhuss commented on #1251
@Shivkumar13 are you still on this issue ?

[2021-07-06 16:40] rhuss commented on #1241
Sorry that this issue got lost in limbo. @abrennan89 @csantanapr how should we proceed ?

Now that the website moves away from Hugo, I think that the automation needs to looks differently ? (or is there something similar like Hugo frontmatter for mkdocs ?)

[2021-07-06 16:43] rhuss commented on #1231
/remove-lifecycle stale

[2021-07-06 16:44] rhuss commented on #1222
/remove-lifecycle stale

[2021-07-06 16:50] rhuss commented on #1222
This is related to #1232 and let's track it over there. I can still see a value for having a plain k8s service to be used, and if I look in the Knative code, there is also special handling for k8s service to make it look like an Addressable (which it is not).

So, should we add a `svc:` or `service:` prefix for a Kubernetes service ? although its not strictly part of the Knative API ? // cc @knati

[2021-07-06 16:51] abrennan89 commented on #1241
@rhuss I recommend closing this issue and opening one specifically for automation that you can work on with @csantanapr and maybe @julz - I'm not sure how any of that would work for mkdocs

[2021-07-06 16:52] abrennan89 commented on #1241
FYI there's an epic you can add kn doc issues to https://github.com/knative/docs/issues/3346

[2021-07-06 18:04] rhuss commented on #1195
I think we should use this issue as well for nailing down the final option name for the offline mode. `--target` seems to be contentious, so let's open the bike shedding contest again.

[2021-07-06 18:55] dprotaso commented on #1342
if the API server returns 500 with `i/o timeout` in the error response the CLI prints 'can't connect to the cluster' which is not correct.

ie. this block of code here should be used only if a response from the API Server wasn't received/sent
https://github.com/knative/client/blob/3f424c371e6ab72f2b284165fcf9f6de032b7bc0/pkg/errors/factory.go#L35-L37

[2021-07-07 13:53] dsimansk commented on #1322
There's still some work to do. :)
/reopen

[2021-07-07 14:05] dsimansk commented on #1322
Files | tracked-lines | lines-hit | lines-partial | lines-missed | Coverage
-- | -- | -- | -- | -- | --
dynamic | 192 | 169 | 11 | 12 | 88.02%
errors | 40 | 38 | 1 | 1 | 95.00%
eventing/v1 | 157 | 132 | 9 | 16 | 84.08%
kn | 6,034 | 4,465 | 558 | 1,011 | **74.00%**
printers | 122 | 114 | 1 | 7 | 93.44%
serving | 684 | 494 | 62 | 128 | **72.22%**
sources | 373 | 307 | 23 | 43 | 82.31%
templates | 10

[2021-07-07 20:44] cardil opened #1368 "Release kn as a kubectl plugin"
### Feature request

To drive knative adoption, I think it would be beneficial to release `kn`, also as a plugin for `kubectl`. That would serve as additional installation way for many users. A lot of them have [`krew`](https://krew.sigs.k8s.io) installed on their machines. If we release `kn` to `krew` plugin registry, installing `kn` would be as simple as running:

[code]

### Use case

#### Sear

[2021-07-08 15:20] rhuss opened #1372 "FT: Plugin Context Data Sharing"
In order to allow `kn` to reuse some (stateful) context that is provided by a plugin, I'm proposing to extend the "plugin contract". The original use case is to share the namespace and name of a function managed by `kn-plugin-func` that is stored in a local "func.yaml" file. `kn` must not directly read this file as this would introduce a dependency from `kn` to `kn-func-plugin` (in the wrong direc

[2021-07-08 16:12] evankanderson commented on #1039
We don't see a good alternative that's not a lot of work, so let's do this for now and create the dependency chain:

[code]

Whereas today it is:

[code]

[2021-07-08 16:12] evankanderson commented on #1039
(And at some point, it might be worth versioning the serving/eventing APIs / generated code separately from the rest of those repos)

[2021-07-08 16:14] dprotaso commented on #1039
+1 in favour of adding the repo

[2021-07-09 06:21] rhuss commented on #1368
neat idea, and I think we should support theoretically all installations mechanism of kn that make sense (also e.g. chocolatey or rpms).

However, my concerns are:

* Adding an additional command level does not improve the user experience
* The command model of `kn` (<noun> <verb>) is different than that of `kubectl` (<verb> <noun>). When using this with the same tool, that might confuse user (e.g

[2021-07-09 06:31] rhuss commented on #1162
Client contrib has been archived, and we don't have a new place for this

@abrennan89 do you have a proposal where we best could place a "plugin development" documentation ? The content would contain:

* How to develop a plugin
* External vs. internal plugins
* What is the process to get a plugin into knative-sandbox

In the future, this would be a more comprehensive 'plugin developer' guide that

[2021-07-09 06:32] #1160 closed

[2021-07-09 06:40] rhuss commented on #1129
Just changed my mind, I think we can close this issuer here and continue to track it in eventing. We have a workaround that fixes the tests.

[2021-07-09 06:40] #1129 closed

[2021-07-09 06:56] rhuss commented on #1066
@kameshsampath @mattwelke If you don't mind I'm closing this issue as there is a good, fully-featured implementation provided by the OpenShift Tools installer (which despite the name also includes vanilla non-openshift tools like kubectl or kn) that is actively maintained.

For the near future, I don't think we have the people to work on our own GitHub action. It's not so much about the initial im

[2021-07-09 06:56] #1066 closed

[2021-07-09 06:59] rhuss commented on #1066
One caveat though is, that the [OpenShift Tools Installer](https://github.com/redhat-actions/openshift-tools-installer) references the Red Hat productized version of kn (that include some plugins and is two minor versions behind the upstream version). @Divyansh42 , I guess there are no plans to add the possibility to download upstream binaries ?

[2021-07-09 07:06] Divyansh42 commented on #1066
@rhuss It can also install upstream binaries that are present here https://github.com/knative/client/releases
You can use it in your workflow as shown in [example workflow](https://github.com/redhat-actions/openshift-tools-installer/blob/main/.github/workflows/example_github.yml#L34).

[2021-07-09 07:18] rhuss opened #1373 "Context sensitive Bash completion"
### Feature request

`kn completion` is currently based on the auto generation of the bash/zsh completion code by cobra. It lacks the the possibility to complete on context sensitive information likes service or revision names, something that e.g. kubectl allows.

We should extend the completion code to allow completion on those resources. The way how `kubectl` does it could be taken as an inspira

[2021-07-09 07:22] rhuss opened #1374 "Add completion on option to the Bash completion code"
### Feature request

At the moment bash/zsh completion on works on commands names, but not on options. Since we have a tons of options with often lengthy names, it would be very helpful to allow completion on options, too.
Something what kubectl already does:

![image](https://user-images.githubusercontent.com/99080/125039578-eebcd100-e096-11eb-8b8e-3e9fe96025ce.png)

The implementation of kubectl

[2021-07-09 07:25] rhuss commented on #1042
How should we continue with the feature request ? I'm still -1 for adding two letter long options as they (a) would pollute the help message with extra entries, (b) can be confused with single letter options that start with a single dash and that are aliases to long options and ( c) are not a common thing for CLI tools (do we know any other CLI that would do this ?)

My suggestion would be to leve

[2021-07-09 07:30] rhuss commented on #1066
Cool, thanks ! That's awesome and really helpful.

[2021-07-09 09:31] dsimansk commented on #1374
The latest cobra release is titled "The completion release". We should look into the improvements and we might get options completion very cheaply. :)

https://github.com/spf13/cobra/releases/tag/v1.2.0

[2021-07-09 10:48] rhuss commented on #1023
I renamed the issue to describe what needs to be done (i.e. make our workaround for intermediate failures configurable). This issue is also related to https://github.com/knative/serving/issues/9727

[2021-07-09 12:22] duglin commented on #1042
Keep in mind that not all uses of the client are interactive. Often it's being used in bash scripts, so that means lots of typing (or copy-n-pasting) and really long cmd lines. Personally, I don't care about -- vs -, I just want to avoid flags that are 15+ characters long

[2021-07-09 13:05] rhuss commented on #989
I think we have now a `WatchServiceWithVersion` but its not part of the interface (however, a public method). @dsimansk do you think it makes sense to move that to the client interface (and maybe rename it to `WatchService` ?)

[2021-07-09 13:13] rhuss commented on #890
I agree, we should just make `--cmd` a string array and allow multiple calls to this option.

@itsmurugappan do you still plan to work on it or should we move back the issue to the pool ?

[2021-07-09 13:16] rhuss commented on #889
@dsimansk I think we can close this issue but use it as an input for the new shared pkg repo structure ?

[2021-07-09 13:33] dsimansk commented on #889
@rhuss yep, works for me.

[2021-07-09 13:54] rhuss commented on #889
Closing this and track it in #1039

[2021-07-09 13:54] #889 closed

[2021-07-09 13:54] rhuss commented on #1039
when doing the refactoring, here some ideas how to structure the top-level directory in client-pkg --> https://github.com/knative/client/issues/889#issue-639841495

[2021-07-09 13:58] itsmurugappan commented on #890
I can work on it.

[2021-07-09 14:29] rhuss commented on #890
great, thanks !

[2021-07-09 14:57] cardil commented on #1368
I've double-checked a couple of plugins listed here: https://krew.sigs.k8s.io/plugins/ and I haven't found any alignment between those plugins and kubectl itself. Each one seams to have a completely separate command model, not connected to kubectl at all. I'm not seeing any similarities between them. Could you point out some examples @rhuss? And, even if there are plugins that follows kubectl in s

[2021-07-09 17:47] rhuss commented on #1368
no, not really (don't use many of them), but I guess most of them use an <verb> as the first argument, aren't they? My hope is that for kn plugins we can achieve seamless a UI integration, ideally, it should not even be detectable by a user whether they are using a builtin command or a plugin. From a user's POV a plugin is 'just another command'.

yes, because of the cognitive load that different

[2021-07-12 13:36] dsimansk commented on #1204
/assign @vyasgun

[2021-07-12 13:56] vyasgun commented on #1204
/assign

[2021-07-12 15:27] abrennan89 commented on #1162
@rhuss for now I'd just add new pages to the section https://knative.dev/docs/client/kn-plugins/

I'm not sure if the Client section will stay as-is as we move more to an admin / dev guide structure, but I think it's OK to include it there for now and we can move it later if needed. Otherwise feel free to create a new section in the Developer guide for kn plugins?

[2021-07-13 05:43] rhuss commented on #1162
Good point, let's start like this.

However, for plugins I think we would eventually need a third category, in addition to admin and dev ("dev" actually means "knative user"): "Knative dev",  who is someone who develops for kn (not with kn). We should clearly indicate which persona we target when we say "Dev" (so we could even switch to a "Knative user" wording ?)

With "Developer guide" you refer

[2021-07-13 06:06] rhuss commented on #1204
I think we could have the following options:

* `--data` : for string data (we have that)
* `--encoding=text or base64` to specify the encoding (i.e. which field to use and how to deal with the encoding). When base64 is given, encode the data (if not already encoded maybe) and use the base64 data field in the resource
* `--file` for specifying a file. I think this is important as for binary data y

[2021-07-13 13:39] mgencur commented on #1352
Here are some findings:
TestSourceList, ApiServerSource - thes tests passl when they're executed by a project admin and there's a Role/RoleBinding used instead of ClusterRole/ClusterRoleBinding, I dont' see a particular reason to use ClusterRoles here
TestSourceListTypes - this test gathers a list of Sources and produces a YAML output, and the yaml includes a CustomResourceDefinitionList which is

[2021-07-13 17:06] abrennan89 commented on #1162
User personas are UX wheelhouse, so I'll cc @omerbensaadon for this. AFAIK we have no plans for a third category docs guide beyond admin and developer. Maybe it needs to be user, developer, and admin, but I think it would be wise to at least finish splitting the current docs into admin vs dev guides and then differentiate what's in the dev guide for user vs dev docs.

Re Devloper guide, I'm referr

[2021-07-13 20:32] #890 closed

[2021-07-14 07:21] mgencur opened #1385 "Adjust source list-types to not require cluster admin permissions when using -oyaml"
### Feature request

Currently, running `kn source list-types -oyaml` requires cluster admin permissions as it works with CustomResourcesDefinition and CurtomResourceDefinitionList.
The goal is to fix/adjust this command to not require cluster admin permissions.

Related to discussions in https://github.com/knative/client/pull/1384

### Use case

* A user or project admin can list available source

[2021-07-14 07:53] #1352 closed

[2021-07-14 10:43] cardil opened #1386 "kn plugin management based on container images"
### Feature request

I think kn CLI should provide an easy way to manage and discover plugins for itself. By this, I think of adding a couple of sub commands to `kn plugin`.

My idea for this is to rely on container images as transport layer. I imagine a kn to have configurable list of plugin index images, by default equal to (can be configured by `kn config` command):

[code]

Such container imag

[2021-07-14 10:43] cardil commented on #1386
/kind proposal

[2021-07-14 10:58] cardil commented on #1368
I see krew purely as an installation way. Most of the krew plugins do that. They all have their scope. I don't see any valid reason why should we care to align with kubectl, if we decide to publish plugin to krew index.

No, let's not confuse two different things. We currently don't have plugin management infrastructure. It should be addressed separately from this (see #1386 for that).

I **strong

[2021-07-14 12:32] lionelvillard commented on #1386
This is interesting. An alternative proposal is to incorporate `krew` as an kn plugin. I think 99% of the `krew` code can we reused (things like [where is the index](https://github.com/kubernetes-sigs/krew/blob/master/pkg/constants/constants.go#L24) needs to be changed). The index is just a GitHub repo (can be private/enterprise), so adding a new plugin is equivalent to opening a PR.

[2021-07-15 03:04] duglin commented on #390
/remove-lifecycle stale

[2021-07-15 03:05] duglin commented on #182
/remove-lifecycle stale

[2021-07-15 04:57] rhuss commented on #875
/remove-lifecycle stale

[2021-07-19 09:52] #1204 closed

[2021-07-19 15:34] cardil opened #1389 "WaitForReady should check for event type before trying to read generation number"
### Bug report

The code at location supplied behaves badly in a situation when it receives an event of type different from _MODIFIED_, in which the underlying object doesn't contain a status field yet.

That situation is completely normal, as _ADDED_ event can be received first, and the resource at that point may not possess a _status_ field yet.

https://github.com/knative/client/blob/e26d5f27ca

[2021-07-19 15:34] cardil commented on #1389
/kind bug
/kind good-first-issue

[2021-07-19 18:01] cardil commented on #1389
/assign

[2021-07-20 13:30] dsimansk commented on #1322
/reopen

[2021-07-21 09:30] rhuss opened #1394 "Support darwin/arm64 for the new generation of Apple Hardware (Apple Silicon)"
### Feature request

Create arm64 binaries for macOs (`darwin/arm64`)

### Use case

While the newer M1 Macs can still work with `darwin/amd64`, it makes sense to already support the newer architecture for kn as well.

/kind good-first-issue

[2021-07-21 19:20] #1389 closed

[2021-07-22 11:12] dsimansk commented on #652
/remove-lifecycle stale

[2021-07-23 18:20] psschwei opened #1399 "[Proposal] Have `kn` look up plugins on `$PATH` by default"
### Feature request

The `kn` client by default will look in `$PATH` for plugins. This would mirror the performance of `kubectl` and provide an easier way for users to install plugins using tools like `brew`.

### Use case

This arose out of discussions about the [quickstart plugin](https://github.com/knative-sandbox/kn-plugin-quickstart) we're building. The goal of that plugin was to provide a st

[2021-07-23 18:28] maximilien commented on #1399
In principle I am not against this. As discussed in the [QuickStart PR](https://github.com/knative-sandbox/homebrew-kn-plugins/pull/24#issuecomment-885811128) I have added the link to show how this is how plugins worked initially for `kn`.

However, as I recall, there was lots of discussions (which you can revive and re-read, if you want by searching plugin related issues and PRs) that resulted in

[2021-07-24 15:54] duglin commented on #1399
+1 to this - I never liked that we didn't look in the PATH to being with :-)

[2021-07-24 18:30] csantanapr commented on #1399
+1 on looking in PATH like kubectl and oc plugins

[2021-07-26 06:27] vyasgun commented on #1394
/assign

[2021-07-26 19:17] #1318 closed

[2021-07-27 12:20] vyasgun commented on #1269
/assign

[2021-07-27 20:25] lance commented on #1399
I like the idea of looking in `$PATH` for `func` because `func` can also be used standalone - i.e. not as a plugin - which is how I usually use it. If it's in my path then `func create` and `kn func create` are the same.

[2021-07-28 00:14] #1394 closed

[2021-07-28 07:59] snowwolf007cn opened #1403 "How to delete a broker?"
I'm using docker desktop for mac k8s cluster.

I start a kafka using docker compose:
[code]
I create a configmap in namespace iacallback-eventing as below:
[code]
I created a Kafka broker us kn:
[code]

something wrong
and I deleted it:
[code]

I was told it succeed:
[code]

But when I can still see it in the list.

How to delete the broker?

[2021-07-28 09:14] snowwolf007cn commented on #1403
Problem solved:
[code]
remove metadata.finalizer

[2021-07-28 09:14] #1403 closed

[2021-07-28 09:16] rhuss opened #1404 "Unmark release as "pre-release""
Currently all Knative releases are marked as "pre-release":

![image](https://user-images.githubusercontent.com/99080/127296674-27499069-f9c3-49ff-a907-cc31c882dd93.png)

However, for getting `kn` into the core homebrew repository, a pre-requisite is, that the releases on GitHub must not be pre-releases. See the discussion in https://github.com/sameersbn/homebrew-core/pull/1#issuecomment-888124068

[2021-07-28 09:53] rhuss commented on #1399
That's not true, it's still need to be called `kn-func`. So `kn-func` and `kn func` would be equivalent.

[2021-07-28 10:05] rhuss commented on #1399
I think we can allow a PATH lookup if we still can keep lookup from `~/.config/kn/plugins`.

My proposal would be:

* Lookup plugins from both, the path and `~/.config/kn/plugins`.
* Same named plugin in `~/.config/kn/plugins` take precedence over plugins found on the PATH.

This would also allow for system-wide plugins as installed by brew in `/usr/local/bin`, but allow individual users to overri

[2021-07-28 10:19] rhuss commented on #732
/remove-lifecycle stale

[2021-07-28 10:19] #397 closed

[2021-07-29 07:09] sebgoa commented on #1404
it feels like an oversight to me. Why would the releases be marked as pre-release ? Just because this is pre 1.0 ?

[2021-07-29 07:41] vyasgun commented on #1342
/assign

[2021-07-29 10:37] vyasgun commented on #1251
/assign

[2021-07-29 11:46] vyasgun commented on #1184
/assign

[2021-07-29 15:47] evankanderson commented on #1404
I think removing the pre-release tag makes sense.

I noticed that _one_ eventing release (v0.24.0) was marked as not-pre-release, which actually hid the fact that there was a v0.24.1 patch.

@julz also agrees from TOC. (Other members weren't present at the meeting.)

Going to approve via lazy consensus unless there ends up being an objection.

[2021-07-29 16:20] evankanderson commented on #1404
Sent mail and slack; this issue will be the discussion point for enabling official releases for at least the following repos:

* knative/serving
* knative/eventing
* knative/client
* knative/operator
* knative-sandbox/net-istio
* knative-sandbox/net-contour
* knative-sandbox/net-kourier
* knative-sandbox/eventing-kafka
* knative-sandbox/eventing-kafka-broker

[2021-07-29 18:15] csantanapr commented on #1404
+1

[2021-07-30 05:42] nak3 opened #1408 "Support `tls` option for `kn domain create`"
### Feature request

- DomainMapping supports `spec.tls` field by https://github.com/knative/serving/pull/11250.
- I would like to request `kn domain create` supports an option to fill in the `spec.tls` field.

### Use case

- As an Knative user, I would like to create DomainMapping with custom certificate by kn command so that I can generate the DomainMapping by only one command.

### UI Example

[2021-07-30 09:28] rhuss commented on #1404
+1 to remove the pre-release tag to the repository referenced, and we can adjust the list later (e.g. for client plugins)

[2021-07-30 10:32] rhuss opened #1409 "Check README.md, CODE-OF-CONDUCT.md and CONTRIBUTING.md"
In the spirit of  https://github.com/knative/community/issues/680 we have to ensure that the referenced files exist *and* are up-to-date. Up to now, we only have README.md, but I'm not even sure that it reflects the current status. CODE-OF-CONDUCT and CONTRIBUTING could be taken over from another core Knative repo.

[2021-07-30 17:28] evankanderson opened #1410 "Point installation instructions to docs site?"
### Bug report

There are user install instructions (which don't include installing a release version, only nightly) at https://github.com/knative/client/blob/main/docs/README.md, as well as at https://knative.dev/docs/client/install-kn/

### Expected behavior

One set of instructions which guides most users to install a released version
(This caused confusion for a customer getting `kn` tools ins

[2021-08-02 12:11] dsimansk commented on #1251
Reopening, see my comment on the PR. It needs a bit of polish.

https://github.com/knative/docs/pull/4075/files#r680909894

/reopen

[2021-08-02 17:24] vyasgun commented on #1408
/assign

[2021-08-03 07:22] rhuss commented on #1408
@nak3 just to be sure, the `tls:` option has two functions: (a) enabling TLS for the domain (i.e. supporting `https://`) *and* (b) allowing to reference a secret that holds the server certificate ? There is no mode where you only enable TLS, but use e.g. self-signed, auto-generated certs ?

[2021-08-03 07:41] nak3 commented on #1408
Yes, that's correct. We have to manually set a secret to the `tls:` field (b) and it prints `https` schema(a).
There is no any other supported usage/mode.

[2021-08-03 07:43] julz commented on #1408
I think domainmapping also supports autotls if it's enabled in the cluster, but you don't have to do anything for this it just works

[2021-08-03 08:03] rhuss commented on #1408
My question actually is, would `--tls` always need a value or is it possible to just have

[code]

[2021-08-03 08:03] nak3 commented on #1408
Thank you for the following up! Let me rephrase it :sweat_smile:

- The function/usage of `spec.tls` is only to enable TLS and to display `https` schema by setting a secret manually.
- DomainMapping also supports autoTLS but we enable it on `config-network` configmap, it does not use `spec.tls` in DomainMapping.

Sorry, my answer "There is no any other supported usage/mode." was bad... It sounds l

[2021-08-03 08:12] nak3 commented on #1408
`spec.tls` always needs a value (`secretName`) and so It does not allow empty `tls: {}`. I think it is by design (because no usecase for the empty `tls: {}`) but @julz or @shinigambit know more.

[2021-08-03 08:25] julz commented on #1408
yeah - you only need to specify `tls` if you want to specify your own cert. Otherwise you either (a) dont have tls on in the cluster -> http (b) do have autotls on in the cluster -> tls, with generated certs (c) do have tls on in the cluster but want to opt out a specific ksvc/domainmapping, in which case you use the `networking.knative.dev/disableAutoTLS` annotation -> http

[2021-08-03 09:15] rhuss commented on #1408
Thanks for the clarification, the only thing I don't fully understand case (c ). If I understand, this case applies when autotls is enabled in the global knative configuration, but for a specific service you want to have HTTP , so you add the annotation to the service. Or can this annotation also be used on the DomainMapping ?

I.e. for this configuration

[code]

would allow for a custom cert for

[2021-08-03 09:22] julz commented on #1408
If a TLS section is explicitly provided it's always used, regardless whether autotls is enabled in the cluster or not (so the disableAutoTLS annotation is ignored in this case, 'cos no autotls is happening). Otherwise (no explicit TLS section) stuff works just like Ksvcs (autotls if enabled on the cluster, unless disabled by disableAutoTLS annotation). Here's the code to check: https://github.com/

[2021-08-03 09:26] julz commented on #1408
To put it another way, the TLS section is independent of autotls. You can specify explicit TLS certs *or* you can fall back to the cluster-wide autoTLS, if enabled in the cluster (and you can opt out of that autoTLS, as normal, with the disableAutoTLS annotation - but that doesn't affect explicit TLS because explicit TLS isn't "auto" :))

[2021-08-03 13:47] rhuss commented on #1399
Decided in the WG Call: Let's go with this approach as this is the kubectl behaviour plus some own extension that could be used (or not) and allows user-specific plugins.

[2021-08-03 15:15] psschwei commented on #1399
/assign

[2021-08-05 01:25] #394 closed

[2021-08-05 19:53] evankanderson commented on #1404
Marking the most-recent 6 release from the following repos as "official":

[code]

[2021-08-05 19:53] evankanderson commented on #1404
Knative Serving v0.24.0
Knative Serving release v0.23.1
Knative Serving release v0.20.2
Knative Serving release v0.22.2
Knative Serving release v0.23.0
Knative Serving release v0.21.1
Knative Eventing release v0.24.1
Knative Eventing release v0.23.4
Knative Eventing release v0.22.2
Knative Eventing release v0.24.0
Knative Eventing release v0.23.3
Knative Eventing release v0.23.2
Knative Client rel

[2021-08-05 20:03] evankanderson commented on #1404
/close

[2021-08-05 20:03] evankanderson commented on #1404
/reopen

[2021-08-05 20:03] evankanderson commented on #1404
I need to update the release script, too.

[2021-08-06 07:52] #1404 closed

[2021-08-06 12:16] #1342 closed

[2021-08-06 13:36] #1269 closed

[2021-08-09 19:25] #997 closed

[2021-08-10 07:00] #1399 closed

[2021-08-10 12:09] #1408 closed

[2021-08-12 01:26] #400 closed

[2021-08-12 17:04] #1251 closed

[2021-08-15 01:25] #585 closed

[2021-08-16 11:06] #1409 closed

[2021-08-17 12:18] dsimansk commented on #1102
On top of the original proposal. There might be a good enhancement to use the conflict retry loop in other update operations, e.g. sources, triggers, etc. to avoid cases like we see in E2E tests.

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_client/1419/pull-knative-client-integration-tests/1425048794432540672#1:build-log.txt%3A839

[2021-08-21 20:22] boaz0 commented on #278
@rhuss can you assign this to me? seems like a useful feature for me to work on.

[2021-08-25 13:47] boaz0 commented on #1232
/assign
@rhuss can you assign this to me?

[2021-08-30 11:14] xunfeng1980 commented on #578
Won't fix ?

[2021-08-30 11:16] xunfeng1980 opened #1438 "Won't fix ?"
Won't fix ?

_Originally posted by @xunfeng1980 in https://github.com/knative/client/issues/578#issuecomment-908256252_

[2021-08-30 11:32] dsimansk opened #1439 "Remove `go-openapi/spec` replace directive in go.mod"
We should be able to remove `go-openapi/spec` replace directive since k8s 0.21 newer `kustomize` finally.

_Originally posted by @dsimansk in https://github.com/knative/client/pull/1434#discussion_r698408433_

/kind cleanup

[2021-09-01 06:51] rhuss commented on #278
@boaz0 sure, no problem. Sorry for the delay, I was on PTO the last two weeks.

[2021-09-01 09:35] rhuss commented on #110
/remove-lifecycle stale

[2021-09-01 09:36] rhuss commented on #287
/remove-lifecycle stale

[2021-09-01 09:36] rhuss commented on #816
/remove-lifecycle stale

[2021-09-01 17:11] rhuss commented on #213
/remove-lifecycle stale

[2021-09-01 17:11] rhuss commented on #333
/remove-lifecycle stale

[2021-09-01 17:12] rhuss commented on #888
/remove-lifecycle stale

[2021-09-01 17:13] rhuss commented on #398
/remove-lifecycle stale

[2021-09-01 17:24] rhuss commented on #1232
@boaz0 yes, sure. Thanks for your support !

[2021-09-01 17:44] rhuss commented on #485
/remove-lifecycle stale

[2021-09-01 17:47] rhuss commented on #1438
Why a new issue ?

[2021-09-01 17:47] #1438 closed

[2021-09-01 17:49] rhuss commented on #578
@xunfeng1980 as discussed above, it is considered to be a server-side issue. Feel free to open an issue on knative/serving , referencing this one.

[2021-09-03 08:11] #1439 closed

[2021-09-03 23:50] duglin commented on #578
See https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md it is formally part of the spec. We should support it in the CLI.

[2021-09-08 05:55] rhuss opened #1449 "Help message for `kn service apply --env` is appropriate"
### Bug report

`kn service apply --help` yields:

[code]

This is not correct since you can't add or remove env vars with `apply` but just set the full set of env variables.

Same possibly for `--labels` and `--annotations` (or any map-based option)

### Expected behavior

The help message for `--env` should be different for `kn service update` and `kn service apply` as the behaviour is different

[2021-09-09 07:34] rhuss opened #1450 "kn domain list & describe fails for mapped Routes"
If using Knative `Route` instead of a service with `kn domain` and a prefix `kroute:`, `kn domain list` and `kn domain describe` shows it as Knative Services:

[code]

Instead, it should show the proper type. I.e. in the list the type should be shown in an extra column, and either "Route" should be used in the `describe` command, or, even better, `Reference` label should be used and the type & nam

[2021-09-13 12:53] #1102 closed

[2021-09-21 18:41] #278 closed

[2021-09-27 03:20] hzliangbin commented on #1191
/assign

[2021-09-27 03:35] hzliangbin commented on #1191
@rhuss hi, plz let me know if I could take this issue? thanks.

[2021-09-27 07:05] rhuss commented on #1191
@hzliangbin That's great ! Please go ahead and take this issue.

[2021-10-02 17:49] guodongli-google opened #1469 "Report a coding bug about unused result."
At https://github.com/knative/client/blob/main/pkg/kn/commands/source/ping/delete_test.go#L48, the result of function `util.ContainsAll` is not used, and [this function](https://github.com/knative/client/blob/main/pkg/util/compare.go#L27) has no side effect:
[code]
The correct code should be:
[code]
Found by static analyzer #deepgo

[2021-10-04 06:21] navidshaikh commented on #1469
/kind good-first-issue

[2021-10-04 06:33] devrajmaker commented on #1469
/assign

[2021-10-04 06:49] Sadiquedeveloper commented on #1469
/assign

[2021-10-05 04:12] navidshaikh commented on #1346
/remove-lifecycle stale

cc: @pianohacker

[2021-10-05 18:10] csantanapr opened #1474 "Add fig support"
### Feature request

[fig.io](https://fig.io/) provides a great user experience on the command line, it would be awesome if the client repo provided an integration file for `kn` and plugins

[2021-10-06 19:16] dprotaso commented on #1222
Both are supported by `kubectl`

[2021-10-13 16:15] xtreme-sameer-vohra opened #1478 "Kn support for eventtype registry"
### Feature request
Kn client support [Knative Eventing eventtypes](https://knative.dev/docs/eventing/event-registry/#discovering-events-with-the-registry)

### Use case
Allow users to quickly see eventtypes present on a K8s cluster and fetch a single eventtype. The kn equivalent commands for
- kubectl get eventtypes -n <namespace>
- kubectl get eventtype dev.knative.source.github.push-34cnb -o ya

[2021-10-26 16:24] dsimansk opened #1491 "Remove deprecated flags before 1.0 release"
There're a few place flags/code comments that we mention xyz is depracated. Per discussion during WG call, let's clean in up a bit before 1.0 release next week.

[code]

- Flags
  - [ ] `--limits-cpu`
  - [ ] `--limits-cpu`
  - [ ] `--request-memory`
  - [ ] `--request-cpu`
  - [ ] `--min-scale`
  - [ ] `--max-scale`

- Old config & plugin location handling
  - [ ] handling of old path
  - [ ] war

[2021-11-01 16:55] #1491 closed

[2021-11-01 20:46] boaz0 commented on #1449
@rhuss can you assign this to me after I finish with issue 1232

[2021-11-02 17:44] dsimansk commented on #1478
@yuvaldolev so sorry, I've missed your last comment. I'll some details and pointers to follow first thing tomorrow morning.

[2021-11-02 17:47] itsmurugappan commented on #1478
https://knative.dev/docs/eventing/event-registry/

[2021-11-02 18:13] itsmurugappan commented on #1478
my 2 cents.

Events can be registered automatically or manually. So ```kn eventtypes``` command can support
* list
* create
* delete - should not delete automatically registered event types
* Update - not sure if fields are immutable

[2021-11-02 20:11] yuvaldolev commented on #1478
Thanks! @dsimansk @itsmurugappan

[2021-11-03 06:29] boaz0 commented on #1232
@rhuss & @dsimansk feel free to close this ticket :door:

[2021-11-03 18:13] dsimansk commented on #1478
Per the above there's should basic set of command to support CRUD operations.

For the code itself:
- `pkg/kn/commands`
  - Take inspiration from e.g. [channel](https://github.com/knative/client/tree/main/pkg/kn/commands/channel)
  - There should be group `eventtype` cmd + child ones
- Then the client facade needs to extended to support the `Eventtype` resource
  - https://github.com/knative/clien

[2021-11-04 01:27] #497 closed

[2021-11-04 01:27] #496 closed

[2021-11-04 01:27] #462 closed

[2021-11-04 07:23] yuvaldolev commented on #1478
Thank you @dsimansk

[2021-11-04 08:32] rhuss commented on #1232
Thanks, @boaz0 !

[2021-11-04 08:32] #1232 closed

[2021-11-04 08:38] rhuss commented on #1449
/assign boaz0

[2021-11-04 08:39] rhuss commented on #1184
/remove-lifecycle stale

[2021-11-04 08:43] rhuss commented on #1385
That's a tricky one, as there is currently no alternative to examine CRDs. We could examine deployments for source-related labels, but this will then only the types for which a source has been already created. We hoped to leverage the `DiscoveryApi` that would collect the available sources into an CR's status that we then can evaluate (the discovery-api controller is supposed to be able to read CR

[2021-11-04 16:25] rhuss commented on #875
/remove-lifecycle stale

[2021-11-04 16:30] rhuss commented on #1222
Not sure I got your comment @dprotaso , wdym with supported by `kubectl` ? Sure, but the question was whether we want to add support for a K8s specific resource to `kn` or not ? E.g would this work with Google Cloud Run, too ? I still feel that the boundary, what constitutes a pure Knative API (and can be used by kn directly) and what is Kubernetes land (for which we have to introduce a plugin, li

[2021-11-05 22:41] dprotaso commented on #1222
sorry I misread - my initial comment was referring to

These are both supported by kubectl as `svc` is the short name for the full `service`

I realize you were cc'ing me for

Technically CloudRun doesn't support eventing - so 🤷

[2021-11-06 12:55] csantanapr commented on #1222
My two cents just support "svc" and "ksvc" this way is easy to remember there are 2 different ones.

Adding "service" bad idea as I will always question which one is referring since the kn CLI a "kn service" is ksvc

[2021-11-08 01:25] #1042 closed

[2021-11-09 15:28] dsimansk opened #1515 "Tone down releasability in plugins"
Make sure releasasibility check is run on relevant knative-sandbox/kn-plugin-* repositories and excluded elsewhere.

E.g: https://github.com/knative-sandbox/knobots/blob/main/actions-omitted.yaml#L3-L5

Plugins regularly released with `kn`:
- kn-plugin-admin
- kn-plugin-quickstart
- kn-plugin-source-kamelet
- kn-plugin-source-kafka

/kind cleanup

[2021-11-12 12:40] mvinkler opened #1520 "Introduce --https flag which will add option to run all e2e tests with different http and https settings"
### Feature request

Please introduce `--https` flag, similar to knative/serving: https://github.com/knative/serving/pull/5157

### Use case

The flag will add option to run all e2e tests with different http and https settings.
Currently, [TestDomain](https://github.com/knative/client/blob/release-0.25/test/e2e/domain_mapping_test.go#L31) test expects the first service to be available at http, and

[2021-11-13 20:49] cardil commented on #1368
/reopen
/remove-lifecycle stale

[2021-11-16 15:22] rhuss opened #1522 "Liveness- and Readiness probes for kn service commands"
### Feature request

There is no way to specify liveness or readiness probes with `kn service create/update`. As this needs a bit more than a scalar value some UI design is needed to find a proper solution.

[2021-11-17 08:40] rhuss commented on #333
Related to this issue

* #182 -- `--quiet` is kind of the opposite of `--verbose`
* #390 -- `--log-http` should be included as part of `--debug=http`

[2021-11-17 08:43] rhuss commented on #1373
Let's add #1374 first and then continue with this story.

[2021-11-17 08:44] rhuss commented on #1374
We should look into kubectl code and how it does the completion, as it also allows completion on option. while we are at that we might already check how kubectl does completion on context-sensitive information, and maybe we can take this over in one hop together with this code (see #1373 for the context-sensitive completion story)

[2021-11-17 08:45] rhuss commented on #1374
Also related: #1474 for eve more advanced auto-completion options.

[2021-11-17 08:57] rhuss commented on #1474
fig.io looks interesting, but I think it is still a bit early. Also, it concerns me a bit that getting access to Fig.app is "invite only" still, and it is not clear to me what the final licensing will be and whether Fig is sold commercially or is available for free (which is important I guess for the adoption rate).

I think we should still wait a bit and in the meantime get our bash/zsh completio

[2021-11-17 11:07] csantanapr commented on #1474
Do we have issues for kn completion for bash/zsh? I have being using lately and it works for me at least "kn service"

[2021-11-17 13:49] rhuss commented on #1474
Yes, we have two issues: #1374 and #1373 , and we are planning to work on #1374 first. See also the Client Roadmap at https://github.com/orgs/knative/projects/37/views/1

[2021-11-19 15:29] matzew opened #1525 "Create broker object with spec.config pointer"
### Feature request

There is currently no option to use `kn` to create a broker and provide `config` parts (e.g. ponting to a ConfigMap or an other resource)

Something like below needs to be still created using `k apply...` :

[code]

### Use case

### UI Example

[code]

[2021-11-23 10:22] vyasgun opened #1528 "panic during kn service describe when a revision has ContainerMissing"
### Bug report
[code]

### Expected behavior
[code]

### Steps to reproduce the problem

### kn version

[code]

[2021-11-23 12:18] vyasgun commented on #1528
/assign

[2021-11-23 14:51] dsimansk commented on #1522
/assign

[2021-11-23 15:49] #1528 closed

[2021-11-25 08:32] #1449 closed

[2021-11-25 08:33] dsimansk commented on #1478
@yuvaldolev how's it going with the issue? Please let us know if there you need any more details or explanation.

[2021-11-29 18:30] vyasgun commented on #1365
Pull requests for feature implementation:
- https://github.com/knative/client/pull/1483
- https://github.com/knative/client/pull/1514

[2021-12-02 02:42] hzliangbin commented on #1191
@rhuss sorry for being late.
![kn](https://user-images.githubusercontent.com/9740458/144347645-218269d0-614b-498f-b30a-6e1236a8691b.png)
kn in root cmd usage and help should be modified too?

[2021-12-02 08:59] rhuss commented on #1191
no worries.

@hzliangbin yes, ideally everywhere where `kn` is hardcoded, that should be replaced by the real command name, without path.

[2021-12-02 09:00] rhuss commented on #398
/remove-lifecycle stale

[2021-12-02 09:00] rhuss commented on #485
/remove-lifecycle stale

[2021-12-02 09:05] rhuss commented on #1525
the `config:` field can point to any object ? Would it be good enough that `kn` supports only `ConfigMaps` as references ? That would make the UI much easier (e.g. `--config kafka-broker-config`)

[2021-12-04 20:25] boaz0 commented on #1293
/assign boaz0

@rhuss if you don't mind, I would like to work on this.

Thanks

[2021-12-07 08:06] matzew commented on #1525
It;s a duck, and can be anything:
https://github.com/knative/eventing/blob/main/pkg/apis/eventing/v1/broker_types.go#L71-L75

As the Rabbit impl goes, it leverages their own CRDs:
https://github.com/knative-sandbox/eventing-rabbitmq/tree/main/samples/broker/dlq#create-the-rabbitmq-broker

e.g.:
[code]

[2021-12-07 14:59] rhuss commented on #1478
@yuvaldolev any updates on this ? (no pressure, just asking to maybe reassing the issue if you are too busy)

[2021-12-08 12:42] duglin commented on #578
/remove-lifecycle stale

[2021-12-09 11:33] embano1 opened #1540 "`kn broker create` example has incorrect flag"
`--broker` should be `--class`
https://github.com/knative/client/blob/883ff7d4f4d117d1b688626862d11179ebc20237/pkg/kn/commands/broker/create.go#L34

[2021-12-09 15:42] rhuss opened #1542 "Change version display for Serving and Eventing to 1.x scheme"
With `kn version` for 1.0 we still get the 'technical' version of the serving and eventing dependency like in:

[code]

We detected this late in the release process and was discussed at https://knative.slack.com/archives/C02HLGQALCE/p1635874127113600 so we should change this to

[code]

to avoid confusions.

[2021-12-09 16:16] cardil opened #1543 "Allow to override `hack/build.sh` script functionality for forks"
### Feature request

It would be a good idea to have a way to extend or override `hack/build.sh` for building knative client for downstream projects.

I image this could be done by utilizing the popular Linux pattern of using [`.d/` directory](https://www.redhat.com/sysadmin/etc-configuration-directories).

### Use case

I'd like to embed a kn-plugin-event, and it requires a sender image reference

[2021-12-09 21:17] yuvaldolev commented on #1478
Hi @rhuss  @dsimansk, I'm really sorry for the delayed response...
I'm currently very busy with work and and I'm not sure if I will have time to work on this issue in the near future.
I will release the issue and will try to work on the project when I'll have more spare time.

Sorry again.

[2021-12-10 12:50] #1543 closed

[2021-12-10 15:31] #1540 closed

[2021-12-13 19:38] rhuss commented on #1478
No worry @yuvaldolev , things change :) You are always welcome in case your work situation gives you a bit of spare time. Take care!

[2021-12-14 04:49] vyasgun commented on #1478
/assign

[2022-01-03 14:36] rhuss commented on #1542
This can be implemented by adapting the code in https://github.com/knative/client/blob/a2bb4049d0f7444fb5c1bd378ca8fa1443acf2ab/hack/build-flags.sh#L32-L42

I think a good algo could be:

* For `major.minor` pick it up from the client version as given. Alternatively, use the info from the go.mod file and apply the "magic" formular of mapping 0.27 to a 1.0 baseline.
* For `patchlevel` pick up the p

[2022-01-04 13:14] rhuss commented on #1365
Thanks a lot @vyasgun , greate work ! There might be some minor issue (e.g. when specifying a tag during service creation is should IMO stick to the created revision, not to the 'isLatest' tag.

But let's close this issue for now

[2022-01-04 13:14] #1365 closed

[2022-01-04 13:26] rhuss commented on #1205
After the latest renaming I suggest naming the option `--scale-metric` with the possible values "concurrency", "rps", "cpu", "memory" (and "concurrency being the default)

[2022-01-04 13:27] rhuss commented on #1205
See also https://knative.dev/docs/serving/autoscaling/autoscaling-metrics/ for reference

[2022-01-04 13:32] rhuss commented on #1191
@hzliangbin happy new year ;-) Do you have any news on this issue ? No worries if you hadn't any time yet, but we want to tackle this story possibly for the next release.

[2022-01-04 13:58] rhuss commented on #1031
I think it's a good point in time again to check whether Cobra has updated their code already and maybe find out or create an issue on the cobra tracker?

[2022-01-04 14:17] rhuss commented on #1184
We should decide what to do with this issue when we revisit https://github.com/knative/client/pull/1187 and how to progress there. @vyasgun if you don't mind I would assign this issue to myself.

/assign rhuss

[2022-01-04 14:41] vyasgun commented on #1373
@rhuss @dsimansk should we reopen this as only one resource has been addressed?

[2022-01-04 14:48] rhuss commented on #1525
So, let us add this config option but also think about adding the more advanced, generic options that apply to every broker implementation.

[2022-01-04 15:24] rhuss commented on #875
Sorry to bug you again @navidshaikh , but with the latest changes in traffic split UI is this issue still reproducible ?

[2022-01-04 15:33] rhuss commented on #578
According to https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md#container:

@duglin what is the use case to refetch a resolved image again from the registry with pull policy `Always` ? I see potentially a use case for `Never` or `IfNotPresent` (the default), but that won't solve your original use case to update a changed image with the same tag.

[2022-01-04 15:50] rhuss commented on #1373
Good point, let's keep this issue for tracking the overall story.

[2022-01-04 15:54] rhuss commented on #652
I still believe that this is a good idea and helps in ramping up new users. AFAIK there is already an umbrella story somewhere that is about onboarding new developers in general.

For a first step a collection of markdown documents would be ok.

[2022-01-04 16:10] rhuss commented on #1322
I think we are good for now but should continuously take care about keeping the coverage high (we have a PR test for that). Thanks everyone who was involved in this effort !

[2022-01-04 16:10] #1322 closed

[2022-01-04 16:28] rhuss commented on #1241
Let's track the automation over there https://github.com/knative/docs/issues/4430 and close this issue (which will be fixed as soon as we have added this integration)

[2022-01-04 16:28] #1241 closed

[2022-01-04 18:03] rhuss commented on #1162
This issue is still valid but re-reading the original ask, I think we should keep the plugin documentation (i.e. how to develop a plugin) either in https://github.com/knative/client or in

[2022-01-04 18:07] rhuss commented on #1086
I think this issue is still relevant and could be handled together with #1073 for improving `kn service apply`

[2022-01-04 18:50] rhuss opened #1557 "Add delivery options for "kn broker create""
### Feature request

Actually, the support for broker options is quite limited, only the broker class can be currently specified, but none of the delivery options that are described in https://github.com/knative/eventing/blob/5e3183b552cabe35ae1015fa1baff5cd67c0b7cf/pkg/apis/duck/v1/delivery_types.go#L31-L84

These options are independent of the broker implementation and can be typed (.e.g `--dl-s

[2022-01-05 03:25] duglin commented on #578
One need for “always” is to force a check of the permissions on the image. Today Kube won’t check the user has permission to use the cached image if it doesn’t go back to the registry.  This is a security hole if someone manages to determine the sha of someone else’s cached image that happens to be on that node.

[2022-01-05 07:04] rhuss commented on #578
Fair point. Let's add it to the backlog.

I just want to make sure that `Always` will *not* solve the original use case  as put in the initial description (which also does not work by modifying the yaml directly):

[2022-01-05 07:04] rhuss commented on #578
/triage accepted

[2022-01-05 10:23] rhuss commented on #1373
Here are the smaller issues tracked by this issue:

- [ ] #1374
- [ ] #1547

[2022-01-05 12:10] vyasgun commented on #1374
The options are being completed on their own for subcommands. For example:

- Bash:

[code]
- Zsh
[code]
Do we want to enhance the existing completion?

[2022-01-05 13:17] rhuss commented on #1374
Ah, great. Remember that this didn't work with older cobra versions. I think this should be good enough.

[2022-01-07 09:48] hzliangbin commented on #1191
@rhuss haven't got any new ideas.

[2022-01-10 18:45] vyasgun commented on #1373
Sorry about the mess from too many PRs. I think we can reopen the issue and I can create subtasks for the remaining resources so this doesn't get closed before completion

[2022-01-11 14:17] dsimansk commented on #1373
/reopen

[2022-01-11 14:23] dsimansk commented on #1374
@rhuss @vyasgun it seems that this issue can be closed now. Any objections or further comments?

[2022-01-11 14:24] vyasgun commented on #1374
@dsimansk yes I think we can close this.

[2022-01-11 14:26] #1374 closed

[2022-01-12 14:23] vyasgun commented on #1373
/reopen

[2022-01-13 17:00] evankanderson commented on #1039
/close

[2022-01-13 17:00] #1039 closed

[2022-01-18 09:08] #1373 closed

[2022-01-18 10:05] rhuss commented on #1191
No worries. If you don't mind, I would unassign you from this issue and add you as a reviewer when a PR comes in ?

[2022-01-20 12:20] csantanapr commented on #578
I would like to see this  implemented soon

I'm trying to come up with a workflow using minikube, building the image local to minikube (no need to push to a registry) and then create kn service using the image dev.local/foo  it currently doesn't work because I need to set imagePullPolicy: Never and this force me to work with a yaml file and not use the CLI. (using dev.local helps skipp disgest res

[2022-01-25 18:04] rhuss commented on #1515
@dsimansk I think we already removed most of the unwanted repositories. Anything left to do ?

[2022-01-25 21:30] itsmurugappan commented on #1191
/assign

[2022-01-26 19:07] cardil commented on #1386
/remove-lifecycle stale

I like @lionelvillard idea of reusing krew as well. Either should support all use cases I've listed.

[2022-01-27 10:34] rhuss opened #1579 ""kn service apply" improvements"
Epic for all stories about declarative service management with `kn service apply`

- [ ] #1073
- [ ] #1187

[2022-01-27 10:36] rhuss opened #1580 "Complete options for `service` commands"
Epic for missing options in service commands

- [x] #578
- [x] #1023
- [x] #1181
- [x] #1205
- [x] #1015

[2022-01-27 10:38] rhuss opened #1581 "Broker management"
Epic to complete the `kn broker` commands

- [x] #1525
- [x] #1557

[2022-01-27 10:54] rhuss opened #1582 "Refactoring / Cleanup"
Epic to collect all refactoring and cleanup tasks

- [ ] #989

[2022-01-27 10:58] rhuss opened #1583 "Plugin discovery and management"
This epic references the tasks / ideas for implementing a plugin discovery and management tooling in addition to the homebrew mechanism that we currently support.

- [ ] #1386

[2022-01-27 14:34] dsimansk opened #1584 "Publish `kn` with inlined plugins in nightly builds"
### Feature request

PoC to research `kn` + inlined supported plugins to be built into single `kn-all-*` binary. (name is a subject to change)

Aiming for nightlies at first to look for any drawbacks and evaluate the viability of such bundled binary overall.

### Use case

The bundled release should help users that are eventually keen on using or trying out all of the supported plugin and deliver

[2022-01-27 14:46] rhuss opened #1585 "Service Export & Import improvements"
Epic to track improvements for export / import operations.

[2022-01-27 14:59] rhuss opened #1586 "Cleanup "kn service export" data"
Currentl `kn service export` export services, but does not cleanup everything. Some default values are still contained like in:

[code]

* `creationTimestamp` should be removed
* Remove `status:` section
* Readiness Probe can be removed, too, if its the default (tricky)
* `user-container` name can be removed
* `revisions:` section can be removed

---------------

For the "replay" format:

[code]

[2022-01-27 15:31] rhuss opened #1587 "Improve debug & logging"
Epic for tracking all debug & logging issues

- [ ] #390
- [ ] #333
- [ ] #182
- [ ] #485

[2022-01-27 15:37] rhuss opened #1588 "UI Improvements"
Epic for streamlining the UI experience, which includes wording of help message, output formats, consistent error and other messages ....

- [ ] #213

[2022-01-27 15:40] rhuss opened #1589 "Color Output"
Revisit to introducing coloring in the output (should be switchable). We had some prototypes in the past (https://github.com/knative/client/pull/75), but the time was not ready for a more fancy output ;-)

[2022-01-27 15:42] rhuss opened #1590 "Improve traffic section in `kn service describe`"
The traffic section kn service describe is confusing as it uses a lot of shortcuts that are not explained anywhere and some revisions appear multiple times (once for when tagged, and one if latest)

[more details to be added ...]

[2022-01-27 15:46] rhuss opened #1591 "Move shared code to knative/client-pkg"
Since we have now `knative/client-pkg` for holding shared client code that can be used by `kn` but also plugins, we should move the client API to this repository (and while doing so, thinking about cleaning it up)

[2022-02-03 05:27] kobayashi commented on #485
Hi, I am curious about this issue. While looking into how watch with log stream work, I tried with no body outputs and it was working as follow. Let me make sure if response body is required.

[code]

[2022-02-04 01:24] #1346 closed

[2022-02-09 07:05] rhuss opened #1604 "New plugin "kn-plugin-search" for plugin discovery"
In order to move forward with allowing users to discover available plugins, it is proposed to create a new plugin `kn-plugin-search` which introduces a `kn plugin search` command set queries a list of plugins from a fixed URL (e.g. hosted on the knative.dev website). This should be a YAML file, which contains information about:

* Plugin name
* Download location
* Version information
* Short descr

[2022-02-17 10:07] #1191 closed

[2022-02-17 11:14] rhuss opened #1609 "Traffic split calculation should only use traffic-split revisions"
When creating a traffic split and automatically calculating a percentage rest, all revisions are taken into account, even those the are currently nor part of the traffic distribution:

[code]

Here only `random-00002` should be taken into account and automatically reduced to 50% (so there should be no error message, but the expected end result should be `random-0002` set to 50% and the new revisio

[2022-02-17 11:17] rhuss commented on #1609
Also, the error message could be a bit more specific, i.e. also print out how man revisions are found (maybe even list the additional revision).

[2022-02-21 19:22] kobayashi commented on #1410
How about replacing contents [Installing kn](https://github.com/knative/client/blob/main/docs/README.md#installing-kn) section in README to just a link to [installation doc](https://knative.dev/docs/install/client/install-kn/)?

[2022-02-21 19:47] kobayashi commented on #1542
@rhuss Please let me know if there's anything to be added to this PR.

[2022-03-01 13:25] #1542 closed

[2022-03-02 11:48] #1478 closed

[2022-03-03 09:27] niels-busch-maersk opened #1615 "Error: no Auth Provider found for name "azure""
### Bug report

`kubectl` works as expeceted but Knative client gives an error.
When using Azure Kubernetes Service with Knative client I get the following error:

[code]

### Expected behavior

I would expect a list of my Knative services

### Steps to reproduce the problem

Set the cluster context to Azure cluster
[code]

### kn version
1.2.0

[code]

### Knative (serving/eventing) version

[2022-03-04 12:53] dsimansk commented on #1615
/assign

[2022-03-04 13:09] dsimansk commented on #1615
Thanks for raising the issue.
The linked PR should fix the issue. I'm hoping to get the Azure cluster running soon to verify it. Feel free to take a look or build `kn` with that executing `./hack/build.sh -f`.

[2022-03-04 13:11] navidshaikh commented on #35
/remove-lifecycle stale
/reopen

[2022-03-04 17:27] #35 closed

[2022-03-04 17:27] #1615 closed

[2022-03-08 12:04] #1609 closed

[2022-03-12 19:04] xtreme-sameer-vohra opened #1629 "Change to Sugar Controller will impact inject Broker functionality option of "Kn trigger create""
Once https://github.com/knative/eventing/issues/5958 is addressed, Knative users will be able to configure the LabelSelector the Sugar reconciler will use to make injection decisions rather than the current behaviour which is static.

This will impact
`--inject-broker      Create new broker with name default through common annotation`
option of `kn trigger create`

The LabelSelector will be popula

[2022-03-14 22:29] maximilien opened #1631 "Issues with go-licenses"
### Bug report

Two issues:

1. on a fresh machine`./hack/build.sh` fails because it tries to `go get ... go-license` but on newer Golang `go get ...` is deprecated for `go install ...`2.

2. when I manually build `go-licenses` and add it to my PATH I get a series of warming (See below)

# Expected behavior

Successful build with no errors or warnings

### Steps to reproduce the problem

1. Fresh

[2022-03-16 11:02] skonto opened #1633 "Add support for different volume types"
### Feature request

Add support for different volume types. In Serving we have recently added two different volume types: [Emptydir](https://github.com/knative/serving/issues/11664) and [PVCs](https://github.com/knative/serving/issues/12438).

### Use case

It would be nice to extend the cli to support volumes. Users can then use the cli to add volumes as they would normally do with
a yaml file w

[2022-03-16 13:29] rhuss commented on #1633
I think it's best to add support for extra volumes to our existing volume support for configmaps and secrets (`--volume` and `--mount`). We can extend the value syntax to add more volume specific options like in `--volume emptyDir:myVolumeName:type=memory` and then `--mount /path/to/mount=myVolumeName`. This should then also work for multi container ...

[2022-03-17 09:34] skonto commented on #1633
Sure I was looking for some existing volume support but it didnt come up in my search.

[2022-03-18 01:33] #1474 closed

[2022-04-11 13:12] cardil commented on #1386
I think using krew has the downside of being harder to productize. We already do the disconnected installations with container images, by mirroring the registries.

If we choose to go with krew path, the vendors would essentially need to provide their own download service to work in disconnected installations, that could be mirrored, and will serve krew index, and plugin downloads.

Am I right, @l

[2022-04-11 13:12] cardil commented on #1368
/reopen
/remove-lifecycle stale

[2022-04-11 14:45] cardil commented on #1386
Yes. The disconnected installation may range in meaning, but essentially, we should be able to operate in the network of limited or no external connectivity.

[2022-04-11 15:07] lionelvillard commented on #1386
ok, just making sure we are on the same page.

backed by git: https://krew.sigs.k8s.io/docs/developer-guide/custom-indexes/

I wonder how hard it would be to extend krew to support OCI registries. Maybe fork krew, replace git by container registry and call it `kn plugin ...`?

[2022-04-13 08:15] #578 closed

[2022-04-13 17:17] #1023 closed

[2022-04-14 14:00] dsimansk commented on #816
:thinking: it seems to be done already.

[code]

There's a PR to add `--scale-metric`, but that's current state of scaling flags. I can look up since which release it's changed, if it helps.

[2022-04-18 09:15] #1205 closed

[2022-04-25 11:57] dsimansk commented on #1015
This's done by the PR #1655 and included in`1.4` release.

/close

[2022-04-25 11:57] #1015 closed

[2022-04-25 12:13] dsimansk commented on #1580
All substasks are done, and included in recent `1.4` release.

/assign @vyasgun
/close

[2022-04-25 12:14] #1580 closed

[2022-04-25 13:13] rhuss commented on #1629
@xtreme-sameer-vohra thanks for the heads up. Somehow we overlooked the issue 😬 , but we plan to release a version 1.4.1 to deprecate `--inject-broker` on `kn trigger` and instead move this functionality to `kn admin` plugin for manipulating the corresponding config maps.

[2022-04-25 22:24] xtreme-sameer-vohra commented on #1629
Sounds good. Hoping the complete set of changes make it easier for users to automagically create Brokers for their Triggers.

[2022-04-27 12:50] dsimansk commented on #1631
1. `go get` vs. `go install` is on the radar in knative/hack. We just reuse the existing functions. https://github.com/knative/hack/issues/170

2. After updating my local `go-license` to latest, I can see the same warning output. Maybe we need to fiddle with verbosity param a bit.

[2022-04-28 06:40] rhuss commented on #1589
/remove-lifecycle stale

[2022-04-28 06:41] rhuss commented on #1590
/remove-lifecycle stale

[2022-04-28 06:41] rhuss commented on #1591
/remove-lifecycle stale

[2022-04-28 06:48] rhuss commented on #1629
well, it depends ;-) It's for sure more flexible, but it really needs support by a Knative admin to prepare the corresponding configuration, so that there is no assumption that the client can make (without reading that ConfigMap, but that is not allowed by `kn` as it strictly adheres to the Knative API contract, which does not support reading Knative implementation configuration).

So the only thi

[2022-04-28 09:07] #1629 closed

[2022-04-28 09:08] #257 closed

[2022-04-28 16:04] rhuss commented on #1584
/remove-lifecycle stale

[2022-05-02 10:19] dsimansk commented on #257
With latest nightly image.
[code]

[2022-05-05 01:35] #875 closed

[2022-05-05 08:57] dsimansk commented on #875
The `update` command is not blocked by no-op anymore. However, the message seems a bit confusing, but it's another story.

I'd say it's OK to keep this one closed.

[code]

[2022-05-11 10:47] dsimansk commented on #1604
/remove-lifecycle stale

[2022-05-26 11:06] #1557 closed

[2022-06-07 13:39] csantanapr opened #1684 "Can't create private service using --no-cluster-local"
The flag is a boolean, the help states the default is true, meaning a public service.

From the help `kn service create -h`
[code]

I want to create private cluster local only service
[code]
I get error
[code]

[2022-06-07 13:41] csantanapr commented on #1684
nevermind user error, `--cluster-local ` is the one I want to use thanks @navidshaikh
[code]

[2022-06-17 21:11] psschwei opened #1691 "Add `url` option for `kn service list --output`"
### Feature request

I'd like to be able to get the client to return only the URL of a particular service, i.e. something like:

[code]

In theory, the implementation would be very similar to how `kn service list hello -o name` is done.

### Use case

Oftentimes I find myself creating a service and then wanting to curl it, which requires a bit of gymnastics to accomplish (either an awkward C-(mous

[2022-06-20 09:54] dsimansk commented on #1691
It's already supported in `kn service describe`. Would it be worth addition to list command, e.g. to list more than 1 URL at once?

[code]

https://github.com/knative/client/blob/main/pkg/kn/commands/service/describe.go#L125-L128

[2022-06-20 09:55] dsimansk commented on #1684
Per last comment, it seems to be working as intended.

/close

[2022-06-20 09:55] #1684 closed

[2022-06-20 12:00] psschwei commented on #1691
I'm usually only working with a single service, so I didn't think to check `describe`... so looks like it's already been implemented.

[2022-06-20 12:00] #1691 closed

[2022-06-24 19:07] vyasgun commented on #1633
Reopening this issue as #1679 addresses only half of the requested feature.

[2022-07-01 09:54] #1633 closed

[2022-07-12 17:27] #1522 closed

[2022-07-12 18:20] dsimansk commented on #1195
Per today' WG call with @lance and @maximilien we agreed that should be feasible solution to redirect the output. Add a special case e.g. `--target -` to output to stdout directly.

[2022-07-13 12:09] salaboy commented on #1195
@dsimansk yes.. 100% for a nicer constructor for STDOUT.

I don't want to open an old discussion, but maybe we can have an extra flag `--dry-run` that overrides --target with stdout to make sure we follow very well know conventions in CLIs.
For example helm: https://helm.sh/docs/chart_template_guide/debugging/

[2022-07-13 13:37] vyasgun commented on #1581
imo it's done. There is implicit support for commonly used kinds of `spec.config` (ConfigMap, Secret, RabbitmqCluster) and for the remaining, there is the option to specify the details explicitly.

[2022-07-13 13:47] dsimansk commented on #1525
@matzew @pierDipi FYI if you get a chance to try and test `--broker-config`  in `kn` >=1.6.

[2022-07-14 11:17] #1581 closed

[2022-07-14 12:56] dsimansk commented on #1631
@maximilien I can't see the warning anymore recently. Would you mind if we close the issue?

[2022-07-14 17:56] cardil commented on #1386
/remove-lifecycle stale

[2022-07-17 09:04] vyasgun opened #1704 "Add support for providing sink spec in GVR format"
### Feature request
The user can specify a sink in subscription create and update (`--sink`, `--sink-reply`, `--sink-dead-letter` flags), source create and update(`--sink` flag), and broker create and update (`--dl-sink` flag). Currently, only a few known types are supported as an argument to these flags ("broker", "ksvc", and "channel"). If the user provides any other prefix outside the supported

[2022-07-21 13:54] rhuss commented on #1590
Well, not sure if this is a "good first issue". Technically it's easy, but it takes some UX experience and background knowledge to get push the description section in the right direction. Maybe we should first discuss here, how we would like the output to look like, and then the implementation should be straight forward.

[2022-07-21 15:39] rhuss commented on #1583
/approve
/lgtm

[2022-07-28 08:06] rhuss commented on #1591
/remove-lifecycle stale

[2022-07-28 08:07] rhuss commented on #1589
/remove-lifecycle stale

[2022-07-28 08:09] rhuss commented on #1584
/remove-lifecycle stale

[2022-07-29 09:49] rhuss commented on #1195
@salaboy not convinced about `--dry-run` as the proper option name for creating a YAML file and printing it offline. `--dry-run` actually means (at least how to interpret it): Do something as you would do without the option given, but without side effects. Like `make --dry-run` to find out which targets are triggered. So a 'dry run' is a test run to determine what would happen. That makes sense fo

[2022-07-29 10:14] dsimansk opened #1712 "Add config option to specify `readOnly` volumes"
### Feature request

Per discussion at PR #1709.

Extend current `--volume` flag to accept config parameter `readOnly=true` to limit volume accessibility.

### UI Example

[code]

/kind good-first-issue
/kind feature

[2022-07-29 10:53] dsimansk opened #1713 "Add `--scale-activation` flag to match new Serving option"
### Feature request

Consider adding a new Ksvc flag to specify activation scale value. That represents number of replicas to be scaled from zero when service is activated.

Ref: https://github.com/knative/serving/pull/13161 (note it's an update PR to introduce new & current name of option)
https://github.com/knative/serving/pull/13136 (first PR with former name)

### UI Example

[code]

/kind goo

[2022-07-29 11:42] rhuss commented on #1713
+1, maybe we should think about the naming, to better reflect the annotation. What's about `--scale-min-active` ?

[2022-07-29 11:43] rhuss commented on #1712
Which options are actually possible ? Would be good to list those in this issue. If multiple Options can be provided that should be dependable via `,`, like in `--volume pvc:myvol:readOnly=true, anotherOption=42`

[2022-07-29 11:47] rhuss commented on #1386
An FT [Knative Catalog](https://docs.google.com/document/d/1nxbHXydqqLGldC2pkyNv4RERVqEdxKwzgJIv7mk2Ghs/edit?usp=sharing) has been opened to hold the metadata that plugin management commands could leverage. Maybe not directly, but I can imagine some automatic job that would create a single plugin descriptor file that this downloadable for a central place that a `kn plugin search could leverage`.

[2022-07-29 13:02] dsimansk commented on #1713
It was renamed in Serving's PR #13161 to `activation-scale`. I was a bit confused too, but that's the current naming on `main` https://github.com/knative/serving/blob/main/pkg/apis/autoscaling/register.go#L220-L225.

[2022-07-29 13:08] psschwei commented on #1713
Yeah, we went back and forth on the name just a bit :smile:  There's a fairly long [slack thread](https://knative.slack.com/archives/C9CV04DNJ/p1658938603476139) where we went over the various iterations.

[2022-08-02 08:36] salaboy commented on #1195
@rhuss yes I tend to agree, and using `helm` as an example was pretty bad.. I will be happy with `--output` I find `--target` really confusing. As soon as we can get the YAML out without applying it to the cluster I am fine with it.

The primary use case that I had in mind is to be able to do something like: `func deploy --output stdout` and then do any patching with `kustomize` or any other tools

[2022-08-04 10:58] rhuss commented on #1195
I'm open for renaming it to `--output` (with the usual deprecation cycle) (maybe with possible values `yaml` & `json` and instead of a filename, print it always to standard out. That would be conformance with how `kubectl get` does it.

Nobody is currently working on this, any help is appreciated.

[2022-08-09 21:08] #1704 closed

[2022-08-11 01:35] #1368 closed

[2022-08-16 12:25] rhuss commented on #1713
ah, what a pity that I missed that discussion. Love reasoning about naming ;-P

[2022-08-16 12:26] rhuss commented on #1631
@maximilien ping, do you think we can close this issue ?

[2022-08-16 13:38] #1631 closed

[2022-08-16 13:42] dsimansk commented on #1589
Idea: POC of color output in `kn service describe`. #1590

[2022-08-23 07:25] vyasgun commented on #1590
/assign

[2022-08-23 07:26] vyasgun commented on #1713
/assign

[2022-09-05 06:41] vyasgun commented on #1712
/assign

[2022-09-05 09:00] #1713 closed

[2022-09-13 15:48] cardil commented on #1591
We discussed this with @dsimansk on today's WG meeting. There are some areas which are even broader in scope than client, and are related to command line apps in general, like:

1. Cobra integration and testing (see example PR https://github.com/knative-sandbox/kn-plugin-event/pull/205)
2. Logging - verbosity, format json,yaml,human, stderr by default
3. Regular output - format json,yaml,human, st

[2022-10-05 12:01] #1712 closed

[2022-10-06 01:24] NaxAlpha opened #1742 "Option to specify Node Selector"
### Feature request

I want the CLI to provide the option to specify Node Selector for a service.

### Use case

I have an ML service that runs on A100 GPUs. The service has two active revisions, beta revision, and stable revision. Whenever there is a new release, it is first deployed to the beta revision, where it is tested. Then it is moved to the prod endpoint with multiple A100 instances.

Rig

[2022-10-17 14:16] rhuss commented on #1742
If I understand the spec in https://github.com/knative/specs/blob/main/specs/serving/knative-api-specification-1.0.md#revision-2 right, there is no possibility to set the `nodeSelector` on a PodSpec for a Knative Service / Revision, so I'm afraid the client can't help here much.