[2019-08-05 15:38] duglin commented on #287
ServiceAccount falls into a different category to me too - but that's not to say I'd be against exposing them via `kn` at some point  :-)

But Namespaces is a common thing people may create as a way to separate their apps. If an operator wants to limit who create them then they would do so via RBAC so `kn` doesn't need to get into the permission side of things.  However, if RBAC is setup to allow

[2019-08-05 17:04] markusthoemmes commented on #287
Especially on namespaces: Are we going to create any additional value here? Or are we literally replacing `kubectl create namespace XXX` with `kn namespaces create XXX`.

If it's the latter I feel like it's not really worth getting into that business and just tell people to use kubectl. That also eliminates potential confusion on whether or not Kubernetes namespace == Knative namespace and vice ve

[2019-08-05 17:28] sixolet commented on #287
I think it's a valuable thing to be able to "use knative" with kn alone. I currently don't think creating a namespace is part of that, but knowing what namespaces you could deploy to is. Kn shouldn't expose istio-system, for example, though.

[2019-08-05 19:07] toVersus commented on #289
/assign @toVersus

[2019-08-06 06:48] rhuss opened #333 "Introduce --debug and --verbose as global options"
## In what area(s)?

## Describe the feature:

Debugging and verbose output should be treated in a consistent way over all commands. Currently, we have

* `kn plugin list --verbose` as in #313 for printing out plugin configuration
* `kn service describe --details` as in #252 for showing additional service information
* `--log-http` as a global option to track HTTP API communication coming in with

[2019-08-06 09:50] rhuss opened #334 "Add "kn source" create & update typed builtin"
## In what area(s)?

Eventing

## Describe the feature:

As [MVP](https://en.wikipedia.org/wiki/Minimum_viable_product) we suggest implementing all use cases for kn source command as this is the smallest required action for connecting a given Knative service to an event producer. It does not require any other parts of Knative eventing but only Knative sources installed.

The MVP should contain bui

[2019-08-06 09:52] rhuss commented on #334
If we want to go this route, we should open three different issues, one for each importer.

[2019-08-06 10:10] rhuss commented on #334
The idea behind this proposal for an MVP is to get quick feedback on the eventing direction based on something which can be already implemented.

This for sure does not rule out the other use cases in https://docs.google.com/document/d/19MO8JBPU5JrBthwI5jYs_V0zzgMtTmiOHou6w_T04XI/edit?usp=sharing , including the auto-creation of importers by a lookup to the importer registry as suggested in https:

[2019-08-06 10:13] navidshaikh commented on #324
I've built the client from current master and I see that service list is printed in sorted order
[code]

@steren could you please re-check and probably add a sample output ?

/cc @daisy-ycguo

[2019-08-06 10:13] #289 closed

[2019-08-06 10:14] daisy-ycguo commented on #334
@rhuss how about this :
[code]

Just want to make the command line simple.

Or even simpler:
- if the parameter contains --image, it will create a containersource importer.
- if the parameter contains --schedule, it will create a cronjobsource importer.

[2019-08-06 10:20] rhuss commented on #324
@navidshaikh I don't think it would harm if we had a client-side sorting, too. E.g. it could be that one Knative implementation (e.g. in Kuberneres) does a server-side sorting and another (e.g. Cloud Run on Appengine) does not (i guess its the latter for @steren ).

To be safe we need to sort client-side (as a sort order is not part of the Knative serving spec anyway).

[2019-08-06 10:26] navidshaikh commented on #324
@rhuss ah! right. Makes sense. :+1:
/cc @daisy-ycguo

[2019-08-06 10:32] rhuss commented on #334
Yes, that was the original thought to use a `--type`.

However, for playing nicely with our current plugin implementation, it would be very beneficial if the type could be a regular argument.

For example, let's assume we want to introduce a `GoogleCalendarSource` which picks up events from Google's calendar as they come in. This is a totally custom source, so we need to add a client plugin (note,

[2019-08-06 11:17] navidshaikh opened #335 "List revision tags from service traffic block"
Classifications:

## Describe the feature:

A user might need to know the traffic target tags assigned to revisions to perform traffic splitting related operations.

For example: I want to update my traffic target tags for revisions of a service and I want to list out the current state. Present `kn revision list` command doesn't show the tags associated with revisions. This could be an option `kn

[2019-08-06 11:17] navidshaikh commented on #335
/kind question

[2019-08-06 11:23] navidshaikh commented on #317
This is needed, I have to clean my dev environment, it needed multiple `kn service delete` commands.

I think we should implement this for `kn service delete` as well as `kn revision delete`
along with say `--all` option to delete all the services or revisions in current namespace.

This is bug.

[2019-08-06 12:06] rhuss commented on #335
I think its a good idea, if there is a 1:1 mapping. This would be very helpful, maybe put that column close to the service name column

[2019-08-06 12:19] navidshaikh commented on #335
I think its not, case where a revision has multiple tags in traffic, we'll just print the available tags comma separated. (Its just that it would shift the other columns right and make the TAGS column wider for rest of revisions listing)

Yup, I thought same. +1

[2019-08-06 13:19] rhuss opened #336 "Multipurpose Camel source plugin"
## In what area(s)?

Eventing

## Describe the feature:

This proposal is based and depends on #334 where kn plugins are used for providing support for custom sources with custom options.

The architecture described in #334 is especially well suited for multipurpose sources like the [Camel source](https://github.com/knative/eventing-contrib/tree/master/camel/source).

The Camel source supports hun

[2019-08-06 13:20] rhuss commented on #334
I added an example in #336 where I think the typed plugin-based approach is superior to a generic importer instantiation over an importer registry.

[2019-08-06 13:41] navidshaikh opened #337 "Refactor: Separate the flag definitions by type"
/kind proposal
/kind cleanup
/kind refactor

This is to refactor the flag definitions from command implementation.

With new commands and flags we are adding, the flags definitions are becoming tedious to manage, I suggest we separate the flags in a package like `pkg/kn/commands/flags/`
with each file having focused flag definition and an `Add` method to append the flags to the command.

For examp

[2019-08-06 13:45] navidshaikh commented on #337
Related to #230 but this targets separate concern, eventually we should move to more modular model.

[2019-08-06 14:04] duglin opened #338 "Add docs about the ~/.kn/config config file"
## In what area(s)?
/kind good-first-issue
/kind doc

https://github.com/knative/client/blob/master/docs/README.md mentions the `kn.yaml`
config file but there are no docs about it. We should document:
- where it needs to live
- it's format (yaml obviously)
- what are the available config flags people can set

[2019-08-06 17:25] rhuss opened #340 "Latest serving upstream changes broke `service create --force`"
## In what area(s)?

## What version of Knative Client?

master

## What version of Knative Serving running on your cluster?

master

## Actual Behavior
[code]

in
[pull-knative-client-integration-tests](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/252/pull-knative-client-integration-tests/1158778547121164288) and [pull-knative-client-integration-tests-latest-release]

[2019-08-06 17:46] duglin commented on #340
/assign

[2019-08-06 20:25] #340 closed

[2019-08-06 22:36] sixolet commented on #328
/assign aaron-lerner

[2019-08-06 22:47] VeerMuchandi commented on #327
Adding it to the service will apply it to the pods. That is what I am doing
currently. Does `kn` not create a service by default or is it breaking up
and creating all the objects?

On Mon, Aug 5, 2019 at 4:47 AM Roland Huß <notifications@github.com> wrote:

[2019-08-06 22:48] VeerMuchandi commented on #328
Applying to knative service will trickle down to the pods as well.
Here is an example of labels and annotations applied to the service.

https://raw.githubusercontent.com/VeerMuchandi/catalystdemo/master/serverless/todo-serverless.yaml

On Mon, Aug 5, 2019 at 4:48 AM Roland Huß <notifications@github.com> wrote:

[2019-08-07 07:47] daisy-ycguo commented on #334
Yes, if it's easy for implementation, I support.

One more concern, if only reading from the command line itself, e.g. `kn importer cron`, it doesn't hint any relationship with `Eventing`. Can we do:
[code]
?

[2019-08-07 09:10] rhuss commented on #334
@daisy-ycguo Tbh, I think the less to type the better and also I think 'importer' is distinct enough. We could still use 'source' (instead of 'importer') as there seems still to be some discussion in the eventing group whether this is the proper abstraction for users who do not really care about the distinction between "importer" and "event producer", just want a source for events. But I wouldn't

[2019-08-07 09:46] rhuss commented on #327
`kn` just creates and manages the service, so this should be safe then.

[2019-08-07 10:30] markusthoemmes commented on #328
@VeerMuchandi I don't think that's accurate. Your example has the labels in the revisionTemplate, not as part of the Service's ObjectMeta itself. I don't think labels in ObjectMeta propagate down.

[2019-08-07 10:38] rhuss commented on #327
As said in https://github.com/knative/client/issues/328#issuecomment-519039799 the Service labels/annotations defined in the Service's metadata: are not propagated to the revision template used for creating pods. These are different pair of shoes.

[2019-08-07 13:19] VeerMuchandi commented on #328
Thanks Markus

I understood the question differently. I thought configuration, revision
and route were being created separately based on the question.

I meant it was part of the service's yaml and yes it is part of the
spec.template.metadata and this applies both to labels and annotations.

On Wed, Aug 7, 2019 at 6:31 AM Markus Thömmes <notifications@github.com>
wrote:

[2019-08-07 23:19] maximilien commented on #314
OK if #313 does not I can tackle this. I think #313 is almost ready to merge...

[2019-08-07 23:20] maximilien commented on #308
I’ll push this once #313 is merged since I need to change some of the output tests.

[2019-08-07 23:22] maximilien commented on #294
This follows the API spec. If you want to suggest synonyms for memory unit then please open a different PR. As the owner of the PR, you can close it or we can do it for you. But best you do it :)

[2019-08-07 23:24] maximilien commented on #293
I like this a lot... might not be easy but should force us to separate setup, action, and cleanup for each command. Perhaps the mock stuff that #306 is introducing could help in this?

[2019-08-08 06:58] rhuss commented on #314
Just verified that is already fixed with #313 , however found another issue in combination with --verbose. Going to fix that now.

[2019-08-08 07:12] rhuss commented on #314
Fixed it now in #313 so that if no ~/.kn/plugins exists then

[code]

Without `--verbose` you just get an empty output (as there are no plugins installed)

[2019-08-08 07:21] rhuss commented on #293
I'm happy with this feature but I probably wouldn't call it `dry-run`, as this typically means to have the normal output but with no state change (i.e. not a different kind of output).

Wdyt about an `--export` or  `-o yaml` option, which means that you could save the output e.g. for gitops operation ? (but also for debugging purposes).

In addition, and in the spirit of #333 we could add a debug

[2019-08-08 16:29] adrcunha commented on #329
This doesn't sound like a cluster setup to me. A few tests passed before the one failing, and the service account was (correctly) set before the tests. Since this is a flake, my guess is that one of the tests is doing some sort of teardown and thus causing  `TestRevision/create_hello_service_and_return_no_error` to fail.

[code]

[2019-08-08 17:24] rhuss commented on #329
Yes, it looks like as every of those test setup a test namespace and tear it down after the test.

After its the first test of `TestRevision`, its the first test right after the namespace is setup. I guess this is just a race between the first test running and the namespace not fully setup. Let me add some seconds wait to this setup and see how it goes.

[2019-08-08 19:10] #329 closed

[2019-08-08 19:24] rhuss commented on #235
Closing this issue in favour of `kn service describe` as it has been decided. RIP // @duglin (that the issue I referred to)

[2019-08-08 19:24] #235 closed

[2019-08-08 21:09] maximilien commented on #293
@rhuss I think what you are suggesting is valid and valuable but I see the `--dry-run` as not overlapping fully and useful for the end user human operator / developer wanting to check their command(s) before actually doing it! So I would keep this issue and just add another or update the current #30

[2019-08-08 21:23] maximilien opened #349 "Add some sample / example plugins"
## In what area(s)?

Kn plugins

## Describe the feature:

Now that Kn supports plugins, it would be good to have some sample / example plugins in the Kn repo. They should be small but useful and ideally in a few different languages and of different features to show what can be done with plugins.

Eventually, as / if we decide to create plugin-specific repositories or collection thereof, then thes

[2019-08-08 21:28] maximilien commented on #349
Hi, I have a few simple, useful, and fun plugins in BASH and Golang that I can push. I'll also do one in Python to show different languages.

Unless I hear otherwise, I will push these early next week. So please comment if you don't like the idea of sample / example plugins here. Thinking of putting something like:

[code]

/assign @maximilien

[2019-08-08 21:37] navidshaikh opened #350 "I want to see tags in 'kn route list' output"
## Describe the feature:
Current `kn route list` output
[code]
I want to know, what if my latest revision is receiving any traffic? OR which tag is receiving what portion of traffic?

If we could add tag along with revision name, like
[code]
revision without tags will be printed without ().

[2019-08-08 21:45] navidshaikh commented on #350
The traffic column value is going too long, we might want to consider
[code]
replace ` -> ` with `=` and remove `%`

[2019-08-09 08:00] #324 closed

[2019-08-09 08:11] navidshaikh opened #353 "Minimum golang version for kn"
I am running Fedora 29 and golang versions as below
[code]

latest master fails to build for me as it requires golang 1.12 for strings.ReplaceAll,
[code]

Our docs point 1.11.4 or later, that should be replaced with 1.12.7 or latest (the latest one available https://golang.org/dl/)

[2019-08-09 08:45] rhuss commented on #353
fwiw, we could also replace the `strings.ReplaceAll` easily. The question, however, remains, how would we check for 1.11 conformity when all CI is running on 1.12

I wouldn't mind bumping to 1.12 as the minimal requirement so that its aligned with CI.

[2019-08-09 09:15] navidshaikh commented on #353
Right.

Thinking from CLI perspective, we should aim at covering most of the users and their platforms,
while the users should be running the latest bits of software, I am not sure asking them to upgrade is a good idea.

[2019-08-09 15:35] #353 closed

[2019-08-09 16:03] rhuss opened #358 "Refactor service unit tests to use KnClient mock framework"
## In what area(s)?

## Describe the feature:

In order to simplify the maintenance of our tests, existing tests in services should be refactored to use the `MockKnClient` support class. An example of such a test can be found in [`service_create_mock_test.go`](https://github.com/knative/client/blob/master/pkg/kn/commands/service/service_create_mock_test.go)

Ideally all the test classes

* service

[2019-08-10 22:25] navidshaikh commented on #110
/assign

[2019-08-11 15:09] duglin opened #360 "have `kn service list` show latest revision name"
/kind good-first-issue
/kind feature
/kind proposal

## Describe the feature:

Today `kn service list` will show:
[code]

Notice the revision name is not there. Seeing the revision name is important for users so they can know when the latest version of their app has been deployed and ready to be hit.

See similar output from `kubectl get ksvc`:
[code]

Proposal: add a `Latest Revision` or just `Re

[2019-08-11 21:12] navidshaikh commented on #360
About Generation column, I agree I don't find it useful too.

IMO if we're after revision's status here, so the command should be `kn revision list -s service`,
as it could also show me the reason for it if revision didnt come up or progressing.

While working on traffic splitting, I found that I'd want to list the current state of service's revision ordered by their generation and showing if they

[2019-08-14 00:07] #328 closed

[2019-08-14 13:43] zhanggbj commented on #350
@navidshaikh
Also feeling the traffic column is too long,  and are you working on this? If not, I would like to take it.

[2019-08-14 22:31] #277 closed

[2019-08-15 00:10] #159 closed

[2019-08-15 08:58] navidshaikh opened #364 "Ensure kn builds cross platform"
We should add CI check to ensure kn builds cross platform.

[2019-08-15 09:01] navidshaikh opened #365 "kn fails to build for Windows platform"
Current master fails to build for Windows

[code]

[2019-08-15 09:14] navidshaikh commented on #365
We should delegate the executable check for plugin to underlying platform.

[2019-08-15 09:33] navidshaikh commented on #365
https://github.com/knative/client/blob/c4e8d5a9648f37d5ffe8dc225381e0210353003e/pkg/kn/commands/plugin/plugin_verifier.go#L138-L146

Apparently, this part is not portable, https://groups.google.com/forum/#!topic/golang-nuts/ywS7xQYJkHY

[2019-08-15 17:56] #210 closed

[2019-08-15 18:09] sixolet commented on #232
Fixed by #345

[2019-08-15 18:10] #232 closed

[2019-08-15 22:28] #365 closed

[2019-08-16 06:16] #320 closed

[2019-08-16 07:59] navidshaikh opened #369 "Command 'kn version' to print supported serving versions it can work with"
With kn now vendors serving v0.8.0, version command will print so.
We can add another line / section saying, supported versions kn can work with along with serving API version(s).

[2019-08-16 08:01] navidshaikh commented on #369
/assign

[2019-08-16 10:05] navidshaikh commented on #369
Do we need to show Dependencies in version? I think we should instead show what we `Support`, the dependency is already packaged with binary.
Proposing to update the version command as below:

[code]

[2019-08-16 15:34] navidshaikh opened #372 "Reference revisions w.r.t @latest in traffic splitting and tagging"
It would be handy if we could allow
[code]

where in `@latest~N` ;
 - @latest : latest **ready** revision available or going to be available
 - N          : number of revisions ago

1. Update my service svc and give 10% traffic to it, adjusting rest to last **ready** revision of service
[code]
Users don't need to know the revision name or tag of `@latest~1` to perform the operation

handy for use

[2019-08-16 18:41] sixolet commented on #372
... I'm still uncomfortable with this thing where we're always tempted to define little mini languages in arguments.

[2019-08-16 19:01] navidshaikh commented on #372
We should provide users with easy way to reference revisions in order of
their creation.
This should be handy for pipelines / CI where same command could run
multiple times without intervention.

On Sat, 17 Aug 2019 at 12:11 AM, Naomi Seyfer <notifications@github.com>
wrote:

--
Navid Shaikh
Composed on handheld device.

[2019-08-16 20:06] sixolet commented on #255
Woo done.

[2019-08-16 20:06] #255 closed

[2019-08-16 22:01] sixolet commented on #372
Aside from the "let's not create a whole language" thing:

I hear the motivation, but it gets messy _fast_. For example, let's say you have

foo-1 ready, serving 100%
foo-2 (failed)
foo-3 ready, not serving, latest

Then you ask for `kn service update foo --traffic @latest=10,@latest^=90` or something.  Now, this ends up putting 10% of traffic on latest (floating latest, not `foo-3` like you might

[2019-08-17 10:05] navidshaikh commented on #372
If service update operation yields a failed revision, it shall fail the `service update` operation, flagging properly by failing the pipeline.
Also, `@latest~1` should refer to (latest-1) **ready** revision, updated the issue description to explicitly mention that.

Let's take an example of original scenario, by pipeline run.
___
**Scenario:**
Pipeline taking input of service update configuration

[2019-08-17 12:16] navidshaikh opened #374 "Apply traffic/tag flags only if configuration update pass"
## Expected Behavior
Given traffic/tag flags along with configuration update flags, traffic/tag flags should be applied only if configuration update passes. If configuration update fails, do not apply traffic spec.

## Actual Behavior
We apply the configuration update flags and traffic/tag flags to service and then update the service at once. If given configuration update flags fail to generate a

[2019-08-18 01:13] duglin commented on #374
hmmm I'm not sure this is a `kn` bug or issue to deal with. I think you're suggesting that we do 2 REST calls, one for the image update and then one for the traffic split - is that correct?  I don't think that's a good idea since updating the image w/o the traffic split is not what the user asked for and could yield very unexpected/bad results - like updating 100% of the traffic to an untested ima

[2019-08-18 07:30] scottilee commented on #6
Looks like this has been completed but any opposition to moving https://github.com/knative/client/tree/master/conventions inside https://github.com/knative/client/tree/master/docs?

[2019-08-18 14:56] sixolet commented on #6
I put it outside docs because it's not strictly "how to use the client or client libs" it's "how to develop on"

[2019-08-19 01:44] magicLian opened #375 "Use it as SDK?"
If this repo is the Knative Go SDK?   And docs?

[2019-08-19 17:16] duglin commented on #372
Also, @latest~1 should refer to (latest-1) ready revision, updated the issue description to explicitly mention that.

But given what you identified as a pretty big issue in #374, the definition of `latest` is not a static thing. Yes the `kn service update` may fail but immediately after that the revision could become ready (e.g. the volume needed now exists) and suddenly what the user thought was

[2019-08-19 17:24] sixolet commented on #374
The serving component does this on the server, already. The intent of the API is that you describe the world as you would like it to be, and if the serving side can't make it so, that's expressed in conditions. Works as intended.

[2019-08-19 17:24] #374 closed

[2019-08-19 17:25] sixolet commented on #375
It's our intent that you should eventually be able to use it as an SDK. Use caution, right now, as we haven't gone through and marked the APIs we think are stable enough for external use.

[2019-08-19 17:28] sixolet commented on #372
Scenario:
Pipeline taking input of service update configuration params and assigning 10% to ready revision to be generated with this update, while rest to last ready revision of service.

The convention is to mark the "currently serving version" with the tag `current` and the candidate you'd like to roll out with the tag `candidate`.

Therefore, the task does `kn service update foo --revision-name

[2019-08-19 17:51] sixolet commented on #372
knative/serving#4098

This makes it worse, not better, as you wouldn't have a deployment probe making sure you didn't put traffic on a bad revision.

[2019-08-19 22:26] #369 closed

[2019-08-19 23:05] Harwayne opened #377 "--log-http consumes the Request Body, making it invalid"
## In what area(s)?

## What version of Knative Client?

Version:      v20190819-local-dccaf36
Build Date:   2019-08-19 22:55:23
Git Revision: dccaf36
Support:
- Serving: v0.8.0  v0.7.1
- API(s):  v1alpha1

## Expected Behavior

I expect that adding the --log-http flag to a command makes no difference to the request the server sees.

## Actual Behavior

Adding the --log-http flag will send empty b

[2019-08-20 08:02] navidshaikh commented on #372
How do we guarantee the unique revision names if the task is running repeatedly ? (without any additional random-generator in task/pipeline)

The point is to be able to generate unique revision names and refer it easily. As we provided handy way to refer `{{.Service}}` or `{{.Generation}}` for revision name, we might want to think about something like `{{.LatestCreatedRevisionName }}`
[code]
but t

[2019-08-20 08:02] #372 closed

[2019-08-20 10:02] zhanggbj commented on #229
Also updated `plugin/`

[2019-08-20 14:38] zhanggbj commented on #350
@navidshaikh
How about the output in this format `revisionName(tag)=percent`?
[code]

[2019-08-20 22:51] toVersus commented on #350
I agree with Navid's idea to remove % from traffic percentage. WDYH?

[2019-08-21 07:15] navidshaikh commented on #350
@zhanggbj :

I'd want to see the tag first `(old)svc-8cgjh=0,`, as if tag is present for a revision its preferred.

Also, lets put a hold on this, the AGE and CONDITIONS columns in resources listing seem not very useful. I'll put an issue for broader discussion about what do we present in listing vs describe.

[2019-08-21 13:38] navidshaikh opened #381 "More docs and some restructuring"
## In what area(s)?

Classifications:
 /kind proposal
 /kind doc
 /kind cleanup

## Describe the feature:

We need to add more docs for flags / features we have now, also some restructuring.

The landing page <https://github.com/knative/client#docs> links:
 - User guide
 - Generated documentation

User guide links:
 - Workflows           (`docs/workflows`)
 - Operations          (`docs/operations`

[2019-08-21 13:44] joaedwar commented on #381
/assign joaedwar

[2019-08-21 13:45] navidshaikh commented on #364
@adrcunha : WDYT ?
We can add this check separately or with existing build-tests.
We also have https://github.com/knative/client/pull/371 open in this context to simply invoke `./hack/build.sh -x` to ensure this.

[2019-08-21 13:49] navidshaikh commented on #314
Fixed with #313

[2019-08-21 13:49] #314 closed

[2019-08-21 13:56] navidshaikh commented on #290
@duglin @rhuss : the `tail` use case is intact, I am saying to have a line in output (not the last line) printing revision name.. like
[code]

[code]

WDYT ?

[2019-08-21 13:57] navidshaikh commented on #206
/assign

[2019-08-21 13:57] navidshaikh commented on #205
/assign

[2019-08-21 13:59] navidshaikh commented on #204
Routes to be managed fully via service.

[2019-08-21 13:59] #204 closed

[2019-08-21 15:45] duglin commented on #290
@navidshaikh looks good - easily parse-able by scripts  :-)

w.r.t. the tail thing... I'm ok with it "as is", but if people are concerned about other things possibly showing up in the output after the URL, then we could make it:
[code]
Probably safer for grep-ing.  Just a thought.

[2019-08-21 16:39] adrcunha commented on #364
Unless I'm missing something, I don't see why having yet another separate CI just for build. Invoking `build.sh -x` as an extra step in the presubmit build tests seem to be simple and good enough to me.

[2019-08-21 19:23] #377 closed

[2019-08-22 06:37] navidshaikh commented on #290
/assign

[2019-08-22 06:39] duglin opened #383 "Intermittent issues with --tag"
## In what area(s)?

## What version of Knative Client?

master

## What version of Knative Serving running on your cluster?

0.8.x

## Issue

Maybe 10% of the time when I run this command I see this:

[code]

What's odd is that it only fails some of the time, so there must be a timing issue involved here.

Will try to do more debugging but wanted to let @navidshaikh know that something's up...

[2019-08-22 09:45] navidshaikh commented on #364
@adrcunha : Sure, added cross-platform build check after existing pre-submit build tests flow #385, PTAL.

[2019-08-23 10:11] navidshaikh commented on #383
I dont think if this is something we control, seems like revision `echo-v3` wasn't available when traffic spec is parsed by serving.

Also this is not re-producible easily as you mentioned.
[code]

In kn, when user ran
`$ kn service update echo --revision-name=echo-v3 --tag echo-v3=test --env MSG="TEST TEST TEST"`
we generated spec similar to what user could've written in YAML and posted to servin

[2019-08-24 16:14] duglin commented on #383
I haven’t had a chance to look at the code yet, do you do two requests to the server or just one? I think if you did a request then it would always work.

[2019-08-25 05:39] navidshaikh commented on #383
@duglin : We do only one request.

[2019-08-25 06:51] sixolet commented on #383
Yeah I think this is a bug to send over to serving.

[2019-08-25 20:10] duglin opened #390 "--log-http shouldn't write to stderr"
When using `--log-http` it would be nice if it didn't write the log to stderr, but appended to a file (either well-defined name, or value specified by the user). Having that output appear mixed in with the normal output makes it harder to parse/extract. Often I might turn on this option when running a set of scripts so I can decide later if I want to debug it by looking at the http flows. Having a

[2019-08-25 20:15] duglin opened #391 "shorten the --log-http Authorization mask value"
[code]
Seems but excessive when something like:
[code]
will do - plus it's kind of ugly to see it in the logs. Minor thing but it's the first thing I noticed and laughed at when I saw the logs

[2019-08-25 23:16] duglin commented on #383
I created this script to reproduce it w/o `kn` so I could open an issue on serving:
[code]
however, I noticed that after I got the error, eventually the server did end up in good state. This makes me wonder whether this is really a serving issue or a `kn` issue.  Meaning, should `kn` do a better job of detecting this intermediate error state and then wait  bit more for things to settle down before

[2019-08-25 23:21] sixolet commented on #383
Server contract says ready shouldn't go false if it's going to be true once it settles. Come to think of it, I seem to recall dangerd tracking an issue like this. Next I'm working at a real computer I'll go look if you don't get to it first.

[2019-08-26 00:49] duglin commented on #383
Just FYI so we have it, when the error happens the status section looks like this:
[code]

[2019-08-27 15:20] daisy-ycguo commented on #334
I'm working on the prototype of apiserver importer: https://github.com/daisy-ycguo/client/tree/apisource . It depends on PR https://github.com/knative/client/pull/357.
@rhuss Let me know when it is ready to create a PR for apiserver importer.

[2019-08-29 03:28] zhanggbj commented on #350
@toVersus @navidshaikh
Sure, we can follow format `(old)svc-8cgjh=0`.

@navidshaikh
could you please share the issue number you mentioned? Or I can continue with this issue here? Thanks!

[2019-08-29 09:34] navidshaikh commented on #390
+1 for value specified by the user.
We could use existing flag to decide
- dont print http-logs  ---> `--log-http` not specified
- print to a file  ---> `--log-http` specified with a filename
- print with command output ---> `--log-http` specified without any value

If the http request response to be appended in a file, it would be good if kn command invoked can be written before the request and r

[2019-08-29 09:39] navidshaikh commented on #360
`kn revision list -s service` should show latest revision created for the service.
Beside, I think we need to revisit the information we show in service, revision, route list commands and have them output only most relevant information.

[2019-08-29 09:49] navidshaikh commented on #349
@maximilien : IMO, One sample plugin (say bash one) is fine to keep with client repo. If we are to create sample plugin per language then IMO its better to create a sample-plugin-repository elsewhere (say under your namespace) and linking it from docs.

[2019-08-29 09:59] navidshaikh opened #394 "dnf install knative-client"
I'd like to be able to install `kn` using my OS package manager.

Ideally, I could simply do `sudo dnf install knative-client`

[2019-08-29 10:15] navidshaikh commented on #315
The current behavior falls back to the default location ~/.kube/config even if you specify explicitly
[code]

just saying.

Beside,

+1

[2019-08-29 10:18] navidshaikh commented on #308
@maximilien +1

[2019-08-29 10:19] #301 closed

[2019-08-29 10:21] navidshaikh commented on #298
MVP is in, closing this and other poll issues.

[2019-08-29 10:21] #298 closed

[2019-08-29 10:21] #297 closed

[2019-08-29 10:23] #295 closed

[2019-08-29 10:23] #296 closed

[2019-08-29 10:24] #294 closed

[2019-08-29 10:32] navidshaikh commented on #292
Route list with an argument is following other resources' list commands. My cluster may have a 10+ services/routes and I list the different configs of my service by listing commands, I would do
[code]
if route list were to print the routes for all the services, it'd be hard to parse.

[2019-08-29 10:33] navidshaikh commented on #292
Closing the issue, feel free to open if there is a question.

[2019-08-29 10:33] #292 closed

[2019-08-29 10:36] navidshaikh commented on #276
Fixed with #282

[2019-08-29 10:36] #276 closed

[2019-08-29 10:41] navidshaikh commented on #224
I think this is fixed.

[2019-08-29 10:41] #224 closed

[2019-08-29 11:54] duglin commented on #390
yep!

[2019-08-29 13:53] SugandhaAgrawal commented on #327
Jumping in here, the current implementation on Knative serving 0.7 and above allows to enable request and limit on memory and cpu for Queue proxy via annotations. - https://github.com/knative/serving/issues/4134
https://github.com/knative/serving/pull/4151

Specific use case is in a multi-tenancy scenario where namespace based resource quota application is to be leveraged, there is no default set

[2019-08-30 08:37] ZhuangYuZY opened #396 "Propose - migration Knative resources from one cluster to another by kn plugin"
## In what area(s)?

## Describe the feature:

Describe the feature:

  Today is multiple clouds world, customer may work on multiple k8s clusters from multiple cloud providers to run Knative applications, like IBM Cloud, AWS, GCP. Even in one cloud provider, client may also have multiple k8s clusters which running Knative applications. So there is a requirement that customer wants to clone and mi

[2019-08-30 14:33] zhangtbj commented on #396
This is what we did for the proposal first:
[code]

We can migrate the knSerivce, route and configuration from one namespace of the source cluster to another cluster.

But we cannot copy the `revision` of the knService to the destination cluster, we have to do more investigation.

[2019-08-30 19:59] maximilien commented on #338
I can take this as most of the initial configs comes from plugins and I need to refer to it in the plugins docs #395 I am finishing writing now.

/assign @maximilien

[2019-08-30 21:34] maximilien opened #397 "Discovery and installation of community Kn plugins"
## In what area(s)?

Kn plugins

Classifications:

## Describe the feature:

Kn plugins allow various interesting extensions to the `kn` CLI. They are easy to build and locally manage. However, how is a Kn user able to discover, install, and manage community Kn plugins?

Ideally the `kn` CLI should have a means to allow some discovery of community plugins as well as a means to install and manage d

[2019-08-30 21:39] maximilien commented on #396
Thanks for this @zhangtbj and @ZhuangYuZY. Please add an entry to the next Knative client [working group meeting agenda](https://docs.google.com/document/d/1Uh7jTWQruBBmic-WmTvtc9cMF95kQrKb5lsqWhNuikM/edit#heading=h.j7y9bwpl5136) to perhaps demonstrate this Kn plugin to the community.

I created #397 that will raise the related issue of how to discover, install, and manage Kn plugins. So for now j

[2019-09-01 03:47] toVersus commented on #396
@zhangtbj IIUC, you cannot create Revisions directly by coping existing Revisions from source cluster to target cluster because Revisions are immutable and must be created via a Configuration as described below. I think you can import by applying existing Revision spec to a Revision template in a Configuration each time.

[2019-09-01 08:31] duglin commented on #383
@sixolet can you point me to where it says that in the RTC? I can't seem to find it.

@mattmoor @dgerd is this a server-side issue or should the cli be checking something else to know when things are settled down?

[2019-09-01 15:44] mattmoor commented on #383
https://github.com/knative/serving/issues/4173 ?

[2019-09-02 13:12] zhangtbj commented on #396
Hi @toVersus , Thanks for the quick response.

I also think I can link the revision with config, But I didn't find the link in somewhere.

For example, I have a example `helloworld` ksvc and I have two revision:
[code]

But I cannot see the revision list or history in the ksvc or configuration configurations. I can only see the `latestCreatedRevisionName` and `latestReadyRevisionName` in the confi

[2019-09-02 18:44] guillaumeblaquiere opened #398 "dont create new revision if image is unchanged"
## In what area(s)?
Classifications:
/kind bug

## What version of Knative Client?
Version:      v20190828-local-f53ebd8
Build Date:   2019-08-28 09:06:01
Git Revision: f53ebd8-dirty
Dependencies:
- serving:    v0.6.0
- eventing:    v0.8.0

## What version of Knative Serving running on your cluster?

0.6.x

## Expected Behavior
When I run the command `kn service update XXX --image gcr.io/project/X

[2019-09-03 00:31] toVersus commented on #396
I think you can get a list of revisions in a ksvc by calling [ListRevisions](https://godoc.org/github.com/knative/client/pkg/serving/v1alpha1#MockKnClient.ListRevisions) with [service name option](https://godoc.org/github.com/knative/client/pkg/serving/v1alpha1#WithName) like below. Did that answer your question?

[code]

[2019-09-03 00:58] duglin commented on #383
Sure sounds like it.

[2019-09-03 07:31] #233 closed

[2019-09-03 10:57] navidshaikh commented on #398
Build Date: 2019-08-28 09:06:01
Git Revision: f53ebd8-dirty
Dependencies:

This doesn't look like built from latest master on 2019-08-28.

You can grab the nightly kn binary here https://github.com/knative/client/blob/master/docs/README.md#installing-kn.

`kn` has couple of flags added recently to configure the behavior to pull the image tag afresh with each new revision. You can flag `--no-lock-t

[2019-09-03 14:06] VeerMuchandi commented on #327
I see that `--label` option has been added as of `Version:      v20190903-6790961`. Are there plans to add `--annotation`?

[2019-09-03 17:32] sixolet commented on #397
I think the cluster should suggest plugins to install, as I've said before. That way the plugins suggested can be situation-dependent, appropriately.

[2019-09-04 07:13] guillaumeblaquiere commented on #398
Better but not perfect
Here my tests:

[code]

There no container update in gcr

1. Create the service -> revision 1
2. Update -> revision 2 -> container  digest is the same, should do nothing.
3. Update -> failed timeout 60s -> Finally deployed revision 3  -> container  digest is the same, should do nothing

for information:
[code]

[2019-09-04 10:40] zhangtbj commented on #396
Hi @toVersus Thanks for your help! Now I can get all revision list and migrate to the destination cluster. But now in the new cluster, the new knative service only uses the new generated revision. I have tried many methods, I found I don't have a way to ask the ksvc/route or configuration to change to use a special revision. Do you have any idea how to modify it?
[code]
For example the `helloworld

[2019-09-04 21:17] maximilien commented on #397
Yup @sixolet we can have both, no? Server-suggested and repository of plugins that users can discover.

[2019-09-04 21:19] maximilien commented on #396
@zhangtbj can we contribute the code to a `contrib/plugins/kn-migration` directory on this repo?

I believe that was the agreement after yesterday’s call.

@sixolet and @evankanderson  please chime in if you intended a different location. Thxc

[2019-09-04 21:26] maximilien opened #400 "brew install knative-client"
## In what area(s)?

Installation / usability

Classifications:

## Describe the feature:

Similar to #323 and #394 would be nice to have a [`brew`](https://brew.sh) formulae for the Kn Knative client

[2019-09-06 01:00] rusde commented on #398
As per the code `kn` client currently does not query for `imageDigest`. It just calls KNative API's to update service.

Does the proposal here is for `kn` client to query `imageDigest` parameters and do a diff with current KNative revision deployed. Only call KNative API if diff contains some properties?

As per I see it flag `--lock-to-digest` does allow customers to update other parameters witho

[2019-09-06 17:00] rusde opened #403 "Stale Revision Failure reported by client on successful update triggered after failed on"
## In what area(s)?
kn service update

Classifications:

## What version of Knative Client?
Version:      v20190905-2985e55
Build Date:   2019-09-05 10:11:51
Git Revision: 2985e55
Support:
- Serving: v0.8.0  v0.7.1
- API(s):  v1alpha1

## What version of Knative Serving running on your cluster?

## Expected Behavior
Update applied successfully

## Actual Behavior
Report RevisionFailed

Apply bad r

[2019-09-09 06:16] navidshaikh commented on #403
@rusde : Updating service with an existing image thereafter brings back service in ready state. Can you give it a retry ?

[code]

[2019-09-09 09:21] navidshaikh commented on #398
+1

I'd say this is something we should probably discuss with Serving WG, IMO this check belongs Serving side.

[2019-09-09 17:39] rusde commented on #398
Opened serving [issue](https://github.com/knative/serving/issues/5453)

[2019-09-09 22:25] sixolet commented on #398
I believe the current client behavior on master is that:
* When you specify an `--image` parameter to an update, we'll generate a name for you locally, by default
* By generating a new name locally, we force a new revision
* By forcing a new revision, Serving will re-resolve the image
* When you specify `--image`, any locked-to-digest image will be replaced with the image-by-tag again, which the s

[2019-09-10 08:01] navidshaikh commented on #398
While switching from client side revision-name generation to server side revision-name generation, there is one revision created though

client-side revision-name generation
[code]

switching to server-side revision-name generation + no-change in image, new revision generated
[code]
sub-sequent update + server-side revision-name generation + no-image-change, no new revision generated
[code]

[2019-09-10 15:14] rhuss opened #404 "`kn version` : Display supported API and version"
## In what area(s)?

## Describe the feature:

Currently the display of `kn version` is a bit misleading:

[code]

* Which is the API group ?
* Is v1alpha1 supported for both, v0.8.0 and v0.7.1
* What if we add eventing ? There will be differing API versios supported
* Also eventing as several API groups which might have also different versions.
* Does this mean that we can't run `kn` against a (y

[2019-09-10 17:39] navidshaikh commented on #229
Fixed by #245

[2019-09-10 17:39] #229 closed

[2019-09-10 17:45] rhuss commented on #333
Should be tackled together with #182 IMO

[2019-09-10 18:17] duglin commented on #182
Per our call today, some additional thoughts and things I've seen. Using `tar` as the example linux app:
[code]

And this makes sense to me because 1) there's no error, so nothing on stderr, and 2) the user asked for additional output, so it goes to stdout.

Now, there might be other flags (like `--debug` type of flags) that generate output and I do actually think it makes sense for that to go to

[2019-09-11 07:25] rhuss commented on #182
I still believe that the default assumption should be that `kn` is used as an interactive tool, so having by default success and error messages for e.g. `kn service create` is much more user-friendly than having only an error code to detect whether an operation is successful or not.

So I still in strong favour to add `-q` for the scripting use case (like eg. for `grep`).

Having a similar level o

[2019-09-11 07:29] rhuss commented on #327
Yes, sure. It makes much sense to have both implemented in a similar fashion. Not sure though whether it will make it to 0.8.0 but as @navidshaikh added it to the 0.8.0 milestone, its likely to happen anytime soon ;-)

[2019-09-11 14:39] duglin commented on #182
I'm not suggesting that. There should always be error messages.  But in the case of the tool doing exactly what you asked, I don't see the point in saying "Hey, I did it!".  Now, showing info, like the URL to which the service was deployed to is different because that's info you need to take the next step in your process. If look at standard unix-y tools like grep, tar, cc .... they will all just

[2019-09-13 15:52] ImJasonH opened #408 "Confusing error message when passing --force flag with space"
Can you spot the bug?

[code]

It's the `--force false`. If you pass `--force=false` it works fine.

The error message seems to indicate that `kn` is trying to interpret `--force` as `true`, then the string `false` as a second service name, which is invalid.

Originally uncovered in https://github.com/tektoncd/catalog/issues/73

cc @navidshaikh

[2019-09-13 15:58] duglin commented on #408
I thought we dropped the =true, =false, <space>true, <space>false stuff in favor of just --flag and --no-flag for boolean.  Didn't we?

[2019-09-13 16:00] ImJasonH commented on #408
Maybe that's the case, yeah. In that case, I have an idea what the error message should say when I pass `--force false`. 😄

[2019-09-13 16:02] duglin commented on #408
but I would think that `--force=true` should produce an error since we don't support `=...` on bools.

[2019-09-13 16:03] ImJasonH commented on #408
Ah, I see. That seems to work fine:

[code]

(I don't actually have a Knative installation back there, but at least it made it past flag parsing)

[2019-09-13 16:07] ImJasonH commented on #408
https://github.com/sixolet/client/blob/master/pkg/kn/flags/bool.go seems to indicate that both are supported. 🤷‍♂

[2019-09-13 16:08] duglin commented on #408
using master, `--no-force` isn't supported

[2019-09-13 16:08] navidshaikh commented on #408
That needs to be reconciled for `--force` flag, currently its done only for `--log-http`.
https://github.com/knative/client/pull/346/files#diff-24912061c7dd4fd4566a96730228474cR121

[2019-09-13 16:09] duglin commented on #408
ah that would explain it, thank @navidshaikh

[2019-09-13 16:11] navidshaikh commented on #408
I wonder though passing `--force` or `--no-force` to tekton task makes it a bit complex to process based on user input in taskrun ? Like the flag needs to *exists* if user mentions it's value and vice-versa in taskrun definition. Still exploring the options..

[2019-09-16 04:36] duglin commented on #383
https://github.com/knative/serving/pull/5547 is in now - will retest soon

[2019-09-16 05:30] dgerd commented on #383
@duglin Let me know if you have any further problems here.

[2019-09-16 07:45] navidshaikh commented on #404
I liked this precise version of above
[code]
as you suggested on slack. The `serving.knative.dev` part is common and not so useful ?

[2019-09-16 13:09] rhuss commented on #404
Actually I think it should be vice versa, as the API group/version is the important part, especially when we leave alpha. In the same API version is supposed to stay stable across Knative serving versions, so having the actual supporter Knative serving version is of no meaning (i.e. if we have 0.8.0, and 0.9.0 also support v1beta1 then kn will work with v0.9.0, too. However the use might be confus

[2019-09-16 17:54] n3wscott commented on #334
fyi, https://github.com/knative/eventing/issues/1857 reverts back to calling these things `sources`.

[2019-09-17 15:32] navidshaikh commented on #206
/assign @rhuss

[2019-09-18 21:25] maximilien commented on #338
Hi, all, working on this issue now to submit PR in next day or so. Any comments appreciated in terms of configuration values and style. Otherwise, I will make it up based on the two config values I know we have for the plugin work. More soon. Best,

[2019-09-23 09:51] navidshaikh opened #413 "Add service account info in service describe"
### Classifications:

/kind good-first-issue
/kind feature
/kind proposal

### Describe the feature:
`service describe` default output should list the configured service account for the service if present.

[2019-09-23 20:42] maximilien opened #414 "~/.kn/config.yaml should accept and retain camel cased configuration"
## In what area(s)?

Kn configuration. Also in docs.

See PR #411 for discussions

Classifications:

## What version of Knative Client?

[code]

## What version of Knative Serving running on your cluster?

## Expected Behavior

Configuration entries in the `~/.kn/config.yaml` file should retain their case sensitivity.

## Actual Behavior

Currently they seem to always be caseless, e.g., `pluginsdi

[2019-09-24 12:27] navidshaikh commented on #403
@rusde : I am closing the issue, feel free to open the issue if you have further update on this.

[2019-09-24 12:40] navidshaikh opened #416 "User image annotations absent after update, svc created using kn v0.2.0"
## In what area(s)?
User image annotations

## What version of Knative Client?
[code]

## Expected Behavior

User image annotations present after service update.

## Actual Behavior

User image annotations absent after service update.
Service is created using kn v0.2.0 version (from tekton task), service is then updated with latest HEAD of kn client from command line.

## Steps to Reproduce the Pr

[2019-09-25 22:11] maximilien opened #417 "Kn plugins seems broken on Linux"
## In what area(s)?

Kn plugins

Classifications:

## What version of Knative Client?

[code]

## What version of Knative Serving running on your cluster?

## Expected Behavior

`kn hello` should execute the `kn-hello` plugin.

## Actual Behavior

Prints the help and that “hello is not valid command”

However, the `kn-hello` is listed when I do `kn plugin list`. So it simply not being executed.

#

[2019-09-25 22:11] maximilien commented on #417
/assign @maximilien

[2019-09-25 22:11] maximilien commented on #414
/assign @maximilien

[2019-09-26 06:14] rhuss commented on #417
Have you checked the permission of your `kn-hello` command and also, if it a shell script, that the shebang is pointing to a valid shell ?

[2019-09-27 09:22] daisy-ycguo opened #418 "The description of flag `--namespace` shall be updated"
## In what area(s)?

/kind good-first-issue

## What version of Knative Client?

latest

## What version of Knative Serving running on your cluster?

0.8.x

## Expected Behavior

When I try `kn service create --help`, the flag `--namespace` description shall be something like `the namespace scope for this CLI request`.

## Actual Behavior

The `--namespace` description is `List the requested objec

[2019-09-27 22:25] maximilien commented on #308
Need some integration tests. Latest issues found in #411 showed this is needed. Making this my top priority with #414 and then #320

/cc @rhuss

[2019-09-30 08:12] #418 closed

[2019-09-30 13:04] navidshaikh commented on #328
/assign

[2019-09-30 13:19] navidshaikh commented on #327
/assign

[2019-09-30 22:06] maximilien commented on #414
OK so after about an hour or so of digging, it seems that [Viper](https://github.com/spf13/viper] does not have support to keeping the keys in the config case sensitive. This is a know issue and problem that the Viper community have been debating for over a year.

A [PR](https://github.com/spf13/viper/pull/635) was submitted earlier this year to add support to Viper to allow end user to select cas

[2019-10-01 03:31] mchmarny opened #423 "latest release can't deploy service to v0.9 cluster"
## What version of Knative Client?

v0.2.0

## What version of Knative Serving running on your cluster?

0.9

## Expected Behavior

[code]

results in service deployed

## Actual Behavior

Service 'prime' successfully created in namespace 'demo'.
Waiting for service 'prime' to become ready ...

With kn waiting for the service to become available forever

## Steps to Reproduce the Problem

run the

[2019-10-01 09:44] #338 closed

[2019-10-01 09:56] rhuss commented on #423
That's interesting as there is supposed to be a timeout after 60s (which actually works and is independent on any Knative serving version). When you say 'forever' how long is this :) ?

After you stopped the command, has a Knative service be created (e.g. `kubectl get ksvc`). If so, could you check the status section of the resource (`kubectl get ksvc prime -o yaml`) and post it here ?

If a Knati

[2019-10-01 11:54] navidshaikh opened #424 "Fill in docs for TODOs in docs/operations"
## In what area(s)?

Classifications:
/kind good-first-issue
/kind doc

## Describe the feature:
Followup of https://github.com/knative/client/issues/381
We'll need docs for

1. docs/operations/others.md
2. docs/operations/labeling.md
3. docs/operations/resources.md

which are currently marked as TODO.

[2019-10-01 11:55] navidshaikh commented on #381
Fixed by #421 , the sub-sequent work to fill in docs in operations folder tracked in #424.

[2019-10-01 11:55] #381 closed

[2019-10-01 12:31] drnic opened #425 "curl -L https://storage.cloud.google.com/knative-nightly/client/latest/kn-darwin-amd64 returns HTML instead of object"
From the docs I should be able to get `kn` via https://storage.cloud.google.com/knative-nightly/client/latest/kn-darwin-amd64, but when I `curl` it I get an HTML page:

[code]

Does something need fixing on the bucket; or is there some header I need to provide?

[2019-10-01 12:47] drnic opened #426 "zsh completion gives errors"
[code]
/cc @maximilien from #132 - any pro tips?

[2019-10-01 13:19] navidshaikh commented on #425
Please try
[code]

will update the doc with correct link shortly

[2019-10-01 14:01] rhuss commented on #426
I can confirm the error.

My suggestion would be to either remove `kn completion` as it does not yet add many benefits (e.g. no otpions are included neither context sensitive information like service names) or make a comittment to support it fully. At the moment it's less then half-baken.

[2019-10-01 14:11] #425 closed

[2019-10-01 17:57] aslom commented on #404
What happens if versions supported by CLI are incompatible with serving (or eventing)?

[2019-10-01 18:08] maximilien commented on #414
After today's 10/01/2019 call we agreed to go with option 1 above ^^^ and also use dashes in the keys. So the example config above would become:

[code]

There is also interest in simplifying the names for keys (yeah). Since we have two keys and `plugins-dir` is not too long the key ask is to simplify `lookup-plugins-in-path`. Suggestions welcome? I personally would be happy with: `lookup-plugins`

[2019-10-01 20:52] maximilien commented on #426
I am OK with removing. I was hoping that the completion story in Cobra would get better out of the box. They made it easy to integrate but seems not so useful... It still does not work for me either 😞

[2019-10-01 21:00] drnic commented on #423
FWIW - latest nightly `kn` worked for me against knative-service 0.9.0/istio 1.3.0.

[2019-10-01 21:10] drnic commented on #400
Until knative setups their own homebrew repo + ci job, I've added `kn` to our homebrew/ci (based on github releases):

[code]

[2019-10-01 22:07] maximilien commented on #414
OK let's move all discussions to PR #428

[2019-10-02 05:14] drnic commented on #423
I get the issue sometimes:

[code]

But I see the new revision created successfully; but the cli/api call doesn't return.

[2019-10-02 13:49] rhuss commented on #404
@aslom This is something we should be negotiated, based on the API version returned by the cluster. This really should be on the API version level, not kn/serving version. E.g. a `kn v0.8.0` is supposed to work with `knative-serving 0.8.0` (as kn was compiled against) but also with a future release `kn-serving-0.9.0` which is not known during `kn` release time, but has support for the same API ver

[2019-10-02 13:53] rhuss commented on #400
nice ;-) We hope to get there soon ...

[2019-10-02 20:36] mchmarny commented on #423
yeo, Monday nightly worked for me too. `forever` was 5+ min

[2019-10-03 17:27] dprotaso opened #429 "Use XDG_CONFIG_HOME for location of the `kn` config"
## In what area(s)?

/kind feature

## Describe the feature:
Rather than contribute to the config pollution of the `$HOME` dir on Unix based systems can we following the [XDG Base Directory Specification](https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html)?

[2019-10-03 20:46] maximilien commented on #429
Interesting request. No experience using `$XDG_CONFIG_HOME` so excuse my nube question.

Can you list some precedence in the k8s community making a similar choice?

Thanks.

[2019-10-04 07:48] #414 closed

[2019-10-04 08:02] rhuss commented on #423
This means, that it takes longer than 60s until the service becomes ready so that a timeout applies for this client operation. This does not imply that the service fails. A common reason for taking that long is that images need to be pulled from a remote registry to nodes. (Unfortunately, this is not deterministic, e.g. even when a service has been already deployed and then deployed again with the

[2019-10-04 08:03] rhuss commented on #423
@mchmarny

With 5mins do you refer to the time it took for the CLI command to return (that would mean that the internal timeout of 60s failed) or that the service did not become ready within 5 minutes (that could be the case e.g. on slow connection when a larger container image needs to be pulled) ?

[2019-10-04 08:53] drnic commented on #423
I think an API call isn’t returning even though the work has been completed.
--
Dr Nic Williams
Stark & Wayne LLC
http://starkandwayne.com
+61 437 276 076
twitter @drnic

[2019-10-04 13:32] dprotaso commented on #429
I see `kustomize` use it [here](https://github.com/kubernetes-sigs/kustomize/blob/fa1af6f51e33c024d1f55f8f01049de9514d6ff4/docs/plugins/README.md#placement)

It's not a K8s specific thing - there are a few popular CLI apps that check for configs in `$XDG_CONFIG_HOME` and default to `$HOME/.config` are

See a list here: https://wiki.archlinux.org/index.php/XDG_Base_Directory#Supported

[2019-10-04 13:36] rhuss commented on #423
@drnic your log output is interesting as the last even indicate that all three conditions are `True` which is the trigger for the client to exit with success. Instead, it seems that `kn` continues to wait and then eventually times out.

I will have a look now and hopefully I can reproduce it.

[2019-10-04 13:40] #327 closed

[2019-10-04 14:37] rhuss commented on #423
I can confirm this issue, which however only occurs together with `--log-http`. I.e. it seems that no events arrive in the wait loop as they are consumed by the http logging.

Without logging, it works for me if the image is already fixed. If not (i.e. the initial create), I see the following:

[code]

Note that the test is on a (single-node) minikube installation and since the image has a size of

[2019-10-04 17:05] rhuss commented on #423
@sixolet The reason actually why watching doesn't work is

https://github.com/knative/client/blob/2f7fa6a7c20414463c387ac68e3043335032a971/pkg/util/logging_http_transport.go#L83

This will read the response until EOF (i.e closed by the server), however, for a watch this will never be the case (it's an endless stream which needs to be closed by the client). So kn reads the stream until it runs into

[2019-10-04 17:09] rhuss commented on #423
btw, this is how the DebugWrapper is turned on in client-go: https://github.com/kubernetes/client-go/blob/ec28f1ce4612672d4ba794030d27c62873af14f1/transport/round_trippers.go#L68-L81

[2019-10-04 17:10] rhuss commented on #423
My suggestion would be to take over this level-based debugging as part of the #333 story.

[2019-10-04 17:11] rhuss commented on #423
I'm on the other half of this issue, for allowing a higher (and configurable) timeout for watching, so that a timeout should occur must less frequently (even for initial deployments where an image needs to be fully fetched)

[2019-10-04 20:27] maximilien commented on #429
Let me tag @rhuss and @navidshaikh who are likely more expert than I am on this topic and see if they have any opinion.

This is my first time encountering or hearing about `$XDG_CONFIG_HOME`.

[2019-10-05 06:40] rhuss commented on #429
Maybe some background for the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html):

XDG stands for "X Desktop Group" as is the predecessor of freedesktop.org, a project that was founded in 2000 (but "XDG" survived as an acronym in their specs). freedesktop.org might join the [X.Org Foundation](https://www.phoronix.com/scan.php?page=news_

[2019-10-07 21:53] maximilien commented on #429
Thanks for the comment @rhuss. From your comment and references I would be incline not to change anything sine `~/.kn/...` is more in line with current k8s config location.

However, I tend not to have strong opinions on defaults since they should be by definition what the majority wants and that changes over time. I'll let others chime in.

[2019-10-08 00:04] maximilien commented on #417
You are very right sir. Thank you @rhuss. Closing and :happy:

[2019-10-08 00:04] #417 closed

[2019-10-08 10:44] rhuss opened #434 "Integration Test Flake"
## In what area(s)?
E2E Testing

In this [E2E Test run](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/432/pull-knative-client-integration-tests/1181485419032743939) an error occurred which is unrelated to the change in the PR:

[code]

[2019-10-08 20:37] maximilien commented on #434
I have not seen this running locally. But I have seen another. lf it appears again will add to this issue.

[2019-10-10 10:05] navidshaikh commented on #290
/unassign @navidshaikh
/assign @rhuss

[2019-10-10 10:07] navidshaikh commented on #206
/unassign @rhuss @navidshaikh
/assign @sixolet

[2019-10-10 17:21] rhuss opened #438 "Rename --async to --no-wait"
For operations for that we support sync/async, we default to wait, and offer an option `--async` for background operations.

I suggest renaming this to `--no-wait` as it seems that `--wait` is the common way to specify this behaviour when it is not the default. We can also introduce a `--wait` that would be a no-op now but help users to express their intent better and save them from changing of de

[2019-10-10 22:24] maximilien commented on #426
Removed with #439

We can easily add again once/if the generated code from Cobra gets updated and actually works.

[2019-10-11 05:13] navidshaikh commented on #438
+1 for both wait and no-wait flags.

[2019-10-11 05:15] navidshaikh commented on #426
Do we also have an issue filed against cobra for this ?

[2019-10-11 08:32] sirius1024 opened #440 "How to use this package as Knative SDK?"
## In what area(s)?

## Ask your question here:
Hey guys, I want to import this client as knative SDK, not sure to use github.com or knative.dev
![image](https://user-images.githubusercontent.com/6395714/66636618-24275700-ec44-11e9-9602-bf94f5276579.png)

I check pkg/kn/commands/types.go then saw:
[code]
**go version go1.13.1 darwin/amd64**
Anything that I missed?

[2019-10-11 08:58] rhuss commented on #440
Which version of kn are you using ? I'm asking beause on `master` currently the module name is declare as

https://github.com/knative/client/blob/a2d1ef7d83f197dfc9d416197fadf0890ad4445a/go.mod#L1

which is the canonical name. Any reference to `github.com/knative/client` is wrong.

Ah, I see that you refer to `v0.2.0` which still use the old location. You do have to update your go.mod dependency t

[2019-10-11 09:08] sirius1024 commented on #440
I think go get should be
[code]
Then go.mod changed and it worked. Thank you!
[code]
Another part of this question is I checked the code of the master branch, in my mind to use the SDK should create a client first:
[code]
Then call its CRUD method right?

[2019-10-11 09:27] rhuss commented on #440
Ah, sure. Sorry, fat fingers ;-)

Yes, that it's how it to supposed to work (you do need to provide the namespace to operate in as argument and an instance of `ServingV1alpha1Interface`, though). See e..g https://github.com/knative/client/blob/a2d1ef7d83f197dfc9d416197fadf0890ad4445a/pkg/kn/commands/types.go#L70 for how to get the `ServingV1Alpha1Interface`.

You can then use any of these methods:

[2019-10-11 09:28] rhuss commented on #440
The benefit of this client interface is that it has additional, client-specific methods, like waiting for a service to become ready (also the signature is a bit simplified). Otherwise it provides the same functionality as the knative-serving API.

[2019-10-11 09:54] sirius1024 commented on #440
Really cool! For now I'm also in the research phase. Will you accept pull request if I can do bug-fix/feature-develop...? I learned a lot about Golang from your code ;-)

[2019-10-11 10:02] rhuss commented on #440
Yes, sure ! Any help is highly appreciated. You might want also look out for issue marked with [good first issue](https://github.com/knative/client/labels/kind%2Fgood-first-issue). If you are interested in working on one of them, just mention in the issue and we can see how to ramp you up (and whether the issue is still relevant ;-)

[2019-10-11 13:50] sixolet commented on #440
Also note that the client interface may change before 1.0

[2019-10-11 17:21] duglin commented on #438
+1 I think --async is a bit too geeky/low-level-ish

[2019-10-14 07:50] sirius1024 commented on #440
I just finished the CRUD validations of knative services with this SDK.
As @sixolet said I think the interfaces are really good for a command-line tool but maybe not good enough for an SDK. Like when I try to create a knative service I don't know where to pass the Image string just like its namespace, and constructService function (**./pkg/kn/commands/service/create.go**) declared as private., so

[2019-10-14 07:50] #440 closed

[2019-10-14 11:33] navidshaikh opened #444 "Release cadence"
Release cadence for knative/client needs to be improved. Logging the issue to track and discuss.

The last release v0.2.0 for client happened on Jul 11. There are issues filed complaining x not
working on released version, but fixed on master.

What are suggestions on streamlining the release process?

We can look at
1 - Documenting the release process
2 - ~3~ 6 weeks release cadence
3 - Having mi

[2019-10-14 16:35] rhuss opened #445 "Check for revision existance when updating traffic"
When the traffic distribution is updated e.g. via

[code]

and if the revision does not exist (note the typo here with `latest` instead of `@latest`, then the update hangs because the service waits for this revision to exists before becoming `Ready` (but this will be never the case). So either the server should already go into an error state or as this doesn't seem to be the case, the client shoul

[2019-10-14 16:58] rhuss commented on #444
👍 I think a fixed cadence is more important than sticking to a planned feature set. E.g. I think we already have tons of more feature over 0.2.0 that would make a 0.8.0 valuable even when not all features tagged with a 0.8.0 milestones are implemented yet.

[2019-10-15 06:32] navidshaikh commented on #445
Revision existence check was originally planned with traffic splitting implementation (first check list item for https://github.com/knative/client/pull/345), but then IIUC we took off that being in scope of server side validation for resource existence (https://github.com/knative/serving/issues/5094). The issue is tagged for serving v0.10.x due Oct 29.

We can introduce this (and deprecate when we

[2019-10-15 07:17] rhuss commented on #445
The issue currently is that the long timeout of 10 mins introduced in `kn service create` and `kn service update` relies on the assumption that a service goes into `False` or `True` for the Ready condition after some time < 10 mins. If it stays in `Unknown` (as it is now for an unknown revision),  it takes really that 10 minutes to timeout.

[2019-10-15 08:15] zhanggbj opened #447 "Enable/Disable secure https access to Services"
## In what area(s)?
Knative Serving

## Describe the feature:
By default, Knative Service will be deployed and accessed by `http`. However, in production, users usually need to access them by secure `https`. Fow now, Knative support to enable https connection but with some manual steps (https://knative.dev/development/serving/using-a-tls-cert). I'm thinking if we can add a subcommand for kn client

[2019-10-16 08:09] navidshaikh opened #449 "go mod tidy cleanup"
[code]

[2019-10-16 19:57] #449 closed

[2019-10-17 10:34] navidshaikh commented on #434
This is not reproducible easily, appears rarely may be due to same race condition.
Updated the error message to state explicitly about mismatch in expected/actual traffic targets length and print the actual targets.

[2019-10-17 16:32] #434 closed

[2019-10-17 16:57] rhuss commented on #447
I think this is a very valid use case. However, I'm afraid we can't deliver this feature from the `kn` client which can only talk over Knative APIs. Sophisticated PKI management and installing certs e.g. by creating secrets and updating internal Knative components is out of scope of this developer-oriented, client tool. It's more that the Knative itself has to provide TLS support from its installa

[2019-10-17 16:59] rhuss commented on #444
We could align the cadence with serving & eventing that we have the same length for the release cycle but do the release _one week after_ serving/eventing releases, so that there is a window to adapt to the latest changes on these dependent projects. I guess the serving/eventing operators or any other project which depends on serving/eventing has a similar timing issue.

[2019-10-17 16:59] rhuss commented on #438
ok, I will pick this up then and go for `--no-wait`.

[2019-10-18 10:35] #404 closed

[2019-10-18 22:03] maximilien commented on #444
+1 for a more frequent and regular release schedule.

[2019-10-18 22:07] maximilien opened #456 "Is BASH completion needed and useful?"
## In what area(s)?

`completion` command

Classifications:

## Ask your question here:

We added `zsh` completion but it was useless so it's removed in #439 and @rhuss raised the [question](https://github.com/knative/client/pull/439#issuecomment-540977753) if we should also remove BASH completion since it's not also too useful.

Separating the two concerns with this issue. We can discuss BASH com

[2019-10-22 10:14] navidshaikh commented on #444
Release process documented at https://github.com/knative/test-infra/blob/master/ci/release_setup.md#setting-up-automated-releases

[2019-10-22 10:18] navidshaikh commented on #206
This is the only issue pending for v0.8.0 milestone, can we scope this for next milestone and cut v0.8.0?

@rhuss @sixolet @maximilien WDYT ?

[2019-10-22 12:35] rhuss commented on #206
I'm fine with postponing this feature for the next release, we already have made quite some progress since 0.2.0 which would justify a release on its own.

[2019-10-23 07:43] #426 closed

[2019-10-24 18:15] duglin opened #459 "Change "Address" field name on service descibe"
[code]

I think the use of the terms "Address" and "URL" are going to be confusing to people because those words mean just about the same thing. I would like to suggest that we use something like "Internal URL" instead of "Address" because 1) I believe it really is for internal cluster usage, and 2) it would make it consistent with "URL" by reusing the word "URL" from the previous field.

[2019-10-25 07:26] rhuss commented on #459
Good point, but I would opt for `Cluster URL` as this reflects the Kubernetes naming (e.g. `ClusterIP` used for a k8s service, that what it is actually, an URL reachable within the cluster). Should we then renam `URL` to e.g. `Route URL` to make it more symmetric ?

[code]

[2019-10-25 09:40] #360 closed

[2019-10-25 19:10] duglin commented on #459
ok with me

[2019-10-29 08:35] rhuss opened #462 "Proposal: kn API version support"
`kn` depends on Knative serving and eventing and supports different versions of Knative installed on the server-side. For the sake of this discussion, let stick to _Knative serving_ first as the _Knative eventing_ dependency can be tackled the same.

There are essentially two scenarios when the Knative serving version that is used as a compile-time dependency for `kn` and the actual serving versio

[2019-10-29 11:38] duglin commented on #462
Since 0.10 is almost here, I think that plan seems reasonable.

[2019-10-29 16:48] sixolet commented on #462
When we do support multiple versions, it should be settable in the config, and the client should not error if the crd is a 404 — that'll keep it working for non-k8s knative.

[2019-10-29 17:21] cppforlife commented on #391
`(redacted)` would be better imho

[2019-10-29 18:35] sixolet commented on #391
I had "elided" but people didn't know what it meant. Is "redacted" more common?

[2019-10-29 23:02] maximilien commented on #456
@sixolet any opinion on this?

[2019-10-29 23:04] maximilien commented on #447
@zhanggbj have you considered proposing TLS support in the `serving` WG?

[2019-10-30 09:46] rhuss commented on #456
My feeling is, that completion is useful if we would also add context-sensitive information (like completing on actual service/revision names for e.g. `kn service describe`). The icing on the cake would be to over e.g. tag names for completion when doing a `kn service update --traffic <tab>`.

Having only the auto-generated completed is a nice add-on if it works (and it doesn't for zsh completion

[2019-10-30 10:07] rhuss opened #464 "Update dependency to serving 0.10.0"
with still using `v1alpha1` as API endpoint for talking to the cluster

[2019-10-30 10:08] rhuss commented on #290
This is now already implemented with #431

[2019-10-30 10:08] #290 closed

[2019-10-30 11:53] navidshaikh commented on #456
We have the spf13/cobra dep update merged with zsh completion fix, I'll add back the zsh completion.

[2019-10-30 19:15] jamesward opened #465 "The Public Docker Image is Outdated"
It seems that the latest release of the public docker image:
gcr.io/knative-releases/github.com/knative/client/cmd/kn

Is out of date (0.2.0).  It'd be great to have a new release.

[2019-10-31 06:46] navidshaikh commented on #465
The correct kn released image URL is `gcr.io/knative-releases/knative.dev/client/cmd/kn` with `latest` and `v0.9.0` tags.
Updated kn task with correct URL https://github.com/tektoncd/catalog/pull/114.

[2019-10-31 06:46] #465 closed

[2019-10-31 06:55] jamesward commented on #465
Awesome!  Thank you.  That is just what I needed.

[2019-10-31 21:19] maximilien opened #467 "`kn` not loading config values on start"
## In what area(s)?

Kn config and viper binding

## What version of Knative Client?

[code]
## What version of Knative Serving running on your cluster?

## Expected Behavior

When changing the content of the config file `~/.kn/config.yaml` I expect that every subsequent invocations of `kn` (w/o overrides to the config values) to use the `config.yaml` values as its default.

Since we have two conf

[2019-10-31 21:19] maximilien commented on #467
/assign @maximilien

[2019-11-01 13:28] mgencur opened #471 "Create integration tests for kn task in tektoncd catalog"
## In what area(s)?
* test suite

## Describe the feature:

Create integration tests for the kn task in https://github.com/tektoncd/catalog/tree/master/kn
This would require installing tektoncd as part of CI but this repo looks like a good place for the tests for a few reasons:
* it already installs Knative and Istio for E2E tests
* the kn client's code is in this repo so we could test with a snap

[2019-11-01 13:29] mgencur commented on #471
I can work on this if we agree where to place the tests.

[2019-11-01 20:07] maximilien commented on #471
Hi, @mgencur, first off, thanks for your contribution. At first glance it seems that this should be in the tekton repo instead. However, let me tag @zhangtbj who's been working on bringing these two projects closer and might have opinions.

[2019-11-01 20:10] maximilien commented on #308
Finally, getting back to this after our long unforseen delays. Fix one issue #468 which was blocking my WIP on this.

[2019-11-04 03:20] daisy-ycguo commented on #413
/assign daisy-ycguo

[2019-11-04 03:47] zhanggbj commented on #447
@rhuss @maximilien
I agree with that and raised an issue in the Serving community, let's see if they have some plan to provide it. Thanks!
https://github.com/knative/serving/issues/5930

[2019-11-04 07:46] daisy-ycguo opened #473 "client dependencies to k8s.io/client-go"
## Ask your question here:

In client/go.mod, it is said:
[code]

Yet, Client has dependencies to knative.dev/pkg. The dependencies in `knative.dev/pkg` are defined as
[code]

The version of `k8s.io/client-go` used by client is older than `knative.dev/pkg`. It will cause problem when adding eventing dependencies. Do we need to manually change the dependency to k8s.io/client-go from  `v0.0.0-201902

[2019-11-04 08:01] rhuss commented on #473
Yes, its an issue if transitive dependencies mismatch. The best solution is to update/downgrade the original dependencies so that there common transistive dependency align.

In this case I suggest to update manually `k8s.io/client-go v0.0.0-20190226174127-78295b709ec6` to `k8s.io/client-go kubernetes-1.15.3` manually (the timestamp will be inserted during compile run). We should align with `knativ

[2019-11-04 08:01] mgencur commented on #471
Hi @maximilien , for a few reasons that I listed in the issue description, I think this repo is a better place. Should it be in the tektoncd/pipeline or tektoncd/catalog repo, that repo would have to include the setup for every platform that all the other tasks integrate with. The CI would then have to install all the platforms and integrations so as to be able to test all tasks. And that would ta

[2019-11-04 09:25] daisy-ycguo commented on #473
Thanks Roland.

After testing for several times, I find the best appropriate versions for those dependencies:

[code]

I made these changes in my PR https://github.com/knative/client/pull/470

[2019-11-04 10:26] daisy-ycguo commented on #473
I have to keep the current k8s libraries version because a wired issue caused by Doc generation.
We will wait for a next big upgrade to k8s v1.15 directly then.
I closed this issue.

[2019-11-04 10:26] #473 closed

[2019-11-05 04:12] navidshaikh commented on #471
We have 2 artifacts for kn tasks at tekton catalog
 1 - kn nightly image
 2 - kn released-image
 (https://github.com/tektoncd/catalog/tree/master/kn#parameters)

The kn-tekton tests need a built kn image to run testst. AFAIK, we build kn image in nightly and release-time cadence (and not per PR). Per PR testing for tekton specific tests would not make sense as its artifacts do not end up directly

[2019-11-05 05:46] daisy-ycguo commented on #464
It has been resolved by PR https://github.com/knative/client/pull/474. This one can be closed.

[2019-11-05 09:42] rhuss opened #477 "Add "completion" to help message (again)"
## In what area(s)?

`kn help`

## Describe the feature:

Re-add `kn completion` to top-level help message as this is missing currently. Not sure why we removed it, so let's first discucss/decide this here.

[2019-11-05 10:42] #456 closed

[2019-11-05 11:11] #413 closed

[2019-11-05 12:14] duglin commented on #447
Some platforms,such as IKS, enable TLS by default for all services - so if we do something in this space we need to take into account what the platform might already be doing.

[2019-11-05 14:04] #464 closed

[2019-11-05 16:09] navidshaikh commented on #471
Yes, preferably after nightly CI and rebuilt kn nightly image. Can we configure some alerting if the tekton-specific tests fail?

[2019-11-05 16:16] navidshaikh commented on #471
I am not sure if current test-infra could support this setup, but if we can have kn image pushed to interim repo (for eg: different tag) and use it for tekton-tests, then finally push to nightly location (`gcr.io/knative-nightly/knative.dev/client/cmd/kn:latest`).

[2019-11-05 17:09] adrcunha commented on #471
The nightly job runs daily at 1:40AM PST, so you could have the custom CI run, say, at 6AM. Run only the tekton tests in such CI flow so you eliminate noise. Currently we don't have custom alerts in the framework, you would have to keep an eye on TestGrid. https://github.com/knative/test-infra/issues/821 is implemented could take care of that, but unfortunately that's not a current priority.

[2019-11-05 17:11] adrcunha commented on #471
No, it currently doesn't support such flow. While you could easily make the nightly job push to some other gcr, you'll need some kind of trigger to start the (new) gcr copy job.

[2019-11-05 18:48] #217 closed

[2019-11-05 18:49] sixolet opened #479 "kn trigger create"
Create a trigger with `kn` as described in the [spec](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.jw5bfbz11nn2):

In this issue the creation of a trigger _without_ the implicit souce creation is tracked. It is only about the creation of a plain trigger, source creation along with the trigger is tracked in #498

----------
This command creates a

[2019-11-05 18:58] sixolet opened #480 "kn source list - list all source instances (built-in, plugin, untyped)"
kn source list should list sources of all source CRDs, unlike the normal list which only lists one type. It should have an option to list only one type, too.

See the [spec](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.y3zojnunoufp) for details:

For listing all sources, kn queries all instances of source CRDs. So it first picks up all CRDs that

[2019-11-06 03:27] daisy-ycguo commented on #315
I tested with the latest version of kn.

1. If no KUBECONFIG is provided, the error message is:
[code]

2. if server is not connectable, the error message is:
[code]

I think the error messages are acceptable to some extend. The possible improvements may be:
- for the first case, add a statement to guide users to "Please verify the installation or use KUBECONFIG to point to a Kubernetes with servi

[2019-11-06 04:44] navidshaikh opened #482 "service describe: Move 'Cluster' URL to --verbose from default output"
Quoting @rhuss https://github.com/knative/client/pull/460#discussion_r342759532

In a followup PR I would suggest hiding the cluster URL behind --verbose as this is really only of interest in very rare circumstances (e.g. when used as a Destination in Eventing)

[2019-11-06 04:46] navidshaikh commented on #206
Implemented by #475
/close

[2019-11-06 04:46] #206 closed

[2019-11-06 05:11] #459 closed

[2019-11-06 07:18] daisy-ycguo opened #485 "kn service create with `--log-http` is pending for a long time"
## What version of Knative Client?

$ ./kn version
Version:      v20191106-local-f1f6cfb-dirty
Build Date:   2019-11-06 06:51:12
Git Revision: f1f6cfb
Supported APIs:
- serving.knative.dev/v1alpha1 (knative-serving v0.10.0)

## What version of Knative Serving running on your cluster?

I don't know

## Expected Behavior

`./kn service create --image docker.io/ibmcom/fib-knative fib-knative --log-ht

[2019-11-06 14:53] duglin commented on #315
@daisy-ycguo in this case:
[code]
what is the error condition being detected? No URL specified to connect to?  If so, perhaps we could simply reword this say that - something like:
[code]
It's minor but saying "specified" is clearer that config data is missing. Saying something on the "backend" is missing isn't as clear to me what's going on because someone could interpret it as a server-side issu

[2019-11-06 17:24] rhuss commented on #485
There is an issue with `--log-http` and event streams. Will go into mores details later (but its about that the logging will consume the whole response stream first, so that events are not distributed internally), but jusr at a conference, will be back at knative work on friday.

[2019-11-07 06:09] daisy-ycguo commented on #315
The error is detected when the invocation to backend serving API returns a 404 error.

[2019-11-07 10:31] navidshaikh commented on #315
@daisy-ycguo:

on latest release v0.9.0 or current master with no ~/.kube/config or env $KUBECONFIG, I see
[code]
(this is the original issue Doug reported, we should add a hint here about missing 'kubeconfig')

restoring kubeconfig and make the cluster unreachable
[code]
This error message can be improved, sure!

but the other error you mentioned
[code]
is correct I think.

[2019-11-07 10:52] navidshaikh commented on #315
/assign

[2019-11-07 12:53] duglin commented on #315
What's kind of funny is that when I think about the two errors messages:
1 : `no Knative serving API found on the backend`
2: `Get https://api.crc.te... dial tcp: lookup api.crc.testing on 127.0.0.1:53: read udp 127.0.0.1:55884->127.0.0.1:53: i/o timeout`

I actually find the 2nd one more helpful (user friendly) despite it using more geeky terms - which is the opposite what I might expect. ;-)

I

[2019-11-08 11:23] rhuss opened #490 "Support for requesting GPU resources"
## In what area(s)?

## Describe the feature:

According to https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/ it is possible for a service to specify a request for one or more GPUS.

It is suggested to add a command-line option `--limits-gpu` to specify a integer number of GPUs requested (there's no need for a `--requests-gpu` accorinding to https://kubernetes.io/docs/tasks/manage-gpus

[2019-11-08 15:34] sixolet commented on #490
Is that part of knative or just kube?

[2019-11-08 15:50] rhuss commented on #490
Good question ;-) 'will have to ask on Knative serving.

[2019-11-08 18:22] evankanderson commented on #490
`requests` and `limits` are part of the [ResourceRequirements](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#resourcerequirements-v1-core) of a container. Each is defined to be an `object` in JSON and the docs link to https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container mentions a number of additional resource types beyond CPU and Memory, incl

[2019-11-08 21:24] maximilien commented on #490
I initially added the `--limits/requests-cpu` and `--limits/requests-memory` so happy to add this with `--additional-limits/requests`, unless I hear otherwise...

[2019-11-11 06:38] daisy-ycguo commented on #317
/asign

[2019-11-11 20:28] rhuss commented on #490
Sound legit to me, except that I would change the order like in `--requests-extra` and `--limits-extra` to fit the general scheme and have limits and requests grouped together on the help page (as this is alphabetically ordered).

Said that, I probably even do prefer a general `--limits` and `--requests` options with two predefined keys `memory` and `cpu` which has a specific meaning (and specific

[2019-11-11 20:31] rhuss commented on #490
E.g.

[code]

[2019-11-12 09:32] #477 closed

[2019-11-12 14:28] zhanggbj commented on #447
@duglin Sure, the platform may have enable TLS for the default domain, for IKS, it's the ingress domain. I'm thinking that in some cases the customer may wants to bring their own domain and certificate, then it would be better we can provide a simple way to do it instead of letting them modify different Resources.

[2019-11-12 15:57] jchesterpivotal commented on #429
I'm in favour of respecting `XDG_CONFIG_HOME`. It plays nicer with other software. I don't see kubectl as a decisive influence against adopting it.

[2019-11-12 18:45] sixolet opened #496 "kn source <type> - manage untyped sources"
Add CRUD management for untyped sources as described in the [spec](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.myvhyqss96xv)

---------------
- [ ] `kn source <type> create`
- [ ] `kn source <type> update`
- [ ] `kn source <type> describe`
- [ ] `kn source <type> delete`
------------------

## Untyped Sources

[code]

The type argument right aft

[2019-11-12 18:55] sixolet opened #497 "kn source describe-type - show details of a certain source type"
This command describes the source type CRDs, as described in the [MVP doc](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#heading=h.qns5zgif37wk) :

[code]

For Source types which have built-in or plugin support an individual and source-specific output can be created, which differs from source to source. The example above is just illustrative and should be fin

[2019-11-12 18:57] sixolet opened #498 "kn trigger create - create a source implicitely (based on #479)"
As described in the [MVP doc](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#heading=h.rr500f66txqz), we want to not only create a trigger, but also create an associated source CR, whose results only go to that trigger.

The feature described in this issue add the possibility to specify a source when creating a trigger. It is based on #479 and has the trigger

[2019-11-13 05:48] daisy-ycguo opened #499 "kn source apiserver - manage ApiServerSources"
/kind feature

## Describe the feature:

It's a separate item of Eventing MVP ["kn source" create & update typed builtin](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.d382ob8kwx0f), for easily management.

Add commands to create, delete and list ApiServerSource. See below as an example:

[code]

------------------------

- [x] `kn source apiserve

[2019-11-13 05:48] daisy-ycguo commented on #499
/assign

[2019-11-13 05:52] daisy-ycguo commented on #499
/topic eventing-mvp

[2019-11-13 06:55] daisy-ycguo opened #500 "e2e test failed"
Affected PRs: #495 #484, which needs retest after fixing this.
Logs from e2e test:
[code]

[2019-11-13 07:23] navidshaikh commented on #500
Adding notes here looking at the two referenced PR logs
For #495 [logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/495/pull-knative-client-integration-tests/1194354192681013248):
[code]
That's failure to create the service.

For https://github.com/knative/client/pull/484 [logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/484/pull-knati

[2019-11-13 09:21] rhuss commented on #500
For the #495 logs, I'm not sure why the `kn service create` handling fails.

For the #484 logs, I'm pretty sure that this is related to https://github.com/knative/serving/pull/5319 and maybe the way how BYO revision names are handled in
https://github.com/knative/serving/pull/5319/files#diff-ffae6f88426f91ba5373a40f4ea8bbb9R254-R260

Not sure if we are checking something wrong (and is fixed now in

[2019-11-15 06:23] navidshaikh commented on #500
/assign

[2019-11-15 13:19] navidshaikh commented on #500
I think it's a timing issue. Although the service update is synchronous and kn returned when the config change is reconciled we see difference in revision-name for `latestRevision:true` target of service status right after the update and after few more seconds:

See below:
[code]

Here ^^ `.status.traffic[?(@.latestRevision==true)].revisionName` is `revisionName: svc-rev-1`

Now, get the status ag

[2019-11-15 16:20] navidshaikh opened #507 "e2e flake creating a service in basic workflow"
Another one, against serving nightly, seeing this error more often now.

[code]
ref: [logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/503/pull-knative-client-integration-tests/1195365164593975296#1:build-log.txt%3A985)

[2019-11-18 05:02] navidshaikh commented on #500
Reopening. `time.Sleep` workaround isn't reliable, seeing more of this ref: [logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/495/pull-knative-client-integration-tests/1196286150625464320#1:build-log.txt%3A1143)

[code]

[2019-11-18 11:24] navidshaikh commented on #500
Logged at https://github.com/knative/serving/issues/6060

[2019-11-18 21:08] #391 closed

[2019-11-19 11:55] navidshaikh commented on #507
Another instance of this flake here ref: [logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/509/pull-knative-client-integration-tests/1196750270885793792#1:build-log.txt%3A1395)

[2019-11-19 14:48] rhuss opened #510 "Client documentation rehaul"
## Describe the feature:

I would like to start a discussion around our documentation as I think it is currently in a not so good state, and I think we could expand on the documentation at various angles.

* The README is not much more than a skeleton and has the wrong focus (why makes setting up bash-completion half of the document ?). I suggest completing rewrite it and add at least:
  - Top-lev

[2019-11-19 15:53] abrennan89 commented on #510
Hi @rhuss :slightly_smiling_face: thanks for creating this issue and for providing a detailed outline.
I would say that the screencasts are out of scope for the docs team (and also maybe READMEs if these are in dev repos?), and also that rather than hosting CLI somewhere else it should definitely be integrated with knative.dev's new nav proposal, but otherwise this looks good.

@RichieEscarez do t

[2019-11-19 16:13] rhuss commented on #510
No worries about the initial README. I would take care of the README (as its more about a landing page referencing the 'real' documentation and possibly some deep links).

[2019-11-19 17:35] RichieEscarez commented on #510
This all sounds great @rhuss. We are also thinking about all this and have put together a [Navigation restructure proposal](https://docs.google.com/spreadsheets/d/1L3EAeTX7RRdZhcQZeNmxwN4DCncuImCXA5A1_KQvwSk/edit#gid=413198505)  and have opened several high-level (issues) in this [project](https://github.com/knative/docs/projects/16).

[2019-11-19 18:09] sixolet commented on #510
I would very much love to have the reference docs integrated with knative.dev, and have a good way to generate things into the reference docs as "overview" pages, that aren't for specific commands.

[2019-11-19 21:14] samodell commented on #510
+1! That is definitely on our radar. We're going to have a meeting (@abrennan89 , @rhuss , and @RichieEscarez ) about getting started with these docs; would you like to be on that meeting, @sixolet ?

[2019-11-20 06:43] navidshaikh commented on #500
Even after retry and poll of total 10 seconds, another flake encountered for #491 ref: [logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/491/pull-knative-client-integration-tests/1196855596511399936#1:build-log.txt%3A1180), `/retry`fixed it later.

[2019-11-20 06:48] #325 closed

[2019-11-20 06:51] navidshaikh opened #511 "kn source list-types - List all available source types"
This command list the source type CRDs, as discussed in the [MVP doc](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#heading=h.qns5zgif37wk).

It's all about to list all possible source types which can be used with a "kn source create"

General description from the eventing spec documentation (might become outdated, the [spec](https://docs.google.com/document/

[2019-11-20 06:51] navidshaikh commented on #511
Separated the list-type in this issue from https://github.com/knative/client/issues/497

[2019-11-20 06:52] navidshaikh commented on #511
/assign

[2019-11-21 11:21] navidshaikh commented on #416
Closing the issue as its not relevant anymore.
/close

[2019-11-21 11:21] #416 closed

[2019-11-21 11:23] navidshaikh commented on #350
The commands and their output have changed and we've better way to list the target tags. Closing.
/close

[2019-11-21 11:23] #350 closed

[2019-11-21 11:27] navidshaikh commented on #335
The output in `list` command fits better if there is 1:1 mapping, cases where multiple values can be printed should be shifted to `describe` commands.
/close

[2019-11-21 11:27] #335 closed

[2019-11-21 15:34] duglin opened #512 "Misleading message about version change"
Today I noticed this:
[code]
The mention of `echo-gnxbs-2` and `unchanged` is very confusing to me because the latest version *did* change (the concurrency limit changed) and the latest version is not "echo-gnxbs-2", it's "echo-v1".

I'm not sure what that message is trying to convey but I'm not sure I see the value in showing me the old revision name or telling me whether its changed or not when

[2019-11-21 15:43] navidshaikh commented on #512
@duglin : Are you using the serving nightly build ?

[2019-11-21 15:52] navidshaikh commented on #512
If it's against serving nightly build, it's because latestReadyRevision reported by service status is same as the one before service update and kn is comparing this field before and after the update to print whether its `unchanged` or not. See https://github.com/knative/serving/issues/6060

[2019-11-21 22:43] rhuss opened #513 "Support machine-readable output for "kn version""
## In what area(s)?

## Describe the feature:

In order to interoperate nicely with tooling that calls kn and in the spirit of our other commands we should support _machine-readable_ output in addition to _human-readable_ output for `kn version`.

I.e. I think having a `kn version -o json` return something like

[code]

In the future there might be server version (i.e. which APIs are supported), i

[2019-11-22 20:52] duglin commented on #512
@navidshaikh thanks - I was testing with 'master', using v0.10 I don't see the issue.

Do people think we really need to echo the service URL again on an update? I don't think anything the user can do will change the value so I don't see the point in adding even more verbosity. In fact, the one thing I can think of that might justify some kind of message would be the use of the `--tag` since that

[2019-11-25 17:47] itsmurugappan commented on #424
I can help with this.

[2019-11-26 05:52] navidshaikh commented on #424
@itsmurugappan : Thanks for the response! The docs work is being tracked more actively in https://github.com/knative/client/issues/510. There are more references in the mentioned issue about how we'd like to have docs structured. PTAL.

[2019-11-26 15:23] mgencur commented on #471
Is it fair if I implement those tests and create e.g. `tekton-tests.sh` script in the test/ folder which will execute them? Someone else could then create the nightly job (or give me instructions how to do that).

[2019-11-26 15:38] zhanggbj commented on #513
/assign

[2019-11-26 16:45] itsmurugappan commented on #358
can I help with this ?

[2019-11-26 16:47] itsmurugappan commented on #424
@navidshaikh thanks. Looks like there is a team already working on it. looking for a good first issue .

[2019-11-27 06:00] navidshaikh commented on #471
@mgencur : Sure!
Looks like we can have a custom CI run after the nightly job as @adrcunha suggested above.

[2019-11-27 07:19] rhuss commented on #358
@itsmurugappan yes, sure ! Any help is appreciated. Just pick an existing test and create a test in parallel (with a `_mock` in the filename, like in `servuce_update_mock_test`) and port the existing tests over. We will happily review the PR and if approved, we can remove the original test in an additional pull request.

Thanks !

[2019-11-27 07:40] navidshaikh commented on #337
Coming back at it again after looking at common practices around this, as we're adding more commands, the needed items for the commands are better kept together.
/close

[2019-11-27 07:40] #337 closed

[2019-11-27 08:59] rhuss commented on #497
Updated description and copied over current content (the google docs remains the authorative spec)

[2019-11-27 09:14] rhuss commented on #480
Updated description with the content of the [spec](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#) (which remains the authorative document)

[2019-11-27 09:40] rhuss commented on #498
Updated description with the content of the [spec](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#) (which remains the authorative document)

[2019-11-27 09:48] rhuss commented on #479
As this story's feature is a subset of #498 I think we can either close this one (and implement as part of #498), or focus in #498 only on creating the source, with this feature as a mandatory requisite. I think the later is clearer so I'm going to narrow the scope of #498 and mention this issue as a prerequisite.

Also, we don't have yet discussed trigger _updates_ in the spec. Either we forgot t

[2019-11-27 09:56] rhuss commented on #479
I updated the comment the description with the content of the [spec](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#) (which remains the authoritative document)

[2019-11-27 10:38] rhuss commented on #334
Let's close this issue in favour of more specific issues around sources, reflecting the [specification](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.2et92p0)

[2019-11-27 10:39] #334 closed

[2019-11-27 10:53] rhuss opened #515 "kn source cronjob - manage CronJobSources"
This issue tracks the management (CRUD) of `CronjobSources` as [typed built-in sources](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.d382ob8kwx0f)

--------------------------------

- [x] `kn source cronjob create` - PR #542
- [x] `kn source cronjob update` - PR #542
- [x] `kn source cronjob describe` - PR #542
- [x] `kn source cronjob delete` -

[2019-11-27 11:02] rhuss opened #516 "kn trigger list"
List all triggers as described in https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.lmbmwxw0i4gy :

---------------

Lists all Triggers in a namespace.

[code]

The output is just an example, and could also contain more or less information like a connected Source or the filter expression.

[2019-11-27 11:07] rhuss opened #517 "kn trigger describe"
Describe an existing trigger, as suggested in the [spec](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.9z5svl2kqdv7)

-----------------------

Describes a specific Trigger given by name.

[code]

The information to the attached source can be obtained from the Trigger's annotation knative.dev/dependency (if a source has been attached to the trigger

[2019-11-27 11:09] rhuss opened #518 "kn trigger delete"
Delete a trigger ([spec](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.y8pmzwhwhcgj))

-----------------
Delete a Trigger by name.

[code]

A trigger that created implicitly a source should remove the source, too.
-------------

One open question here is, whether a source that has been created implicitly via #498 shoudl be removed, too ? I would o

[2019-11-27 11:15] rhuss opened #519 "kn source <plugin> - manage typed plugins"
Implement the management of sources backed by plugins as described in the spec for [Typed Plugin Sources](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.4uhbt122ju3g). The plugin contract is specified in [Plugin Sources](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.haqakmi5287a)

-----------------

[2019-11-27 11:19] rhuss opened #520 "Sample source plugin"
A sample source plugin should be created in parallel to #519 to validate the implementation.

Ideally, the plugin is for an already source like one of those from https://github.com/knative/eventing-contrib

To also provide some value, I'd suggest using the [KafkaSource](https://github.com/knative/eventing-contrib/tree/master/kafka) or [GitHubSource](https://github.com/knative/eventing-contrib/tree

[2019-11-27 11:46] rhuss opened #521 "Enable project support for knative/client repo"
I suggest enabling GitHub Projects support for this repository (`"Settings" -> "Options" -> [ ]  Projects`) so that we can easier track sub-projects like the Eventing MVP.

@adrcunha is this something you could enable? (sorry to ping you directly, I don't know anybody else to bug :) and unfortunately, I don't have enough Karma to do it on my own)

We can always switch if off again if the community

[2019-11-27 18:39] itsmurugappan commented on #358
Sure. I will start with it. Thank you!

[2019-11-29 09:40] #358 closed

[2019-11-29 12:36] #507 closed

[2019-12-02 08:53] mgencur commented on #471
PR is here: https://github.com/knative/client/pull/528

[2019-12-03 09:17] daisy-ycguo opened #530 "kn source container - manage ContainerSource"
/kind feature

## Describe the feature:

It's a separate item of Eventing MVP ["kn source" create & update typed builtin](https://docs.google.com/document/d/1B8VK-5nuxt3D-i1Up3onmUbzcztQXE0GRgf1lfx49P8/edit#bookmark=id.d382ob8kwx0f), for easily management.

Add commands to create, delete and list ContainerSource. See below as an example:

[code]

------------------------

- [ ] `kn source containe

[2019-12-03 09:18] daisy-ycguo commented on #530
/assign

[2019-12-03 09:35] daisy-ycguo commented on #479
Assign myself to work on this feature.
/assign

[2019-12-03 12:38] daisy-ycguo opened #531 "enable e2e test for eventing"
## In what area(s)?
/kind feature

## Describe the feature:
- Add eventing test infrastructure at first,
- then add e2e test cases for eventing.

[2019-12-03 18:25] navidshaikh opened #532 "go 1.13 for client"
Track bumping go to 1.13 for client and if there are any concerns.

Checklist:
- [x]  Update go.mod
- [x]  Update test-infra config to relevant changes https://github.com/knative/test-infra/issues/1574
- [x]  Docs

[2019-12-03 20:58] adrcunha commented on #521
(sorry, I missed this issue) I'm not an admin, so I can't enable it. I believe @sixolet can? Otherwise, you can ask an admin on Slack.

[2019-12-05 18:38] jchesterpivotal opened #533 "Does not reject multiple `--image` parameters"
## What version of Knative Client?

[code]

## What version of Knative Serving running on your cluster?

0.10

## Expected Behavior

When I type `kn update service --image example.com/first --image example.com/second`, I expect to be told that I cannot provide two images.

## Actual Behavior

`kn` accepts the command line without error or warning. It applies the last-provided argument. In the exam

[2019-12-05 22:09] duglin opened #534 "webhook errors are lost"
[code]

Notice `kn` doesn't tell me about the error that's generated by the webhook, it just keeps on going.  Granted you need a webhook that dies  :-)

[2019-12-05 23:23] duglin commented on #485
just hit this today too....

[2019-12-06 13:03] #471 closed

[2019-12-06 13:05] rhuss commented on #534
Actually `kn service create` does nothing else as you did in the step before, talking with the K8s API server and creating a Service resource. So I really have no idea why this should be different (remember, the webhook is not called by `kn` but by the K8s API server internally).

So could it be that this was a temporary or flaky issue ? Have you try to create via `s.yaml` again after youwas succe

[2019-12-06 14:18] duglin commented on #534
The issue was with the webhook - there was a bug in there causing it to crash. So, the issue here is that kubectl showed me the error message which allowed me to know that something weird happened on the server side (despite the fact that the service was created - just incorrectly due to the webhook not running properly), but `kn` didn't. So when using `kn` I was led to believe that everything was

[2019-12-06 15:47] rhuss commented on #534
Sorry, for my ignorance, but what kind of webhook are you referring to ? An admission webhook, mutating or validating? And is this not a pure server-side error reported back to kubectl when it applies the yaml ? And if so, what shoud kn do differently ? It does exactly the same thing as kubectl apply.

Of course, if an error occurs when kn send a POST for creating the resource (like when a webbhoo

[2019-12-06 15:48] rhuss commented on #533
Indeed, that's a bug. Thanks for reporting.

[2019-12-06 15:49] rhuss commented on #521
Looks like that it already had been enabled, thanks anyway !

[2019-12-06 15:49] #521 closed

[2019-12-06 15:51] rhuss commented on #530
This issue is on hold as the container source as it is know right now will be obsolete soonish

[2019-12-06 19:07] abrennan89 commented on #510
/project Kn Client Docs

[2019-12-06 19:15] rhuss opened #539 "Add Hugo frontmatter to generated docs"
## In what area(s)?

Documentation

## Describe the feature:

When creating the documentation for commands during the build process, the generated documentation should at least contains the front matter which is used by the knative.dev documentation generation is required.

For a first implementation, it's about the overall mechanism, to include the front-matter section which includes also the tit

[2019-12-08 15:59] rhuss commented on #485
The issue is that for logging with http, the HTTP response body is consumed to print out, but when in a watch situation, the response is a stream, so that logging only finished when the stream is finished. Which is far too late. Logging needs to be adapted, probably skipping to print out the response body and concentrating on headers and other meta info.

[2019-12-10 07:55] #482 closed

[2019-12-10 11:42] navidshaikh opened #544 "e2e flake: service create - referenced revision not found"
[code]
ref
- [logs1](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/542/pull-knative-client-integration-tests/1204319054475563009#1:build-log.txt%3A881)
- [logs2 (Dec 17)](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/560/pull-knative-client-integration-tests-latest-release/1206979735146467330#1:build-log.txt%3A491)

[2019-12-10 20:48] itsmurugappan commented on #533
same issue with the all the flags. I could give like
1. --requests-cpu 50m --requestspu 60m
2. --port=8080 --port=8081

[2019-12-11 02:30] itsmurugappan commented on #533
@rhuss  I tried couple of other popular CLI's they dont seem to have a catch for this. For example , the below works, creates deployment with the first image
[code]

[2019-12-11 08:09] rhuss commented on #533
@itsmurugappan thanks for the investigations. I guess this is kind of a limitation of Cobra. I wonder though whether there is a workaround there for validating that only a single argument can be used. Will look into this later this week as I have to get more knowledge about Cobra and whether it is still suitable when tackling #496 which requires support for dynamically generated options.

[2019-12-11 10:38] #532 closed

[2019-12-12 00:26] ahmetb opened #550 "Support for yaml deployments"
Is it a non-goal to support declarative deployments like `gcloud alpha run services replace` command with `kn`. Honestly, kubectl works fine but `kn` has a nice "wait for readiness" feature.

As a user, I observe that  I'm not entirely convinced that `kn service create` has options for pretty much everything I need, but the resulting command looks, well, not so declarative or easy to store in a co

[2019-12-12 00:36] ahmetb opened #551 "Usability issues around create+update"
I'm fairly new to this tool and repo but for quickly trying it out something jumped to me.

I'm supposed to use this tool in CI/CD deployments, as it's the de facto CLI for Knative. However, it seems like `kn service create` needs to be run before `kn service update` can be called.

This is not good for automation in scripts. Assume I'm creating a new namespace, and if I were to hardcode `kn servi

[2019-12-12 06:31] rhuss commented on #550
As already mentioned on [Twitter](https://twitter.com/ro14nd/status/1202996647761985550?s=20), I'm not sure why *imperatively* applying a yaml file is more declarative than creating that very same yaml on the fly when using kn. For the server, both look the same. It's true that YAML can be better handled in CM system with all its advantages for CI and that command line options can be quite lengthy

[2019-12-12 06:42] rhuss commented on #551
Thanks a lot for your feedback!

It's a in-place replacemenent by [keeping  the resource version](https://github.com/knative/client/blob/5deba393cb9e1bc7eb42ed414cc9c22477cb9bc6/pkg/kn/commands/service/create.go#L176)

We had discussed the wording, but I'm totally open for renaming it, as I agree that `--force` doesn't not reflect well the typical use case ('create-or-update') for an idempotent au

[2019-12-12 07:14] rhuss commented on #551
Maybe just as simple as replacing `--force` with `--replace` ? Or more drastically by replacing `kn service create` and `kn service update` with `kn service apply`?

Re-reading https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/ again I understand better now what you mean with _declarative configuration_ defined the kubectl. For me, it's still an imperative action to app

[2019-12-12 07:20] ahmetb commented on #551
I think the assumption here is people will create and update applications step by step. Start with image, add cpu/memory limits, then add annotations etc. That's good for beginners.

But in reality, any serious large scale user will do exactly the opposite. They will almost never type `kn service create` or `update`, they will script their way around it.

Any changes they made by calling `update`

[2019-12-13 00:25] ahmetb opened #553 "Is --[no-]lock-to-digest for tag resolution"
From the flag description, I'm having trouble inferring if this flag is meant to [disable Tag Resolution](https://github.com/knative/docs/blob/master/docs/serving/tag-resolution.md) during the deployment.

[code]

It doesn't seem to be doing that from my hands-on experimentation, but the above description makes me think it's related to this.

[2019-12-13 04:52] daisy-ycguo commented on #531
The issue has been resolved. Close it.

[2019-12-13 04:52] #531 closed

[2019-12-13 06:35] rhuss commented on #553
I don't think it's about server-side tag resolution but about pinning an image to its digest in the `Configuration` via the client.

@sixolet could you please give a brief overview of the pinning concept in `kn` and how to use it (e.g. how to support different use case) ? I'm also not 100% clear about how it works (and a bit lazy to look up ;) and I think it would be also cool to have it written d

[2019-12-13 07:12] sixolet commented on #553
--lock-to-digest replaces the image field with the image by digest when you do not supply --image and do create a new revision, avoiding the case where you accidentally have your service run a newer version of the same image tag. It marks the revisions with an annotation containing the original tag.

--no-lock-to-digest does no such business, the image field remains by tag, and a new revision migh

[2019-12-13 18:19] ahmetb commented on #553
I am more confused now. Assume you don’t use Kn CLI.
When Knative serving controller sees a new revision, it will resolve the tag to digest.
As far as I can tell there’s no way to disable this per-Service or per-Revision.
So how does Kn CLI prevent the controller from doing the resolution of image field again?

[2019-12-13 18:39] sixolet commented on #553
Copies the digest the server resolved.

[2019-12-13 19:13] ahmetb commented on #553
Ahha, makes sense.
I wonder if the wording can be any better to point this out, I don't have a particular proposal.

[2019-12-13 23:17] maximilien commented on #544
I've seen this (or very similar) with `kn revision update ...`. I'll track it down and see if the resulting message is same or different and open an issue or report here appropriately.

[2019-12-13 23:32] duglin commented on #533
I believe Cobra supports flags that can be specified multiple times, right? Like `--env`. If so, we could make `--image` one of those but then check in to code to make sure exactly one value was provided.

[2019-12-15 05:51] rhuss commented on #553
What's about `--pin-image` (and `--no-pin-image`) ? (as `digest` is more about how this pinning is implemented)

[2019-12-15 15:20] itsmurugappan opened #554 "Add Readme for tests"
## In what area(s)?

/kind feature
/kind doc

## Describe the feature:

Add readme docs for tests like the [knative serving](https://github.com/knative/serving/blob/master/test/README.md).

It would be helpful for new contributors to test their work

[2019-12-15 15:20] itsmurugappan commented on #554
/assign

[2019-12-16 11:46] duglin opened #557 "Misleading error message when verb is bad"
[code]

Notice that I misspelled "update". I've also done this by using "edit" instead of "update" by mistake. So, yes there was a user error, however, the error message really should have said something like "unknown action `udpate`" or "unknown action `edit`". Instead it complains about `--min-scale`, which is technically correct the command I **thought** I was trying to do. So a user could spen

[2019-12-16 15:41] #479 closed

[2019-12-16 19:52] #515 closed

[2019-12-16 19:53] #499 closed

[2019-12-16 19:55] #518 closed

[2019-12-16 19:55] #517 closed

[2019-12-17 07:18] #554 closed

[2019-12-17 09:00] #516 closed

[2019-12-17 16:33] rhuss commented on #511
@navidshaikh Is this task done or is there still something needed ? (like plugin support)

[2019-12-17 16:51] navidshaikh commented on #511
@rhuss : Plugin support remaining, also there was a mention about listing whether the source type is builtin or otherwise. So we might need to add a check list here.

[2019-12-17 17:05] rhuss commented on #511
I would create a new issue, so that I can move that to the "Done" column in https://github.com/knative/client/projects/1 ;-)

[2019-12-17 17:35] rhuss opened #563 "Improve sink/subscriber support"
## In what area(s)?

Eventing

## Describe the feature:

The following features are needed for proper sink/subscriber handling:

- [x] * Add more sink types like define in the spec
- [x] * Allow an URL to be provided
- [ ] * Allow specifying the namespace for the sink (currently: Always default)

[2019-12-17 17:45] rhuss opened #564 "Add serviceaccount & resources config to pingsource source handling"
`kn source cronjob` create & update command should support to provide

* seviceAccount name
* requests & limits (like for services)

[2019-12-17 18:14] rhuss opened #565 "source apiserver update --resource should follow the common update semantics for list like structures"
I.e. the same as for `kn service update --env` or `kn trigger update --filter`. I.e. add new resources, overwrite existing, and remove when suffixed with `-`.

[2019-12-17 18:15] rhuss commented on #565
While fixing this, this handling should be put into a shared method so to guarantee the list-like options are handled the same.

[2019-12-17 18:16] rhuss opened #566 "Add E2E tests for CronJob source"
similar to for E2E tests for ApiServer source. Ideally this should involve also a service to connect to and checking whether cronjob events have been delivered.

- [x] Add CronJob create/update/delete tests
- [ ] Verify the events at configured sink

[2019-12-17 18:18] rhuss opened #567 "Harmonize list headers for "trigger list", "cronjob list" and "apiserver list""
Actually the columns wrt to Sink / Subscription are different:

* CronJon and Apiserver source display the sink shortcut ('svc:myservice')
* Trigger shows the resolved URL ("SUBSCRIBER_URL")

Also, the condition and reason columns should be the same as for services.
Should we add AGE, too ?

[2019-12-17 18:19] rhuss opened #568 "Add E2E tests for trigger"
This should involve the usage of a broker and a source (ideally a cronjob source) and should check if the filtering works.

[2019-12-17 18:21] rhuss opened #569 "Error when multiple filter with the same name are given for kn trigger"
In `kn trigger --filter type=bla --filter type=blub`, "blub" will silently win. As this is very likely not the user's intent, an error should be thrown instead.

Same btw for "kn service create --env". The check could be part of a unified list-option handling.

[2019-12-17 21:01] ahmetb commented on #553
Yeah those names are more descriptive. Though, the behavior I expect would be:

Usually people might need "disable digest resolution" (per-Service) because they're trying to circumvent a bug in controller, or an issue with image pull secrets. (I don't think Knative makes this possible per-Service.)

FWIW I wasn't trying to request a feature, was just trying to understand what this option does. I s

[2019-12-18 05:08] sixolet opened #570 "Allow source creation with brokers"
Allow `broker:default` and other brokers as sinks in source creation.

Possibly allow the default broker as a default sink for a source.

[2019-12-18 05:10] sixolet opened #571 "Allow configurable sink prefixes"
We'll start by hardcoding sink prefixes: `svc` and `broker`.

But people can put anything addressable as a sink. You should be able to configure kn (possibly in your config file) to accept whatever apiversion/kind for your sink.

[2019-12-18 05:21] daisy-ycguo commented on #570
Overlap with [Issue #563](https://github.com/knative/client/issues/563)

[2019-12-18 05:25] daisy-ycguo commented on #568
Needs to enable broker as sink first. Have dependencies on issue [570](https://github.com/knative/client/issues/570) and [563](https://github.com/knative/client/issues/563)

[2019-12-18 05:31] daisy-ycguo commented on #565
/assign daisy-ycguo
I would like to take this issue.

[2019-12-18 05:36] daisy-ycguo commented on #564
Why cronjob source needs seviceAccount and requests & limits ?

[2019-12-18 05:51] daisy-ycguo opened #572 "Add flag "auto-service-account" to apiserver source"
/kind feature

## Describe the feature:

ApiServerSource depends on a valid service account. In order to create an ApiServerSource, a service account must be created, like this:
[code]

It is complicate if the user doesn't know how to provide a valid service-account-name. So except that he/she uses an existing service account name, the user needs two steps to enable an apiserver source: <step 1> c

[2019-12-18 06:32] sixolet commented on #570
Right on. It was just in my way for the FaaS use case, so I'm handling at least the broker part now.

[2019-12-18 06:33] rhuss commented on #572
@daisy-ycguo thanks for your proposal and I understand that using and setting up a service account might be tedious for the user. However, managing or creation ServiceAccount, ClusterRoles or ClusterRoleBinding objects is out of scope of kn which only can use "Knative APIs". SA, CR and CRB are not part of that contract. I'm not even sure whether listing of SAs is possible (which of course would be

[2019-12-18 06:37] rhuss commented on #564
In order to be able to access the sink for delivering the event and the cronjob itself is running in a deployment with its own resource requirements. Confessedly, those requirements are probably constant and we might not have to add this here and instead use kind of a constant value (you should always provide resource limits to help the scheduler and to be not in the "Best Effort" QoS class which

[2019-12-18 11:26] duglin commented on #569
to be clear, you mean that while `--filter` and `--env` are additive, multiple occurrences of the flag builds up a list, if the values within the list contain repeats of the "key" (e.g. filter type or env name) then we should consider alerting the user, right?

[2019-12-18 11:28] rhuss commented on #569
Exactly, if you put the same key on the same CLI call like in `kn trigger create bla --filter type=foo --filter type=bar`. Currently `type=foo` is just ignored as its overwritten by `type=bar`. IMO an error should be given instead, as this very likely not what the users wants (and provided both options by accident).

[2019-12-19 06:55] MIBc commented on #569
I'd like to try.

[2019-12-19 08:50] MIBc opened #576 "e2e test fails if there are resouces created by the previous test"
## Describe the feature:

The e2e test may fail in sometime, for example failing download docker image.  When start test again, it will fail for some existed resource. In this situation, I have to clear resource manually.
Is there a command or shell to clear all resource the test has created?

[2019-12-19 09:25] #569 closed

[2019-12-19 09:42] rhuss opened #577 "Introduce common utility method for handling map like options"
As we have now multiple options which are of map type we should use a common codebase to guarantee that they are all handled the same

The options I have in mind are (but maybe more):

* --env, --annotations and --label for services
* --filter for triggers
* ~~--traffic for services~~ (see comments below why `--traffic` is special)

The behaviour should be (using `--env` as an example):

* `--env

[2019-12-19 09:52] rhuss commented on #576
AFAIR we create all resources in a temporary namespace and then just remove that namespace after the test. So a `kubectl delete ns <temp-namespace>` should be enough. (@navidshaikh please me correct me when I'm wrong)

Or are you talking about cluster-wide resources ?

[2019-12-19 09:56] MIBc commented on #576
I try delete ns. But `clusterrole` and `clusterrolebinding` still left.

[2019-12-19 09:57] navidshaikh commented on #576
That's correct, though there are multiple test namespaces kne2etests[0-9], and the SA, ClusterRole and ClusterRoleBindings are introduced recently. We do need tear down functionality.

[2019-12-19 10:07] rhuss commented on #576
correct, ClusterRole and ClusterRoleBindings are cluster-wide resources which need to be cleaned up seperately. I wonder, whether those cluster-wide resources (if different) work nicely with parallel running tests ? Or ar their names also randomized (so that they don't interfer which each other) ?

An idea: We could use the suffix of the namespace under test for the cluster role names and then jus

[2019-12-19 10:15] navidshaikh commented on #577
The difference here with `--traffic` flag is, its explicit; whats given on CLI gets into the spec, no union of existing+given traffic targets. Flag `--traffic` doesn't support removal sign `-` too.

[2019-12-19 10:24] #467 closed

[2019-12-19 11:05] rhuss commented on #577
@navidshaikh  ok, I see, so let's remove `--traffic` from the list.

However, there are still enough other use cases which justify a common approach (hopefully ;)

[2019-12-19 16:25] duglin opened #578 "Support a flag to set ImagePullPolicy"
## In what area(s)?

Classifications:
/kind good-first-issue
/kind feature
/kind proposal
/kind doc

## Describe the feature:

As I'm making changes to my app and redeploying it (over and over), I usually do ` kn service delete...` followed by `kn service create...`. However, as I rebuild my container image each time there is no guarantee that the new image will be picked up if it's already in the

[2019-12-19 19:16] ahmetb opened #579 "Split eventing/serving commands in help message to increase discoverability"
v0.11 added eventing commands:
[code]

This might be confusing to users going through `kn --help` to figure out how to use it.

Simply, `source` says  "Event", but other things don't say "Serving".

So one must know which CRDs are Event vs Serving.

Consider doing what kubectl does:

[code]

[2019-12-19 23:38] maximilien commented on #576
I am also seeing this too consistently.

Further (could be a different issue) the `kne2etestsX` namespaces from previous runs are not deleted so causes errors in subsequent runs of e2e. Unless I hear otherwise in next 12 hours I will open a separate issue. Seems consistent on my side.

[2019-12-20 02:09] maximilien opened #580 "kn revision list does not show traffic and tagging details"
## In what area(s)?

`kn revision`

Classifications:

## Describe the feature:

During my usage of `kn` for demo (see: github.com/maximilien/knfun/README.md/#traffic-splitting) I realize that the current `kn revision list` is not very useful if it does not show the traffic and tags since these are important information that users need when looking at revision.

[2019-12-20 02:10] maximilien commented on #580
/assign

[2019-12-20 03:03] itsmurugappan commented on #557
@rhuss @duglin This is what I found out , please correct me if I am wrong.

The cobra command [find method](https://github.com/knative/client/blob/b640219140f55d037187b485747dfb8c091511f3/vendor/github.com/spf13/cobra/command.go#L599) validates the primary command if its present it ignore the sub commands wrong spelling.

This is the fix I am suggesting, please let me know your thoughts.

While [v

[2019-12-20 07:58] MIBc commented on #577
The env, label and annotations option use a common method `mapFromArray` to deal with string list.
Is it ok to judge same key in it ?

[2019-12-20 08:22] MIBc commented on #576
The danger is if there is a running e2e, which we can claim is not supported (e.g., running e2e multiple times at once). Thoughts?

-- It must fail . If a test is running, another test will meet `resource already exists` error.

[2019-12-20 08:42] MIBc commented on #578
I also think `imagePullPolicy` is needed. Because I have download image, it is unnecessary to pull image again.

[2019-12-20 08:50] daisy-ycguo commented on #577
I think this one is related with [issue 565](https://github.com/knative/client/issues/565) .

I propose to add a new flag type under `pkg/kn/commands/flags`, named "ArrayList" to support all array flags, and then we can add a method `parseMapOptions(key string, options []string) (map[string]string, error)` to type `ArrayList`.

[2019-12-20 08:55] MIBc commented on #578
I'd like to slove it .

[2019-12-20 12:18] rhuss commented on #577
Wdym with "check same key" ? Actually this method does similar the same but does not handle removal of keys with minus suffix. So maybe this method can replaced or extended by the algorithm described above.

[2019-12-20 12:19] duglin opened #584 "Consider using `--concurrency` instead of `--concurrency-limit`"
## In what area(s)?

Classifications:
/kind good-first-issue
/kind proposal

## Describe the feature:

Consider using `--concurrency` instead of `--concurrency-limit` to more closely align with the yaml that uses `containerConcurrency`. The use of the word `limit`, while technically accurate, is a bit of a deviation from what people would expect if they bounce between the yaml and `kn`.  Plus, it'

[2019-12-20 12:21] rhuss commented on #577
Yes

Sorry, I don't get why adding of new type would make things easier than a simple function. Would be cool if you give an example.

[2019-12-20 12:25] rhuss commented on #578
I agree that this is a needed and good feature, but mostly for the other way around: To pull an image anyway if its already cached.

However, I wonder whether we should ignore that flag if a pinned image is used (i.e. an image which uses a digest instead of tag), because refetching an image by hash wont change anything.

[2019-12-20 13:18] duglin commented on #578
Wouldn't that already be handled by the server? meaning, I'm not sure we need to do anything about it. If the server does nothing, then it does nothing. If it ends up doing something then it would be bad if we blocked it. I'd only bother to do something about it if it was an error case that and we wanted to block the creation of the KnService as a result... but again, the server should do that via

[2019-12-20 13:38] rhuss commented on #578
yes, you are correct, that's a server concern. So fine to not include it on the client-side.

[2019-12-20 21:38] duglin opened #585 "Reconsider how we lock an image digest"
if I do this:
[code]
then the KnService will look something like this:
[code]

Notice the image name in the `spec` is `index.docker.io/duglin/echo@sha256:1dfe8aeec2bb1cbf31d780d29205044a29437bda1f7dec3a3e603da4129de96d`.  I understand why `kn` is doing this, however, this isn't side-effect free.

I was playing with something that basically watched KnServices and would periodically take some action

[2019-12-20 21:42] maximilien opened #586 "service update final message is confusing (could be improved)"
## In what area(s)?

`kn service update`

Classifications:

## What version of Knative Client?

[code]
## What version of Knative Serving running on your cluster?

## Expected Behavior

When updating services I expect a message that is clear about what changes is shown to the user.

## Actual Behavior

[code]
The word `updated` in the last message is confusing and conflicts with `unchanged` which

[2019-12-20 21:43] maximilien commented on #586
/assign

[2019-12-20 21:50] maximilien commented on #308
Now that #468 is merged (yeah). Getting back to this to submit it soon. Finally.

[2019-12-23 08:08] daisy-ycguo commented on #577
My mistake. no need to add a new type.

[2019-12-23 15:48] sixolet commented on #578
Won't fix.

[2019-12-24 03:10] duglin commented on #578
Why was this closed? It’s a valid option isn’t the yaml

[2019-12-25 09:28] MIBc commented on #577
Can filter set like `--fliter f1=` ?  @rhuss

[2019-12-27 10:54] #570 closed

[2019-12-27 11:13] navidshaikh commented on #586
The service is **updated**,  if either Revision (ConfigurationSpec) or Tag/Traffic (RouteSpec) is updated. While the `(unchanged)` in the message is specifically for Revision.

[2019-12-31 08:26] navidshaikh commented on #577
Yes, empty value indicate all strings match.

[code]
[source](https://github.com/knative/eventing/blob/release-0.11/pkg/apis/eventing/v1alpha1/trigger_types.go#L113-L116)

[2019-12-31 09:55] navidshaikh commented on #577
For the case to error out if an env is asked to remove while creating service:
I think, asking to remove a preset env in the image during container creation, could be a valid use case?

[2020-01-02 07:03] navidshaikh commented on #577
/reopen

[2020-01-03 03:27] kameshsampath commented on #400
expecting a official brew package soon

[2020-01-06 08:41] MIBc commented on #566
I'd like to try.

[2020-01-06 14:59] #576 closed

[2020-01-07 00:25] maximilien opened #598 "Could e2e tests run faster?"
## In what area(s)?

e2e

Classifications:

## Ask your question here:

Could the e2e tests be faster. There are places for possible easy optimizations.

For instance @navidshaikh has identified a `time.Sleep(20 * time.Second)` in line of [commons.go](https://github.com/knative/client/blob/e0877da3d66e0c93a51eac0a3c39577bbe3c31d3/test/e2e/common.go#L65) which perhaps could be reduced or even remov

[2020-01-07 07:09] daisy-ycguo commented on #568
/assign

[2020-01-07 10:49] rhuss commented on #585
The issue is, that an image tag is not a version and can be moved anytime. A user would be suprised though, that when she changes e.g. a resource limit, that a new image is fetched as a side effect, too because someone updated the image tag in the registry. That's a real problem for `latest` images, but also for other tags (e.g. often a tag is also kind of a moving tag, which moves along (e.g. lik

[2020-01-07 10:50] navidshaikh commented on #566
/reopen

(for verifying the events at the sink)

[2020-01-07 10:58] rhuss commented on #578
It's not part of the Knative serving spec and should be completely ignored according to https://github.com/knative/client/pull/583#issuecomment-568509784

There are other parts in `ContainerSpec` which are valid for the  K8s schema but not for Knative serving (like multiple ports and other fields). Afaiu they should be just ignored or an error thrown when provided in a Knative context. As for `ima

[2020-01-07 13:34] duglin commented on #578
that field is not nullified, it is passed thru to the pod created. You can see it in the list of "allowed fields" here: https://github.com/knative/serving/blob/7e47c0e27b03a3b921280a5e09b058424cbdda7b/pkg/apis/serving/fieldmask.go#L201

[2020-01-07 14:04] duglin commented on #585
I understand why kn does this. What I'm questioning is whether it's the correct choice.

re: changing the user's `spec`. In my time in Kube I've heard very different opinions on this - from very senior (and opinionated :-) ) people. Most seem to think it's bad form to do so since the input data should be under the user's control. Adding things (like the LB-IP you mentioned) is 'adding' not changin

[2020-01-07 15:54] cppforlife commented on #584
might as well go with `--container-concurrency`

[2020-01-07 16:48] duglin commented on #578
Also, the property is in:  https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md#container

[2020-01-07 16:51] duglin commented on #584
While it's a bit long, I would prefer that to what we have today since at least it's a direct (word for word) match and doesn't require thinking :-)

[2020-01-07 17:12] rhuss commented on #585
I also would highly prefer a server mechanism for locking down an image to its digest. I'm not sure why this is not possible, but I can vaguely remember that @sixolet mentioned that this is a complex issue and a client-side locking was the best what could be done.

Because you know the digest only after the image has been pulled, which is not the case during creation. Of course, for the sync case,

[2020-01-07 17:15] rhuss commented on #578
It seems that there is a strong opinion that this is considered to be a bug. I can't really judge on whether it's part of the Knative API (and the code is correct) or it's not part of the Knative API and it's a bug that `imagePullPolicy` is not erased. @sixolet @mattmoor Any comments on this ? If its a bug we should indeed open an issue at knative-serving.

[2020-01-07 17:42] duglin commented on #578
I think the "bug" is in reference to it not pulling the latest, not the presence/use of the pullPolicy flag

[2020-01-08 03:08] MIBc commented on #598
Why does it sleep 20s?

[2020-01-08 11:52] navidshaikh opened #601 "[e2e-tekton] Failed to pull image from gcr registry while creating service"
e2e tests for tekton pipelines runs nightly. The pipeline in these e2e tests, builds and pushes a helloworld container to gcr registry, a knative service is created from the image from gcr registry.
The nightly job is failing ever since its setup https://testgrid.knative.dev/client#tekton

helloworld container is built and pushed fine, however service deployment is failing with `ErrImagePull`, det

[2020-01-08 12:17] navidshaikh commented on #601
Docs shows OCI as supported image-formats https://cloud.google.com/container-registry/docs/image-formats, however when pushed an OCI image via buildah to gcr, the manifest type reported while pulling the image by daemon is empty ' '.

If asked to build an image in `docker` format as `buildah bud --format=docker` it works (default is `oci` format).

How can I list the container runtime used in CI e

[2020-01-09 00:37] duglin commented on #585
Well, what's interesting is that if people are ok with the client modifying the spec's image field, then they should be ok with the server side doing it and do it even on the initial create.  This would provide the consistency that seems to be missing.  I think in the past having the server modifying the spec wasn't considered and the focus was more on trying to do a diff of some kind to know when

[2020-01-09 01:33] sixolet commented on #585
We did indeed talk about having a spec field for digest alongside the image field, in our first serving API decision about this particular usability issue, but for various reasons rejected that as the greater evil competed to client-side image setting.

The current client side design does preserve the image to show the user.

[2020-01-09 09:25] #308 closed

[2020-01-09 12:54] duglin commented on #585
I was thinking more about doing exactly what `kn` does, replace the `image` field's value instead of creating a side field, but on the server since it has the info.

yes the info is there but it can be stale (wrong) if the KnService is updated via a non-`kn` client.
It's the inconsistency that's being introduced that I'm worried about. While we can't know how often people will switch CLIs, I'm pre

[2020-01-09 20:28] adrcunha commented on #601
Prow jobs use regular docker, like here:

https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_docs/2087/pull-knative-docs-integration-tests/1215026080310628353/build-log.txt

[code]

Does that help?

[2020-01-09 23:57] adrcunha commented on #601
As Navid pointed out in the OP, the image is fine in GCR:

![image](https://user-images.githubusercontent.com/35786489/72114538-c1079800-32f8-11ea-99d3-c485fd38e5c2.png)

[2020-01-10 11:42] #601 closed

[2020-01-10 11:52] navidshaikh commented on #601
Thanks for the logs and link!
Yes, the GCR registry stores and serves the OCI images fine.

Its the daemon prompt that reading the empty manifest `' '` while pulling image and expecting `'vnd.docker.distribution.manifest.v2+json'`.

The referenced docker version has OCI image support, tested pulling image from GCR registry.

For now as a work around we're pushing the docker formatted image to gcr

[2020-01-10 12:43] #580 closed

[2020-01-10 15:16] #586 closed

[2020-01-10 17:21] duglin opened #604 "Add support for cmd and args when creating a new service"
## In what area(s)?
Classifications:
/kind good-first-issue
/kind feature
/kind proposal

## Describe the feature:

Knative, via yaml, supports specifying the cmd and args in the podSpec - kn should support this too since there are times when people may need to specify which exe in the image to run or what args to pass to the exe. Sometimes the default values in the image are not sufficient.

[2020-01-10 18:18] adrcunha commented on #601
Theoretically, yes, since it's matter of logging into a running pod. But it would involve some permission changes and retries. Before we go that route, if you run

`docker run -it --entrypoint /bin/bash gcr.io/knative-tests/test-infra/prow-tests:stable`

you'll be in the test job environment and you can investigate/play as much as you want. Would that help?

[2020-01-13 08:54] navidshaikh commented on #601
I can pull and run `prow-tests:stable` image fine, but it doesnt give me the setup for test I'd like to run. The test I would like to run is,

[code]
and verify if service is created in the environment (similar to one deployed for CI test job environment).
Can you please give it a try?

[2020-01-13 08:56] navidshaikh commented on #601
FYI - The nightly e2e tests went fine https://testgrid.knative.dev/client#tekton

[2020-01-13 18:16] duglin opened #606 "Add support for private KnServices"
## In what area(s)?

/kind good-first-issue
/kind feature
/kind proposal

## Describe the feature:

It would be nice if there was a way to specify that a knService should not have an external endpoint.  This means setting the label `serving.knative.dev/visibility: cluster-local`.

[2020-01-14 05:13] adrcunha commented on #601
The prow-tests image doesn't contain any SUT, only the tools. You'll need to build `kn`, and looks like you're gonna need to install Knative on a cluster as well to run the `kn` command, right? Yeah, that can get complicated to setup locally, although not impossible. Let me take a stab at that...

[2020-01-14 09:15] rhuss opened #607 "Don't treat namespace "default" specially when sorting after namespaces"
In https://github.com/knative/client/blob/71c9238b7eb065b56af08bd1b47d0d21ee6db755/pkg/kn/commands/service/human_readable_flags.go#L71-L87 the "default" name is treated specially so that it ends up at the top of the list.

I would like to revert this because I think the "default" namespace is in no ways special except that maybe that it is the namespace for your starting context when you login to

[2020-01-14 13:52] rhuss opened #609 "CronJob and ApiServer source usage needs to updated Eventing 0.13.0"
As a CronJobSource has been removed from Eventing v1alpha1 in favour of managing a CronJob resource directly together with a SinkBinding, we need to act before moving the dependency from Eventing 0.11.0 to 0.12.0

Possible actions:

1. Remove `kn source cronjob` completely from `kn`
2. Move to manage a `CronJob` and ` SinkBinding` to cover the current feature which was about managing a `CronJobSou

[2020-01-14 14:12] rhuss commented on #609
Ok, I have seen that CronJoboSource has been moved to `legacysources.v1alpha1`. How long will they be available in core eventing (and the operators behind them) ?

[2020-01-14 14:22] rhuss commented on #609
So, `sources.eventing.knative.dev` remains the group for the legacy reference (we would just to need update the imports) and `sources.knative.dev` is the new group without CronJobSource. So for the next version we could just updated, but the principle question remains: What to do with cronjob support in kn ?

[2020-01-14 15:15] #607 closed

[2020-01-20 07:47] #557 closed

[2020-01-20 07:49] navidshaikh commented on #557
/milestone v0.12.0

[2020-01-20 23:16] maximilien commented on #598
Originally added to ensure that the namespace is created since subsequent tests need the namespace to perform their work. Of course, optimally it should just check that the namespace is created vs waiting.

Let me see if I can add this.

[2020-01-21 03:32] danielhelfand opened #612 "subcommand is required Message When Using kn Root Command"
## In what area(s)?

/kind good-first-issue
/kind cleanup

## What version of Knative Client?

Master branch

Latest release at this time:

[code]

When running the root command `kn`, the message `subcommand is required` appears:

[code]

When running `kn -h`, the message does not appear. `-h` is not a subcommand, so it's somewhat of an awkward message to communicate to users that a subcommand is

[2020-01-21 03:39] danielhelfand commented on #612
Removing this [line](https://github.com/knative/client/blob/de7e3880d4cd8a6cf49397039de4cf8d84e7d7a3/cmd/kn/main.go#L38) here should resolve this.

[2020-01-21 07:46] navidshaikh commented on #612
Thanks @danielhelfand!

+1

[2020-01-21 10:25] rhuss commented on #584
@duglin what would you do then with the `--concurrency-target` option ? Up to now both are on the same level in the options, which is not so bad IMO. We could think about a `--concurrency` which then set botj, target and limit to the same value.

wdyt ?

[2020-01-21 10:55] rhuss opened #613 "Add --autoscale-window for managing the autoscale window"
This should add an annotation and allow changing the scale down window on a per service basis.

[2020-01-21 14:53] navidshaikh opened #616 "Support image pull secrets"
Classifications:

## Describe the feature:
Support `ImagePullSecrets` field as enabled in Serving v0.11.1 release.
Support setting and clearing image pull secrets for service to pull images behind registry auth.

[2020-01-21 17:58] #612 closed

[2020-01-21 18:51] rhuss opened #619 "Update dependency to Eventing 0.12.0"
Especially the `CronJobSource`'s client has been moved to a new package (so we might have to split up the usage of the client for the `ApiServerSource` and `CronJobSource`)

[2020-01-21 18:53] rhuss opened #620 "Update API version to v1 for knative serving"
~~As `v1alpha1` gets removed v0.12.0~~

`v1alpha1` will be only removed in Knative serving v0.13.0 as according to the [Knative Release Principles](https://docs.google.com/document/d/1GXDe6163lO8ohtLUMPCplbjm3OTpYo_4U8f9K1fgZPo/edit?hl=en#heading=h.n8a530nnrb) the **last 4** Kn releases need to be supported. So for v0.12.0 this means backwards support until v0.9.0. v0.9.0 is the last version which

[2020-01-22 08:18] #613 closed

[2020-01-22 09:27] navidshaikh commented on #619
/close

Fixed by #621

[2020-01-22 09:27] #619 closed

[2020-01-22 11:30] navidshaikh commented on #544
Every now and this error comes up, latest one against serving v0.12.0 release [here](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/622/pull-knative-client-integration-tests-latest-release/1219938598371987459#1:build-log.txt%3A949)

[2020-01-22 11:50] navidshaikh commented on #544
++
[logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/617/pull-knative-client-integration-tests-latest-release/1219943506416504835#1:build-log.txt%3A548)

[2020-01-22 13:54] duglin commented on #584
The annotations in question are:
[code]
And today these map to `kn` options as:
[code]
Based on a slack chat with @vagababov, `target` is only meaningful when CC is zero, so setting them both to the same value doesn't seem right, except in the zero case.

w.r.t. naming... it's hard. It would be easier if the annotations were more consistent. E.g. if it was `containerTarget`. "Target" is just such

[2020-01-22 14:45] rhuss commented on #584
To be precise, for the `--concurrency-target` you are right, however for `--concurrency-limit` we are using the CRD field `.spec.containerConcurrency`, not an annotation.

I don't like to be inconsistent with respect to the concurrency option naming. So I still like the current, symmetric version of `--concurrency-limit` and `--concurrency-target`.

[2020-01-22 14:47] rhuss commented on #584
But maybe I don't understand those options not properly. My mental picture is of that of a soft (target) and hard (limit) limit. But I might be wrong here, and need to catch up.

[2020-01-22 14:57] #616 closed

[2020-01-22 15:25] duglin commented on #584
Yup I’ve about soft vs hard limits AFAIK. But the soft limit only applies when cc is zero

Thanks,
-Doug
Sent from my iPhone

[2020-01-22 21:54] maximilien commented on #584
Agree with @rhuss with the beauty and simplicity of `concurrency-target` and `concurrency-limit`.

Closing this unless others can chime with better arguments.

[2020-01-22 21:55] maximilien commented on #584
/assign @maxim

[2020-01-22 21:55] maximilien commented on #584
/close

[2020-01-22 21:55] #584 closed

[2020-01-22 22:06] maximilien commented on #429
Sorry but I don't see much more interest in this issue. I think staying in line with `kubectl` is a better route than adding this IMO and more importantly `~/.kn` location is simple and easy to remember as is `~/.kube`

Perhaps this can be suggested in next version or in `kubectl` WG as with this one. That way we can move in sync.

Unless I hear otherwise in next two days I will close this issue.

[2020-01-22 22:09] maximilien commented on #400
Hi, @drnic, did you want to contribute this officially? We'd be happy to accept? Let me know and I can help you need too. Thx.

[2020-01-22 22:12] maximilien commented on #349
@navidshaikh OK. I am also looking to add structure and the sample plugin to the upcoming `client-contrib` where other "real" plugins contributed will also reside.

cc:
@sixolet (for `client-contrib`)
@zhanggbj (for `kn-admin`) and
@zhangtbj (for `kn-migration` and `kn-build`)

[2020-01-22 22:14] maximilien commented on #288
Closing this. No one is asking for it. The prefix `kn-` is good enough.

We can always reconsider this if users ask for it.

[2020-01-22 22:14] maximilien commented on #288
/assign
/close

[2020-01-22 22:14] #288 closed

[2020-01-23 09:38] rhuss commented on #429
Well, Helm moved to _XDG Base Directory Specification_, too, so I think its actually the right way to go. But I agree that it is not of high priority (although I believe implementing it is trivial).

[2020-01-23 17:45] rhuss commented on #609
Since yesterday the direction seems to be clear:

* We ship `CronJobSource` with kn 0.12 (thanks @n3wscott for porting over to the legacy client)
* In 0.13 we will support in addition `PingSource` (in a different API group), which is essentially a renaming of `CronJobSource`.

The question yet is though if the old `CronJobSource` needs to be supported in 0.13 as according to the [Knative Release P

[2020-01-23 20:56] rhuss commented on #620
I added some comments at https://docs.google.com/document/d/1GXDe6163lO8ohtLUMPCplbjm3OTpYo_4U8f9K1fgZPo/edit?disco=AAAAI45Sxt8 to clarify how and which versions to support from a `kn` POV.

The only question is, whether we should just drop CronJobSource when moving to 0.13 (instead of keeping it as described in #619). As Eventing is still v1alpha1 we should be able to do this without to much stre

[2020-01-23 22:45] maximilien opened #623 "Knative docs for `kn` CLI?"
## In what area(s)?

Docs

## Ask your question here:

Based on TOC discussion today (01/23) I am wondering how much docs from this repo we can submit to the official Knative docs repo? Perhaps the better approach is to submit use cases on how to use the `kn` client? For instance, I could submit my [knfun](https://github.com/maximilien/knfun) workflow? Or should we submit simpler examples or both?

[2020-01-23 23:04] samodell commented on #623
Hey @maximilien ! The goal is to have the main documentation for `kn` to live in the Docs repo eventually. Some work is in progress to make that a reality -- we're tracking that in this project here:
https://github.com/knative/docs/projects/23

@abrennan89  and @rhuss  have been collaborating on that; if you're interested, I'm sure they'd be happy to have additional hands working on those docs.

F

[2020-01-23 23:05] samodell commented on #623
And thanks for kicking off this discussion; I appreciate your interest in helping out!

[2020-01-24 11:27] rhuss commented on #609
Another option would be to keep `kn source cronjob` but use internally a `PingSource` for 0.13. This would allow us to keep the UX stable but still move on and don't have to deal with split dependencies on eventing. We could even keep --schedule mandatory for `kn source cronjob` while for `kn source ping` its optional (with a default to "* * * * *").

So my prefered options for 0.13 would be:

* R

[2020-01-24 12:03] navidshaikh commented on #609
+1

Let's represent `PingSource` as way to go for scheduled events use cases.

This could add confusion in client UX for users.
If we're to keep CronJob source, we should create equivalent `kind` (though kn would then need to identify if legacyclient to be used or otherwise).

[2020-01-24 21:11] maximilien commented on #623
Cool @samodell. Happy to help. You can assign me anything related to `kn` plugins and creation parameters to start. I'll poke around the backlog today and next week and self-assign what I think I can help with.

[2020-01-24 21:25] maximilien commented on #623
OK just sent a [PR #2132](https://github.com/knative/docs/pull/2132) to add [knfun](https://github.com/maximilien/knfun) to a new client samples section.

[2020-01-24 21:44] #598 closed

[2020-01-27 08:56] rhuss opened #624 "Add `kn source binding ...` command"
`kn source binding` set of commands should be added, perferably still for v0.12.0

The tricky part will be how to specify the `subject`. That probably needs to be split over multiple options like in `--subject apiVersion:kind:name` or `--subject apiVersion:kind --match labelkey1:labelvalue1 --match labelkey2:labelvalue2`

[2020-01-28 14:49] #565 closed

[2020-01-28 21:55] maximilien commented on #623
Closing here since we have other issues being tracked for this. See @samodell comment ^^^

[2020-01-28 21:55] #623 closed

[2020-01-29 08:31] rhuss opened #626 "`--env-from` is not shown in `service describe` and `revision describe`"
When environment variables are specified with `--env-from` to add from a configmap or a secret, they are correcly inserted into the Knative Service but not shown when using `kn service describe` or `kn revision describe`. They should appear on the same level as regular environment variables.

Walkthrough:

[code]

[2020-01-29 20:08] #624 closed

[2020-01-30 03:11] MIBc commented on #626
I can fix it.

[2020-01-30 06:34] rhuss commented on #626
+1, @MIBc going to assign the issue to you

[2020-01-30 09:17] rhuss commented on #606
Good point. I suggest introducing an option `--cluster-local` and `--no-cluster-local`.

[2020-01-30 09:17] rhuss commented on #606
The handling could be similar like for `--concurrency-target`

[2020-01-30 09:29] rhuss commented on #604
Thanks this would be a very helpful addition (i hope tha cmd and args are part of the Knative contract ;-). I suggest to use the following additional options:

* `--arg myfirstarg --arg myarg2 ...`
* `--command "sh script.sh" (instead of the canonical `--command sh --command script.sh` so it is easier to use. Typically one will have only a single binary to use for the command)

For `kn service upd

[2020-01-30 12:00] duglin commented on #604
Another option for the args is to make it the last thing on the command line, then they could just do: `kn service create foo --image foo --command /myexe -- arg1 arg2 arg3`
Having to specify `--arg` for each one is a lot of extra typing.

[2020-01-30 12:16] rhuss commented on #604
Well, that interfers with the name (imaging someone forgets the name then the first arg is taken as name). I'd like to reserve non-option slot explicitly for names/identifiers, not for rarely used features. Also, there is no support for detecting whether arguments come last or in between.

[2020-01-30 12:20] duglin commented on #604
The `--` is the signal for the args, I don't think it'll interfere with the name.
See: https://godoc.org/github.com/spf13/cobra#Command.ArgsLenAtDash

[2020-01-30 12:43] rhuss commented on #604
Yes, but then you could have to put the service name after the double dash, too, intermixing identifiers and args. Also, you would then **require** to use the dash. Imo not something easy to memorize.

Is it really that important and do you expect many args to make `--arg` special and mix names/identifier with this (imo relatively niche) feature and introduce a new concept ("double dash required"

[2020-01-30 12:56] duglin commented on #604
I didn't follow your intermixing comment.  But, my mind jumps to something like `docker run` an `kubectl run` (which does use `--`), where at some point the "rest of the cmd line args" are used as what's passed on to the container. Very similar to your `rm -- -f` example to me.

So, unless we can think of another set of cmd line args that might want to make sure of `--` I don't think it's horrible

[2020-01-30 17:00] rhuss commented on #604
Ah, I see now where you come from: kubectl run (and to some degree `docker run` but with `docker run` it really depends also on the order of options/arguments).

But have you tried this with `kubectl` :

[code]

all are the same, some of them more confusing than others. (btw, just can just drop the `--` if you don't have to use a `-something` in your args)

All what matters here is the order of ar

[2020-01-30 17:02] rhuss commented on #604
Tbh, I really would like to keep that convention: The *only* argument is the name.

(Remember the discussion about adding the image as an argument ? We deliberately decided to be more verbose in favour of clearness over cleverness)

[2020-01-31 20:53] maximilien commented on #606
/assign @maximilien

[2020-01-31 20:54] maximilien commented on #606
@duglin you OK with @rhuss suggested flags? Seems reasonable to me.

[2020-01-31 21:08] maximilien commented on #606
Also, I am assuming this is both at `create` and `update` service.

[2020-01-31 23:30] duglin commented on #606
yep sounds good on both questions

[2020-02-01 08:50] rhuss opened #631 "Add E2E test for "kn source binding" commands"
## In what area(s)?

E2E Testing

## Describe the feature:

We need some E2E tests for the CRUD commands of `kn source binding`

[2020-02-01 12:43] MIBc commented on #631
I'm interested in the issue. I can have a try.

[2020-02-01 13:58] rhuss commented on #631
cool, I will assign it to you

/assign MIBc

[2020-02-02 08:19] #626 closed

[2020-02-03 22:48] maximilien opened #632 "service creation UT w/o `--async` fails with NPE"
## In what area(s)?

Unit tests

Classifications:

## What version of Knative Client?

[code]

## What version of Knative Serving running on your cluster?

## Expected Behavior

The following test should pass.

[code]

## Actual Behavior

Test fails with stack trace:

[code]

If I add `--async` to `fakeServiceCreate(...)` call then it passes. So the passing test is:

[code]

## Steps to Reproduce

[2020-02-04 06:04] navidshaikh commented on #632
`fakeServiceCreate` takes arg `sync bool`; pass `true` if not using `--async` flag
[code]

Adding the test case as you wrote in issue with `true` value for `sync` to `fakeServiceCreate` call
[code]

[2020-02-04 06:07] navidshaikh commented on #632
/close

[2020-02-04 06:28] navidshaikh commented on #577
This was tagged for v0.12.0, there is only one case we'd need to discuss and fix; whether to support removing env var while creating service? (we can create a separate issue and tag to an open milestone) @rhuss

Closing this since most of the cases are addressed.

/close

[2020-02-04 06:28] #577 closed

[2020-02-04 06:35] navidshaikh commented on #480
We have leaf `list` verb for supported sources to cover for now, would be good if we can bring `kn source list`.

@maximilien are you on it?

[2020-02-04 06:39] navidshaikh opened #633 "kn source list-types; plugin support, column for built-in source check"
## In what area(s)?
eventing

Classifications:

/kind feature

## Describe the feature:
Part of https://github.com/knative/client/issues/511

- [ ] Plugin support
- [ ] Add a column to output for showing whether the source is built-in or otherwise.

[2020-02-04 06:40] navidshaikh commented on #511
Created https://github.com/knative/client/issues/633 for remaining items.

/close

[2020-02-04 06:40] #511 closed

[2020-02-04 06:42] navidshaikh commented on #513
@zhanggbj are you working on this?

[2020-02-04 08:20] navidshaikh commented on #544
++
[logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/634/pull-knative-client-integration-tests-latest-release/1224602067885101056#1:build-log.txt%3A557)

[2020-02-04 12:00] navidshaikh commented on #604
/assign @dsimansk

[2020-02-04 13:58] dsimansk commented on #604
/assign @dsimansk

[2020-02-04 16:45] #604 closed

[2020-02-04 17:38] maximilien commented on #632
Hmm, thanks @navidshaikh. Kind of begs the question why that `bool` param is needed when it can be inferred from other args? Is it because you want to test the cases when the args differ? Curious.

[2020-02-04 19:05] jchesterpivotal commented on #205
Following from the [4 Feb 2020 CLI WG meeting](https://docs.google.com/document/d/1Uh7jTWQruBBmic-WmTvtc9cMF95kQrKb5lsqWhNuikM/edit#heading=h.98s6rrkt5nbu), I think that we need to decide:

1. Whether we're keeping `route describe`, and
2. If we're keeping it, what format it should take.

This issue might need to be closed -- _technically_ there's a command and it does spit out information. But th

[2020-02-04 21:56] maximilien opened #636 "generated negative flag `--no-xxx` description are not well capitalized"
## In what area(s)?

utilities

Classifications:

## Describe the feature:

Found during PR #629. It's a _nitpick_ issue but one that should eventually be addressed nonetheless.

When autogenerating the negative of a `bool` flag, e.g., `--cluster-local` and `--no-cluster-local`, the description of the positive flag is used to create the description of the negative by adding: `do not ...` so in thi

[2020-02-05 10:52] rhuss commented on #636
Good point and no nitpicking at all.  We should definitely streamline the help messages. This is also true for shared create/update help message, where an operation like removing an env var by suffixing the name with - is not really useful for  a `create` (as there is guaranteed no such env var yet)

[2020-02-05 11:34] rhuss commented on #577
I don't think that K8s / Knative offers a way to remove an env var coming from a container image.

However, I wouldn't mind to let it be a no-op. But maybe one should adopt the create-message to remove the removal syntax.

But I agree to close this and move it any remaining work to a new issue.

[2020-02-05 11:50] rhuss commented on #636
/assign dsimansk

[2020-02-05 12:15] rhuss commented on #530
There won't be any `ContainerSource` in the future (`SinkBinding` or how it will be eventually called is the successor)

[2020-02-05 12:16] rhuss commented on #444
I think we can close this issue as our new 6-week release cadence seems to be stable.

[2020-02-05 12:16] #444 closed

[2020-02-05 12:21] rhuss commented on #490
What our take on this feature ? I think it would be nice to restrict ourselves to `--limit` and `--request` for all sort of limits, which is more flexible and even reduces the UX surface.

[2020-02-05 12:22] rhuss commented on #423
Let's track the other half of the issue over there at #485 so I'm closing this issue. Let's followup over there.

[2020-02-05 12:22] #423 closed

[2020-02-05 13:33] navidshaikh commented on #490
+1 for `--limits` and `--requests` with two predefined keys for `cpu` and `memory` (and may be we can validate restrictions for specifying requests for GPU as well?)

[2020-02-05 13:49] navidshaikh commented on #632
@maximilien :

Agreed, it can be inferred from the args.

Re-opening the issue if you want to improve this.

[2020-02-05 17:07] daisy-ycguo commented on #572
Close issue because that kn is designed to manage Knative objects. Permissions should be taken carefully. I will seek for other ways to ease the end users ' workload to use ApiServerSource.

[2020-02-05 17:07] #572 closed

[2020-02-06 09:08] dsimansk commented on #438
@rhuss would you like to have `--async` for a while with a deprecation warning? Or rename it in one go?

[2020-02-06 09:34] rhuss commented on #438
Let's deprecate it and remove it in a future version, and if it's only to exercise the deprecation process (which we do not thave yet ;-)

[2020-02-06 22:46] maximilien commented on #632
OK, let me take a pass after I am done with #606

[2020-02-06 23:27] wslyln commented on #424
Hi just double checking is anyone working on this issue? or on the other issue #510?

[2020-02-07 08:56] rhuss commented on #424
I'm currently on the top-level client README and cleaning up some other parts, but otherwise, most of the other documentation ideas mentioned in #510 are probably to implementation on the main documentation site. We are still late though ;-( // @abrennan89

Anything you are interested in particular? If so, i can break down the task in more concrete working items.

[2020-02-07 10:42] rhuss commented on #620
#640 added support for serving v1. The eventing update is tracked in #609, so let's close this issue here.

[2020-02-07 10:42] #620 closed

[2020-02-07 20:08] wslyln commented on #424
@rhuss Any of them would be fine. Though yes breaking down into more concrete items would be helpful :)

[2020-02-07 22:37] #631 closed

[2020-02-08 00:50] wslyln commented on #317
@daisy-ycguo  just wanted to double check you're not working on multiple names on revision delete

I'd be up to work on it revision delete and trigger delete.

I checked the rest of the commands in kn and it doesn't seem like there are any others that multiple arguments really make sense. (I guess there might be a case of updating multiple services at a time, though it'd be pretty tricky)

[2020-02-08 10:17] rhuss commented on #424
@wslyln thanks ! Going to work on breaking down doc items on monday. Stay tuned ;-) ....

[2020-02-08 10:52] #438 closed

[2020-02-08 14:48] #636 closed

[2020-02-10 15:46] #205 closed

[2020-02-10 19:53] navidshaikh opened #646 "Dont generate and apply BYO revision name if Config fields are unchanged"
## In what area(s)?
serving

## What version of Knative Client?
nightly  / released

## What version of Knative Serving running on your cluster?
nightly

## Expected Behavior
No revision should be generated if Configuration fields are unchanged.

## Actual Behavior
New revisions are generated with only Configuration diff being (BYO) revision name.

## Steps to Reproduce the Problem

#### Without B

[2020-02-11 07:39] rhuss commented on #646
Tbh, I'm not sure which behaviour is supposed to be the correct one, as the update operation specifies an image without a digest (but a 'latest' tag). Ideally a new revision should only be created if the the image's digest has been changed. I'm not sure if the client can detect this, when in the BYO case it has to decide whether to create a new revision name or not. In the non-BYO case, the server

[2020-02-11 09:25] navidshaikh commented on #646
Even if provided an image with digest, the behavior is same:

[code]

For other flags like `--env`, repeating same value for an env in successive update also generates new revisions.

[2020-02-11 11:24] dsimansk commented on #533
@rhuss the original issue with `--image` flag is addressed in #647. However, per @itsmurugappan's review and suggestion there other flags that should be treated as unique.
Should I create a new issue to collect the list at least the most obvious/important ones?

Probably it would be worth to contribute flag feature e.g. `UniqueStringVar` back to `spf13/pflag` library, wdyt?

[2020-02-11 13:09] rhuss commented on #533
I think its a good idea to also check our other flags.

wrt/ to contributing back: In principle that would be the way to go, but it looks like that `spf13/cobra` (and probably also "flags") is totally dead as a project. We are waiting for a PR to be merged over 6 months now, without any feedback yet: https://github.com/spf13/cobra/pull/899

So I don't think its worth the effort.

[2020-02-11 14:37] rhuss opened #648 "Update "Installing the Knative CLI" on knative.dev & in README"
## In what area(s)?

## Describe the feature:

The [kn installation instruction] for the kn client is outdated and not well formatted:

* Missing introduction where to download released versions
* Describe how to make it executable and put it into the path
* Missing link to release notes
* Missing instruction how to run kn from Docker images (including volume mount to mount `~/.kubec/config`)
* Pr

[2020-02-11 14:38] rhuss commented on #648
The fiel to be updated is over there in the docs repo (where also the PR needs to be raised): https://github.com/knative/docs/blob/master/docs/install/install-kn.md

[2020-02-11 14:39] rhuss commented on #400
Yes, we would be happy to include this as well in the installation documentation in https://github.com/knative/docs/blob/master/docs/install/install-kn.md

[2020-02-11 14:40] rhuss commented on #400
@drnic Are you still there ;-) ? Sorry for the long delay. If not, no problem, as someone else could pick this up.

[2020-02-11 14:59] daisy-ycguo commented on #567
Current status:

[code]

Proposed changes:

1. Change `SUBSCRIBER_URI` in trigger list to `SINK` as cronjob list and apiserver list
2. Add `AGE` as service list

@rhuss what do you mean by `Also, the condition and reason columns should be the same as for services.`? I think `CONDITIONS`, `READY` and `REASON` are already same as service list.

[2020-02-11 15:40] rhuss commented on #567
I'm now not 100% sure anymore whether we should move from `SUBSCRIBER_URI` to `SINK`, but maybe rename `SUBSCRIBER_URI` to `SUBSCRIBER`, as in the underlying CR there are named `subscriber` and `sink`, so we should not invent our own naming for the subscriber as this very likely confuses people more than it helps.

wrt/ the conditions, ready and reason columns I'm not sure anymore what I meant. So

[2020-02-11 15:46] daisy-ycguo commented on #567
Do you want to keep the uri as `subscriber` or the same patter `svc:event-display` as cronjob and apiserver sources ?

[2020-02-11 16:05] rhuss commented on #567
yes please

[2020-02-11 16:13] rhuss opened #649 "Replace README.md"
## In what area(s)?

## Describe the feature:

The current README is completely outdated and focusses on the wrong parts anyway.

The README.md needs to be rewritten to include:

* Basic installation / download instructions
* A basic sample, either textual or as a screencast a la asciinema
* Overview what parts of Knative are covered, split after eventing and serving
* Developer instructions how t

[2020-02-11 16:25] rhuss commented on #260
We can close this, as we switched already to v1. We decided to stick a single version in the `kn` client for accessing a single endpoint, and align this with the serving lifecycle (e.g. as serving is dropping v1alpha1 support in 0.13.0, so we do in 0.13.0, too)

[2020-02-11 16:25] #260 closed

[2020-02-11 16:28] rhuss commented on #539
Will be implemented as part of #510 .

[2020-02-11 16:44] rhuss opened #650 "Add User Manual"
## In what area(s)?

## Describe the feature:

The user manual should be use case focussed and guide the user through several important use cases. That's different to the reference manual which is more for a quick lookup of options.

The user manual should live on knative.dev, we just track the issue here (but could move it over, too)

I could imagine a TOC like in:

* Installation of kn
* Authent

[2020-02-11 16:48] rhuss opened #651 "Add a FAQ section"
## In what area(s)?

## Describe the feature:

A FAQ should shortly describe how to realize common use cases with a single command. Actually we could borrow some ideas of https://knative.tips and show how those tips could be implemented via `kn` (as it looks like that the ghost behind knative.tips is not very positive to include `kn` on that web site). But other FAQs are equally well suited. Ideal

[2020-02-11 16:52] rhuss opened #652 "Add a Developer Handbook"
This "handbook" is supposed to be a standalone manual which should help to understand the development flow of the client and also should make it easier for newcomers to ramp up.

## Describe the feature:

A  Developer Handbook should describe:

* How to get started with client development
* Described build.sh in detail
* How dependency are to be updated (see #58)
* How PR process works
* How E2E w

[2020-02-11 17:15] rhuss commented on #424
I think we should remove that whole "operations" section and make it part of the #650  User Manual, which eventually should be hosted on knative.dev (to avoid duplication).

Also, the other sectiosn of this user documentation should be absorbed by the user manual.

[2020-02-11 17:44] rhuss opened #653 "Add "kn service export""
## In what area(s)?

## Describe the feature:

A `kn service export` should export a specific Knative service in yaml/json so that it can be easily recreated. It's different to `kn service describe -o yaml` as it strips all runtime specific elements like the status and metadata like the namespace. The idea is that the exported description can be easily committed to a CM system and re-created with

[2020-02-11 17:51] rhuss opened #654 "Add "kn service import""
## In what area(s)?

## Describe the feature:

Add a `kn service import` command to import a YAML/JSON description of a service. This is the equivalent of `kubectl create -f`  but can be used also via the Knative API contract. The idea is that `kn service export` (#653) and `kn service import` are complementary.

Possible options:

* `--apply` : Use an apply algorithm like with `kubectl apply` (i.

[2020-02-11 18:01] rhuss opened #655 "Add "kn service apply""
## In what area(s)?

## Describe the feature:

One criticism of `kn service create` is its _imperative nature_ (also I only partially agree as I think at the end we still just create a declarative resource descriptor which is thrown over to k8s)

We have `kn service create --force` but this (a) not very intuitive and (b) not idempotent (IIRC).

I suggest adding a `kn service apply` with the very s

[2020-02-11 18:30] duglin commented on #653
I like this idea - it will also help with people who want to learn about Kn by easily seeing how someone else created their KnService.

[2020-02-11 18:32] duglin commented on #654
if nothing else we'd need this to be symmetrical with your `kn export` cmd
People's OCD would kick in :-)

[2020-02-11 22:35] maximilien commented on #632
/assign @maximilien

[2020-02-11 22:57] maximilien commented on #651
Happy to contribute to this @rhuss. Did you have a list of initial FAQ in mind? If not I can suggest a few and we can add them here as tasks. Cool?

[2020-02-12 00:29] wslyln commented on #317
/assign

[2020-02-12 02:39] drnic commented on #400
@rhuss I chatted with @maximilien about the steps we need to take, the new repo + permissions I'd need. I can pair with you/someone who has those permissions? I'm in GMT+10/Brisbane AU timezone.

[2020-02-12 06:45] #632 closed

[2020-02-12 07:14] rhuss commented on #654
Yes sure. Export / Import needs to be 'roundtripable'.

[2020-02-12 07:14] rhuss commented on #651
Good idea,  lets collect some FAQs here until we decide where to put them eventually.

[2020-02-12 09:26] rhuss commented on #400
@drnic could you summarize what repo you would need and which structure ? I'm asking because there is a little bit of process involved in creating a new GitHub repo and adjusting the permission (as we have to ask others because we don't have enough perms for doing so). So there is unfortunately nothing we could do 'live' ;-(

[2020-02-12 11:11] #533 closed

[2020-02-12 14:27] #568 closed

[2020-02-12 15:41] itsmurugappan commented on #653
@rhuss Can I work on this ? Recently did something similar for my cluster.
https://github.com/itsmurugappan/k8s-resource-backup
My intention was to back up the knative resources and restore if there was an issue. While restoring,  if the service had multiple revisions with traffic splitting it was tricky, I had to apply the service for each revision and then apply the traffic changes.

For example

[2020-02-12 19:43] rhuss commented on #653
@itsmurugappan Yes sure! Let's get it started ;-)

I think first we should do a plain export for a naked service without revision history. This, of course, works only when there is no traffic split, so probably only for simple cases (too simplistic ?).

The other case, to export / import also the revisions (ideally only those referenced in a traffic section of a service, but maybe with an option a

[2020-02-12 21:11] drnic commented on #400
1. [ ] I'll make a standalone repo with the `knative-client.rb` brew recipe in it and nothing else
2. [ ] You create github.com/knative/homebrew-knative
3. [ ] Pull my repo in to it
4. [ ] You setup CI to run a script like https://github.com/starkandwayne/homebrew-cf/blob/master/ci/scripts/update-homebrew.sh to bump the `knative-client.rb` based on a latest https://github.com/knative/client github

[2020-02-12 21:52] rhuss commented on #400
@drnic thanks for the writing down the steps required !

@mattmoor Do you think we could establish this new dedicated homebrew repo ? I guess it then can be used as a homebrew tap not only for `kn` itself but also for `kn` plugins or for `funk` (if it should get an own cli).

Also for the CI, I guess we could use Prow for doing the file updates as part of an (auto) release.

[2020-02-12 23:12] itsmurugappan commented on #653
Thanks @rhuss I will get started with the plain export first.

[2020-02-13 05:27] drnic commented on #400
Correct; the one repo can house lots of *.rb recipes; and the `update-homebrew.sh` can bump any specific one in CI

[2020-02-13 05:49] mattmoor commented on #400
`brew install knative/knative/knative-client` is kind of a mouthful.

I think there's a very strong case for creating a repo to support this, but if its name directly affects the install experience, maybe we should bikeshed that a bit first?

[2020-02-13 06:30] drnic commented on #400
Many ppl break it into two instructions:

brew tap knative/knative
brew install <recipe>

--
Dr Nic Williams
Stark & Wayne LLC
http://starkandwayne.com
+61 437 276 076
twitter @drnic

[2020-02-13 07:24] rhuss opened #662 "Allow an option whether to use retries on modified errors in update operations"
## In what area(s)?

## Describe the feature:

I wonder whether it would be a good feature to allow the user to choose whether she wants to have a retry mechanism when an optimistic lock error is returned by the server during an update operation. This happens if the object to be update changes between the initial "get" and "update" API calls:

* client: Get the object to update from API server
* c

[2020-02-13 07:38] rhuss commented on #400
Ideally, I would like to have a `knative/kn` as the preferred choice or `knative/knative/kn` as a second choice. (so, replacing `knative-client` by the command name how it is called: `kn`).

Plugins then could be named like the command, too: `kn-build`, `kn-migrate`, ...), or if it's our plugin collection `kn-contrib`

For the second part, we could also something different than `knative` to avoid

[2020-02-13 07:40] #567 closed

[2020-02-13 12:28] duglin commented on #662
I think "A" might be the best approach. I didn't realize we'd retry today so exposing that to the user (as an advanced option) so that they can control if they want that at all would be good.

"B" is interesting but I'm not sure it's really worth all of the effort, plus I'd still want a way for the user to say "never retry even if just `status` was updated", which gets back to "A". Also, "B" might

[2020-02-13 14:57] rhuss commented on #662
I think, too, that we should start with [A].

BTW, this feature would be also another example for a value add over the usage of plain YAML descriptors (like the sync wait on route ready when creating a service)

[2020-02-13 15:18] mattmoor commented on #400
I see, this seems much more reasonable, thanks for explaining!

I like this better too.

LMK when I should start pushing for a name in particular, and I'll poke folks.

[2020-02-13 17:35] rhuss commented on #400
@drnic are we good with the proposal in https://github.com/knative/client/issues/400#issuecomment-585592616 ? (i.e. having a repo `knative/homebrew-client` ? I then would kick off the process to create that repo ...

[2020-02-13 23:37] drnic commented on #400
One common tap name, if there's any pattern at all, would be to name the repo `homebrew-tap` and then it would be `brew install knative/tap`.

As research, here is the list of taps I have installed on my laptop. Five are called `tap`, all others are unique.

[code]

[2020-02-14 10:26] daisy-ycguo commented on #566
@navidshaikh will you provide more details for "verifying the events at the sink" ?

[2020-02-14 11:06] rhuss commented on #400
As I'm not sure whether there will be other homebrew taps below `knative/` I still opt for `homebrew-client` (also because it seems that there is not hard convention.

Also on my machine it looks like:

[code]

(not a single `tap`).

@mattmoor can you please kick the tires to create a `knative/homebrew-client` repo ? This would be awesome ! The purpose of this repo would be to hold the homebrew fo

[2020-02-14 13:19] navidshaikh commented on #566
@daisy-ycguo : We can use `gcr.io/knative-releases/github.com/knative/eventing-contrib/cmd/event_display` to receive events and verify events from logs.

[2020-02-14 23:11] akerekes commented on #445
Looks like this can be closed as the server-side bug has been fixed?

[code]

[2020-02-15 06:59] rhuss commented on #445
Good point, thanks for the heads up.

[2020-02-15 06:59] #445 closed

[2020-02-16 08:06] MIBc commented on #648
I can have a try.

[2020-02-16 09:14] rhuss commented on #648
Cool, thanks ! Actually it would be best to start over there at docs, to improve the installation documentation. Also, please track #400 as we are about to enable a brew based installation.

The README rework is long overdue and is the next on my task list. As soon as I'm there we should update the instructions here, too.

/assign MiBc

[2020-02-16 14:01] MIBc commented on #646
If `revision-name` is not set and other args are not changed. It will ceate a new revision name which writed in service spec.  So the `update revision` create a new revision.

If the `revision-name` ="" and other args are not changed. The service spec which will be applied has no change. So it will not create a new revision.

[2020-02-17 09:33] navidshaikh commented on #646
Correct, `Empty revision name will result in the server generating a name for the revision.`; server checks no change in configuration and does not generate the revision (as compared in the issue).
This is to track and check if we want to consider Configuration diff client side during update; and accordingly generate revisions.

[2020-02-17 15:39] rhuss opened #671 "Add `--wait` and `--no-wait` for all delete operation"
## In what area(s)?

## Describe the feature:

In order to avoid race conditions when on delete an object and immediately recreate it, by default we should also wait for the end of a delete operation, like we do for `service create` and `service update`.

Therefor a `--wait` and a `--no-wait` option should be added to all "delete" operation. This can reuse our general wait handling util libs.

[2020-02-17 15:48] rhuss commented on #671
/assign dsimansk

[2020-02-17 15:50] rhuss commented on #671
See https://github.com/knative/serving/issues/6876 for some example where this option is useful.

I think also that `--wait` should be the default.

[2020-02-17 16:04] rhuss opened #673 "Example help section should use a real image name"
## In what area(s)?

## Describe the feature:

Currently we are using fake names in the help sections of e.g. `kn service create --help`

[code]

We should replace `dev.local/ns/image` with a *real* image. I suggest gcr.io/knative-samples/helloworld-go but would prefer one with a shorter name (like one from docker.io so we can use it without registry prefix).

This should be done for all commands

[2020-02-17 16:11] rhuss commented on #673
I just pushed a `knativesamples/helloworld` so we could use that in the example calls.

[2020-02-17 17:07] rhuss opened #675 "Add option for adding labels only to service and/or template"
## In what area(s)?

## Describe the feature:

At the moment, when using `kn service create --label` then the labe is put into two places: The service's metadata but also on the revisiontemplate. This is find in many cases, but sometimes one needs more fine grained control to where to put labels.

I suggest to use the following options:

* `--label` for setting a label on both, service & template

[2020-02-17 18:46] duglin commented on #675
re: The fix in #672... I do wonder if it still makes sense to not allow well-known labels on the Revision if we know it'll generate an error. So, after this feature is implemented people can still do `-label serving.knative.dev/visibility=cluster-local` if they wanted, so should we keep the logic from #672 anyway?  Just a thought.

[2020-02-17 21:40] rhuss commented on #675
Yes, that would be the same if the would put two labels into a YAML file and so would get an error back from the server. However, with the possibility to set only the service labels, users can fine-tune it. I would not add too much "magic" and let the server decide what is allowed and what not.

[2020-02-19 00:42] itsmurugappan opened #678 "Add a flag to set RunAsUser"
## In what area(s)?

## Describe the feature:

RunAsUser is a must for clusters which has pod security policies to check for non root users. Currently kn cli doesn't have an option to set the user running the container.
It will be a handy feature for clusters which have psp , afaik most organizations have it.

[code]

[2020-02-19 20:28] akerekes commented on #390
I'm interested in working on this issue.

[2020-02-20 08:15] rhuss commented on #390
@akerekes Thanks a lot for taking over this issue, but I'm not 100% sold that we need this feature that way. Sorry I forgot about this issue (it has been some time).

See my comment at https://github.com/knative/client/pull/683#pullrequestreview-361700746

[2020-02-20 08:19] rhuss commented on #390
My main point is, (a) HTTP logging with body is broken currently (for every sync operation involving a watch, see #485) and (b) we should strive for a more comprehensive solution as described in #333 which makes `--log-http` obsolete.

Also, I'm not sure that we really deal with log files (which has its own difficulties in case of errors), as we are CLI tool and not a background service. IMO we sh

[2020-02-20 10:15] kristianmandrup commented on #315
I had a similar issue getting started with KNative. Just bought the `KNative in Action` book and trying to follow the instructions in Chapter 2:

I installed knative:

- Downloading a binary release for MacOSX (https://storage.googleapis.com/knative-nightly/client/latest/kn-darwin-amd64)
- Set the executable to be permit execution using  `chmod +x`
- Copied the file `kn-darwin-amd64` to `/usr/loca

[2020-02-20 10:28] kristianmandrup commented on #315
Tried to install by cloning repo and running `go install ./cmd/kn`
Finishes after a while without reporting anything to std out (I had previously run it where it listed all the module dependencies)

I guess I need to add it to my `PATH`, but have no idea where the build is after the install

I then tried following other approaches from https://knative.dev/docs/install/install-kn/

The links at the

[2020-02-20 10:33] kristianmandrup commented on #315
Is this the "correct" way of installing KNative!?

To install Knative, first install the CRDs by running the kubectl apply command once with the `-l knative.dev/crd-install=true` flag. This prevents race conditions during the install, which cause intermittent errors:

[code]

To complete the install of Knative and its dependencies, run the `kubectl` apply command again, this time without the `--se

[2020-02-20 10:34] kristianmandrup commented on #315
When I try this approach, I get:

[code]

I've installed Istio though

[2020-02-20 10:51] navidshaikh commented on #315
@kristianmandrup : Thanks for reporting!

go install will output the binary in your `$GOPATH/bin` directory. As part of the go setup, its recommended to have `$GOPATH/bin` added to your $PATH.

Yes, its fixed and ready to be rolled out in the next release, correct links are :

[2020-02-20 10:59] kristianmandrup commented on #315
@navidshaikh Thanks for your quick reply

I installed `go` via `brew install go` on Mac OSX

[code]

`GOPATH` is not set:

[code]

I haven't used Go before, looking at [GOPATH wiki docs](https://github.com/golang/go/wiki/GOPATH)

The `GOPATH` environment variable is used to specify directories outside of `$GOROOT` that contain the source for Go projects and their binaries.

Currently I have no Go

[2020-02-20 11:29] kristianmandrup commented on #315
I still have no idea how to install KNative on Mac OSX using any of these approached.
Would be nice with `brew install knative`

I will try to follow this guide now: https://ubuntu.com/blog/getting-started-with-knative-1

[2020-02-20 12:20] kristianmandrup commented on #648
I've been unable to install the client on my MacOSX. Have been trying many different approaches as outlined in [315](https://github.com/knative/client/issues/315#issuecomment-588901218)

Hope you will soon have the `brew` based solution available. Cheers!

[2020-02-20 12:51] rhuss commented on #648
@kristianmandrup what are the concrete issue, maybe we can fix it quickly. You can download the latest macOS client from https://github.com/knative/client/releases/download/v0.12.0/kn-darwin-amd64 . Then I'd recommend:

[code]

If you a permission (or not-signer-error) because you are running on Mojave, then you can do the following:

* Open in Finder the directory with the downloaded binary
* Rig

[2020-02-20 12:57] kristianmandrup commented on #648
Great. I have not seen these instruction on the install page of the Knative docs site.
Worked like a charm. When I tried this before, I had only used `+x` for `chmod`

[code]

[2020-02-20 13:40] rhuss commented on #648
Sorry for that, sorry. We are currently are on it (e.g. this issue ;-)

[2020-02-20 15:10] rhuss commented on #315
For reference, see #648 for way to install kn on macOs Mojave.

[2020-02-20 21:38] akerekes commented on #485
Alternatively instead of tweaking how logging works we could change the hanging get to polling at: https://github.com/knative/client/blob/963788b7309ec3d538349222bad7b10403f9c134/pkg/wait/poll_watcher.go#L70-L78  if the `--log-http` flag was provided

[2020-02-21 11:57] rhuss commented on #485
Polling should be only the second choice, for performance reasons (but is required on Google Cloud Run AFAIU). So we need to deal with this general way how watches work in K8s.

[2020-02-21 15:44] dsimansk commented on #671
PR #682 extends current wait functionality to allow waiting for various events.

To complete this issue synchronous `delete` op should be used for:
- [ ] service delete
- [ ] revision delete.

[2020-02-25 01:27] wslyln commented on #655
Could I work on this? or is this still be scoped.

[2020-02-25 08:29] navidshaikh commented on #655
/assign @wslyln

I think scope mentioned in the issue description is good to start with.

[2020-02-25 11:22] dsimansk commented on #671
/reopen

To do: sync revision delete.

[2020-02-26 11:55] navidshaikh opened #686 "e2e tests timing out"
Started seeing e2e panicing on timeout after 30 mins
Logs:
* https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/676/pull-knative-client-integration-tests/1232596404271058944#1:build-log.txt%3A552

* https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/676/pull-knative-client-integration-tests/1232563939926085633#1:build-log.txt%3A551

[2020-02-26 12:54] #686 closed

[2020-02-27 19:53] garethr commented on #400
Another naming option. Call the repo `homebrew-tap`. Their isn't exactly a standard here, but there are lots of examples of that. It has the advantage of avoiding some of the repetition issues.

* https://github.com/cloudfoundry/homebrew-tap
* https://github.com/snyk/homebrew-tap
* https://github.com/windmilleng/homebrew-tap

[code]

This also has the advantage of folks being able to install one t

[2020-02-28 10:02] #571 closed

[2020-02-28 10:51] navidshaikh opened #691 "Add e2e for --user flag"
Classifications:
/kind good-first-issue

## Describe the feature:
$subject + for service create and update

[2020-02-28 11:55] #678 closed

[2020-02-28 14:14] daisy-ycguo commented on #500
Close this issue cause it has been resolved a long time ago.

[2020-02-28 14:14] #500 closed

[2020-02-28 14:24] #429 closed

[2020-02-28 14:28] daisy-ycguo commented on #566
I will take care of the item: `Verify the events at configured sink`.

[2020-02-28 14:29] daisy-ycguo commented on #566
/assign daisy-ycguo

[2020-02-28 14:31] daisy-ycguo commented on #650
I hope to help with the eventing part. Please let me know how to start.

[2020-02-28 14:40] itsmurugappan commented on #691
/assign  @itsmurugappan

[2020-02-29 09:47] navidshaikh opened #694 "e2e test flakes: traffic split tests"
## What version of Knative Client?
HEAD

## What version of Knative Serving running on your cluster?
seen against nightly build of serving

## Expected Behavior
Traffic split tests pass.

## Actual Behavior

Flakes in traffic split e2e tests.
[code]
ref: [logs](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/688/pull-knative-client-integration-tests/1233406364882046976#1

[2020-02-29 10:41] navidshaikh opened #695 "e2e test flakes: revision tests"
## In what area(s)?
e2e

## What version of Knative Client?
HEAD
[code]
Note: the flake is unrelated to https://github.com/knative/client/pull/688

## What version of Knative Serving running on your cluster?
HEAD

## Expected Behavior
revision tests pass

## Actual Behavior
revision tests flake

## Steps to Reproduce the Problem
1 - ` kn service create hello --image gcr.io/knative-samples/hellowor

[2020-02-29 10:50] navidshaikh commented on #695
/assign

[2020-02-29 12:40] MIBc commented on #694
I can have a try.

[2020-02-29 13:43] MIBc commented on #694
The test result result is ` ,echo12-rev-2,100,true|latest,echo12-rev-1,0,false`.
It seems that the cmd `kn service update echo12 --untag latest --tag echo12-rev-1=old,echo12-rev-2=latest --namespace kne2etests2` is useless.

[2020-02-29 14:09] #671 closed

[2020-02-29 17:22] #691 closed

[2020-03-02 08:47] #695 closed

[2020-03-02 16:48] rhuss commented on #520
I suggest to use the KafkaSource as first plugin as it looks like that there is some demand for this and its probably also the most useful source (outside of demos).

[2020-03-03 17:00] rhuss commented on #655
@wslyln let me know if you need some more clarification on the scope and use case. Thanks for picking this up !

[2020-03-03 17:17] rhuss commented on #400
I'm open for both `knative/homebrew-client` or `knative/homebrew-tap`, both don't suffer from any repetition issue, with `homebrew-client` focussing on client tooling (as knative's backendpart won't be installed via homebrew for sure).

Let's start a quick poll, and then decide next week when we have released 0.13.0

[2020-03-03 17:19] rhuss commented on #400
Create GitHub repo **knative/homebrew-tap** which leads to an UX like

[code]

Upvotes only.

[2020-03-03 17:20] rhuss commented on #400
Create GitHub repo **knative/homebrew-client** which leads to a UX like

[code]

[2020-03-03 17:29] #649 closed

[2020-03-03 17:52] cppforlife commented on #400
this i think leads to a more convenient experience.

[2020-03-03 18:53] maximilien commented on #400
One reason for `knative/client/kn` is to anticipate other CLIs or homebrew installable components. Thinking specifically of work items from the FaaS WG that is being proposed.

[2020-03-04 08:51] #564 closed

[2020-03-04 20:59] shashwathi commented on #675
/assign @shashwathi
/assign @andrew-su

[2020-03-04 21:42] shashwathi commented on #675
@rhuss

We have couple of clarifying questions
- In the case where user mentions `--label foo=bar --label-service foo=baz` , does `service-label` value take priority over `label` flag?
- In the case where user mentions `--label foo=bar --label-service bar=baz` , does service take both `label` and `label-service` flags?
- In the case where user mentions `--label foo=bar --label-service foo=baz` , d

[2020-03-05 08:33] dsimansk commented on #694
Fixed by #701.

/close

[2020-03-05 08:33] #694 closed

[2020-03-05 11:49] rhuss commented on #675
Thanks a lot for taking over this issue !

To your questions:

Yes, so you end up with `foo=bar` on the pod labels and `foo=baz` on the service label.

Yes, result should be: pod label: foo=bar, service labels: foo=bar, bar=baz

Yes (see above)

Add

Yes

Delete.

-----

In general, the more-specific option overrides the general `--label` option for the specific part.

[2020-03-07 20:27] duglin commented on #534
I believe it was a mutating webhook - it's the knserving one that adds some default values.

[2020-03-07 20:27] #534 closed

[2020-03-09 09:57] navidshaikh commented on #691
/assign @itsmurugappan