[2019-01-04 18:14] vaikas opened #101 "Sample API Usage page is a bit confusing"
/kind doc

## Expected Behavior
Sample API documentation that works

## Actual Behavior
Sample API documentation page here:
https://github.com/knative/serving/blob/master/docs/spec/normative_examples.md#4-deploy-a-revision-from-source

talks about knative tool that doesn't exist and users find it confusing. It would seem clearer to update to use a kubectl example files rather than the tool itself.

[2019-01-10 16:33] scothis opened #1 "Help me diagnose common issues with `kn doctor`"
Like any distributed system, a Knative install includes a lot of moving parts. An error in any one of them can impact the behavior of the system. It would be nice to have a tool that can audit a cluster and check for common configuration issues.

Simple things to check:

- is knative serving installed
  - are the controller, webhook, activator and autoscaler ready
  - does the knative-ingressgatew

[2019-01-10 17:42] sixolet commented on #1
This sounds much more like an operator tool, rather than a developer tool, though a valuable one. It would depend on the knative implementation, not the knative API spec. Let's put it on the list that a parallel operator tools project should handle?

[2019-01-11 01:50] sixolet opened #6 "Move client conventions from serving repo"
As we do that, we should conform it to the commands we plan to build in the reference CLI.

[2019-01-16 06:40] vdemeester commented on #1
It could also _pop up_ in a `version` or `info` command on the cli

[2019-01-17 18:31] cppforlife opened #7 "pick up default namespace from .kube/config instead of hardcoding it in kn"

[2019-01-18 19:50] cppforlife commented on #1
+1 on separate tool for this kind of functionality as it seems to be more installation specific; however, i could see a similar command for a developer to diagnose problems with tree of resources that they deal with: service/builds/etc.

[2019-01-19 18:51] steren opened #8 "kubectl plugin"
Hi,
I have no real idea what a [kubectl plugin](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/) is, but I heard of them and want to open the dialog, mostly to hear opinions and capture the rationale.
I also learnt about [`krew`, a kubectl plugin manager](https://github.com/GoogleContainerTools/krew).

Would it make sense to have a kubectl plugin for Knative?

If so, should it be

[2019-01-19 20:16] sixolet commented on #8
We talked about this a bit when we were chartering the working group. A kubectl plugin is delivered as a binary in its own right; kn can be both! We're borrowing most of the kubectl libs for output and using the same lib for arg parsing, so it should feel about right.

[2019-01-22 16:06] steren commented on #8
Thanks, that makes sense.

CC @ahmetb

[2019-01-22 17:31] ahmetb commented on #8
Unless you plan on ecxposing `kn` as `kubectl serverless [...]` or something like that, you probably shouldn't use plugins.

That said, using https://github.com/kubernetes/cli-runtime helps you reuse the flag parsing, printing etc functionality from kubectl.

I'm happy to discuss kubectl plugins anytime. But unless the client would be advertised as a kubectl subcommand, it is probably not the best

[2019-01-22 17:52] steren commented on #8
I actually opened this issue to discuss this point: do we need a standalone `kn` client? or would a `kubectl` plugin be more idiomatic to our user base?

[2019-01-22 22:36] ahmetb opened #9 "build error"
1. `git clone https://github.com/knative/client.git knative-client` (currently at 38932b1)
2. `cd knative-client`
3. `go install ./cmd/kn`
4. errors out with output:

[code]

similarly `go clean -modcache` doesn't work (fails w/ the same error).

Is this only me (go1.11.4)?

[2019-01-22 23:08] sixolet commented on #9
I made those files with 1.11.2, which it looks like has a bug when modules include symlinks. I'll go get 1.11.4 and see if I can fix it.

[2019-01-29 18:28] sixolet opened #11 "service create"
Write the command to create a service!

[2019-01-29 18:29] sixolet opened #12 "service update"
Write the command to update a service! It should never change the code you are running unless you specifically specify a new image/build.

[2019-01-29 18:30] sixolet opened #13 "service replace"
Write the command to replace a service! It should take all new arguments just like create!

[2019-01-29 18:31] sixolet opened #14 "service describe"
Write the command to describe a service! It should by default print yaml, but have a configurable printer.

[2019-01-29 18:31] sixolet opened #15 "revision describe"
Write a command to describe a revision!

[2019-01-31 15:41] cdrage opened #17 "pickup config from KUBECONFIG"
At the moment the client doen't pick anything up from the KUBECONFIG env.

[code]

[2019-02-01 05:53] nimakaviani commented on #17
+1 on this.

[2019-02-05 22:55] sixolet commented on #9
This should be fixed now.

[2019-02-05 22:55] #9 closed

[2019-02-06 13:45] cdrage opened #23 "Tests don't pass"
I'm not too sure what I'm doing wrong, I'm using go `1.11.5` and this is on master:

[code]

and using the other command `go test ./...`

[code]

[2019-02-08 22:43] #14 closed

[2019-02-20 01:32] evankanderson opened #25 "Consider inverting build/serving control"
A more detailed proposal coming; so far this is a thought experiment.

The current Knative Serving stack sometimes performs a build as a side-effect when deploying a new Revision. When this happens, the Revision is given a reference to the build (which must be a resource in the same cluster) which should block the Revision activation until the build reaches the `Succeeded=True` condition. This has

[2019-02-20 13:13] duglin commented on #25
Number 1 was something I was wondering about too... while the current design is ok for local dev, or even the first stage of a pipeline, since I wouldn't want the build step to be defined/re-run as my app moved thru testing, staging and prod I would end up having to define a new service.yaml w/o the build step for those 2nd+ stages - thus requiring me to keep these two in-sync. Which is error pron

[2019-02-20 19:38] sixolet commented on #25
@duglin I think that putting an `imageWatch` in the Serving area gets us into a much harder dependency on Eventing than I was expecting, and putting a `revisions` list each with its own spec in there has all the problems of not having a history and of "what do you edit" and... etc.

Linking the two with eventing, especially eventing mediated through the image repo, seems like it's introducing a lo

[2019-02-20 19:41] sixolet commented on #25
@evankanderson

Point 1 above is really interesting and a challenge.

Point 2 seems easier to work with, and I'm not sure it's easier if we invert the flow — either way, there's some API point of contact that needs to be made, it's just a question of whose API expanded to include some part of the other group's api.

Point 3, I'm not sure. Does your answer change if we can't push code and configura

[2019-02-21 02:05] duglin commented on #25
`imageWatch` would be optional and just a convenience mechanism so the user doesn't need to define an EventSource, a Subscription and a ServicePoker function themselves. If they want some other way to kick off a redeploy they're free to do so.  But, given that I think an update to image in a repo is going to be one of the more popular triggers people will want, I thought we should make it part of

[2019-02-26 18:31] sixolet commented on #25
Ok, the thing having Serving orchestrate buys us is a single place to put configuration and code information, down to what source code we want to be serving. We can still kick off arbitrary CI flows from serving, but it gives us an API where you describe what you want running and how all in one place, which is valuable.

I keep trying to figure out, for example, what the flow is when you want to c

[2019-02-26 18:42] csantanapr opened #26 "Add DEVELOPMENT.md"
It would be good for the repo to have a document to help new contributors to ramp up for example how to setup their development workstation, any tools and requirements.
It would be useful to align with the Go version, for example serving requires Go 1.12 (released on Feb 25 2019)

Doc cloud include how to build, configure and run the CLI.
Running tests and maybe a TDD approach
References to doc/tu

[2019-02-28 11:38] navidshaikh opened #28 "Configure CI testing"
Adding this issue to track setting up CI-testing for this repo.

[2019-03-02 01:19] sixolet opened #29 "Consider keeping serving->CI/CD control"
This is a proposal that is a counterpoint to #25

It's also drawing heavily from @mattmoor and his [thoughts](https://docs.google.com/presentation/d/1ZpzVngwLb3_P4KRclhWfkSS82pfHW2ZdAqUe4CHXs98/edit#slide=id.g4fc9f938c5_0_257) about our next Serving API rev, even if it disagrees about this one point.

# Motivation

## Live your truth.

When you start using Knative, your day 1 experience probably d

[2019-03-02 01:20] sixolet commented on #29
Highlight to summon @mattmoor @duglin @cppforlife @evankanderson

[2019-03-02 01:22] sixolet opened #30 "Gitops mode"
Let's have a mode where you can provide a directory instead of a server to connect to. Instead of modifying objects on the server, `kn` will modify yaml files in the directory instead, for the `kubectl apply -f` pleasure of your friendly local CI/CD system.

[2019-03-04 14:23] bbrowning opened #33 "Add a command to install Knative"
It would be awesome if `kn` provided an easy way to install Knative. Even more awesome if it could work with a real Kubernetes cluster or let me choose to spin up Knative locally with minikube.

[2019-03-04 14:41] cdrage commented on #33
@bbrowning

`knctl` already has this and it work's well: https://github.com/cppforlife/knctl/blob/master/docs/basic-workflow.md

However.. wouldn't this be a difficult part of the knative client to maintain? Few points:

- Every cluster is different, and even from experience I've had issues configuring Istio / Knative cloud vs bare metal
- If we allow installation of `knative` is it implied that I

[2019-03-04 14:43] kameshsampath commented on #33
@cdrage  - can we not atleast do it for minikube ?

[2019-03-04 15:04] bbrowning commented on #33
I would agree that targeting only minikube initially would simplify a lot of the variables. We can setup a new minikube profile, start a fresh minikube VM, install Istio, install Knative, and do a bit of tuning out of the box to ensure things fit in a reasonably sized minikube instance.

[2019-03-04 15:05] cdrage commented on #33
@kameshsampath Istio is **massive** and requires A LOT of RAM to function. I've had to upgrade my homelab from 8GB to 32GB to even use it and when it does, it takes about 12GB.

Integrating it into Minikube / Minishift would be an option... but obviously we'll have to indicate to the user that you need a beefy machine to use it... enable it as an addon maybe?

[2019-03-04 15:36] kameshsampath commented on #33
@cdrage if you install Istio from maistra then there are lot of components which our Knative OLM operators scales down after install. @bbrowning  correct me if am wrong. I do my every day dev evangelism stuff with 8 GB minikubes.

[2019-03-04 17:15] sixolet commented on #33
Installing Knative is not part of the Knative API, and won't be. This is going to be an operator concern, not a developer concern. I'm closing this in the Client repo, we can make another similar bug in any operator repo as it develops.

[2019-03-04 17:15] #33 closed

[2019-03-04 19:44] sixolet commented on #30
Considerations:
* Downloading the right objects from etcd to a directory for the first time may another gitops usecase.
* Anything that reads status and uses that information becomes harder or impossible (ex, locking revisions to a container digest)
* Keeping only the "interesting" fields might make the directory easier to use.

[2019-03-05 16:37] copejon commented on #23
I've just hit this issue as well in my own project.  The generated clientset code's tests appear to have malformed parameters lists:
[code]

I've tried deleting and regenerated the respective files without success.

Using k8s.io/code-generator (from dep's Gopkg.toml)
[code]

[2019-03-05 17:08] copejon commented on #23
Found a solution here: https://github.com/kubernetes/cluster-registry/issues/271

I fixed this in my project by updating my deps to 1.13.1 and regenerating the clientset:

[code]

[2019-03-05 18:02] evankanderson commented on #29
I have thoughts here, but I also have a lot of peer feedback to write for Google performance reviews, so I'll have better thoughts on Wednesday or Thursday.

[2019-03-05 18:18] cppforlife commented on #30
im somewhat skeptical that this would be that useful if users are using gitops workflow (== more familiar with yamls). what commands do you think will benefit from this?

[2019-03-05 18:54] cppforlife opened #35 "allow all builtin auth providers"
instead of

[code]

let's do

[code]

since that includes all client-go known auth providers

[2019-03-05 19:27] cdrage commented on #23
@copejon Do you know what the steps are to fix? I thought the dependencies were pinned (ping @sixolet). Bit confused how to actually fix / prevent this from happening.

[2019-03-05 19:55] nimakaviani commented on #30
throwing this here since it was discussed during today's call:

knative yaml generator
https://github.com/julz/knightrider

[2019-03-06 07:59] navidshaikh opened #37 "Extra error messages showing up before actual error message"
[code]

Lines starting with 'ERROR: logging before' seem to be some kind of internal error messaging that's popping up. It should be fixed.

[2019-03-06 08:03] navidshaikh opened #38 "Control (default?) help usage printing by cobra upon CLI operational errors"
If there is an error in an operation directed via CLI, CLI prints the error and prints the help usage as well.
This makes reading the error about operation a bit more difficult. One has to locate what went wrong in the text printed on stdout. Apparently, it seems its a default behavior of cobra. This issue is to track controlling the default stdout text printing behavior.

[2019-03-06 14:47] navidshaikh commented on #23
@cdrage : I think the tests are passing now

[code]

[2019-03-08 02:10] mattmoor commented on #29
So the way we inline builds today includes TypeMeta for extensibility:

[code]

Creates Revisions with:
[code]

Where we expect the resource embedded into Configuration as `spec.build` that we reference from Revision as `spec.buildRef` to culminate in a `Succeeded: True` condition.  Given this, I think I'd be inclined to position this as `setup[Ref]:` instead of `build[Ref]:` (if we were to keep t

[2019-03-08 02:28] mattmoor commented on #25
Looking at this in purely declarative terms, just because the user has only patched an environment variable it doesn't mean that they don't want a Build.  This is a declaration of intent, and the user's intention is that the given source is deployed with the new environment variable.

Eliding the build is really an optimization that assumes (with debate-able correctness that) we're further optimiz

[2019-03-08 03:12] sixolet commented on #29
Sorry, the lack of type meta is an elision for clarity that turned into an elision for obscurity. It should be there. I'll add when I get back to a real computer.

[2019-03-08 06:08] sixolet commented on #29
I was imagining setting namespace-scoped or cluster-scoped defaults for "where do you go and agree to put images?" in a configuration, mostly so you can get good defaulting.

It's pretty similar to what we have now, but this introduces two ideas:
* The Service is the input to a Pipeline or other CI/CD system
* The Pipeline or other CD system can take the place of the Service controller for orchest

[2019-03-08 06:10] sixolet commented on #29
One more thought that occurs to me: Another possible valuable arrangement is one where a POST or PUT or PATCH of a changed Service object doesn't directly reference a Pipeline, but the Pipeline is triggered by the POST PUT or PATCH just like it would be if you made a git commit that caused an event to trigger a PipelineRun. In that scenario it'd be some kind of event binding beastie that would be

[2019-03-08 06:11] sixolet commented on #29
And finally, before I leave my computer for the night, Knative could maintain some stock Tekton Task implementations that do a few pleasant classic styles of rollout, so you can get your custom pipelines up and running with a few good choices quickly.

[2019-03-08 06:16] sixolet commented on #25
Directly altering the service on env-only changes loses you any benefit you were getting from your CD system.

Dispatching a Pipeline that culminates in a Service mutation on source changes ends up working, but only for source changes that don't need to be accompanied with simultaneous env changes.

[2019-03-08 08:44] navidshaikh commented on #11
I would like to pick this up, I will draft a design draft for this. Meanwhile, if there are inputs like how should `service create` look like, please do. @cdrage @markito @sixolet @cppforlife @evankanderson

[2019-03-11 17:31] grayside opened #91 "Add ability to note client library/tool identity for usage metrics"
# Expected Behavior

Provide a standard mechanism for tools and libraries to self-report their identity and version. This will allow platforms built on knative to identify what developers are using to deploy services.

# Actual Behavior

None

@steren

[2019-03-12 15:09] copejon commented on #23
@cdrage The steps to fix are a bit messy.  Describing exactly what I did won't be very useful as it was specific to my dependencies' versions.  The end goal with k8s dependencies was to get them all on the same version.  The version mismatch between code-generation, schema packages, client-go, and apimachinery meant that older versions of generated code caused more recently versioned consumers of

[2019-03-13 09:13] navidshaikh opened #40 "Add more details in the output of `service list` command"
`kn service list` lists only the names of services. It could add new columns in the output to print
additional information about the service.

[2019-03-13 09:14] navidshaikh opened #41 "Add more details in the output of `revision list` command"
`kn revision list` lists only the names of the revisions. Other useful information about the revision could be printed.

[2019-03-18 06:45] navidshaikh commented on #17
This can be closed now.

[2019-03-18 06:49] navidshaikh commented on #6
@sixolet How should the resolution of this issue look like?

Move the [Client convention doc](https://github.com/knative/serving/blob/master/docs/client-conventions.md) in client repo and

means, we reference the issue numbers pointing to individual implementation(s) of the command(s) ?

[2019-03-21 21:30] frobware commented on #23
cc @frobware

[2019-03-22 13:07] bbrowning commented on #33
@sixolet I understand your position. I created this issue based on feedback that there should be a very simple way to get Knative up and running on minikube, and minikube is not an operator in the same sense as cloud providers.

But, I'd concede that the most appropriate thing to do is to just simplify the `kubectl`-based install as much as possible for minikube.

[2019-03-25 05:44] navidshaikh opened #45 "Create a service from pre-built container (no build involved)"
As a user I want to deploy a pre-built container from a container registry into OpenShift using Knative APIs so that my container can be auto-scale based on events and be accessible through a URL.

**Input:**
Given: Arg : Service name (mandatory)
Given: Flag: Container repository URL  (mandatory)
Given: Flag: Env vars (strings) (optional)
Given: Flag: Concurrency (optional)

**Output:**
Create a k

[2019-03-28 05:59] navidshaikh commented on #45
Edit: Updated the issue description to include `--concurrency` flag.

[2019-03-29 11:34] #37 closed

[2019-03-29 19:07] #38 closed

[2019-04-02 04:06] csantanapr commented on #11
/milestone v0.1.0

[2019-04-02 04:08] csantanapr commented on #12
/milestone v0.1.0

[2019-04-02 04:08] csantanapr commented on #13
/milestone v0.1.0

[2019-04-02 04:08] csantanapr commented on #28
/milestone v0.1.0

[2019-04-02 04:13] csantanapr commented on #40
/milestone v0.1.0

[2019-04-02 04:14] csantanapr commented on #41
/milestone v0.1.0

[2019-04-02 04:16] csantanapr opened #48 "service get"
implement `kn service get <service_name>`

[2019-04-02 04:16] csantanapr commented on #48
/milestone v0.1.0

[2019-04-02 04:17] csantanapr opened #49 "service delete"
Implement `kn service delete <service_name>`

[2019-04-02 04:17] csantanapr commented on #49
/milestone v0.1.0

[2019-04-02 04:18] csantanapr opened #50 "service create with cpu requests and limits"

[2019-04-02 04:18] csantanapr commented on #50
/milestone v0.1.0

[2019-04-02 04:19] csantanapr opened #51 "kn CLI docs, guide, examples"
Have docs for CLI in the docs repo publish to website

[2019-04-02 04:19] csantanapr commented on #51
/milestone v0.1.0

[2019-04-02 04:20] csantanapr opened #52 "Implements scripts to cut a release"

[2019-04-02 04:20] csantanapr commented on #52
/milestone v0.1.0

[2019-04-02 04:20] csantanapr opened #53 "Publish artifacts CLI binary for Mac and Linux for nightly and v0.1.0"

[2019-04-02 04:21] csantanapr commented on #53
/milestone v0.1.0

[2019-04-02 17:35] sixolet opened #54 "Wait for the service to be Ready by default"
Use `--async` to not wait.

[2019-04-02 17:36] #26 closed

[2019-04-04 15:52] navidshaikh commented on #40
[code]

does this set of columns look okay ? Do we want to add more there ?

[2019-04-04 19:30] bbrowning opened #58 "DEVELOPMENT.md should describe how to update dependency versions"
Something like https://github.com/knative/serving/blob/1034bf9b3fc304a944cfccb078198bb26c36ce31/DEVELOPMENT.md#iterating

Especially since we're different from other Knative repos - I was able to figure out, with some internet searching, that to update test-infra in my particular case I needed:

[code]

[2019-04-04 20:18] bbrowning commented on #58
And, as it turns out, test-infra is the only thing that is also vendored so I didn't end up updating it properly anyway. I also had to:

[code]

The .gitignore is setup so that anything added to `vendor/` other than test-infra stuff gets ignored.

[2019-04-04 21:19] csantanapr commented on #53
/milestone v0.1.0

[2019-04-05 06:22] navidshaikh commented on #45
This is implemented by https://github.com/knative/client/pull/47 , flags implemented in `service create` with referenced PR are `--image` and `--env-vars`. For the other flags mentioned, lets open another issue to track them.

[2019-04-05 06:22] #45 closed

[2019-04-05 06:29] navidshaikh commented on #48
@csantanapr : what information about `<service_name>` should be printed in this command ?

How does this defer from `kn service list`?

If we can list the data points to be provided by CLI for these two commands, it should help.

[2019-04-05 07:06] navidshaikh commented on #40
Added another column in the output of `service list` output

[code]

[2019-04-05 10:43] navidshaikh opened #61 "Add example usage in service create command"
`kn service create` command doesn't have example listed to be shown in help output.
Lets add it.

[2019-04-08 17:51] #61 closed

[2019-04-09 10:41] navidshaikh opened #65 "Comand usage, aliases, flags and rules"
Lets separate the constant, usage-text, aliases, flags and their respective operations and re-organize them to be usable in command implementations.

Presently, the command implementations defines them all together in the same file.

We should have these items organized properly and imported as needed. This should help in testing as well.

- [ ] Command usage text

- [ ] Command example text

- [

[2019-04-09 11:03] navidshaikh opened #66 "Regroup the command implementations in respective sub-packages"
Presently, all the command implementations reside under `pkg/kn/commands/`, we should re-group the implementations based on command-group.

for eg:

`pkg/kn/commands/service/`  <-- implementing all the sub-commands under `kn service`
`pkg/kn/commands/revision/`
`pkg/kn/commands/build/`
`pkg/kn/commands/`

and so on..

[2019-04-09 12:30] #28 closed

[2019-04-09 12:38] navidshaikh commented on #41
Presently `kn revision list` prints only revision names, proposing to add following 4 new columns in the output
[code]
rest of the details for a revision can be seen in `service describe` command.

Do we want some more info other than what's enlisted above (for revision list) ?

[2019-04-11 11:33] rhuss commented on #7
Maybe also add a global `--namespace` option for specifying the namespace to operate on.

[2019-04-11 14:13] rhuss opened #67 "Update to knative-serving 0.4.0 as dependency"
Currently, the client's dependency on knative serving is still 0.3.0 in `go.mod`.

[2019-04-11 23:53] #49 closed

[2019-04-12 00:06] cppforlife commented on #11
service create was added.
/close

[2019-04-12 00:06] #11 closed

[2019-04-12 00:10] maximilien commented on #50
What does this look like? I suggest:

[code]
Working on this based on above assumption as specified [here](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#how-pods-with-resource-limits-are-run)

[2019-04-12 06:37] rhuss commented on #50
I would turn it around (as in `--requests-cpu`) as imo one should also add `--requests-memory` as well for the resource restrictions, so reflect the hierarchy like in resources spec itself.

BTW, any reason why memory was not included for this feature request ?

[2019-04-12 06:50] navidshaikh commented on #50
I agree with @rhuss for `--requests-cpu`, `--limits-cpu`, `--requests-memory` and `--limits-memory`.

Regarding the unit of resources, I think we should support both.
The detailed info on the units can be found [here](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#resource-requests-and-limits-of-pod-and-container).

[2019-04-12 07:08] rhuss commented on #48
I would like to suggest to combine `kn service list` and `kn service get` to a single command `kn service get` for the following reasons:

* It reduces the UX surface by having one subcommand less. This is IMO always a good thing. `kn service get` without argument can just list all services.
* It mimics the behaviour of `kubectl get` where `kubectl get` without argument just list all resources. So

[2019-04-12 07:17] rhuss commented on #48
Another argument for having a single 'kn service get' for listing and showing is a typical ux flow:

* List all service available
* Then: Select a single service to get details.

So you can call 'kn service get', check the output, cursor up for one step back in shell history and then just add the service of interest to the end of the command.

[2019-04-12 09:33] rhuss opened #71 "Support wildcards when selecting resources"
When using commands which requires a resource name as argument like `kn revision get <revision>` or `kn service get <srv>` (or `kn service list` if not merged together with `kn service get` as proposed in #48), then having a wildcard evaluation on the argument would be very helpful, especially when dealing with resource names that have autogenerated suffixes (like revisions).

More general, a sema

[2019-04-12 11:07] rhuss commented on #52
An idea for setting the release number properly during build and release, together with the PR in #69 which introduces a `kn version` command:

* Using a file e.g "NEXT_VERSION" with a single entry (e.g. "0.1.0").
* A `build.sh` which uses

[code]

for setting a snapshot version (according to [semver.org](https://semver.org/#spec-item-9) 1.0.0-eed913e is _before_ 1.0.0)
* A `release.sh` which uses

[2019-04-13 20:56] duglin commented on #71
+1 I have scripts to do stuff like this for me for kubectl cmds. In particular, to get the equivalent of `kubectl logs foo*` is really useful when the pods name is generated.

[2019-04-14 11:21] nak3 opened #72 "Go panic from kn service delete command"
#### Version: 9c21b8df249233b809cabe3afae646e948731f71

#### Steps to produce:

#### 1. Create knative service

(e.g)
[code]

#### 2. Delete the service by kn service delete command

[code]

#### Actual result
- Please refer to step-2

#### Proposal patch
https://github.com/knative/client/pull/73

[2019-04-15 17:56] #72 closed

[2019-04-15 23:05] cppforlife commented on #48
@rhuss downside to combining list and get is that i imagine output format would be quite different. list i imagine is more compact whereas get would show more detailed information.

[2019-04-15 23:08] maximilien commented on #52
Parts of this done in #69

[2019-04-15 23:10] maximilien commented on #52
@rhuss let me know if the scheme in #69 is good enough. Best.

[2019-04-15 23:43] sixolet commented on #48
I like having different list and single-object describe commands. Get vs describe, no particluarly strong opinion about the single-object one, but I do like describe.

[2019-04-16 10:09] rhuss commented on #48
@sixolet +1, I think too that we should distinguish between `get` and `describe` a la kubectl.

I think we could just rename `kn service list` to `kn service get` and allow an argument for filtering on the list. That would be similar to `kubectl get` (and hence less surprising).

`kn service describe` would be reserved then for a detail view of a single service.

Wdyt ?

Of course it depends how c

[2019-04-16 10:23] rhuss commented on #48
@cppforlife I'm not sure whether the output format should be different, if we want to keep the semantics of `get` in kubectl (which actually is a list command there).

|  Operation  | kubectl style | kn style | alternate style |
| --------- | ------------ | -------------- | ----- |
| Summary info | `get` | `list` | `list` |
| Details info | `describe` | `describe` / (`get` now ?) | `show` |

[2019-04-16 10:26] rhuss commented on #52
Looks good, I think its good enough for now. Thanks !

[2019-04-17 12:21] navidshaikh commented on #53
@sixolet : I think we'd need a separate CI job for this, we have script in place to build binaries, IMO we should start building it nightly. WDYT ?

[2019-04-17 13:09] rhuss commented on #48
I suggest #75 for the start of implementation for this issue with `kn service describe` is about presenting the detail information (instead of `kn service get`).

[2019-04-17 13:54] adrcunha commented on #53
Yes, a separate job is required. Currently all Knative modules use the nightly release infrastructure from test-infra. For example:

https://github.com/knative/build/blob/master/hack/release.sh

However, since we're not talking about docker images here, the infra might need some changes to handle that.

[2019-04-17 14:33] sixolet commented on #13
Update leaves any properties it doesn't change the same. Replace is like create: no properties will be on the service that you don't specify.

[2019-04-18 00:41] sixolet commented on #48
I think one thing I *don't* like about kubectl is the fact that `get` works on two different cardnalities.

Operation| Cardnality| kubectl| current kn
---|---|---|---
Summary| One| `get`| n/a
Summary| Many| `get`| `list`
Detail| One| `describe`| `describe`
Detail| Many| n/a| n/a

[2019-04-18 00:42] sixolet commented on #48
(I'm ok with implementing a single-target summary information printing command, but it should be different from the many-target summary-information printing command)

[2019-04-18 07:14] rhuss commented on #48
For `get` (or `list` right now) we are supporting the printing option `-o` from cli-runtime, which treats single entities and a list of entities the same as it e.g. for yaml/json exports either a single object or a list of objects, but with the same content. Same for `-o name`.

In that sense and for staying consistent, I tend to lean to keep the one and many information the same  also for 'human

[2019-04-18 07:57] navidshaikh commented on #13
Alright.

so
[code]
should replace an *existing* service `s1` with specified params, and if `s1` doesn't exist it should raise an error message.
Is this a sane behavior ?

@sixolet : are you planning to pick this one ? or I can take it.

[2019-04-18 14:53] sixolet commented on #13
Go ahead.

[2019-04-22 21:00] maximilien commented on #50
OK makes sense @rhuss and @navidshaikh. Let me see if I can push something soon. Back at it this week so hopefully no more distractions. Best.

[2019-04-22 21:32] evankanderson commented on #50
+1 on supporting units -- having the default units be different than 1 = 1
core seems a little confusing, so I might require units for CPU (or at
least suggest that 75 is a bit wild).

On Thu, Apr 11, 2019 at 11:50 PM Navid Shaikh <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-04-23 23:14] maximilien commented on #65
Do you have an example @navidshaikh?

I asked because if I understood this request correctly, you would have the text moved to a different file or location from the command definition and have a constant in it's place in the definition.

While an interesting suggestion it would result in less readable code --- need to read text file or constant file and code for command.

I kind of like having the

[2019-04-23 23:19] maximilien commented on #8
I believe we need a standalone `kn` client. And having plugins to extend / experiment is also useful. We had some discussion on this on 04/16/2019. I have some opinions and would like to restart the discussion if others are interested.

[2019-04-23 23:23] maximilien commented on #7
I like @rhuss suggestion.

@cppforlife can you elaborate on your title? Or is it simply reading the current `~/.kube/config` and getting the namespace from the first `context` section. So in my case the namespace `default` from:

[code]

[2019-04-23 23:25] maximilien commented on #6
Not sure I understand this. Can you elaborate a bit when you have a second. Thx.

[2019-04-23 23:25] maximilien commented on #1
Perfect as a plugin, once we figure that story out :)

[2019-04-23 23:34] maximilien commented on #12
OK, so maybe this one can be my next victim :)

@sixolet are you thinking update for all params but the image, so for instance:

[code]

This would update the service's name to `new-name` and any values in the request CPU and limits memory as specified.

[code]

This would update the service with `new-name` with a new environment variable `NEW_KEY` and update the old environment variable `KEY` wit

[2019-04-24 10:04] rhuss commented on #12
`name` is immutable, so for an update, you would have to delete and create the service. This is true for Kubernetes resources in general.

Do we have (or is it planned) to have a `rollout` or `deploy` command for updating the image ? If so, I agree to no allow to change the image here. Otherwise changing the image via an update is an easy way to trigger a redeployment.

For an analogy to kubectl:

[2019-04-24 10:06] rhuss commented on #1
Agreed, especially as this kind of functionality touches the *implementation* of Knative, which could be different (like Kubernetes or Appengine)

[2019-04-24 10:07] rhuss commented on #6
I guess its about moving [this document](https://github.com/knative/serving/blob/master/docs/client-conventions.md) to this repository.

[2019-04-24 11:26] navidshaikh commented on #65
That's correct, but in an organized manner, not like a text-file as such.

This came after suggestion from @cppforlife during a PR review.

IMO, keeping the constants part separate from definitions helps being consistent in the help/example language/grammar used across commands.

I do not have an example right now, but I plan to work on this once we have the v0.1 issues sorted.

[2019-04-24 22:46] maximilien commented on #12
I like `kn service update --image=... --env ....` reads better (English) and results in less commands.

But happy to do whichever. At this point just want to move forward.

cc: @sixolet and @cppforlife what say you. I want to get started on this today or tomorrow. Please provide your input please. No input tomorrow then I start with @rhuss suggestion.

[2019-04-25 08:03] rhuss commented on #12
@maximilien it really depends how much power you want to add for changing e.g. `env`.

If it's ok to update single env vars only  (potentially with the option to remove/add one, too, then I agree doing it per options makes is more lighweight.

If we want to support all env var manipulating features of kubectl like:

* Specifying env literally
* Reading env vars from a file
* Using a configmap / se

[2019-04-25 21:27] maximilien commented on #6
OK cool

[2019-04-25 21:29] maximilien commented on #65
I think we should avoid separating text to the code.

[2019-04-25 21:35] maximilien commented on #12
OK, @rhuss I get your point. However, I would vote for one command and allowing multiple flags as needed. Nothing prevents having multiple `--env ...` on a request?

[2019-04-25 21:56] evankanderson commented on #12
Not sure if this will apply here, but I have seen situations in the past where multiple changes needed to be done together, or at least in a specified sequence. To pick on an example that makes me sad every time:

`kn service update kaffe --request-mem 1024Mb --env JAVA_XMX=700M`

(assuming that the actual args to `java -jar foo.jar` includes an `-Xmx${JAVA_XMX}` flag)

Other items that can vary s

[2019-04-25 21:56] cppforlife commented on #12
my vote is for having additional flags on update command.

[2019-04-25 22:06] cppforlife commented on #65
curious which suggestion?

[2019-04-25 23:00] maximilien commented on #12
OK I'll move forward with `kn service update --image=... --env ....` and monitor here for additional opinions or comments. Cheers 🍻

[2019-04-26 06:12] rhuss commented on #12
If you require the changes applied in a specific sequence, using options means to imply an order on the options given. Not sure if you can easily find that out with the current libraries we are using for option handling (and its a bad UX anyway, as no one else imposes semantics on an option ordering. Arguments would be used for that).

I agreed that its good for situations where you want to update

[2019-04-26 08:56] navidshaikh commented on #65
@cppforlife It's for aliases, [here](https://github.com/knative/client/pull/63#discussion_r273158465).

[2019-04-26 12:00] csantanapr commented on #12
What type of env vars was discussed in one of the WG meetings when defining the MVP for the first release and group agree to keep it simple and implement first only simple strings for env vars

[2019-04-26 20:50] cppforlife commented on #71
cant use a star btw as it has meaning for bash.

[2019-04-26 21:10] evankanderson commented on #71
I believe bash will pass through the `*` if it does not glob anything, but if so, that's non-portable between directories and generally a bad idea. On the other hand, you can write `'foo*'` without too much more difficulty, and the familiar syntax may be worth it.

[2019-04-26 22:02] ImJasonH opened #80 "Package kn in a container image"
This would enable users of Tekton and Google Cloud Build to more easily invoke `kn`, e.g.:

[code]

Assuming `kn` doesn't depend on any other tools, you could build and push the image using [`ko publish`](https://github.com/google/ko#ko-publish) (and [`crane copy`](https://github.com/google/go-containerregistry/blob/master/cmd/crane/doc/crane_copy.md) to shorten the image name):

[code]

[2019-04-26 22:28] ImJasonH commented on #80
Related: https://github.com/knative/client/issues/52 https://github.com/knative/client/issues/53

It'd be great to get nightly-built images tagged with the latest commit SHA (or just `:latest`), and release-tagged images built during releases.

[2019-04-26 23:16] sixolet commented on #71
Do we want glob or regex?

I like `kn service get --glob 'myrevision-1-*'` or `kn service get --regex 'myrevision-1-.*'` or something.

[2019-04-26 23:21] sixolet commented on #65
Let's keep text describing flags with the flags, and command usage with the command for now. It's more readable that way.

[2019-04-26 23:21] #65 closed

[2019-04-27 09:08] rhuss commented on #71
Right, a shell will leave * untouched if it doesn't match anything.

And yes, you are in danger if one of your files in the current directory is named after your service like a resource descriptor file, which is not unlikely that such a file exists holding e.g. a service definition.  However, I would expect wildcard matching mostly for matching random suffixes like on revisions for which you proba

[2019-04-28 11:52] duglin commented on #71
Another option I've done in the past for my tools is to assume the name given is a prefix, so just default to "*" at then end under the covers. No worry about bash matching files.

[2019-04-28 11:59] duglin commented on #71
And of course, exact full matches take precedence over longer wild-card possibilities, so an exact match would not result in any potential "don't know which one you mean" type of error.

[2019-04-30 18:22] maximilien commented on #51
/assign @maximilien

I'll take a pass at this. Planning to use the Cobra docs generation to generate a guide from the command's usage text. Might also add some other text to make it stand on it's own.

If any of you have other suggestions and/or things you would like to see in the first pass, please comment here.

[2019-05-02 14:27] navidshaikh opened #84 "Add human friendly printer for resource listing"
We'll need a human-friendly printer for resource listing along with all the printers from genericclioptions https://godoc.org/k8s.io/cli-runtime/pkg/genericclioptions .

For eg: As its done in kube https://github.com/kubernetes/kubernetes/tree/master/pkg/printers

[2019-05-03 09:17] navidshaikh opened #86 "listing services and revisions should respect namespace"
[code]

[2019-05-03 09:20] navidshaikh opened #87 "Add a message on stdout after service create"
`kn service create` returns without any hint, lets add a message about service creation status.
For eg:
Created <SERVICE_NAME> in <NAMESPACE> namespace.

[2019-05-03 10:19] navidshaikh opened #89 "Every error is printed twice"
[code]

[2019-05-03 16:35] steren commented on #91
I do not understand why this has been transferred. the work to be done is on the API side, we need a new field in the `knative/serving` resource to capture some sort of client type.

[2019-05-03 16:53] evankanderson commented on #91
Should Audit Policy be sufficient for this?

https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#audit-policy

User-Agent was added here: https://github.com/kubernetes/kubernetes/issues/64791
Which was fixed here: https://github.com/kubernetes/kubernetes/pull/64812 for 1.12

[2019-05-03 17:08] steren commented on #91
@evankanderson : it would be great if the client name was captured at the revision level, so that developers could easily see which tool was used to create a certain revision. Instead of having to leverage an audit log. What do you think?

If we go with a standard annotation (as approved by @sixolet):

I suggest `client.knative.dev/name`. And the value should be a name that stays the same for a gi

[2019-05-03 17:33] evankanderson commented on #91
The client team could choose to perform this as an extension, but I don't think that most Kubernetes tools will know anything about it, which is why I pointed out Audit Logs as an existing place this is recorded.

If you want to cooperatively record the sending system in the annotation, I don't object, but I don't think the serving API implementation has much it can do here.

[2019-05-03 17:38] grayside commented on #91
What's called for here is:
* A consistent way that anything deploying a revision can declare what tool/service was responsible for that deployment
* A consistent way to find that information starting with a revision.

if the knative/client repo is responsible for the "API program", this makes sense. If knative/client is responsible only for the code & tools created by this community it does not.

[2019-05-03 19:26] evankanderson commented on #91
The lack of support by Kubernetes tools today is an observation. Another observation is that many users may be interacting with the Knative APIs via tooling which is Kubernetes-focused, such as Teraform, Kubectl, Helm, etc.

If there is a requirement that these kubernetes-but-not-knative tools be individually-identifiable, then there needs to be a plan which makes this possible. At the API level,

[2019-05-03 19:29] evankanderson commented on #91
FWIW, I definitely buy the "cluster operators need to be able to determine the software used against the cluster (but not necessarily at low cost)" argument. I'm not sure that I buy the "developers need to know the software used to deploy a revision at high fidelity and low cost" argument.

The audit logging features I mentioned above are available to operators, but not to developers. Using an Kna

[2019-05-03 22:24] maximilien commented on #8
Since this issue is discussing `kn` as a `kubectl` plugin, which is a valid issue for discussion, I am opening a different one on adding plugins to `kn` itself.

I will present and demo a proposal during Tuesday 04/06/2019's call.

[2019-05-03 22:30] maximilien opened #92 "kn plugins"
Add ability for the `kn` CLI to have plugins. This is particularly useful for three important scenarios:

1. allows users of `kn` to extend it with functionality
2. allows experimentation of commands that we don't want to include as a core command, e.g., `$kn doctor`
3. allows those wanting to package `kn` with their own offering of Knative to extend `kn` with additional commands that either:
  a.

[2019-05-03 22:30] maximilien commented on #92
I will present and demo a proposal during Tuesday 04/06/2019's call.

[2019-05-03 23:05] maximilien commented on #51
See PR #93 for at least auto-generated guide. Will work to add some workflow examples next.

[2019-05-04 12:33] rhuss commented on #8
I think one of the main motivation of the `kn` client is to be completely agnostic to Kubernetes and also be able to support Knative implementations which are not based on Kubernetes.

Having plugins for `kn` though is a different story.

[2019-05-06 15:34] csantanapr commented on #92
I think this is good idea to have, and if it can be done by importing a package from kubectl source code to replicate the plugin system that `kubectl` has.

I would avoid clone and own code from kubectl.

This allows also for design and prototype how new commands and the output would like like.

[2019-05-07 01:12] maximilien commented on #92
The following [plugins](https://github.com/maximilien/client/blob/docs/docs/plugins.md) WIP doc on my branch starts to motivate and give use cases to the proposed plugin that I will demo tomorrow.

[2019-05-07 22:20] maximilien commented on #89
This sucks and I think has to do with the fact that we don't wrap errors. My hunch. Did you plan to fix this @navidshaikh? Otherwise I can take a crack at it. LMK.

[2019-05-07 22:21] maximilien commented on #87
I can do this too if you are not addressing. LMK.

[2019-05-07 22:22] maximilien commented on #51
I believe PRs #93 and #94 address this issue. I suggest we close so we can then address specific missing sections of docs or what needs to be updated etc.

[2019-05-07 22:25] maximilien commented on #50
All, this is addressed in PR #81. I suggest we close unless something is missing. And if what is missing is "small change" to current implementation, just open a separate issue and I will address it.

[2019-05-08 20:36] maximilien commented on #89
Sweet @navidshaikh, will do. I'll update here if there are items to discuss before PR. Cheers 🍻

[2019-05-08 21:12] maximilien commented on #89
Actually it's a simpler change. Submitting PR now.

[2019-05-09 22:55] #86 closed

[2019-05-09 23:12] sixolet opened #100 "Integration tests seem flaky"
In a way that doesn't seem to relate to any client code

[2019-05-09 23:27] #84 closed

[2019-05-10 20:30] maximilien opened #102 "`service delete` output should be nicer"
Change:

`Service hello in namespace default deleted`

to

`Service 'hello' in namespace 'default' deleted`

[2019-05-10 20:40] maximilien commented on #102
Fixed in PR #103

[2019-05-10 20:40] #102 closed

[2019-05-11 08:49] rhuss commented on #102
I also think this issue is fixed in #95

[2019-05-13 17:56] #40 closed

[2019-05-13 19:43] maximilien commented on #102
OK. Sorry about that.

[2019-05-13 19:45] maximilien commented on #101
I am also happy to submit a PR to the serving API docs to get it up to date with `kn` --- at least everywhere we can so far. Let me know.

[2019-05-13 19:57] maximilien commented on #66
So I took at pass at this when I was doing the `plugin` command. It's doable but requires the following changes:

1. move some types from `root.go` to a `common` package to avoid import cycles, e.g., this [common package](https://github.com/maximilien/client/blob/kn-plugins/pkg/kn/common) for one of my plugin branches

2. sweeping change to each command to use the common package above, e.g., this

[2019-05-13 20:21] #41 closed

[2019-05-13 21:07] maximilien commented on #100
Seems like there was an issue with getting Istio from servers. Seems fixed now.

[2019-05-13 21:13] maximilien opened #104 "Add integration tests to match the Basic workflow"
This should be structured as start of e2e tests and for the first cut cover the proposed [Basic workflow](https://github.com/knative/client/pull/99). So includes:

1. `create service`
2. `service get`, `service describe` newly created service
3. `service list` that service in in the list
4. `delete service` and verify deleted

Subsequence e2e tests can follow additional advanced workflows with mor

[2019-05-13 21:15] maximilien commented on #104
Unless I hear otherwise, I will add this test and verify it on IKS to also have another additional platform for testing.

[2019-05-14 16:49] navidshaikh commented on #66
IMO, we should aim this as first thing after v0.1.

[2019-05-14 17:15] sixolet commented on #48
Done by https://github.com/knative/client/pull/90

[2019-05-14 17:15] #48 closed

[2019-05-14 17:38] sixolet commented on #50
Done by #81

[2019-05-14 17:38] #50 closed

[2019-05-14 17:41] #12 closed

[2019-05-14 17:44] #87 closed

[2019-05-15 09:43] navidshaikh opened #110 "Split ConfigurationEditFlags and create ConfigurationCreateFlags"
We have `--force` option while creating a service, the `ConfigurationEditFlags` structure can be restructured as suggested here https://github.com/knative/client/pull/79#discussion_r283004004

[2019-05-15 10:53] navidshaikh opened #111 "Unkown subcommand doesn't return any errors"
For example, we've renamed `kn service list` -> `kn service get`, however if ran `list`, it just shows the `help` text for `service` group and doesn't return with exit status 1 or prints that `list` is unkown command.
[code]

This seems to be a known inconsistency with only sub-commands and not with commands.

However, we've a false positive https://github.com/knative/client/blob/master/test/e2e-t

[2019-05-15 12:25] navidshaikh commented on #104
@maximilien : I added few basic workflow commands in script, if you plan to address this in different way, please let me know.

[2019-05-15 13:04] navidshaikh commented on #53
@adrcunha :  Thanks for the input.

Right, instead we'll have 3 `kn` binaries each per platform.
This is needed for nightly and v0.1 release (due today).

[2019-05-15 17:36] maximilien commented on #104
Nice @navidshaikh. Thanks! I'll try it on IKS and submit any changes as needed. Cheers 🍻

[2019-05-15 17:40] maximilien commented on #104
Also, while this is great to start with. I also wanted the tests to be written in Golang. I'll create small example and tee it up for next call so we can discuss.

However, what you have is fine for now. Especially since it follows what @sixolet had in the first e2e.

Cheers.

[2019-05-15 21:31] maximilien opened #114 "Integration tests in Golang"
Allows for:

1. allows assertions on different parts of the command (input and output)
2. allows and more complex workflow with logic between steps
3. should be scalable and easier to understand as tests get complicated

[2019-05-15 21:49] #13 closed

[2019-05-16 13:05] navidshaikh opened #117 "service update command fails if --image flag isn't given"
Updating a service without an image tries to set `""` (default) to config.

`kn service update svc1 --env TARGET=value2` fails.

Since we try to update the image
https://github.com/knative/client/blob/d8e710f389424c1d82be916d4406606b6474a950/pkg/kn/commands/configuration_edit_flags.go#L72 without checking if the user has requested an image update, and if user hasn't requested image update, the def

[2019-05-16 13:06] navidshaikh commented on #117
This is found while writing e2e https://github.com/knative/client/pull/112#issuecomment-493015524

[2019-05-16 15:19] maximilien commented on #104
FYI: Once #112 is merged I will close this. I opened #114 for the Golang version discussion above.

[2019-05-16 22:21] maximilien opened #120 "./hack/build.sh failing"
[code]

Looks liken the file was deleted in #115 but still present in [line 22 of build.sh](https://github.com/knative/client/blob/9ec9671b2ebf8f2094ee3435e009a0f64d9f98db/hack/build.sh#L22)

Commenting that out results in:

[code]

So not clear we can remove it.

[2019-05-17 08:08] rhuss commented on #120
It looks like that the shared code between `build.sh` and `build-binaries.sh` has been moved to `release.sh` exclusively.

I send a PR to re-introduce that part.

[2019-05-17 12:51] maximilien commented on #120
Sweet. Thx @rhuss

[2019-05-17 13:38] adrcunha commented on #120
Sorry, my bad. #123 fixes that.

[2019-05-17 20:37] adrcunha commented on #53
This is done, see https://github.com/knative/test-infra/issues/745.

[2019-05-17 20:37] #53 closed

[2019-05-17 21:58] #23 closed

[2019-05-17 22:05] #117 closed

[2019-05-17 22:06] csantanapr commented on #53
What’s the next step? Create a release branch 0.1.0 ?

[2019-05-17 22:17] #120 closed

[2019-05-17 22:55] adrcunha commented on #53
Yes. I told sixolet the details, happy to elaborate on that offline.

[2019-05-17 23:04] csantanapr commented on #53
Cool thanks @adrcunha 👍🏻

[2019-05-17 23:14] adrcunha commented on #53
Forgot.to mention that you can also talk to @nbarthwal who's documenting the auto-release process.

[2019-05-17 23:25] csantanapr commented on #53
Excellent I was going to ask if we could doc some instructions so we can have others help cut releases

[2019-05-17 23:36] sixolet commented on #51
I think we have enough now!

[2019-05-17 23:36] #51 closed

[2019-05-17 23:42] #104 closed

[2019-05-18 15:13] rhuss opened #126 "Support serving 0.6.0"
Currently running `kn` against a 0.6.0 serving version is problematic because of the changed CRD structure. Kn currently supports 0.5.2.

The two possible solutions:

1. Unconditionally upgrade to 0.6.0 which then will break usage with 0.5.2 installation.
2. Support both 0.5.2 and 0.6.0 versions, where commands discriminate on the API version and act accordingly.

I'm all for the second option, as

[2019-05-18 15:52] sixolet commented on #126
Yes. Let's do the "lemonade" procedure for the next release.

[2019-05-18 19:42] navidshaikh opened #127 "List revisions for given service"
Presently, `kn revision get` will return all available revisions. `kn` should be able to filter the revisions for a given service, for eg: `kn revision get --service svc1`.

[2019-05-18 19:44] navidshaikh commented on #127
The fix should also update [this](https://github.com/knative/client/blob/master/docs/README.md#revision-management) section of docs as well.

[2019-05-19 07:09] duglin opened #128 "Change "get" to "list""
Proposal: change `get` to `list`

When people want to list the set of services running I think `kn service list` is more natural for people. I know this is more of a personal preference kind of thing, especially when you consider that `kubectl` actually uses `get` for both (lists and singular), but if you think about how all of the `kn service` verbs act on a single instance of a service, `get` wo

[2019-05-19 16:28] rhuss commented on #128
FYI, we already had the reverse discussion starting at https://github.com/knative/client/issues/48#issuecomment-483597428 and decided in the WG meeting on [2019-04-23](https://docs.google.com/document/d/1Uh7jTWQruBBmic-WmTvtc9cMF95kQrKb5lsqWhNuikM/edit) to go with `get` over `list` (to be in alignment to kubernetes and following the principle of least surprise even when we do not 100% like the way

[2019-05-19 20:18] rhuss commented on #126
@sixolet Sorry for my ignorance, but what actually do you mean with 'lemonade procedure'  ?

[2019-05-20 05:22] surajnarwade opened #130 "Add support for zsh autocompletion"
Since cobra also supports zsh autocomplation hence $SUBJECT

(I would like to work on this :see_no_evil: )

[2019-05-20 09:17] maximilien commented on #130
PR #132

[2019-05-20 09:49] surajnarwade commented on #130
I wanted to work but anyway thanks :)

[2019-05-20 11:11] navidshaikh commented on #89
Fixed by #96 , thanks @maximilien !

[2019-05-20 11:11] #89 closed

[2019-05-20 12:02] maximilien commented on #130
Was not clear @surajnarwade if you were just requesting ... and I too am a zsh user and that annoyed me too but never looked to see if Cobra supported zsh until you opened this issue. Best.

[2019-05-20 15:24] surajnarwade commented on #130
@maximilien No worries :smile:

[2019-05-20 17:42] #67 closed

[2019-05-20 17:42] rhuss opened #133 "GVK is hard-coded to wrong coordinates"
E.g. in

* https://github.com/knative/client/blob/bd7d57fa0928d605ec60ae47268994cac85ceb33/pkg/kn/commands/service_get.go#L50-L51
* https://github.com/knative/client/blob/a264f060c19723d1a00a678f106da2955ca36fb4/pkg/kn/commands/service_describe.go#L54-L57

the `GroupVersionKind` is hardcoded.

In fact, it should be obtained via from the client library and not hardcoded.

[2019-05-20 20:32] rhuss opened #135 "Autogenerated documentation is not deterministic"
This is due to https://github.com/kubernetes/cli-runtime/issues/3

This bug causes the documentation generation to be constantly fluctuation causing git-dirty files all the time.

I'm going to prepare a fix over there in cli-runtime.

[2019-05-20 20:48] rhuss commented on #135
My bad, the issue was already fixed upstream. We need to update our cli-runtime dependency.

[2019-05-21 14:07] rhuss commented on #126
Ah, found it ;-) https://docs.google.com/presentation/d/1mOhnhy8kA4-K9Necct-NeIwysxze_FUule-8u5ZHmwA/edit#slide=id.p

[2019-05-22 07:09] nak3 opened #138 "Unknown usage for --config option"
This is kind of question and bug report.

Although kn command has `--config` option, no docs explain how to
use it - how we can configure`.kn.yaml`. It looks like the option cannot be used?

[code]

Also, once we put a file in `~/.kn.yaml`, we always get spam logs as
`Using config file: /home/knakayam/.kn.yaml`.

(e.g)
[code]

[2019-05-22 09:37] abrennan89 opened #140 "Better labels and templates for issues needed for this repo"
We probably need more labels for issues - I don't see one for `kind/doc` and some others that exist for example in https://github.com/knative/serving/labels ?

[2019-05-22 09:45] navidshaikh commented on #140
@abrennan89 : thanks for bringing this topic!
/cc @sixolet

[2019-05-22 13:06] maximilien commented on #130
@surajnarwade I think this is merged now so please verify that close if OK. Thx

[2019-05-22 13:22] maximilien opened #141 "Need to add logging to commands and tests"
Currently we use no logs in our commands nor tests.

IMO we *at least* need to have some logging when handling errors in commands and when failing tests so that we have some traces of the errors or failed tests.

This is especially becoming important as we have more commands and implement integration tests across commands. And also since running these tests locally may have different results than

[2019-05-22 13:50] rhuss commented on #141
With logging do you mean extra verbose output `--verbose` switch on more fine granular with logging levels ?

* With `--verbose` we could extra, also human-readable output, which fits nicely in the regular output of the command, probably also on STDOUT.

* With `--debug <level>` we could add extra information which is more of an internal nature and e.g. could also carry timestamps and other contex

[2019-05-22 21:33] evankanderson commented on #140
I added a few more labels, including kind/doc. I didn't copy any of:

area/* -- I can add these if needed, but wasn't sure if they were needed.
auto:flaky -- Will let test-infra add if needed
kind/good-first-issue -- /good-first-issue should work, doesn't seem like it should be a kind
kind/process -- Can add if you want
kind/question -- Again, doesn't feel like a "kind"
kind/spec -- Again, can add

[2019-05-23 08:44] abrennan89 commented on #140
Sounds good, many thanks @evankanderson :)

[2019-05-24 01:16] moficodes commented on #130
i added source < (kn completion --zsh) in my .zshrc but getting
[code]

[2019-05-27 13:49] savitaashture opened #142 "No flags to support container port information while creating service"
This is kind of enhancement to the existing flags of **kn service command**

Description:
When someone writes application which listens on port other than 8080(default port in knative-serving) then deploy using **cli(kn)** then there is no way to specify the port.

**Current:**
Supported flags are
[code]
**Expected:**
Along with current flags it should support **container-port** flag so that user

[2019-05-27 14:03] savitaashture opened #143 "kn service get <service-name> will list all the services"
Get all the services in particular namespace
[code]

get a particular service by specifying service name

**current:**
[code]

**Expected:** Should list only that perticular service.
something like below
[code]

Because of above behavior when we do

[code]

It will give the detailed yaml info for all the services.

**Applicable for all kn commands**

[2019-05-27 14:12] savitaashture commented on #142
/assign

[2019-05-27 15:06] navidshaikh commented on #143
Resource name as argument to `get` command is not yet implemented, `get` command's default behavior is to list all resources in requested namespace. Single resource's `get` is actually `describe` command in human readable format which should support different output formats with `-o` option. @rhuss is on it check https://github.com/knative/client/pull/75

[2019-05-27 15:10] rhuss commented on #143
@navidshaikh I think `get` should be able to list a single resource as well (in short form), much like `kubectl get` does, too. This is especially useful for machine-readable output (`-o json`). We could use the name as literal or as a prefix file (which would be nice for revisions to catch all similar revisions).

`kn service describe` then is for detailed human-readable output only, but `kn get

[2019-05-27 15:15] navidshaikh commented on #143
@rhuss : sounds good, +1

:+1:

[2019-05-27 15:20] savitaashture commented on #143
@rhuss @navidshaikh Thank you

/assign

[2019-05-28 10:12] rhuss commented on #66
@maximilien Is this something you are already on ? I'm asking while I'm working on #14 I also want to split up and separate the commands better (as I want to use some some package scoped vars which shouldn't 'pollute' whole "commands").

I agree that we need a "common" package which should hold the shared code, e.g. `KnParams`. I also believe that `KnParams` should be an interface defined in commo

[2019-05-28 16:25] duglin commented on #128
I wouldn't compare things to kubectl since kubectl is kind of odd in this respect. Sometimes it GETs a single thing, sometimes it GETs multiple - then add in the optional "s" at the end of the resource type - and I wouldn't call it the most UX-friendly.  I view `kn` (like knative) as a better UX thank vanilla Kube. So I was hoping we could do better than the CRUD-like interface of kubectl.

[2019-05-28 17:05] rhuss commented on #135
Fix merged, let's close it.

[2019-05-28 17:05] #135 closed

[2019-05-28 17:08] rhuss commented on #126
We already updated to 0.6.0 dependencies. I think we are good for now, except maybe we should now double check for old and new fields when retrieving objects (step #1 of the lemonade approach).

[2019-05-28 17:15] sixolet commented on #142
This is not part of the knative contract. The knative system supplies the container the enviornment variable PORT, and the container must listen on that port.

[2019-05-28 17:19] sixolet commented on #141
Also this needs to be differentiated from "get logs from a running service", which is also a request (RevisionStatus includes LogURL, we can fetch that tail-style, or at least print it)

[2019-05-28 17:21] rhuss commented on #142
Ah, that's new to me. I thought that it's allowed to specify one single port int the container spec of the service / revision CRD.

@sixolet could you please point me to which knative contract do you refer to ?

[2019-05-28 17:24] rhuss commented on #142
According to https://github.com/knative/serving/blob/master/docs/spec/spec.md the port _can_ be specified in the CRD:

[code]

So I think a `kn service create` should be able to specify that, too ?

[2019-05-28 17:25] sixolet opened #144 "Return unnnested fields when server provides unnested fields"
This is the first step in [the lemonade doc](https://docs.google.com/presentation/d/1mOhnhy8kA4-K9Necct-NeIwysxze_FUule-8u5ZHmwA/edit?pli=1#slide=id.g55ca79ba88_0_58) about how to switch to the new unnested form of the API.

[2019-05-28 17:30] sixolet commented on #126
Blocked by #144

[2019-05-28 18:01] maximilien commented on #66
OK as per discussion today. Let me submit something today. I am sure you guys will have lots of feedback. More soon.

[2019-05-28 22:54] evankanderson commented on #142
The Service spec allows the developer to specify the `container.ports[0].containerPort` argument, which should be reflected into the `PORT` environment variable when the container is started.

[2019-05-28 23:48] maximilien commented on #66
Done in #145

[2019-05-29 02:49] rhuss commented on #142
Thanks for the clarification @evankanderson . @sixolet I think this issue is still a valid use case as it should be possible for the user to specify this single port on the command line like in `kn service create --image myimage --port 9090` which should end up in `container.ports[0].containerPort` (or `containers[0].ports[0].containerPort` for >= 0.7.0) when actually creating the service.

[2019-05-29 04:29] savitaashture commented on #142
Yes Service spec allows to specify port ..Because by default if no port is specified it will take 8080 as containerPort.

But if application is running on some other port then we have to provide a option to user to provide a port  information when they use CLI(kn).

[2019-05-29 07:10] sixolet commented on #142
... Damn, I guess the container runtime contract has changed since last I read it.

[2019-05-29 13:41] duglin opened #146 "Add support for setting min/max scale"
I may have missed it, but I didn't see an issue asking for support for `--min-scale` and `--max-scale` type of options during service creation and update. These would result in setting the `autoscaling.knative.dev/minScale` and `autoscaling.knative.dev/maxScale` annotations on the knService.  I use these all the time, so being able to set the via `kn` would be really really helpful.

[2019-05-29 14:48] savitaashture commented on #142
@sixolet

If we agreed to implement container port than can you reopen the issue...

[2019-05-29 17:19] maximilien commented on #141
Yup. Agreed.

I'll open a separate one for `kn service logs <serviceName>`

[2019-05-29 17:33] maximilien opened #147 "As a user of `kn` I should be able to retrieve the logs from a service"
Current users can access the logs from a service using `kubectl logs service-pod-name` where `service-pod-name` is the name for the pod for the service, assuming it has one.

However, since services scale to 0, their pods may no longer exist. This means having a way to access logs as they run and previous recorded logs may be useful.

So to start, I suggest we expose:

[code]

That returns the log

[2019-05-29 17:34] maximilien commented on #147
Adding this to separate from #141 which is more for debugging and maintenance.

[2019-05-29 17:35] maximilien commented on #141
@rhuss I like your suggestions. So I'll wait for a few days and assuming no additional comments I'd be happy to get to this next and perhaps also #141.

[2019-05-29 18:32] rhuss commented on #147
I think showing logs make much sense, but wouldn't you look into the *revisions* logs, not *service* logs ?

The logs should probably obtained over the provided logUrl, but I have no idea, how these can be routed to the outside. Picking up logs directly from the pods would be difficult as they have to be merged timewise which is probably impossible. For `--follow` this could be achieved by merging

[2019-05-29 18:59] rhuss commented on #147
Just thought again. We definitely can't pick up logs from the Pods as we would have to access the K8s API directly to obtain those (and that's not allowed in the context of kn which is agnostic of K8s).

I'm afraid the only solution, for now, is to show that log URL with `kn` as we don't know anything about the REST API to access the log, and not e.g. how to authenticate.

[2019-05-30 00:33] evankanderson commented on #142
I think it may have been misunderstood or mis-read.

Customers may want to manage an existing container under Knative which
wasn't written to depend on the $PORT parameter, so containerPort allows
dictating to the infrastructure which port to deliver traffic on.

On Wed, May 29, 2019 at 12:10 AM Naomi Seyfer <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-05-30 01:05] houshengbo commented on #80
We can directly run the command "ko publish github.com/knative/client/cmd/kn  -B -t ${tag}" to name the image <KO_DOCKER_REPO>/kn in the image registry. No need of crane copy.

We can define <KO_DOCKER_REPO> as gcr.io/[gcloud-project], docker.io/<username>, etc.

[2019-05-30 13:48] houshengbo commented on #80
I have succeeded in creating the image in my own dockerhub repository, docker.io/houshengbo/kn:latest, with the command:
[code]

When I pulled the image, and did the taskrun run for the following section:
[code]
I have got:
[code]

I was wondering what I have done wrong or I am missing. @ImJasonH Do you have any ideas? Thx.

[2019-05-30 14:55] rhuss commented on #80
@houshengbo just shot in the dark, but could you use `./kn` instead of plain `kn` ? Thoug, I'm not sure what working directory `ko` sets for the generated image, nor what working directory Tekton is using.

[2019-05-30 15:34] duglin opened #151 "add support for setting containerConcurency"
It would be nice to be able to set the `containerConcurrency` field via `kn`:
[code]
See last line.

Something like `--max-concurrency=1`

[2019-05-30 16:54] houshengbo commented on #80
It looks like I need to install crane first to check the path of kn. This is what I have done:
[code]
crane should be install under $GOPATH/bin.

Then run
[code]

Here is the output for the image of kn:
[code]

The most important thing we need to look up is Entrypoint":["/ko-app/kn"], which tells us the path of the command.

I will try /ko-app/kn instead of kn to see how it goes.

[2019-05-30 17:59] houshengbo commented on #80
/assign @houshengbo

[2019-05-31 21:38] rhuss commented on #144
/assign rhuss

[2019-06-02 07:28] rhuss commented on #54
/assign rhuss

[2019-06-02 13:11] rhuss commented on #141
Thanks ! For #141 I believe it's not so easy and needs more help from Knative serving itself. But see my comments over there.

[2019-06-02 13:13] rhuss commented on #146
/assign rhuss

[2019-06-02 16:34] rhuss commented on #127
FYI, #75 introduced a client facade which has a `GetRevisionsForService` method.

[2019-06-02 16:38] rhuss commented on #127
#75 also implements the listing of all revisions as part of `kn service describe` (see screenshots)

[2019-06-02 17:02] rhuss opened #158 "The road to 0.2.0"
@sixolet, @cppforlife, all: Sorry for the many PRs that I opened recently. They all address 0.2.0 issues though and the good news is, I think we are feature complete now wrt/ to 0.2.0.

The not-so-good news is that all those implementations are currently hanging in PRs so there is still some integration work to do. Also, there is some slight overlap (not surprisingly for a still young project) bet

[2019-06-03 07:22] rhuss opened #159 "Improve error message when Knative serving is not installed"
Currently, when the Knative CRDs a missing the error message looks like

[code]

Although the error message is not too bad, I think we can improve it here to be less technical (i.e. removing that post ...) and give some more guidance, like in

[code]

A hint to a potential `kn doctor` (when implemented via #1) could be added here as well.

[2019-06-03 13:40] rhuss commented on #128
I went now back and forth with this UX issue, and I tend to agree with @duglin Although I still think that the 'principle of least suprise' is still a good thing, I'm by no means sure anymore whether it applies to kubectl vs. kn:

* kn and kubectl are already called differently: <verb> <noun> (kubectl) vs <noun> <verb> (kn). Adding a similar behaviour afterwards for "get" is probably much more con

[2019-06-03 20:19] maximilien commented on #158
Great summary @rhuss. I am happy to have #66 updated before or after. Whatever is the path of least resistance. If after I clearly will have more work :( than if before :) but happy to take one for the team.

I will address some pending comments but we should discuss this tomorrow. I added an entry on the agenda.

Hopefully we can tackle that and Plugins? If not we should delay plugins since this

[2019-06-03 20:22] maximilien opened #161 "Improve unit tests"
Based on various discussions on different PRs (pasted below). But the gist is to improve unit tests for commands.

From @rhuss comment on PR #66

100% agree. I'd use [Ginkgo](https://onsi.github.io/ginkgo/)/[Gomega](https://onsi.github.io/gomega) and [Counterfeiter](https://github.com/maxbrunsfeld/counterfeiter).... Or similar tooling

[2019-06-03 20:30] #144 closed

[2019-06-03 23:27] nak3 opened #163 "Running test/presubmit-tests.sh updates go.mod and go.sum"
Currently `test/presubmit-tests.sh` updates `go.mod` and `go.sum`.
Here is my env info and the step to reproduce:

#### 0. go version

[code]

#### 1. Run `test/presubmit-tests.sh`

[code]

#### Actual result

* `go.mod` and `go.sum` are updated. Please refer to https://github.com/knative/client/pull/162 for the diff

[code]

[2019-06-04 16:59] maximilien commented on #130
Nope @moficodes. The generated code comes from the Cobra project. Can you provide what version of Zsh you are using and I'll try to find what is supported from the Cobra code.

[2019-06-04 17:01] maximilien commented on #147
Could we `--follow` the log URL?

[2019-06-04 17:27] sixolet commented on #147
The log URL has no guarantees about what it'll do, right now. For example, in Cloud Run, it's a link to stackdriver, which is a whole log-reading interface.

Furthermore, as @rhuss mentions, the auth to the logs could be completely different from the auth to the k8s master.

If we want a good command line, the serving folks need to do a little definition work about what goes in the URL in question

[2019-06-04 17:27] rhuss commented on #147
For which Pod ? These are scaled up, down. And we would still need to access the k8s API directly for this (a no go in the context of kn)

[2019-06-04 17:28] rhuss commented on #147
Completely agreed, there needs to be some better API support from serving for getting to the logs.

[2019-06-04 21:52] maximilien opened #164 "Refactor root command creation to avoid it knowing about packages of sub-commands"
Currently the `root.go` file where the root command is created needs to import the packages for all the sub-commands that are created. This makes that file a cyclic dependency hog. I moved it to a solo package called `core`. There may be ways to solve this w/o a solo package by passing factory functions. As @rhuss mentions below.

Need to investigate if possible and do this refactor.

---------
@m

[2019-06-05 01:27] duglin commented on #147
Yep, I would suggest that there be a "logs" API on KnServices that's pluggable so each provider can figure out how to get the logs from where ever they store the logs (be that in the pods or some persistence).

[2019-06-06 10:53] rhuss opened #166 "Reconsidering signature of `kn service create`"
At the moment, `kn service` create takes a mandatory argument (the service name) and a mandatory option `--image` for the image to run.

Having a mandatory _option_ (an oxymoron) is kind of an anti-pattern, and I think we should avoid that. Also, a name doesn't have to be mandatory as a default name can be extracted from the image name.

My suggestion would be that instead of

[code]

we use

[cod

[2019-06-06 12:00] duglin commented on #166
I'm a huge +10000 on converting `--image` into a required position parameter. I agree with you that "mandatory options" are weird and that fact that `kubectl` does it doesn't mean they made the right choice :-)    I even tried to find a standard unix/linux command that follows that pattern to see why they did it but have yet to find one.

As for defaulting the name, I'm not as keen on that one sin

[2019-06-06 14:31] rhuss commented on #166
It's a good question, whether having a name automatically inferred by default is a good choice or not.

My argumentation is that even worse than having mandatory options would be to have more than one mandatory argument because then you have to memorize the order of those. In that case (i.e. both name and image are mandatory) I would even opt to make both options, and don't call it options but 'na

[2019-06-06 14:40] duglin commented on #166
I've often seen linux commands with optional args w/o flags, so it would look like this:
[code]
This to me is similar to how cmds like `grep` are of the form:
[code]
where I'm equating FILE to our NAME. This, kind of, gives the best of both - optional but when specified doesn't need a pesky `--name`

[2019-06-06 14:49] rhuss commented on #166
Bu this works also only when name is optional, right ?

has also only _one_ mandatory argument, and grep imo uses not an option but arguments for the filenames because it a vararg and hence wildcards can be used. You can use `grep sth *` which doesn't work with `grep sth --file *`.  That's not the case in our example as we deal with a single name only.

[2019-06-06 14:52] rhuss commented on #147
There's a discussion over there at https://github.com/knative/observability/issues/32 which is exactly about our use case.

[2019-06-06 14:56] duglin commented on #166
I'm suggesting that we do what you want... make name optional. But we can do that my moving it to the end.  To me it's the same as grep because to me the reason for the optional positional arg (FILE) doesn't matter to me (I'm ignoring the fact FILE can be repeated since that's not relevant). When the arg is present we use it. When it is absent we default. And in grep's case that default is "use st

[2019-06-06 15:00] duglin commented on #166
If you'd like, consider `ln [OPTION]... [-T] TARGET LINK_NAME` which has more than one required positional args. Both required in this case though. Or `uniq [OPTION]... [INPUT [OUTPUT]]`. The pattern I see is that optional positional args are common as long as they're at the end (after the required positional args) but the ordering of those optional ones does matter when there's more than one type

[2019-06-06 15:50] sixolet commented on #166
The reason I made it a flag initially was for consistency with the update command, where it is and should remain a flag.

[2019-06-06 16:05] rhuss commented on #166
I see that pattern. As mentioned in the description: It depends whether we value symmetry between create & update over conciseness and semantic consistency (i.e. options being optional).

[code]

vs

[code]

vs

[code]

[2019-06-06 16:08] rhuss commented on #166
@duglin `ln` has only 1 mandatory argument, `uniq` has no mandatory argument. In fact, there are very rare cases where you find more than one mandatory argument.

[2019-06-06 16:14] rhuss commented on #166
I didn't want to open Pandora's box, I think there are arguments for all variations. If there is no common agreement, I will be fine with like it is. The only thing which probably goes beyond the matter of taste is whether we would like to make the name optional for create, defaulting it to the image name (but keep it of course mandatory for update).

[2019-06-06 16:23] rhuss opened #167 "kn service get doesn't respect the current namespace"
Using `kn service get` just prints the Services from the "default" namespace, not only from the current one when no namespace is specified with `--namespace`.

Same is true for any other kn command. Indeed all command should pick up the current context from the configuation.

[2019-06-06 16:24] rhuss commented on #126
I think its fixed with #144 being fixed.

[2019-06-06 16:24] #126 closed

[2019-06-06 17:26] rhuss commented on #7
Related to #167 I guess.

[2019-06-06 17:29] rhuss commented on #167
Well, I think it just creates in the "default" namespace in https://github.com/knative/client/blob/ba59ad8b9addfd0fea184b3a8131dde7041bb5e6/pkg/kn/commands/namespaced.go#L22-L23

[2019-06-06 17:30] #167 closed

[2019-06-06 17:50] duglin commented on #166
Consistency is great! But only when it makes sense. If the same value CAN appear on two different commands, but in one case it's OPTIONAL and in the other it's REQUIRED, then I see no reason why we need to be consistent w.r.t. the present of a `--flag` since the use of a flag is usually about its optionality or not.  Or put another way, on 'update' the image name is just one of many values that ca

[2019-06-06 21:38] maximilien commented on #166
I actually like @duglin last suggestion. So the `NAME` parameter is optional and positional after the required `IMAGE` and as was initially suggested if the name is not present it generated with the image name and some hash. So something like:

[code]

Creates a service with name like: `hello-world-1234`. And the following:

[code]

Creates a service with name like: `hello`

——
A nice side effect

[2019-06-06 21:42] maximilien commented on #163
I am still puzzled at this too... and for me, often, there is an added `junit-report` entry that is added. No idea where it comes from. Solving this is :beer: worthy at this point, when I see you in person :)

[2019-06-06 21:43] maximilien commented on #161
Any opposition to the the tools I mentioned above?

[2019-06-06 21:48] maximilien commented on #92
@sixolet has created a [kn plugin requirements doc](https://docs.google.com/document/d/1lbuwBtqVbd9BFqbxFPAAtPKl5ouVjI6bl5o-_DrcV7c) which will be used to implement this feature.

Please consider joining the discussion. Once stable I will summarize the agreement here and hopefully we can start to implement that feature.

[2019-06-07 00:53] sixolet opened #168 "Test against most recent Serving release && HEAD"
Right now we e2e test against one version of serving. We should test against the most recent release AND head, so we can make sure to preserve support for Serving as it advances.

[2019-06-07 00:59] #163 closed

[2019-06-07 06:08] rhuss commented on #161
Nope as I don't know any of them yet so don't have any preferences ;-) Happy to learn though ...

[2019-06-07 06:13] rhuss commented on #166
I don't like that hash part for everything which is created manually. It totally makes your bash history unusable, forces you more to memorize the name and cause you to call `kn service get` just to find out the name again.

And how often do you create two services with the same image  ? I would just error out if the service already exists and the user has not provided `--force`.

[2019-06-07 12:16] duglin commented on #166
If we don't require a name I think we need to have a well defined, and child mind calculable, pattern for what the name will be. Using the image name for now seems ok, and then erroring if it's already in use, like we do today.

[2019-06-07 13:46] sixolet commented on #166
I must confess I'm a little dubious about automatically naming your service, since it's the thing you always have to name to refer to later for any other operation.

[2019-06-07 15:40] rhuss commented on #166
Isn't it that you can still super easily name the service as you want? It's just that you don't _have_ to as we have a reasonably good default value (convention over configuration). If people stick to this default convention they would also have automatically a direct correlation back to (part of) the image name, which might be helpful if you see a service's name without having access to the inter

[2019-06-07 19:11] houshengbo commented on #168
/assign @houshengbo

[2019-06-07 19:39] maximilien commented on #166
OK so auto-name is out. So looks like we have two possible approached in contention:

1. sequence name from the image name

[code]

2. fail unless `--force`

[code]

I like 1. But I could live with 2. I am easy that way 🏖

[2019-06-07 19:45] maximilien commented on #161
Sweet. I'll cook up something on a simple command so we can all see the resulting shape and impact on imports etc.

[2019-06-07 21:58] houshengbo commented on #168
/assign @houshengbo

[2019-06-08 06:10] rhuss commented on #166
I tend to favour 2. because if you have conventions as user I start to rely on them. So when a service is called after its image by default, then this should happen all the time. I want to be noticed when this cannot be the case so that I can fix it by giving it another name explicitly.

But as mentioned, I don't see having the same image for multiple services in the same namespace as a frequent u

[2019-06-08 15:27] #151 closed

[2019-06-08 16:03] #138 closed

[2019-06-10 01:26] duglin commented on #166
I like 2 as well, but I would change the error to complain about the service name already being used, since that's the real error, not that they forgot to give us a name. Which is the same error they would get if they did `kn service create duglin/echo echo` twice in a row.

I agree that option 1 is a bit odd since it doesn't result in what the user asked for, a name that matches the image name. I

[2019-06-10 02:59] houshengbo opened #174 "build flag -mod=vendor only valid when using modules -- failed to test the integration tests with e2e-test.sh"
I created a google project called vincent-knative as the project to launch the kube cluster. I got error when running the integration tests.
Does anyone know how to configure the env to run the integration tests for knative client?
The error message is "build flag -mod=vendor only valid when using modules" for running "go build -v -mod=vendor ./cmd/...".
What kind of environment variables do I nee

[2019-06-10 05:40] rhuss commented on #174
@houshengbo Do you have your project checked out within `$GOPATH` ? Then you have to set `export GO111MODULE=on` explicitly to switch on go module support.

I think `e2e-tests.sh` should call out to `build.sh` for building instead of calling `go build` on its own, as `build.sh` takes care of setting up everything already.

[2019-06-10 07:14] navidshaikh commented on #111
Issue at https://github.com/spf13/cobra/issues/706

[2019-06-10 15:02] houshengbo commented on #174
Thx. export GO111MODULE=on made it work for me.

[2019-06-10 16:07] rhuss opened #176 "Add CHANGELOG"
I suggest adding a simple changelog file so that people can easily see the content of each release. The benefit of a commit history that you can add the release versions (tags) with release date easily.

I set up a simple example at https://github.com/rhuss/client/blob/pr/changelog/CHANGELOG.adoc with the following characteristics:

* Latest feature in a top-level section "LATEST" without a date
*

[2019-06-10 18:30] #174 closed

[2019-06-10 18:40] maximilien commented on #166
OK fair enough. I can jump on the option 2 bandwagon. Let’s do it.

[2019-06-11 08:51] navidshaikh commented on #128
IMO, we should keep only two verbs for readonly listing of resources,
- (as per proposal) `list`:
  1 - Listing all items of a kind
  2 - Filtering by item name as argument
  3 - Applying machine readable output flags to above two, returning list or single object (`-o yaml|json|` etc)

- #75 `describe`: For descriptive output of the item

[2019-06-11 17:18] rhuss commented on #114
Sorry, a bit late to the party, but I think running `kn` for integrations tests is the closest it gets to how it really is used. Not that I'm totally opposed of putting it to go, but just curious what kind of complex workflows do you have in mind ? Some tests where the output of one is the input to the next ?

Shell script is not so hard to understand and very accessible, too. Together with an IT

[2019-06-11 17:45] maximilien commented on #166
Updating option 2 with better messages:

[code]

[2019-06-11 17:58] evankanderson commented on #128
`list` also needs a human-readable output (e.g. a tabular format).

[2019-06-11 18:06] maximilien commented on #166
Seems like we don't have consensus on option 2 fully after 06/11/2019 call. However, we seem to have agreement that 2 is better than 1 and that most of 2 is OK. In particular, we agreed on:

[code]
The only problem with above, if we use it solely, that is requiring both `IMAGE` and `NAME` is which should go first. This is important since if both are required then should `NAME` be first?

If we agr

[2019-06-11 18:08] sixolet commented on #166
Every other command, the resource to operate on is the one and only positional.

I'm still not convinced to deviate from that.

[2019-06-11 18:28] sixolet commented on #128
The command line we're building is primarily for humans, and there's always -o yaml if you're a robot.

I too find myself annoyed by typing get when I mean list. I'm for changing it back.

[2019-06-11 19:50] maximilien commented on #114
I simply think Golang gives the best overall flexibility.

Simple case is dealing with parsing and creating assertions on output. See how I had to use a `Regexp` in the PR #121 I submitted since the output for listing services includes all kinds of formatting and if you want to assert of service present and state, the resulting bash could be already hairy.

I don't oppose keeping a simple `e2e` te

[2019-06-11 21:35] sixolet commented on #114
I'm 100% for a couple simple smoke tests in bash and more complex stuff in a real programming language like go.

[2019-06-11 21:43] duglin commented on #166
Couple of things that sway my thinking:
1 - I like the pattern of: `kn NOUN VERB NAME-OF-NOUN ...` in general. I think this is very natural for people to remember. So, `kn service create foo ...` is more natural to me than `kn service create <an arg> foo`. I think having the name of the object as the first user-defined arg is important as it helps scope what we're operating on.
2 - I was ok with m

[2019-06-11 21:50] sixolet commented on #166
Even better if image can be flag OR positional so that you can port update commands directly to create.

[2019-06-11 23:19] duglin commented on #166
there's no need for a "flag" since it's required.  flags are for optional things.
I don't think consistency of `--image` is important or relevant since in one case IMAGE is optional and in the other it's required.  IMO it's more confusing to imply it's optional by requiring a flag.

[2019-06-12 12:59] rhuss commented on #166
Before diving in, let me say I'm cool with everything. I'd like to have a good default name if one can be easily extracted and there is a clear 1:1 to the origin (i think that's the case for the image name), but can as well live with a mandatory name (i just saw the default behaviour as a 'naming suggestion' which _does not need to be used_)

I have not many new arguments but let me answer to some

[2019-06-12 13:58] duglin opened #182 "Add a -q/quiet option"
While the current model of printing a "success" message can be useful for newbies, I actually think it kind of odd since IMO most Linux commands tend to be silent unless there are error - or there's really important info you need to get your next job done.  But things like creating a service really shouldn't need any output when things work.  I tend to think that messages like this are handy the f

[2019-06-12 14:21] rhuss commented on #182
I'm happy to support a quiet mode, it's a perfectly valid use case. However, I think there is valuable information which can be printed out, too,  which goes beyond a pure success:

* The URL how a service is reachable (coming with #156) so you save an extra call for looking this up
* The service name (or its 'id') used when after the service is created (you know that discussion ;). Not sure wheth

[2019-06-12 22:08] maximilien commented on #182
+ 1, quiet option makes sense.

[2019-06-12 22:11] maximilien commented on #114
Closing this since #121 is merged. Will add a separate `e2e-smoke-tests.sh` for the bash code this #121 replaced. Dev can then decide what to run themselves.

[2019-06-12 22:11] #114 closed

[2019-06-12 22:14] maximilien commented on #166
Agree @rhuss your summary works for me too.

I'd say unless you see any descending views might be good to just do it.

[2019-06-12 22:15] maximilien commented on #92
See PR #177 for first cut of plugins that match kubectl-style plugins.

[2019-06-12 22:16] maximilien commented on #164
Closing since this was addressed in #145

[2019-06-12 22:16] #164 closed

[2019-06-12 23:26] maximilien opened #184 "Need a `KN_NAMESPACE` env variable to avoid repeating same namespace"
While restoring the e2e tests that use `bash` I realize that a pain point that users of `kn` will experience is having to repeat the same namespace when issuing many commands in a row---If that namespace is not the default namespace.

See the PR #183 or sample snippet here to illustrate:

[code]

A better option would be to have `kn` use `KN_NAMESPACE` env value as the namespace for commands if th

[2019-06-13 01:06] duglin commented on #184
I'm not against a KN_NAMESPACE env var, but I'd like it if we also picked up the namespace from the kube config. So, order of processing would be:
1 - `-n` flag
2 - `KN_NAMESPACE`
3 - Namespace from kube config

Then if people are switching between `kn` and `kubectl`, setting just the kube one will work for both.

[2019-06-13 01:27] maximilien commented on #184
Yup. That's reasonable.

[2019-06-13 12:41] rhuss commented on #184
@maximilien that is already fixed with #36 and using an intial `kubectl config use-context` I don't see the need for a special KN_NAMESPACE. Just use the current context's namespace by default.

[2019-06-13 18:39] maximilien commented on #184
Hmm, not clear. Maybe I need to understand context more.

However, how would you convert the snippet above (listing 1) to look like the second one. That is avoid repeating the `-n $KN_E2E_SMOKE_TESTS_NAMESPACE` in each command. Is it create a context, create namespace. Make that default?

Remember `-n` is an option in all commands. I suspect most users will do what I listed above (listing 1). Thou

[2019-06-13 18:54] duglin commented on #184
I think he means:
[code]
from: https://kubernetes.io/docs/reference/kubectl/cheatsheet/

will set it once for all future kubectl/kn commands.
One of the reasons I was (sort of) ok with KN_NAMESPACE is because I think trying to remember (or having to alias) that kubectl config cmd is asking too much :-)  Why there isn't a KUBE_NAMESPACE env var.... I dunno.

[2019-06-13 19:55] maximilien commented on #184
How is that a great user experience? At least creating a namespace with kubectl is easy: `kubectl create ns blah`

With the config/context scheme, the user has to be using context, understand them, and set it to use the namespace she has in mind. Then remember to change context or namespace of context when she wants to use a different namespace for a series of commands.

I don't see this as a grea

[2019-06-13 20:17] rhuss commented on #184
You can see the 'current context' like a current working directory. Every UNIX command happens in that context (ls, touch, cat), except when you use an absolute path (in our analogy when you use `-n`).

Except that changing the current context is a bit tedious (with `kubectl config use-context <myns>`) its exactly the same concept. There are tools like [kubens](https://github.com/ahmetb/kubectx) w

[2019-06-13 20:20] rhuss commented on #184
Isn't this the same when using an environment variable, so that you have to remember to change the environment variable when you want to use a different namespace ?

What I was suggesting is not to introduce a new context each time but to update the current context with the target namespace (like kubens does)

[2019-06-13 20:56] #128 closed

[2019-06-13 21:14] duglin commented on #128
thanks y'all!

[2019-06-13 21:21] duglin commented on #184
How about we add this:
[code]
then these can do the `kubectl config set-context $(kubectl config current-context) ...` under the covers in the case of setting the NS. Or when we're not setting the NS it sets some `$HOME/.kn/config` thingy as needed.

The point here for me is that it would be really nice if, as a user, I didn't have to set two different NS config options because I expect people to

[2019-06-13 23:39] maximilien commented on #161
OK so I submitted PR #185 with an example UT for the `kn version` command. I know it's a simple one, but I think it illustrates the power (I think) of BDD-style UTs, and of the Ginkgo/Gomega framework. Let me re-iterate a few points and give two examples of what we gain if we start doing UTs this way. There are more but perhaps best to highlight some of the key ones first.

First things first:

1.

[2019-06-13 23:49] maximilien commented on #161
/assign @maximilien

[2019-06-13 23:51] maximilien commented on #92
/assign @maximilien

[2019-06-14 06:16] rhuss commented on #182
/assign rhuss

[2019-06-14 18:30] maximilien opened #188 "Consolidate all `kn` output and use `KnParams.Output`"
Indeed. Saw that. And an item to discuss. Why are not all output redirected in `KnParams.Output`. I will open an issue on this if it's not done. It should help also address #182 in a simpler fashion. Been wanting to have a central place for all communication to user. This is good time to do it.

_Originally posted by @maximilien in https://github.com/knative/client/pull/185/review_comment/create_

[2019-06-18 01:38] duglin commented on #142
+1 this is very important for existing images out there that do not support $PORT or listening on port 8080.

One suggestion, can we name it `--port` instead of `--container-port`? Just to require less typing :-)

@savitaashture are you working on this?

[2019-06-18 04:32] savitaashture commented on #142
@duglin Yes iam working on it :)

[2019-06-18 04:33] savitaashture commented on #142
+1
Yes it will be easy for typing :)

[2019-06-18 12:21] navidshaikh commented on #66
This is completed, thanks @maximilien !

[2019-06-18 12:21] #66 closed

[2019-06-18 13:58] navidshaikh commented on #127
/assign navidshaikh

[2019-06-18 19:54] maximilien commented on #111
We can easily fix this for all command grouped. I'll submit a PR and we can discuss details there.

/assign @maximilien

[2019-06-18 20:57] maximilien commented on #184
Any other opinions on this issue? I am happy to implement the last suggestion.

@rhuss @sixolet @cppforlife chime in if you feel strongly about alternative approaches.

[2019-06-20 13:17] navidshaikh commented on #184
Once https://github.com/knative/client/pull/172 is in, we'll just need to create and set the desired namespace once and we should be good. No need for another var for namespace reference.

[2019-06-20 20:29] #127 closed

[2019-06-21 08:25] rhuss commented on #184
I think the issue is, how we can easily set the current namespace directly with `kn` and without extra help from `kubectl` or `kubens`.

So having a

[code]

as an alternative to

[code]

sound a good idea as long as both `kn` and `kubectl` work on the same config so that they always both use the same default namespace. Nothing would be more confusing than having kubectl another default namespace

[2019-06-21 09:01] navidshaikh commented on #184
This seems reasonable as long as the desired namespace is recorded in kubeconfig (and not in some env var).

[2019-06-21 15:29] rhuss opened #195 "Exchange SERVICE and NAME column in kn revision list output"
The NAME should be always first, and only then the service name to which a revision belongs. This not only for consistencies sake, also to make the first column to be the id (and since a revision name typically is prefixed with the service name, you have both info already in the first column)

[2019-06-21 17:12] csantanapr opened #196 "kn fails when KUBECONFIG multi config files"
kn doesn't support when the env variable `KUBECONFIG` has multiple files

As reference: https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#append-home-kube-config-to-your-kubeconfig-environment-variable

For example in my setup I use IKS and have multiple cluster I deal with, so I load `KUBECONFIG` variable with multiple KUBECONFIG paths including the d

[2019-06-24 01:14] maximilien commented on #184
OK waiting on @sixolet and/or @cppforlife for chime in. I am cool with `kn set-namespace food`

Any other opinions?

----
FYI to all... Nǐ hǎo 网络你好 from Shanghai for KubeCon/CNCon where many internet things don't work :( but GitHub does :) Otherwise all good but expect odd delays in responses.

[2019-06-24 10:41] navidshaikh commented on #196
This should be fixed by PR #36.

[2019-06-24 11:32] csantanapr commented on #196
@navidshaikh

But PR #36 has no activity since 3 months ago and it’s closed 🤷🏻‍♂️

[2019-06-24 13:08] navidshaikh commented on #196
@csantanapr
My bad, selected wrong PR from dropdown, this is correct one https://github.com/knative/client/pull/172

[2019-06-24 13:15] csantanapr commented on #196
Thank you 🙏🏻

[2019-06-24 13:29] navidshaikh opened #201 "Implement kn route list command"
Just like `kn service list` and `kn revision list`

[2019-06-24 13:29] navidshaikh commented on #201
/assign @navidshaikh

[2019-06-24 18:23] #7 closed

[2019-06-25 10:28] navidshaikh opened #203 "Implement kn revision delete command"
Just like `kn service delete`

[2019-06-25 10:29] navidshaikh opened #204 "Implement kn route delete command"
Just like `kn service delete`

[2019-06-25 10:30] navidshaikh opened #205 "Implement kn route describe command"
with `kn route describe` taking an argument for route name

[2019-06-25 10:31] navidshaikh opened #206 "Implement kn revision describe command"
with `kn revision describe` taking an argument for revision name

[2019-06-25 13:13] rhuss commented on #161
As I'm not really in go testing, I tried to find out some more information about test frameworks. In summary, it looks like that most of people I talked to consider Ginkgo to be quite heavyweight compared to the benefits it bring to the table.

Iy looks like that these days people are returning back to lightweight testing support and use testing directly.

E.g I talked with @vdemeester who worked

[2019-06-26 00:43] duglin commented on #204
Just wondering. Are we sure we want to expose all of the resources behind a KnService via the cli? It would be nice if we could push for all/most of the UX to be thru the service object to keep it simple. What are the use cases for needing to edits routes directly via kn instead of kubectl?

Thanks,
-Doug
Sent from my iPhone

[2019-06-26 06:22] savitaashture opened #208 "managing import for different packages"
Currently in knative client we just have two separation for import
**Current:**
1. Standard
2. Combined of Third-party packages,outside repo and within repo
    ex:
[code]
**Expected:**
Instead of combining all together we can separate  import based on there visibility like

1. Standard
2. Third-party packages
3. Within knative and outside client repo (e.g. github.com/knative/serving/pkg/apis/serv

[2019-06-26 07:44] navidshaikh commented on #204
@duglin :

Why?
I don't see complexity in managing the other exposed objects via kn.

I'd again ask, why?
Why we would like to intercept the scopes of client managing their respective API surfaces? As `kn` doesn't jump into k8s API surface, we should make `kn` scope to manage the resources exposed by knative APIs.

[2019-06-26 17:12] duglin commented on #204
TBH I have mixed feeling on this topic. KnServing did a lot of work to move
towards a model where most everything should be done via the Service object
- thus hiding the Config and Routes from most people's view. And I think
that's great.  So, one part of me thinks we're doing the user a dis-service
(no pun intended) by now showing these resources to be on-par with
Service.  IOW, KnServing worked

[2019-06-27 02:28] maximilien opened #210 "Support setting up traffic splitting of service"
With implementations of `kn route` in the works (issues #205, #201, #204), it's perhaps time to think about how to allow users to set traffic splitting on their services.

Not only as potentially a `kn route update ...` with percentage values for different revisions, but also whether other types of traffic routing splitting is warranted.

I know @duglin has ideas on "feature flag traffic splitting

[2019-06-27 03:25] duglin commented on #210
I'd prefer if users didn't think about traffic splitting as a "route" manipulation, because it's not. It's a modification to a KnService resource. As an example, let's say I have this KnService:
[code]
I'd like to discuss how this would appear on a `kn service` command - probably under `update` but only if the syntax fits, if not then a new `verb` might be needed.

Just some brainstorming/rambling

[2019-06-27 06:38] navidshaikh opened #211 "Operation 'service update' failing in e2e tests"
Recently PRs are failing e2e tests for `kn service update` operation, specifically
[code]
this is not 100% re-producible, as for few PRs e2e tests passed, for eg: https://github.com/knative/client/pull/207

[2019-06-27 11:54] rhuss commented on #100
We have now a new kind of Flake for the E2E when using the new go based workflow. Looks like a timing issue:

[code]

E.g. in https://github.com/knative/client/pull/198

[2019-06-27 12:18] rhuss commented on #100
Sorry, overlooked #211 . Let's continue over there ....

[2019-06-28 09:08] daisy-ycguo opened #212 "`kn version` doesn't work"
When I ran `kn version`, I got below output. I think it doesn't work.

[code]

[2019-06-28 12:29] maximilien commented on #212
Never seen this before. Did you build from source? Give more details.

[2019-06-28 12:43] maximilien commented on #211
I’ve never seen this particular error. But good to have a place to track.

Worth noting that I run this on a cluster with an older version of Knative.

@navidshaikh any additional info would be useful. Is this latest release?

[2019-06-28 12:57] #54 closed

[2019-06-28 13:11] maximilien commented on #146
@duglin this is fixed as @rhuss implemented a while ago. Can we close this issue?

... doing a bit of clean up 🧹 to get the issue list down to actual valid list. Thx 🙏🏽

[2019-06-28 13:11] navidshaikh commented on #211
same for me, I'd tested the e2e in a cluster running serving 0.6.0.

I think yes, as we do https://github.com/knative/client/blob/a7d1bc9dc00182d31cb1b946e95c78dba9559060/test/e2e-tests.sh#L38

[2019-06-28 13:13] maximilien commented on #176
I am all for this @rhuss. I assumed we’d reference it in release note.

Did you want to add one for milestone 2 and we could all start editing it?

[2019-06-28 13:21] maximilien commented on #211
OK, thanks. I’ll run it a few times and see if I can reproduce.

NOTE: may have to update any results in a few days as it’s Friday night here in Taipei.

[2019-06-28 16:02] rhuss opened #213 "Consistency in success and error messages"
At the moment we have some inconsistencies when it comes to messages. There are also no written rules how messages should look like.

Examples:

[code]

Issues:

* Different quoting (reason: Error message was given through directly)
* "successfully created" vs. "updated". I'm all for removing "successfully" everywhere as this is a tautology.
* "Service" vs. "services.serving.knative.dev". The latt

[2019-06-28 17:21] #203 closed

[2019-06-28 18:17] rhuss commented on #211
This race might be gone now as we are now defaulting to sync creation so that the service creation which reconciled while the update was called on an outdated version cannot happen.

Of course we should start other tests for the async mode, too, but for now I think we are good.

[2019-06-28 18:21] rhuss commented on #146
This is fixed. Let me close this but @duglin feel free to reopen if you think there is still something todo.

[2019-06-28 18:21] #146 closed

[2019-06-28 18:22] rhuss commented on #212
@daisy-ycguo I suspect you did just a plain `go build`. Please use `hack/build.sh` for building as this script will set the relevant information.

[2019-06-28 18:23] rhuss commented on #100
I think it is fixed now. Let's close this issue and reopen or create a new one, if we see another flake.

[2019-06-28 18:23] #100 closed

[2019-06-28 18:30] #168 closed

[2019-06-28 21:36] rhuss commented on #208
We are now using goimport for arranging the imports, so this is the "standard" we are settling on. Any manual change will currently automatically reverted.

As I learned to get used to that the formatting is kind of part of the language syntax, and now even believe it's a good thing as it all saves us from fruitless discussions, I think we should just take over what goimport does for us.

Tbh, as

[2019-06-29 20:38] rhuss commented on #195
@navidshaikh what's your opinion on this issue ? I think it would be easy to fix, but we should agree on that.

[2019-07-01 01:51] maximilien opened #217 "Support Knative eventing in `kn`"
I know there are at least two proposals in the works for supporting Knative eventing in the `kn` CLI. Proposing that this issue is used to have the initial discussions and when we reach agreements the necessary issues created to break down the features.

cc: @rhuss @daisy-ycguo @csantanapr

[2019-07-01 02:49] daisy-ycguo commented on #212
I downloaded the binary file `kn` directly from below link described at https://github.com/knative/client/blob/master/docs/README.md.

 * [Max OS X](https://storage.cloud.google.com/knative-nightly/client/latest/kn-darwin-amd64)

When I get a new `kn` by building from source code, `kn version` works well.

[2019-07-01 05:36] rhuss commented on #212
Interesting, when I download & run -->

[code]

So it looks like the version is right, but the dependency version is missing (should be '0.6.0').

@sixolet @cppforlife @adrcunha any idea how these nightly binaries are created ?

[2019-07-01 05:43] rhuss commented on #217
@maximilien thanks for opening this issue !

I will have an initial proposal ready end of the day. It will some use cases that we see and has a suggestion how to deal with importer and channel type that are known at kn-build time (e.g. [`KafkaSource`](https://github.com/knative/eventing-contrib/blob/7c0fc5cfa8bd44da0767d9e7b250264ea6eb7d8d/kafka/source/samples/event-source.yaml)) and types that ar

[2019-07-01 05:47] daisy-ycguo commented on #217
Eventing WG is using this [issue](https://github.com/knative/eventing/issues/1381) to track the discussion about UX and use cases.

[2019-07-01 06:14] maximilien commented on #217
Thanks @rhuss for the update.

@daisy-ycguo the idea is to use here for the `kn` specific aspects. But glad to include the cross-link.

[2019-07-01 06:27] rhuss commented on #217
@maximilien  https://docs.google.com/document/d/1DpiSL2dUcYS2n7yXOIG5LJwyIC1lY9q_W8-56U1SvKM/edit?hl=en# has some relevant examples at the end of the document, which illustrates a potential usage pattern for kn (with a higher level of abstraction that we are currently using for managing servicing).

[2019-07-01 07:09] navidshaikh commented on #211
@rhuss : :+1:

[2019-07-01 07:09] #211 closed

[2019-07-01 07:42] navidshaikh commented on #195
@rhuss :

This makes sense to me.

We can also list the revisions for single service, do we want to remove the service name column altogether in that case? (this might require additional work on the printer side to understand when not print given column(s))

[2019-07-01 07:54] rhuss commented on #195
Yes, I think it makes sense to hide the service if the revision is listed for a single service only. This is also the behaviour of kubectl when you list for a single namespace only (namespace is not shown) or across namespaces (e.g. with --all-namespaces, then a namespace column is shown).

But I don't have a very strong opinion on that, so would be ok to keep the service in all cases. The differe

[2019-07-01 11:23] navidshaikh commented on #195
@rhuss : Alright, lets scope this issue for exchanging the column names, we'll address hiding the SERVICE name column altogether with subsequent iterations.

[2019-07-01 13:08] maximilien commented on #217
cc: @Komal-Dhull

[2019-07-01 15:50] #195 closed

[2019-07-01 21:38] sixolet commented on #217
Creating resources for particular eventing sources is an excellent example of where suggested-by-the-server plugins are likely to be a great fit for `kn` — installing the CRD for the eventing source also has a client plugin resource that you install to get the CLI for it.

[2019-07-01 21:50] adrcunha commented on #212
See hack/release.sh

[2019-07-01 22:14] sixolet commented on #210
First some commentary on what's here.

The semantics here suggests this should be removed from the traffic block entirely, but this seems a confusing way to specify that.

This would be a clearer way to specify removing something from traffic.

The traffic assignment command surface is subject to a variety of challenges.

Some goals you might come to the task with:
* Ramp up/down `echo-v3` to 20%,

[2019-07-02 01:35] maximilien commented on #213
This all mostly sounds reasonable to me. Though I am not for automatic translator for messages at this point. Rather a linter (update to the current /lint) that could point out deviations from style guide would be nice. Especially since this could help guarantee consistency now and in future. Best.

[2019-07-02 01:39] maximilien commented on #210
Nice update @sixolet. I have a team member here in Beijing looking at summarizing the discussions traffic splitting in a proposal docs. Let me tag her to make sure she includes your comments.

CC: @zhanggbj

[2019-07-02 01:48] maximilien commented on #184
OK still have not heard from @sixolet and @cppforlife on this. Any opinions?

Otherwise, I can cook up a PR for this. Though we should think about how to retrieve the namespace and removing it. So perhaps something like:

[code]

[2019-07-02 02:00] maximilien commented on #217
Adding another IBM colleague @KomalDhull who has been thinking about Knative, Kn, and eventing.

I believe both @daisy-ycguo and Komal will be joining us to the WG call tonight (1:30a Beijing time) so I will glad to introduce them briefly to the rest of the team. Hangout soon. Cheers :beers:

[2019-07-02 02:24] duglin commented on #210
My concern with basically providing a delta is:
- it assumes people know (for sure) what's out there already - which is risky
- or at least it requires people to do a GET to see what's there - which is combersome
- it assumes no one will edit the state of things between the GET and the delta - see first one

I actually disagree that delta are less error prone, I think it's far harder for people to

[2019-07-02 02:48] duglin commented on #210
to be clear... I'm not against some sort of mixture of the two, but i do think the delta side of it needs to be limited in scope otherwise we'll scare people with the amount of processing rules and delta calculations we're asking of them

[2019-07-02 03:03] sixolet commented on #210
The read-modify-write thing you're worrying about is going to be prevented by a resource version field, when done by the client.

Furthermore, you get a much worse read-modify-write problem if you expect people to always be explicit. Consider the use cases I posted.

I want to roll out candidate to 10%. I GET the service, and see candidate is at 5%, current is at 95%, experiment is at 0%.

You wan

[2019-07-02 03:04] sixolet commented on #210
As for changing multiple knobs, that's what the "rest" percent is for. It says "use this one to make it all add up".

[2019-07-02 06:37] rhuss commented on #184
Agree to use a dedicated `config` command, instead of "wasting" a group for the namespace only (we should also strive to not pollute this top-level commandgroup namespace too much).

We might also consider the `kubectl` way (I know, not all is good with kubectl UX, but I think this is not so bad, too):

[code]

(whether its `namespace`, `default-namespace`, `current-namespace` is probably not so i

[2019-07-02 06:41] rhuss commented on #217
Wow, that's late (or very early :). ☕️  for the win :)

Yeah, sounds good. I'm a bit late with my proposal, and not sure whether there will be much time before to read it. So I think we should kickoff that discussion today, but discuss the various option in detail in the next week ?

[2019-07-02 07:22] maximilien commented on #217
Yup. We definitely want to collaborate. So, yup, let's use a few minutes for intro and tee up discussion for future.

I have two more IBM colleagues (cloud engineers) here from Beijing 🇨🇳 that I trying am recruiting to Knative 😀 so we'll have more to intro in future 🤞

Fun times a head 🎉

[2019-07-02 07:51] edwardstudy commented on #196
Still didn't work if:
[code]

[2019-07-02 11:28] duglin commented on #184
I tend to prefer a "config" command as well

[2019-07-02 11:36] duglin commented on #210
it doesn't because you're thinking of it from a Kube perspective. I'm thinking of it from a user perspective. Yes we can prevent Kube from complaining but that won't stop the case of someone thinking one revision is at 10% when in reality it's at 90% because someone else just changed it - and not knowing this information could have changed how the user does their delta.

[2019-07-02 18:25] #201 closed

[2019-07-03 01:23] maximilien commented on #161
From WG meeting on 7/2/2019 we have agreed to use `gotest.tools`. So closing this.

[2019-07-03 01:23] #161 closed

[2019-07-03 03:03] maximilien commented on #196
/assign @edwardstudy

[2019-07-03 06:06] rhuss opened #224 "Flaky smoke test"
In https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_client/221/pull-knative-client-integration-tests-latest-release/1146230064891826179/build-log.txt there is still a flaky test:

[code]

This is exactly this test:

[code]

So I suspect that there is an issue with replacing an existing service like this in our replacement code:

[code]

[2019-07-03 08:47] #212 closed

[2019-07-03 08:48] rhuss commented on #212
The issue should be fixed now, but we have to verify it with the nightly build which is going to be created this night.

[2019-07-03 09:44] navidshaikh commented on #111
Fixed by https://github.com/knative/client/pull/218

[2019-07-03 09:44] #111 closed

[2019-07-03 17:08] abrennan89 opened #225 "Add a link for docs to create the kubeconfig file for OpenShift"
Need to add a link here for OpenShift
https://github.com/knative/client/tree/master/docs#connecting-to-your-cluster

That points to the docs here
https://docs.openshift.com/container-platform/4.1/cli_reference/administrator-cli-commands.html#create-kubeconfig

[2019-07-03 17:10] abrennan89 commented on #225
/assign abrennan89
/kind doc
/size XS

[2019-07-05 04:55] zhangtbj commented on #206
Hi @navidshaikh ,

I saw the `kn revision describe` is implemented here:
https://github.com/knative/client/blob/master/pkg/kn/commands/revision/revision_describe.go

I think it is already finished. correctly?

[2019-07-05 04:56] zhangtbj commented on #205
Raise a PR #228 to fix this issue.

[2019-07-05 07:19] navidshaikh commented on #206
Hi @zhangtbj : Present `kn revision describe` prints the yaml output of the object, the goal is to present the revision object in better human readable format with some additional details.

[2019-07-05 10:27] navidshaikh opened #229 "Rename few go files under command group dir"
This is probably the left over from issue https://github.com/knative/client/issues/66

Looking at how go files are structured in repo, each command group is a dir and leaf command files has an extra word for eg `service_create.go`, `service_list.go`. We should rename, for eg:
`pkg/kn/commands/service/service_create.go` - > `pkg/kn/commands/service/create.go `

[code]

[2019-07-05 10:45] navidshaikh opened #230 "Separate leaf command implementation from cobra RunE"
Leaf commands' implementation is embedded in cobra's RunE.

How about generating respective leaf command flags in command group and passing over the flags from command group ?

For example, in pkg/kn/commands/service/service.go, we can update the leaf command's signature to
[code]

and the leaf command `service list` flag becomes
[code]

This way we have better separation and a single place in com

[2019-07-05 11:04] savitaashture commented on #208
Okey closing the issue

[2019-07-05 11:04] #208 closed

[2019-07-05 11:45] navidshaikh opened #231 "Support tagging resources"
Add support for labeling resources with particular tags.
This is to track adding code which provides easy interface for consumers to tag given resources.

As we are working on detailing specifics of traffic splitting in #210 , getting this ready should be progress in that direction.

[2019-07-05 11:45] navidshaikh commented on #231
/assign @navidshaikh

[2019-07-05 11:49] navidshaikh opened #232 "Add command for tagging revisions"
This is followup issue of #231, the idea is to introduce leaf command for labeling revisions.
Couple of verb choices: `tag`, `label`
I personally like `kn revision tag`.

[2019-07-05 11:49] navidshaikh commented on #232
/assign @navidshaikh

[2019-07-05 11:53] navidshaikh opened #233 "Support --no-headers flag for resource listing commands"
Specifying this flag should take off the column headers from default output format for `list` commands.

[2019-07-05 12:06] zhangtbj commented on #206
Thx @navidshaikh , now I see the yaml output is native revision information output from kube. And kn client also provides other formats like json, name....

what is mean `better human readable format`? And is there any rule or standard that how to present?

[2019-07-05 12:12] zhangtbj commented on #206
Oh, I saw the format is discussed in this PR:
https://github.com/knative/client/pull/75

Let us also discuss there. Thanks

[2019-07-05 14:06] rhuss commented on #229
Same is partially true for the files within `revision/`

[2019-07-05 15:32] rhuss opened #235 "Rename `kn service describe` to `kn service show`"
Why ?

* `show` is shorter and easier to write than `describe`
* We already moved away from kubectl semantics when we switched from `get` to `list` and `list` won't return ever a singe element (but potentially a list with one element)
* We can add a `-o json` etc. to `kn service show` to allow retrieving the definition of a single service (not possible right now) without adding more confusion betw

[2019-07-05 15:38] rhuss commented on #217
I finished a first draft of our proposal for a Kn eventing integration into kn at https://docs.google.com/document/d/1T51o_sLUxjSKJq49zvTNQ0u8HlWwmK7fKnxPEnOZ2WI/edit?usp=sharing

I would be super happy for any feedback on this proposal which I did together with @matzew and whether its heading in the right direction or wether we are totally off.

The proposal also connects to the uses cases descri

[2019-07-05 15:41] rhuss commented on #217
It should be noted, that the section on "Sequences" is not complete and walkthrough examples at the end are still pending. Hope to be able to add it untitl the WG call.

[2019-07-05 15:50] rhuss commented on #206
@zhangtbj I will split up the #75 PR soonish, focussing first on the non-color options. There won't be much activity on this PR anymore therefor.

At #235 I started a discussion about the general nature of `kn <noun> describe`, so its worth to watch and comment on this, too.

[2019-07-05 15:51] rhuss commented on #232
I definitley all for `tag` to avoid any confustion with `metadata.labels`

[2019-07-05 15:52] rhuss commented on #231
Renamed the subject to avoid confusion, hope its ok.

[2019-07-05 16:43] rhuss commented on #224
Another flake:

[code]

[2019-07-06 07:43] #225 closed

[2019-07-08 05:58] navidshaikh commented on #213
:+1:

Lets tag this for milestone v0.8 release.

[2019-07-08 09:54] rhuss commented on #176
@maximilien I just added a PR with #241 which includes all high-level items for 0.2.0 (hopefully I caught all of them). When 0.2.0 is out tomorrow, we can start a new "latest" section (or "pre-0.8.0") where we then add new for each PR.

I could add a pretest check, that verifies that a PR number is included in the changelog file, so that one would then also have to add ignores PR in a comment sect

[2019-07-08 10:22] navidshaikh commented on #176
Raised PR #242 which adds templates for github issues and pull requests, added a section for 'Release Note' in pr template, which can be used write changelog / release notes.

[2019-07-08 15:26] rhuss commented on #130
Can this issue be closed as it has been implemented with #132 ?

[2019-07-08 17:08] #133 closed

[2019-07-08 17:55] rhuss opened #246 "No domain/address for `kn service list` shown for serving 0.7.0"
The reason is that the old, deprecated DOMAIN field is not populated anymore. One should pick up the `status.address.url` field instead.

Also, the column "DOMAIN" should be renamed to "ADDRESS".

[2019-07-08 21:34] maximilien commented on #130
IMO yup

[2019-07-08 21:47] maximilien commented on #217
@daisy-ycguo @KomalKhull See @rhuss's proposal on eventing. Might be good to start comparing and contrasting with your proposal, which I would also share here in preparation for tomorrow's WG.

[2019-07-08 21:51] maximilien commented on #213
/milestone v0.8.0

[2019-07-09 02:44] komaldhull commented on #217
Here's my proposal: https://docs.google.com/document/d/1w1tEG3_JSRwXeSk00-_bzM4hVEFDK-NhBJGOk6jOtQE/edit?usp=sharing

(The primary difference is that I have triggers and subscriptions exposed explicitly as resources-- but regarding that, after reading Roland's proposal, I do agree that a single "connection" command would be better for kn.)

[2019-07-09 06:23] rhuss commented on #213
/milestone v0.8.0

[2019-07-09 06:24] #130 closed

[2019-07-09 11:44] zhangtbj commented on #235
How about change `describe` to `get`? I think it is shorter and more standard.

like `kn route get helloworld`

I see most of cli use `get` to show the detail info, but I think less use `show`, hope it is helpful :)

[2019-07-09 12:30] rhuss commented on #235
`get` is really kind of "burned" as it has a special meaning for "kubectl" (where it corresponds to our "list"). For kubectl it doesn't show you the details.

So I think we should either follow the kubectl semantics (with get & describe) or, in order to avoid any confusion complete deviate from it (hence the suggestion with list & show).

[2019-07-09 12:39] zhangtbj commented on #235
oh i see, thanks for clarify.

I think if the result is same as kubectl, we can use the same `get` or `describe`

If the result is different, we should use the different subcommands like `show` or `list` to avoid the confusing.

[2019-07-09 12:59] zhangtbj commented on #204
As a basic knative user, I think two same funtions/commands on both  knctl and kn cli may make me confusing. And I don't know which one is official or latest for knative.

I am not sure if kn cli can provide some more advantage functions than knctl to help end user manage or handle kn resources easily?

Such as show more useful and special knative info not just kube format style. Or cascade operat

[2019-07-09 13:42] rhuss commented on #235
Yes, it's different:

* `kubectl get` returns either a list (without or argument) or a single object (with name) argument. This is very confusing (i.e. that `get` returns a list and that in different formats), so that we decided to always return a list with `list`. Otherwise you have the same options for machine readable output (e.g. -o yaml).

* `kubectl describe` always show a human readable out

[2019-07-09 15:01] rhuss commented on #204
@zhangtbj do you refer to `kubectl` or `knctl` ?

One reason for having functionality duplicated in `kn` is that `kn` per-se *cannot assume that it operates agains a Kubernetes cluster*, because it is supposed to use only the Knative APIs. The reason for this is, that there are different implementation of Knative. Beside the Kubernetes one, there is e.g. Cloud Run on appengine which also use the K

[2019-07-09 17:24] #25 closed

[2019-07-09 17:24] #29 closed

[2019-07-10 06:06] navidshaikh opened #253 "Add integration tests for concurrency options of service create and update"
For `service create` and `service update`, we are missing coverage for following options
[code]

[2019-07-10 06:07] navidshaikh opened #254 "Add integration tests for min/max scale options of service create and update"
For service create and service update, we are missing coverage for following options
[code]

[2019-07-10 07:08] navidshaikh commented on #142
Fixed by #191

[2019-07-10 07:08] #142 closed

[2019-07-10 07:36] #140 closed

[2019-07-10 09:53] rhuss commented on #143
Fixed with #150

[2019-07-10 09:53] #143 closed

[2019-07-10 16:23] #246 closed

[2019-07-10 17:28] rhuss commented on #176
Fixed with #241

[2019-07-10 17:28] #176 closed

[2019-07-10 17:41] sixolet opened #255 "Update serving pin to 0.8; mass-change import paths"
When we update to 0.8, we need to change the import paths on the clientset since they changed  in knative.

[2019-07-11 07:00] toVersus commented on #253
I would like to take this!

[2019-07-11 07:06] navidshaikh commented on #253
@toVersus : thanks, go ahead!

[2019-07-11 07:29] rhuss opened #257 "OCI image created with ko in a release misses version informations"
## In what area(s)?

Release

## What version of Knative Client?

[code]

## What version of Knative Serving running on your cluster?

0.7.x

## Expected Behavior

The image created during the release in https://github.com/knative/client/blob/e1614f95e662e9e6f7f520eb2b33181d7b264a28/hack/release.sh#L36 with `ko` should also contain all version informations (propagated via `ldflags`)

## Actual Beh

[2019-07-11 10:02] navidshaikh commented on #224
Another one:
[code]

@rhuss : probably we should increase the timeout seconds default to say 120 seconds ?

[2019-07-11 17:04] sixolet commented on #158
0.2 is out!

[2019-07-11 17:04] #158 closed

[2019-07-11 17:21] sixolet commented on #80
We have it now!

[2019-07-11 17:21] #80 closed

[2019-07-11 17:22] #52 closed

[2019-07-11 23:01] maximilien opened #258 "Support `-q` quiet option in kn plugins once #182 is done"
##  In what area(s)?

Kn plugins #249

Classifications:

/kind feature

## Describe the feature:

Currently kn command out is verbose. The `-q` will allow commands to support a more quiet mode. The kn plugins (in the works now) is verbose in current implementation by default for when searching and listing existing plugins. It should support the `-q` option.

[2019-07-11 23:01] maximilien commented on #258
/assign @maximilien

[2019-07-11 23:07] maximilien opened #259 "What other kn config options makes sense to load and save?"
## In what area(s)?

Configuration / startup.

Classifications:

/kind usage

## Ask your question here:

With #249 we will have one option in the kn config `pluginDir` that allows the end user to load and save their chosen directory for plugins.

Since we added config to support this, the question is, are there other config options we should be saving and loading. For instance:

* quiet
* namespa

[2019-07-11 23:10] maximilien commented on #230
It’s odd to have a `Run()` method on something called `Flags` IMO.

[2019-07-11 23:13] maximilien commented on #232
Yup. We had that in `knctl`. Should be also useful for how we end up doing #210.

[2019-07-12 00:26] sixolet opened #260 "Support v1beta1 (alongside v1alpha1)"
## In what area(s)?

## Describe the feature:

Right now we support v1alpha1. In preparation for v1beta1, we may want to support both API versions simultaneously, picking between with a flag.

This would require refactoring KnClient to return union types of the two API types, and the union type would have to implement all the relevant getters and setters. At least, that's one way of doing it.

[2019-07-12 05:39] zhangtbj commented on #260
Hi @sixolet ,

Should we add a global flag in kn client to set the api version globally?

Such as:
[code]

Then provide a upper level common new `NewKnServingClient` in knClient to init the client by using the different api version.

[2019-07-12 05:47] zhangtbj commented on #254
Hi @navidshaikh ,

If no one looking at this, I would like to take it.

[2019-07-12 07:29] navidshaikh commented on #254
@zhangtbj : sure, I think the tests for this should be in service_advance_test.go as done in #256.

[2019-07-12 09:03] rhuss commented on #254
yeah, except maybe rename the file to something more specific. See my PR comments in #256

[2019-07-12 09:07] rhuss commented on #260
I also thought about an autodetection mechanism to automatically pickup whatever the server prefers (by inspecting the CRD this should be possible). However not sure whether inspecting the CRD is in scope of the KnApi, so having an overrule might be useful, too.

@zhangtbj Since I did the refactoring of KnClient I already have some rough ideas how to proceed to support multiple version. It's not s

[2019-07-12 09:15] rhuss commented on #260
It will be interesting how we could get bring such a union type together with the printers from cli-runtime . I'm not sure which characteristics such types would need to have.

Tbh, I'm a bit afraid to duplicate too much the Knative serving objects.

So another idea was, that we might as equally stick to the highest possible API version for the exposed data objects (like v1beta1.Service for now) a

[2019-07-12 09:23] zhangtbj commented on #254
got it. Thx!

[2019-07-12 09:48] rhuss commented on #217
Here's the eventing poc proposal for ad-hoc importer creation via the event registry.: https://github.com/knative/eventing/issues/1381#issuecomment-507942384

[2019-07-12 09:50] zhangtbj commented on #260
hi @rhuss,

Sure thing. I can aslo help if there are some subtasks here.

I think auto-check is a good way, so that end user doesn't need care about that.

Then in kn client side, we can detect and choose and return the correct version.

And about the printers. Are there many changes between different version? Such as
v1alpha1 to v1beta2. I think knative should consider compatibility.

[2019-07-12 11:45] duglin opened #261 "move `kn completion` to be an option instead of a noun"
Classifications:
/kind good-first-issue
/kind proposal

## Describe the feature:

Right now the `kn` help text shows `completion` as the first, and longest, noun/command available to people:
[code]

I have some concerns about this:
- showing up first in the list of nouns make it pretty prominent and will get people's attention. This command is probably one that most people will either never run or

[2019-07-12 11:47] rhuss commented on #224
@navidshaikh for the shell based tests I already did that I thought. That large timeout is only needed on the first creat as the image pull will eat up the default timeout.

[2019-07-12 12:17] rhuss commented on #261
I agree that it shouldn't be shown that prominent, and we should handcraft the help screen anyway.

Making it a pure option would break our general structure to require a <command>. The same for help, I wonder why there is a "help" command and "-h" and "--help" option.

Also, having a the auto-generated completion only is not really a good benefit. I'm not sure whether we already allow completion

[2019-07-12 12:36] duglin commented on #261
I kind of agree. Typically: `cmd` and `cmd -h` and `cmd --help` and `cmd -?` should be enough, w/o the need for a dedicated `help` noun.  I've seen some cmds support a `help` noun w/o listing it in their help text too - that's always an option.  I think docker and kubectl do that too - fwiw.

re: grouping - I think that will make sense when we have more nouns. But right now the list isn't too bad.

[2019-07-12 12:47] rhuss commented on #261
yeah, sorry. I meant require kind of a 'default' command (i.e. using kn without any command). I'm not a fan to add --completion to help, a no-op command otherwise.

wrt/ moving to `config`: If we settle on using verbs after `config` (like set/get/view) then `completion` doesn't make much sense. Not really sure where to put it as I don't think it doesn't fit in any other existing command.

If you f

[2019-07-12 13:29] komaldhull commented on #233
If nobody's currently working on this, I'd like to take it.

[2019-07-12 13:37] navidshaikh commented on #233
@komaldhull : sure, go ahead!

[2019-07-12 17:24] #253 closed

[2019-07-14 18:45] duglin opened #266 "Consider adding plugin cmds to `kn --help`"
## In what area(s)?

Classifications:
/kind good-first-issue
/kind feature
/kind proposal

## Describe the feature:

Once we have #249 merged, we should consider making `kn --help` show the list of available plugins.  I still think having the `plugin` command is good, but from a UX perspective one of the points of the plugin model is that the user is (for the most part) unaware that they're using

[2019-07-15 04:26] zhangtbj commented on #204
Got it, so should `kn` client support all knative serving/eventing and build resources CRUD?

Like the configuration of serving, should we also support its operation?

[2019-07-15 09:18] rhuss commented on #204
With other operations you mean "showing" revisions (as 'update' is per definition not possible for a revision and 'create' is always done implicitely) ? If so, I'm definitely in favour to expose revision details over 'kn' to allow users to inspect the setup and status. This could happen through `kn service show` (maybe with some options to restrict on certain revision) or `kn revision show`, which

[2019-07-15 09:20] rhuss commented on #204
For serving we should do all write operations through changing the Service IMO. Read operations (list, show) can be on other finer granular entities, too (routes, revisions).

[2019-07-15 12:29] zhangtbj commented on #204
Interesting, I tried to delete a route and I found it is recreated automatically:
[code]

And I agree `all write operations through changing the Service`. For read operations, beside routes, revisions, does kn client need `configuration`?

[2019-07-15 13:55] rhuss commented on #204
No, Configuration is totally opaque imo. Everything you can read from a configuration can be seen in a service, too.

[2019-07-15 14:07] zhangtbj commented on #257
Interesting, I tried to create the image and docker run version, also get empty info:
[code]

But I checked `ko` command, it doesn't support `ldflags` flag. should use a `ldflags` similar way to add the info when `ko` creating the image? Or....

[2019-07-15 15:28] rhuss commented on #257
Yes, these flags are required during build to propagate the version information as golang variables. If `ko` doesn't support arbitrary `go build` options, then we could switch to a plain Docker build easily on our own

[2019-07-15 18:41] maximilien commented on #266
/assign @maximilien

[2019-07-15 21:07] maximilien commented on #266
The simplest (MVP) addition is to list the discovered plugins under the set of available commands, so essentially the following, assuming two plugins `kn-hi` and `kn-bye` are installed:

[code]

OR for a different, more verbose, formatting:

[code]

Assuming plugins are installed in `/usr/local/bin`.

Eventually we could force a simple contract on plugins, e.g., respond to `--metadata` with a form

[2019-07-15 22:09] duglin commented on #266
Even though I don't see much value in showing the path for each plugin, I think showing each one on their own line is easier to read.  And +1 to doing the `--metadata` stuff eventually.

[2019-07-16 07:29] rhuss commented on #266
This kind of 'contract' is also suggested in https://docs.google.com/document/d/1T51o_sLUxjSKJq49zvTNQ0u8HlWwmK7fKnxPEnOZ2WI/edit#bookmark=id.s0wen9pac7lp

Tbh, its this kind of Plugin API which make it to a "Plugin". What we are discussing here is more like a "Delegate". But your mileage may vary ;-)

I really would love to see something like

[code]

and then

[code]

i.e. to enforce that each p

[2019-07-16 08:39] zhangtbj commented on #257
Hi @rhuss ,

I found there is a Configuration file`.ko.yaml` to config `ldflags` for buildOverrides, like this:
[code]

Link: https://github.com/google/ko/issues/54

But it doesn't work.... I asked in `ko` slack channel:
https://knative.slack.com/archives/CAVRMBUMA/p1563264859136500

Hope it works. if not, we can use docker to build with `ldflags` in Dockerfile. But how we publish the image to doc

[2019-07-16 19:54] maximilien commented on #266
Yup, I already implemented this. Just waiting to add after we get the core thing in. I think we need to discuss it since the one could argue that a more relax delegate is better and that the help for a plug-in should come from sending the help command to the plugin — the current implementation will do fine.

[2019-07-16 21:02] maximilien opened #269 "Kn plugin default path and lookup order"
## In what area(s)?

Kn Plugins

Classifications:

## Describe the feature:

In the current Kn Plugins #249 the `—plugin-dir` flag is used as a persistent flag to allow the override of plugins search path. The current search order is:

1. `—plugin-dir` if specified
2.  `~/.kn/config.yaml` if that has `pluginDir` specified in it
3. $PATH

Also if 1 is specified, `kn` will modify the value in the co

[2019-07-17 09:21] #196 closed

[2019-07-17 15:18] rhuss commented on #266
@maximilien is it then also already that for a plugin `kn-service-inspect` it would appear in `kn service help` ? (I mean multilevel plugins should only appear when their n-1 level's help is called)

[2019-07-17 15:23] rhuss commented on #269
Speed is no concern, indeed.

It's about serving two valid use cases at the same time out-of-the-box without special configuration.

I copied over my other attempt to clarify my motivation for this suggestion as stated in https://github.com/knative/client/pull/249#issuecomment-512206228

Maybe let me rephrase my suggested compromise for covering those two use cases *out of the box without any extr

[2019-07-17 16:30] maximilien commented on #269
At this point I just want us to have the plugin support added and get this in front of users. There is a lot more to do to get plugins usable beyond search and plugin location. So want to get to that.

W.r.t. `pluginDir` I think @sixolet wanted to specify specific directory, especially for the server-side plugins she wanted to support. Let's see if she can live with `~/.kn/plugins` or want to allo

[2019-07-17 16:37] maximilien commented on #266
Actually only top level. But I have no tests for this. So after #249 I'll look into implementing this fully and test it. I think also that with a `--metadata` contract that returns info about plugins this will make crafting help sections for plugins relatively easy.

[2019-07-18 08:37] navidshaikh commented on #210
The number of combinations and their rules can be simplified if we revisit the two operations being performed, i.e. (1) doing actual traffic split (b) assign the custom traffic tags.

Roland and I spent some time on this and proposing this doc
https://docs.google.com/document/d/1ud0_Hoax4Y785fPrD_Pa9y1IufOxwBM5Tu7AZtI75PQ/

[2019-07-18 17:12] zhanggbj commented on #210
Hi,

Based on the discussion above, I consolidated and drafted a proposal about traffic splitting, blue/green deployment and etc. And had an initial discussion with @duglin and @maximilien today, I would like to share the proposal and we can discuss further. Any comment is welcomed. Thanks!
(Some items marked with WIP need further investigations.)

https://docs.google.com/document/d/1oxbFqIUPEjLdT

[2019-07-18 19:28] maximilien opened #272 "Kn plugins should support plugins with group (or sub commands) named with dash, e.g., `foo-bar`"
## In what area(s)?

Kn plugins

Classifications:
/kind feature
/kind proposal

## Describe the feature:

In current Kn plugins #92 #249 the convention limits what a plugin can be named. This is inherited from `kubectl` plugins implementation and convention.

Specifically, plugins name cannot have `-` in their name since the dash would be seen as sub commands. For examples:

[code]

In order to ha

[2019-07-18 23:22] maximilien opened #273 "Flaky e2e local tests"
## In what area(s)?

e2e integration tests

Classifications:
kind cleanup

## What version of Knative Client?

[code]

## What version of Knative Serving running on your cluster?

0.7.x

## Expected Behavior

Should be able to run `./test/e2e-tests-local.sh` that is connected to my IKS or minikube cluster.
Should be able to run `./test/e2e-tests-local.sh` multiple times in sequence.

## Actual Beh

[2019-07-18 23:22] maximilien commented on #273
/assign @maximilien

[2019-07-19 00:38] sixolet opened #276 "Allow bring-your-own revision name"
## In what area(s)?
Supported parameters

## Describe the feature:

v1beta1 style (even in v1alpha1) allows "bring your own" revision names. Let's allow users to bring 'em in service creation .

`--revision-name` or `--revision-name-prefix` (or even `--name-prefix`) can be the name of the flag.

[2019-07-19 00:41] sixolet opened #277 "Allow automatic client-side revision name generation"
## In what area(s)?
Workflow and client conventions

## Describe the feature:

Previously, in the client-conventions.md (still in serving, still meaning to port it over here), we suggested adding a nonce to force creation of a new revision and to make that new revision findable once you'd created it.

Now that v1beta1 style (even in v1alpha1) allows for bring-your-own-revision-name, it's much more

[2019-07-19 00:56] duglin commented on #276
why the "prefix" variants? It's not a prefix w.r.t. naming the revision.

Of those I like `--revision-name` even thought it's kind of long.  `--name` would be nice but that's probably not clear enough on which thing we're naming. `--revname` might be too short, but it is an option.

`kn service create myapp --image ns/repo --revname myapp-v1`

re: prefix... what's interesting is that if we don't a

[2019-07-19 08:47] rhuss commented on #272
I really would love to stay with the way how kubectl does it:

* If a subcommand contains a dash, use an underscore in the filename. E.g. a kn command `kn service list-types` would translate into a filename `kn-service-list_types`
* Given a plugin with an underscore in its name like `kn-service-list_types` you can call it in two ways:
  - `kn service list-types`
  - `kn service list_types`

See ht

[2019-07-19 08:52] rhuss commented on #277
Beside random name generation would we want also support incremental numeric revision name suffixes? (svc-1, svc-2, ..). This would have the benefit of add semantics as you can compare the age of two revisions just by looking at its name.

[2019-07-19 09:01] rhuss commented on #276
Think about `kn revision list` (or `kubectl get revision`) with multiple services active. Of course, you have a service column but the column is sorted after revision name. Having a common prefix like the service name groups them nicely in such name sorted list.

[2019-07-19 09:42] kameshsampath opened #278 "Add option to allow enviornment variables using file"
/kind feature

## Describe the feature:

Currently the `kn` command allows specifying the `environment` variables using `--env KEY=VALUE` pattern, it will be nice to have an option to specify the value via environment file.

e.g.

env-file
--------
foo=bar
com.example.data=one

And the command can then have option like `--env-file=foo.env`  while doing create/update etc.,

[2019-07-19 10:06] duglin commented on #276
yup - wasn't questioning it in lists like "revision list" - was just wondering about it on the cmd line for specifying traffic or revision name. E.g.
`kn service create myapp --image ns/repo --revision-name myapp-v1 --traffic myapp-v1:50 --traffic myapp-v2:50`
it's not clear asking for "myapp" 3 extra times (when they aren't allowed to put anything else) is useful.

[2019-07-19 18:30] sixolet commented on #276
Do y'all think it'd be a good idea to have "anywhere a revision name is needed, you can specify only the part after `myapp-` if you want"?

[2019-07-19 18:32] sixolet commented on #277
Hmm. Maybe! Though I worry about people reading too much into it, and relying on a behavior that isn't reliable.

[2019-07-19 18:33] sixolet commented on #259
* Do you want to client-side generate revision names?
* Do you want to protect yourself from unexpected code changes by locking images to digest in non-image updates?

[2019-07-19 18:37] sixolet opened #280 "Don't change running code when not changing `--image`"
## In what area(s)?
Service update workflow

## Describe the feature:

The client conventions (still have to move, as noted elsewhere) provide a mechanism for not changing the code you're running when you don't pass `--image` to change it explicitly — if there are other changes to a revision where the image is specified by tag, we replace the image with its version specified by digest, as listed i

[2019-07-19 20:00] rhuss commented on #276
Yes, but only when the revision trunk name is specified on the very same command line, too,  and you can still use the full revision name and there is no ambiguity.

In the situation above we have to probe for allowed names anyway (like whether you specified a tag instead of a revision name if we want to avoid the confusing triple-spec of traffic targets like suggested in @navidshaikh  proposal),

[2019-07-19 20:40] duglin commented on #276
Perhaps but I think we need to look at each case individually to see if it makes sense and feels natural.  The case I mentioned above would qualify for me.

@rhuss's idea of supporting both seems reasonable - we'd just need to watch for cases like `myapp-foo` because technically they could really mean `myapp-myapp-foo`.  But it's kind of a weird case.

[2019-07-19 23:10] maximilien commented on #259
We should probably start suggesting names and defaults too. I am changing how I save config and only do so when command succeeds. So the following in [`pkg/cmd/kn/main.go`](https://github.com/knative/client/blob/master/cmd/kn/main.go) instead of current.

[code]

Will be in #249. So intermediary config won't be saved until success. Let me know if that's OK with your thinking of future usages.

[2019-07-19 23:12] maximilien commented on #272
Agree @rhuss that's how it's implemented now. As I have been saying all along. Let's be compatible with `kubectl` plugins. So I will close this issue.

If you see a discrepancy then open a bug. Thx.

[2019-07-19 23:12] #272 closed

[2019-07-22 16:45] navidshaikh commented on #210
Thanks for the feedback on the doc

Writing down the feedback below:

1. Use entry point `kn service set-target` instead of `kn service update`. Why?
     - Having explicit `set-traffic` verb avoid a long list of options/flags in service update command and docs
    - `set` verb implies replacing existing values and using whats given and I think this is the user experience we want.
    - `update` o

[2019-07-22 18:07] cppforlife commented on #277
@sixolet

from what i remember we used nonce to be able to find correct revision thats created; however, the downside of that is that revision keeps on being recreated afaik.

what is the use case for this feature from a user perspective?

[2019-07-22 20:17] rhuss commented on #217
@komaldhull and I consolidated on our proposals and merged them to [Knative eventing support in Kn - V2](https://docs.google.com/document/d/1InzYoOG33z8tCkLtd7SqeBWhAkLte148n9tDYcRRHFw/edit?usp=sharing).

We merged in from @komaldhull proposal:

* all comments on the V1 document
* Sequences handling
* Debugging support
* Event Registry handling
* Event Debug support
* A simplified Importer-Sink li

[2019-07-22 21:09] sixolet commented on #277
These are arguable as to whether they're technical or user cases but:

* It allows us to find the revision, enabling the "don't change the code" use case #280
* It allows redeploying the same `--image` tag and explicitly changing the code by forcing a new revision which causes a new tag pull.

"Revision keeps on being recreated" — you don't change the name when you don't intend to make a new revis

[2019-07-22 21:36] duglin commented on #277
I'm not following. How does a random name generated by the client make it easy for the user to find? I feel like I'm missing the use case here that isn't satisfied by just erase the name. I'm not necessarily against having the client generate the name instead of the server, but I'd like to understand why people think it's necessary or help in some cases.

[2019-07-22 21:42] duglin commented on #280
This might not be what the user expected. If I put "image:latest" for the image name, I think I would be surprised to see the knService show it as it's digest in the spec.  This is troublesome because at some point if the user modified an env var they would expect it to re-get the image and potentially get a new digest each time (that's what happens via kubectl). If we convert it to a digest then

[2019-07-22 21:55] sixolet commented on #280
We litigated this in the Serving API group almost a year ago and documented in https://github.com/knative/serving/blob/master/docs/client-conventions.md — when the user specifies they want to change an environment variable and does not specify they want to change the running code *it would be surprising* to change the running code as well.

I understand the behavior via kubectl. Our PMs think that

[2019-07-22 21:58] sixolet commented on #277
"What is the revision associated with the current template", in a way that's not succeptible to race conditions like using latest created revision name

[2019-07-22 22:07] duglin commented on #277
ah, and we (the cli) needs that just so it knows when it can tell the user the the revision is ready?

[2019-07-22 22:15] duglin commented on #280
hmmm that doc isn't the easiest to follow. It would be nice if there was a list of properties that cause a re-evaluation of the digest and which do not.  I'm seeing it happen on a change to annotations but I can't seem to find if that's correct or not from the doc.

[2019-07-22 22:17] duglin commented on #280
Either way, I'm not a fan of changing what the user specific for the image name to something else. Let them ask for it - so "opt in".

[2019-07-22 22:45] sixolet commented on #280
The only thing that should cause reevaluation of a tag is specifying `image`, all other fields should not.

I'm strongly of the opinion that this behavior is right and you need to ask to opt out.

[2019-07-22 22:45] sixolet commented on #280
(note that "ask to opt out" can be a persistent stored configuration option)

[2019-07-22 22:48] sixolet commented on #277
The revision ready case isn't really the main one — that you can tell by service being ready. The important thing is that the user's running code never changes unless they ask it to, and you need to find the right revision for that.

The fact that docker tags are mutable is such a pain :(

[2019-07-22 23:07] mikehelmick commented on #217
Thanks @rhuss  - I'll be updating [eventing issue 1381](https://github.com/knative/eventing/issues/1381) with a slightly different model for the ad-hoc creation of importers and expansion of some of the registry functionality, keep an eye on 1381 comments.

[2019-07-22 23:47] duglin commented on #277
Sorry to keep poking on this, but I want to make sure I grok the usecase.
I get the notion of not changing the digest for non-code changes. But, I'm not clear on why the CLI needs the revisionName for that - or why the CLI is involved at all, aside from it's the one initiating the request to change something like an env var. Maybe it would help if you could show the steps involved here.

[2019-07-22 23:51] duglin commented on #280
I can agree that only changing the "image" should cause the re-evalustion, and all other changes keep the existing digest. But that should be a server-side thing, not a client side thing.

[2019-07-22 23:53] sixolet commented on #277
Totally.

* User decides to set env var FOO=bar w/o changing running code
* Client fetches current service
* Client fetches the revision represented by the current template on current service (found by name query. If name query is not possible, this can fall back to latestCreatedRevisionName and then an equality check on the image field, but that's messy)
* Client modifies its copy of the current

[2019-07-23 00:00] sixolet commented on #280
The problem is that the server has no way to differentiate "the user wants to reevaluate the tag" from "the user did not want to revaluate the tag". The image field could be the same in either case, unless it isn't. What's the sensible image field for to lock it down to not changing? By digest!

[2019-07-23 00:11] duglin commented on #277
I guess I don't understand why it's not just:
- kubectl get ksvc/myapp -o yaml > app.yaml
- vi app.yaml (add env vars)
- kubectl apply -f app.yaml

Why do they fetch the revision at all? They're just modifying the KnService aren't they? So wouldn't the current KnService's template match the latest revision's?

Right, just edit the KnService they got from the first step. Why is the revision involve

[2019-07-23 00:17] duglin commented on #280
See: https://github.com/knative/serving/issues/4845

But, the server should just do a strcmp on the image field and if it didn't change during the update then it shouldn't re-evaluate.  No mind-reading involved and it's a simple rule to remember. We can then figure out a way for the to force it - via some other thing, like a nonce that's been suggested or some other flag.

[2019-07-23 00:17] sixolet commented on #277
Status.ImageDigest is on the revision not the service.

[2019-07-23 00:19] sixolet commented on #280
We talked about that in the serving working group back then and collectively decided that having the client lock to a digest was simpler and more straightforward and definitely more in the spirit of level based apis.

[2019-07-23 00:20] duglin commented on #277
wait... earlier when you said that changing env var does not re-evaluate, were you saying that is what happens today on the server or that is what you want to see happen via cli magic?  I assumed you meant it's a server side thing.  testing.....  :-)

[2019-07-23 00:27] sixolet commented on #277
That's what we want to happen via the client.

[2019-07-23 00:28] duglin commented on #277
ok so it's not a server side thing.    I see where the disconnect is - I didn't realize you were discussing how to "make the CLI magic" and I assumed that the env var not causing a re-eval was current server-side behavior.  I think I'm up to speed now.... don't agree with "opt-out" but at least I understand the conversation now  :-)   Sorry, was slow.

[2019-07-23 01:38] duglin commented on #280
To be clear on my position.... if changing anything but "image" should NOT re-evaluate the digest then this should be true regardless of the client (by default), including kubectl or even curl. We should have consistency across CLIs. Meaning it should be a server side thing. Asking each client to duplicate this magic is less than ideal. I'm not a fan of the model of "clients hiding complexities (o

[2019-07-23 10:17] toVersus opened #286 "`kn service update` should print an error message when invalid or no option is passed"
## In what area(s)?

/kind good-first-issue
/kind feature

## Describe the feature:

When users run `kn service update` command with invalid options, nothing is changed. But in current implementation, kn prints the following output:

[code]

IMO, this is a little confusing behavior. Kn should print `unchanged` when it changed nothing as kubectl does. I think we can implement this feature by compar

[2019-07-23 11:15] rhuss commented on #286
Shouldn't we just print an error in this case ? like "-100 is an invalid value for max-scale".

Anything else would be surprising.

[2019-07-23 11:16] rhuss commented on #286
And then the "unchanged" message is unnecessary (you perfectly can assume that the service is not changed if an error occurs)

[2019-07-23 11:59] duglin commented on #210
Repeating here:

Some key things in case people are unaware:

-    The tag property on a traffic block is optional. This means that we CAN NOT identify a traffic block by this value, since not all blocks will have one.
-    The revisionName property on a traffic block may not be unique. More than one traffic block can refer to the same revisionName. This means that we CAN NOT identify a traffic bl

[2019-07-23 12:00] duglin commented on #210
See: https://github.com/knative/client/pull/285#issuecomment-514179800  for why searching for traffic blocks isn't possible.

[2019-07-23 14:05] toVersus commented on #286
Ah, maybe I mixed up things, so aren't there any strong opinions in current behavior, which silently keeps "unchanged" state if users input invalid values. Can we require to pass at least one option at anytime for avoiding the following case ?

[code]

[2019-07-23 15:11] rhuss commented on #286
Good point. We should catch that and return an error for such a no-op.

Of course, when we update with a new value == old value, we should not worry about (and should also print the success message)

[2019-07-23 17:13] #273 closed

[2019-07-23 20:26] duglin opened #287 "`kn secret` for managing secrets"
## In what area(s)?

Classifications:
/kind good-first-issue
/kind feature
/kind proposal

## Describe the feature:

With us on the verge of adding support for KnEventing, it seems that we should consider adding support for basic secret creation/management in `kn`.  I say this because from a UX perspective it would be really nice if the user didn't have to switch between `kn` and `kubectl` just to

[2019-07-24 00:27] maximilien opened #288 "Kn plugins should have configurable prefix"
## In what area(s)?

Kn plugins

/kind feature
/kind proposal

## Describe the feature:

Currently Kn plugins (when PR #249 is merged) requires that plugins are named with `kn` prefix. So for a list of plugins:

[code]

All the plugins files have `kn-` as a prefix.

It would be valuable to allow plugins to have either no prefixes when in the `--plugins-dir` or a different prefix, e.g., `google` or

[2019-07-24 06:23] zhanggbj commented on #286
Hi @toVersus @rhuss ,

If nobody's working on this, I would like to take it. Thanks!
From the above comments, I think two items need to fix.

- Add input validation for `kn service update` flags, for e.g., if `--max-scale -100` is specified, we should return an error.

- If no input for `kn service update`, we should return an error.

[2019-07-24 06:27] rhuss commented on #288
Tbh I don't see the value of this feature. I really would like to establish 1 single fixed prefix when running outside a plugin directory(which imo should also not be configurable), so that people immediately can identify a kn plugin when they see it. I would also insist on this prefix when having it in ~/.kn/plugins so that plugins can be easily moved around.

What I also still not get that these

[2019-07-24 06:33] rhuss commented on #286
@zhanggbj agreed on the action items.

/assign zhanggbj

[2019-07-24 06:46] toVersus commented on #286
@zhanggbj Thanks for picking it up! I worked on the first item in #279. I would appreciate if you look into the PR before implementing the second action item.

[2019-07-24 06:47] rhuss commented on #287
I don't think that `Secret` part of the Knative API contract (i.e. there is no entry for `/apis/v1/namespaces/<namespace>/secret/<name>` in https://github.com/knative/serving/blob/master/docs/spec/spec.md).

We should first get this supported in the API so that non-Kubernetes based clients can use that as well. I'm afraid, it's not something the client could do right now.

[2019-07-24 09:11] zhanggbj commented on #286
@toVersus Sure, no problem! I just noticed your PR, maybe you can refer this issue item in your PR comment so people can know you are working on it :)

[2019-07-24 11:12] navidshaikh opened #289 "Order the revisions in `kn revision list` output by configuration generation number"
## In what area(s)?
/kind feature
/kind proposal

## Describe the feature:

The present `kn revision list` output doesn't hint the order in which revisions are created,
[code]
Although there is `AGE` column but we can ease the lookup by printing the numbers in descending order (and respective revision row), highest denoting the latest revision created for the service.

I think we'll need this beca

[2019-07-24 11:17] navidshaikh opened #290 "Print the revision name after service create and update commands"
## Describe the feature:

When a user updates a service, we print the success message
[code]

however, we should also print the revision name generated after this update, which can be used to refer that revision for further operations, eg: traffic splitting. This can also be used for scripting use cases.

Update:
Implement same behavior for `service create` command as well.

[2019-07-24 11:44] duglin commented on #290
they should also be allowed to specify the new traffic split on the update cmd

[2019-07-24 11:45] duglin commented on #289
I would prefer to just order them by age and put the newest one at the top of the list

[2019-07-24 11:56] navidshaikh commented on #290
sorry I didn't get that, could you please add some more detail  ?

[2019-07-24 12:03] duglin commented on #290
Sorry I really should have put that comment on the other issue - see: https://github.com/knative/client/pull/285#issuecomment-514602694

[2019-07-24 13:21] mgencur opened #292 "What is the purpose of kn route list <name> ?"
## In what area(s)?

## Ask your question here:
What is the purpose of `kn route list <route_name>` ? Should we drop this option?

The point is that `kn route list <route_name>` doesn't give us anything on top of the usual `kn route list`. It would make sense if we were listing routes for a given service but here we're passing the name of the route itself. When we want to get more details about th

[2019-07-24 13:37] rhuss commented on #289
yes, label with name `serving.ConfigurationGenerationLabelKey` hold's the configuration's generation at creation time. This should be the sort column.

[2019-07-24 13:39] mgencur commented on #292
One more point: It's confusing to me to call a "list" operation on a single object and as a result have a list with a single object

[2019-07-24 13:40] rhuss commented on #292
At the moment only `kn <noun> list -o yaml` is supposed to provide machine readable output. That `kn <nound> describe` currently spits out yaml is a placeholder. It will provide human readable output (like `kubectl describe`). It could be that `describe` will get a `-o` option, too (`kubectl describe` doesn't have that), but that still open.

Besides that, I doubt the usefulness of the `kn route`

[2019-07-24 14:10] navidshaikh opened #293 "Add `--dry-run` option to service create and update operations"
## Describe the feature:

[code]

flag can be added in `service create`, `service update` and traffic splitting commands (if we chose to have new verbs for them).

[2019-07-24 14:14] navidshaikh commented on #292
Also `kn <resource> list <resource_name> -o yaml` returns the YAML of `kind: <resource>List` but may be we want the return YAML of `kind: <resource>`.

[2019-07-24 16:42] maximilien commented on #288
Relatively easy to change. Agree that these options could be loaded from config, though that also begs the question of what those options in config are and how to easily change. Perhaps when #259 is set and a way to modify them, e.g., `kn config set/unset ...` or similar should make things easier.

[2019-07-24 17:16] rhuss commented on #292
Right, that's the main motivation to allow a `-o yaml` for `kn service describe`, too. IMO that's better than the kubectl way where you get either a list or single object depending how you call `kubectl get`.

[2019-07-24 17:21] rhuss commented on #292
yes, agreed. I would love to have this seen as a 'filter' with a 'startsWith'  semantics, not only for an exact match. This would help especially for `kn revision list myservice` as revisions usually have the service as prefix and a random suffix.

[2019-07-24 20:00] VeerMuchandi opened #294 "Option --limits-memory doesnt bring up the app"
## In what area(s)?

## What version of Knative Client?

$ kn version
Version:      v0.2.0
Build Date:   2019-07-10 20:57:03
Git Revision: e1614f9
Dependencies:
- serving:    v0.6.0

## What version of Knative Serving running on your cluster?

## Expected Behavior

`kn service create SERVICENAME --image=IMAGE --limits-memory=500m`

is supposed to create the service

## Actual Behavior

Waits and t

[2019-07-24 20:55] sixolet opened #295 "Traffic splitting design: separate verb vs. part of `service update`"
One of several polls about how our traffic splitting and tagging should be set up. This is about whether we want a **separate command** for traffic splitting/tagging, or have it be **part of service update**, for the MVP only.

[2019-07-24 20:56] sixolet commented on #295
Traffic splitting should be a **separate command** for the MVP, like `kn service set-traffic foo ...`

Vote for this by giving this comment a 👍

[2019-07-24 20:57] sixolet commented on #295
Traffic splitting should be **part of service update** for the MVP, like `kn service update foo --traffic ...`

Vote for this by giving this comment a 👍

[2019-07-24 20:59] sixolet commented on #295
... Further discussion below. As for my feelings: The separate command option helps keep `service update` focused on changing the revision template, and helps keep the number of `service update` options manageable. On the other hand, it technically *is* a service update.

[2019-07-24 21:07] sixolet opened #296 "Traffic splitting design: tags with percents vs. tags separate from percents"
One of several polls about how our traffic splitting and tagging should be set up. This is about whether we want to put percents and tags for revisions into the same syntax for setting up a traffic section, or different separate syntaxes.

[2019-07-24 21:09] sixolet commented on #296
Traffic splitting should use a **combined syntax** for specifying revisions, tags, and percents, like `foo-asdf:100:current` (revision:percent:tag)

Vote for this by giving this comment a 👍

[2019-07-24 21:11] sixolet commented on #296
Traffic splitting should use a **separate syntax** for specifying revisions/tags and percents vs. revisions and tags, like `foo-asdf:100` for percents, and `foo-asdf:current` for tags. The percent syntax can also accept a tag in place of a revision name, like `current:100`.

Vote for this by giving this comment a 👍

[2019-07-24 21:12] sixolet commented on #296
... Further discussion below.

[2019-07-24 21:14] sixolet opened #297 "Traffic splitting design: service surface vs revision surface."
One of several polls about how our traffic splitting and tagging should be set up. This one is about whether traffic splits should be under `service` or `revision`.

[2019-07-24 21:14] sixolet commented on #297
`service`

Vote for this by giving this comment a 👍

[2019-07-24 21:14] sixolet commented on #297
`revision`

Vote for this by giving this comment a 👍

[2019-07-24 21:14] sixolet commented on #297
... Further discussion below.

[2019-07-24 21:25] sixolet opened #298 "Traffic splitting design: Is an opinionated rollout part of the MVP?"
One of several polls about how our traffic splitting and tagging should be set up. This one is about whether opinionated workflow goals like "rollout" or "rollback" should be part of the traffic splitting MVP.

[2019-07-24 21:25] sixolet commented on #298
Yes, I want to be able to type something like `kn service rollback foo foo-asdf` and have that work.

Vote for this by giving this comment a 👍

[2019-07-24 21:26] sixolet commented on #298
No, whatever surface that we use for generic traffic splitting is enough for MVP.

Vote for this by giving this comment a 👍

[2019-07-24 21:26] sixolet commented on #298
... Further discussion below.

[2019-07-25 01:00] duglin commented on #297
I voted for service because that's supposed to be the main entrypoint for users. It's the reason the traffic block exists on Service. Plus having `kn` operate on Service aligns it with what people will do via `kubectl`, which is operate on the Service, and I think that consistency is important if they ever need to do something that `kn` doesn't support.

[2019-07-25 01:10] duglin commented on #296
I don't necessarily see it as an either-or choice.

I think when you're updating an existing traffic block we might be able to do it via a xxx:yyy (similar to what @rhuss mentioned in https://github.com/knative/client/pull/285#discussion_r306648112 - I'm still working thru it, but it looks interesting).

However, when you're defining a new traffic block I would find it annoying to have to do two c

[2019-07-25 01:14] duglin commented on #295
Yup - it is just a service update and see my comment here: https://github.com/knative/client/issues/296#issuecomment-514855015  It will increase the # of `kn` commands people have to do when compared to `kubectl`. I think this will be very important when people want to update their service and have a new traffic split available immediately w/o any gap where the traffic split is old - sort of an at

[2019-07-25 02:02] toVersus commented on #298
I definitely want this rollout/rollback commands in kn for the usage in CD jobs, but in terms of MVP I think it should reside on the official plugins.

[2019-07-25 03:24] zhanggbj commented on #298
I think users can benefits a lot from an opinionated and separate rollout with simpler syntax, and I think this should be part of `post-MVP`,  for `MVP`, we can use generic traffic splitting.

[2019-07-25 05:04] navidshaikh commented on #294
@VeerMuchandi : Could you retry with
[code]
note the unit
[code]

[2019-07-25 05:08] navidshaikh commented on #298
Settling on MVP design of UX for CLI should simplify how to represent these workflows conveniently on CLI, this should go post-MVP.

[2019-07-25 05:19] navidshaikh commented on #297
The revision entry point was initially proposed for tagging operations only, voted for `service` entry point as it suits better there and to align better with `set-traffic` verb.

[2019-07-25 05:49] navidshaikh commented on #295
Separate commands for setting traffic targets and their tags, not only helps,
- keeping service update focused on changing the revision template
- keeping service update options manageable

but also helps,

- defining clear paths to manage objects encapsulated by Service spec, ConfigurationSpec [`service create`, `service update`] , RouteSpec [`service tag-targets`, `service set-traffic`]
- users

[2019-07-25 06:24] navidshaikh commented on #254
@zhangtbj : didnt see the tests coming in yet, I will have a PR for this today.

[2019-07-25 06:28] zhangtbj commented on #254
Yes, I didn’t work on that. Pls go ahead.

[2019-07-25 09:35] mgencur opened #301 "Restructure E2E test suite"
## In what area(s)?

Structure of the E2E test suite

## Ask your question here:

Should we use a different director/file/test structure for the E2E tests?
Let me propose some changes which we briefly discussed with Navid:
* create the following folders in test/e2e folder which would hold specific tests for these different kinds of objects/commands: service, revision, route.
* place service_option

[2019-07-25 09:48] rhuss commented on #290
For `kn service create` we print the URL at the end. The service name does not make sense, as its provided as argument.

With having the URL on a single line as last argument you can do things like

[code]

Not sure if this  a good thing when people will rely on that or if  a `kn service describe hello --url` is better suited (I tend to the latter)

[2019-07-25 10:12] navidshaikh commented on #290
Before printing the URL, we can add a line may be saying
[code]
keeping the URL line at the bottom only.
WDYT ?

[2019-07-25 11:14] rhuss commented on #294
`--limits-memory` works normally (just verified that today), however together with waiting for the first start the normal timeout might be too small (60s are often not large enough when pulling images)

@VeerMuchandi does you service run eventually ? Status "Unknown" means that there is still something going on. Could you please also check the deployment and pod statuses ?

[2019-07-25 12:26] duglin commented on #290
I agree with @rhuss on the `tail` thing - I tend to use stuff like that in bash-scripts all the time.

[2019-07-25 12:30] duglin commented on #295
I actually think this is reason NOT to split them. We should not be dealing with anything but Service - if we can.  Implying that there's complexity with dealing with just Service implies the server side made a mistake by trying to have a single object on which people act. I don't think it was a mistake.

[2019-07-25 12:46] VeerMuchandi commented on #294
@navidshaikh :

Using `--limits-memory=500Mi` instead of `--limits-memory=500m` worked.  Thank you.

But on the other hand,  as a workaround, I was using this way-

[code]
followed by

[code]
and it worked.

So does this change from  `m` or `M` to `Mi` apply only during create?

Anyways, the issue is resolved. So this can be closed.

[2019-07-25 13:51] rhuss commented on #295
It's not about splitting (they are all part of `kn service`) but separating them on the sub-command level a much as Knative servicing separates those concerns top-level within the `spec:` on the server-side.

[2019-07-25 14:46] duglin commented on #295
I view this as putting the choice in the user's hands.  If they think it's confusing to have one longer command that does it all at once, then they can split the commands into multiple steps.

`kn service myapp set-traffic foo ...`
vs
`kn service myapp update -t foo ...`

it's not much of a diff, but gives the user more freedom to do the steps in the order and size that makes sense to them.

[2019-07-25 16:22] ImJasonH commented on #80
That's `gcr.io/knative-releases/github.com/knative/client/cmd/kn` correct?

[2019-07-25 16:35] rhuss commented on #80
Yes. With the gotcha that `kn version` is broken (we need to propagate ldflags to ko) --> https://github.com/knative/client/issues/257

[2019-07-26 05:39] steren commented on #8
Seems like the consensus is to not ship via a kubectl plugin but via a standalone binary. Closing.

[2019-07-26 05:39] #8 closed

[2019-07-26 05:56] navidshaikh commented on #301
@mgencur

As you mentioned, just re-group the mentioned file's tests into specific tests under `revision` folder, and remove `revision_workflow_test.go` file altogether.

+1 for moving the workflows under `workflow` directory, we could then add more there as we develop.

[2019-07-26 06:18] steren opened #303 "kn and Cloud Run fully managed"
Classifications:
/kind feature
/kind proposal

Cloud Run (https://cloud.run) is an implementation of the knative/serving API specification and runtime container contract on top of Google Cloud's serverless stack.

I could not find in the `kn` docs how to configure `kn` to manipulate Cloud Run resources. I propose that we ensure `kn` works with Cloud Run and with other potential future implementati

[2019-07-26 11:50] duglin commented on #303
What kind of stuff are you looking for? Once you have your CLI environment (ala `kubectl`/KUBECONFIG) setup to point to your cluster, `kn` should just work.

[2019-07-26 12:24] rhuss commented on #303
I understand that Configuration and Routes are fully managed within a Service, but how can you clean up Revisions in Google Cloud Run ? (i.e. delete a revision). This is something that kn supports via `kn revision delete`.

[2019-07-26 12:36] rhuss commented on #303
kn use the go API of knative-serving as entry point (which also can be considered as part of the API contract or an implementation of that). The entry point is https://github.com/knative/serving/blob/03b04365f0c9f552298436012a911ce3a32cc3bf/pkg/client/clientset/versioned/typed/serving/v1beta1/serving_client.go#L58 which takes a [rest.Config](https://github.com/kubernetes/client-go/blob/579ad46bdcb

[2019-07-26 15:54] steren commented on #303
This file is a `kubectl` construct that is Kubernertes specific. As I mention, Cloud Run does not rely on any Kubernetes cluster and expects the authentication to be based on OAuth 2 on a given URL endpoint. In my opinion, well behave Knative clients should not force users to use `kubectl/KUBECONFIG` as this is not in the Knative spec.

My bad, we allow DELETE on Revisions (but it's not a common u

[2019-07-26 16:48] duglin commented on #303
Yes and no. The "K" in Knative does mean "something" :-)  and the APIs of Knative are from Kube - even if the resource model is Knative specific.  But, having said that, one of the things we've talked about in the past is that a Knative user, when they do have to switch between `kn` and `kubectl`, don't have to deal with the pain of doing a configuration twice when switching cluster - just as an e

[2019-07-26 17:45] rhuss commented on #303
@duglin agreed, but I would be also totally ok, that when an env var `GOOGLE_APPLICATION_CREDENTIAL` is set, that we take that as a switch to google run (as well as for any other implementation of Knative, as far there will be any more ;-).

Typically what we can do in such a situation is to build up a chain of RestConfigHandlers which have an `isActive()` method which probes for certain environme

[2019-07-26 18:42] rhuss commented on #303
Said that, of course, a pluggable extension mechanism for the authentication stuff would be even better. It also depends on what ceremony needs to be done to get to the tokens.

[2019-07-26 19:16] pmorie commented on #303
What does google auth in kube use? I was under the impression that the kubeconfig configured an exec hook to run `gcloud auth login` or something like that.

[2019-07-26 20:02] #254 closed

[2019-07-26 20:29] #92 closed

[2019-07-26 20:32] maximilien commented on #269
I think this is done now with #249 merged. I will close this. @rhuss please re-open if anything missing.

[2019-07-26 20:32] #269 closed

[2019-07-26 20:34] maximilien commented on #298
I could go either way. I agree with @toVersus that it could be added as a plugin and then merged in later.

[2019-07-26 20:40] maximilien opened #308 "Kn plugins integration test"
## In what area(s)?

Kn plugins

Classifications:

/kind feature

## Describe the feature:

Now that #249 is merged we need to have a separate integration test (IT) for that feature. There is a lot to test. As a start, let's add this:

1. simple plugin execution of a BASH and executable plugin in
  a. `--plugins-dir`
  b.  $PATH
2. finding plugin in both `--plugins-dir` and $PATH
3. verifying plug

[2019-07-26 20:40] maximilien commented on #308
/assign @maximilien

[2019-07-26 21:24] maximilien opened #309 "Unknown plugins or commands do not show help and correct message to user"
## In what area(s)?

Kn plugins

Classifications:

/kind good-first-issue

## What version of Knative Client?

Version:      v20190726-local-59b2855-dirty
Build Date:   2019-07-26 21:07:51
Git Revision: 59b2855
Dependencies:
- serving:    v0.6.0

## What version of Knative Serving running on your cluster?

0.6.x

## Expected Behavior

[code]

## Actual Behavior

[code]

## Steps to Reproduce the P

[2019-07-26 21:24] maximilien commented on #309
/assign @maximilien

[2019-07-27 06:22] rhuss commented on #309
Can't we do it just like `kubectl`, i.e.

[code]

I like that because:

* Not the full help is shown but an indication howto get help
* That it does not tell 'can't find plugin' but 'unknown command'. Plugins are implementation details and should not unnecessarily leak to the command line. At the end the plugin is treated as a command. And what if the use just has misspelled the command like in `k

[2019-07-27 13:27] csantanapr commented on #92
This is great to see this feature landing
Thanks 💯 for the contribution @maximilien

[2019-07-29 16:31] navidshaikh opened #314 "plugin list command error"
## What version of Knative Client?
latest HEAD

## Expected Behavior
Display clear error about non existent `~/.kn/plugins` dir.

## Actual Behavior
Repetitive error messages

[code]

[2019-07-29 16:32] navidshaikh commented on #314
@rhuss : Probably a good fit for #313 ?

[2019-07-29 17:39] maximilien commented on #309
As you know, I was always for being most compatible with `kubectl`.

However, that does not agree with what we have already agreed on which is to show the help then `unknown command “blah” for kn`. We sort of have to be consistent.

[2019-07-29 20:52] duglin opened #315 "Improve error reporting if kubeconfig is missing or cluster unreachable"
on master right now I see this in a totally clean env:
[code]

A config file should be optional.

[2019-07-29 21:40] duglin commented on #315
Did some more testing and I think that it's due to a kube config issue. Try this to reproduce it:
[code]
I think it's probably ok that it generates some kind of error since it can't talk to the server/kube, but it would be nice if it gave some of hint as to either a) which config file that's missing, or b) let it fail with a TCP error so we'll get a better error about not being able to connect to

[2019-07-30 00:21] rhuss commented on #314
Good point. I added some fixes already, but might have missed that.

[2019-07-30 00:27] rhuss commented on #309
My main point is it should be only 'unknown command', and not 'plugin not found'. And not sure why we have to be "consistent" with #218 and not showing the full help at the very beginning would equally well (maybe even better) fix #111

[2019-07-30 12:56] duglin opened #317 "Consider supporting multiple NAMEs on some commands"
## In what area(s)?

Classifications:
/kind feature
/kind proposal

## Describe the feature:

It would be nice if some commands supported multiple resource names to make life easier for people. For example, I was cleaning up my env and I tried this:
[code]
and it died because it wasn't expecting more than one service name. It would be nice if we could support multiple NAMEs on certain commands whe

[2019-07-30 18:10] navidshaikh commented on #210
I'd like to work on this, already got some code in place, anyone else would like to collaborate feel free to comment or just ping on slack.

/assign @navidshaikh

[2019-07-30 20:00] maximilien commented on #309
Well that's debatable. Since you could assume that now with plugin, someone issuing: `kn tkn pipeline ...` is looking for a plugin called `tkn` or a command called `tkn`.

Same thing for any word after `kn` and down the various branches. With #218 which solved #111 we got a consistent way of dealing with unknown commands: show help, then `unknown command "<word>" for "kn"`.

I'd agree with the fol

[2019-07-31 02:45] rhuss commented on #309
I'm fine with that compromise (though a plugin is-a 'command' in a sense and for a user, it shouldn't make a difference whether a functionality is provided by a built-in command or a plugin command. But it's a compromise, so that was my last bullet ;-)

If hiding the full help text it that point is only a technical limitation I'm happy to have a look (haven't followed or forgot the discussion ;-).

[2019-07-31 06:43] zhanggbj commented on #210
I also would like to work on this item and collaborate with @navidshaikh.
/assign @zhanggbj

I think the voting for differences for the two proposals is almost done. After there's an agreement, we can break them down to specific items and pick up and work on them. Thanks!

[2019-07-31 11:08] rhuss commented on #217
We are going to summarize the already lengthy V2 document as well as suggesting an MVP use case to be implemented first (will open a dedicated issue for that so that we can discuss on that).

I thought about the Importer -> Service use case (i.e. `kn importer create --sink myservice`. This could be implemented now with the latest Knative eventing release 0.7.1 and is the shortest path to get somet

[2019-07-31 11:13] toVersus commented on #210
I also would like to work together, @navidshaikh @zhanggbj.
/assign @toVersus

[2019-07-31 15:29] mattmoor commented on #303
I think I agree with much of the sentiment in this thread.  Cloud Run shouldn't need anything special here (vs. say GKE), it should support the same `kubeconfig`-style authentication as basically all other K8s clients (including `kn`), which is a fairly flexible credential helper hook.

I believe GKE sends oauth2 access tokens, so Cloud Run shouldn't be that different there.  One notable way GKE i

[2019-07-31 16:00] duglin commented on #303
I didn't notice we have stuff like that:  https://github.com/knative/client/blob/59b2855d04c95cd747ed733136b6f6343db44cfe/pkg/kn/core/root.go#L35

I really question why we have this. Seems pretty inappropriate for an OSS project.

[2019-07-31 16:34] rhuss commented on #303
That is part of client-go, which itself is under the Kubernetes / CNCF umbrella. These auth packages add support for multiple authentication mechanisms, not only GCP but also [Open ID connect](https://github.com/knative/client/blob/59b2855d04c95cd747ed733136b6f6343db44cfe/pkg/kn/core/root.go#L36). Not sure why this should be inappropriate. kn does not import anything from GCP directly. This was th

[2019-07-31 18:57] duglin commented on #303
I just prefer a mechanism that didn't hardcode one company's auth mechanism into the code. I would prefer a pluggable architecture that allowed for them to be added via an extension, plugin, something... otherwise each time a new one comes along it requires a change to the codebase and approval from the maintainers. Moving it out of the code puts everyone on an even footing.

[2019-07-31 20:13] maximilien opened #320 "Kn plugins documentation"
## In what area(s)?

Kn plugins

Classifications:

/kind doc

## Describe the feature:

With the new Kn plugins, Kn’s documentation needs to be updated to include basic information on how to create, install, and use plugins.

In future as we have more stories and features to plugins we can add more details.

[2019-07-31 20:14] maximilien commented on #320
/assign @maximilien

[2019-07-31 20:19] maximilien commented on #309
No hiding is not a limitation. It’s a choice we did in #218. Feel free to suggest an alternative. I like it since it helps the user. If our help was multiple pages long then I would agree with you, for now, we live in a wonderful less than a page help with `kn -h` so life is good :)

[2019-07-31 20:49] #286 closed

[2019-07-31 21:06] rgregg commented on #303
Adding my $0.02, `kn` should be vendor neutral implementation, with enough configuration options that vendor-specific things (like authentication) could be configured to make `kn` useful in those vendor-specific scenarios. The exact form that takes seems like a decision we should make on a case-by-case basis, but if the extensions end up looking vendor-specific, that's also bad.

I would not expec

[2019-07-31 22:07] steren commented on #303
The ["Connecting to your cluster" section](https://github.com/knative/client/blob/master/docs/README.md#connecting-to-your-cluster) of the kn Getting started already links to many vendor-specific instructions.
Assuming that the Cloud Run official docs will have a page for "Using Cloud Run with `kn`", why not link to it the same way?

[2019-07-31 22:15] rgregg commented on #303
Linking to those docs from here isn't a concern from my perspective, I just don't think the Knative community should be responsible for maintaining those docs.

[2019-08-01 00:29] sixolet commented on #303
Regarding Doug's concerns:
* Usefulness trumps purity here.
* I'm happy to include the plugin to authenticate to anything that's in k8s.io/client-go
* It'd be very nice to have a pluggable architecture and the ability to manage and easily download auth plugins and get them installed without very much likelihood of user error, but I don't think we live in that world. We live in the world where you

[2019-08-01 08:04] daisy-ycguo commented on #217
@rhuss are we able to split this issue into small pieces so that people can help ?

[2019-08-01 11:55] rhuss commented on #217
Yes, sure. I will open separate issues for an MVP like start to include eventing (on the road right now, so probably early next week)

[2019-08-01 18:29] steren opened #323 "sudo apt-get install kn"
I'd like to be able to install `kn` using my OS package manager.

Ideally, I could simply do `sudo apt-get install kn`

[2019-08-01 18:30] steren commented on #323
Alternatively `sudo apt-get install knative-client`

[2019-08-01 18:59] steren opened #324 "`kn service list` is not sorted"
[code]

## Expected Behavior

`$ kn service list` lists services sorted by alphabetical order.

## Actual Behavior

`$ kn service list` does not seem to have any particular sorting.

[2019-08-01 19:00] sixolet commented on #303
To make `kn` connect to Cloud Run Fully Managed right now, open up your kubeconfig in an editor. You'll be adding to each of `clusters`, `users`, and `contexts`.

## Clusters

Add an entry to `clusters` per region you want to connect to:
[code]

## Users
[code]
Note that this is modeled on the entry `gcloud` can generate to connect to GKE. Make sure to replace the path to `gcloud` with your correc

[2019-08-01 19:02] sixolet commented on #303
And, since the `GOOGLE_APPLICATION_CREDENTIALS` path just does a jwt oauth2 flow with the json file it finds, I see no problem with allowing a `--oauth-jwt-config` option (note: not specific to Google) alongside kubectl to connect. I'll look at drafting up a PR.

[2019-08-01 19:11] sixolet opened #325 "Polling watcher option"
Right now kn watches resources as they're getting `Ready` using a watch request. Watch is only SHOULD in the Knative API, so we should support a polling normal GET too, as an option. It should be settable both at the command line and in the kn config file.

[2019-08-01 20:22] rhuss commented on #325
Is there a way to probe whether watch is supported ?

[2019-08-01 22:02] sixolet commented on #325
Hmm. I can imagine "try watch, fall back to polling if it doesn't work". I know what one implementation does is (correctly) 400, which we can catch.

[2019-08-02 15:34] VeerMuchandi opened #327 "Adding annotation"
## In what area(s)?
`kn` command line feature

Classifications:

## Describe the feature:
Add `--annotation` option to `kn` CLI. This allows specific underlying implementations based on annotations to be supplied what they need using kn. Currently we are having to apply annotations by updating the service after it is created.

`kn service create myservice --annotation=sidecar.istio.io/inject="fals

[2019-08-02 15:40] VeerMuchandi opened #328 "Adding label"
## In what area(s)?
`kn` command line option

Classifications:

## Describe the feature:

Ability to add user defined labels to the service and its artifacts. Certain implementation specific features depend on labels. Being able to add a label with `kn` will avoid additional overhead of unnecessarily updating the service (and avoiding a new revision) just for adding a label.

Example
`kn service c

[2019-08-05 08:43] rhuss commented on #309
Ok, let's do it as you suggest and maybe I would open another PR for a shortened help message where we could vote on, as for an experienced user, getting help for every mistyped command might be tedious (and for the inexperienced user to have to call a second time kn with --help might be not so troublesome). But that's confessedly a matter of POV (whether to tend toward power or casual users).

[2019-08-05 08:44] #309 closed

[2019-08-05 08:47] rhuss commented on #327
@VeerMuchandi Should this annotation be added to the Service itself, or the revision's template so that it ends up on the Pods created ? Or on both ?

[2019-08-05 08:48] rhuss commented on #328
Same question as for #327: Where to add the labels ? Service, Pod or both ?

Regardless what the behaviour must be consistent regarding to labels and annotations.

[2019-08-05 08:55] navidshaikh commented on #231
Word `tag` should be referred in terms of traffic splitting of targets while `label` should denote user defined labels for grouping/listing etc. As we'll implement tagging targets part of traffic splitting issue, closing this issue in favor of #328.

[2019-08-05 08:55] #231 closed

[2019-08-05 08:57] rhuss opened #329 "Integration test flake "service-account default not found""
There is currently an integration test flaking popping up from time to time with an error:

[code]

See e.g. https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_client/312/pull-knative-client-integration-tests/1157313391212105729/build-log.txt

It smells like an issue in the cluster setup but not so much like a race as it happens after some successful image pulls in those tests.

@adr

[2019-08-05 14:25] mattmoor commented on #287
FWIW, we're moving most of the serving specification stuff to: https://github.com/knative/docs/blob/master/docs/serving/spec/knative-api-specification-1.0.md

The omission of Secrets (or ConfigMaps) there was not intended to mean "this cannot be in clients", I believe it was simply "these aren't our resources to specify", or "Gee, I wish K8s had a more formal API specification." 😄

I think it shou

[2019-08-05 14:41] rhuss commented on #287
@mattmoor would listing of namespaces also fall in this kind of category ? (as we would have to find out the namespaces available so that a user knows wheter to put her services into ?)

[2019-08-05 14:53] rhuss commented on #287
@mattmoor would it make sense to collect an explicit list of those resource types which are referenced by Knative resources and add them to the spec to have more clarity ? And also, whether this access should be supported as read-write (e.g. ConfigMap, Secret) or read-only (Namespace) ?

[2019-08-05 15:30] mattmoor commented on #287
Namespace is an interesting case since it straddles what I generally see as a perceived line between operators and developers (or tenants).

If we see `kn` as a tool catering to developers, then I think read access to Namespace makes sense, but maybe not write.  That said, in general listing namespaces is a potential privacy leak on shared clusters, which I don't think Kube has a good story for: e