[2020-03-09 11:37] navidshaikh commented on #513
/assign

[2020-03-09 14:40] itsmurugappan commented on #691
Looks like i have to comment to get me assigned.

[2020-03-09 14:40] itsmurugappan commented on #691
/assign @itsmurugappan

[2020-03-09 18:11] #513 closed

[2020-03-09 21:01] rhuss opened #718 "Add e2e tests and command line tests for "--labels" options"
See https://github.com/knative/client/pull/703#pullrequestreview-371018971 for more details.

/assign shashwathi

[2020-03-09 21:02] #675 closed

[2020-03-10 06:52] rhuss opened #721 "Add E2E tests for "kn service export""
`kn export` needs some E2E testing love. For the initial implementation, see #669

/assign itsmurugappan

[2020-03-10 07:40] rhuss opened #722 "Add to "kn source list" test E2E tests cases"
We should add additional E2E test cases for `kn source list` for checking:

* Invalid filter options
* Heterogenous list of different types with `-o yaml` (would involve to combine a pingsource + apiserver source creation)

/kind feature

[2020-03-10 07:41] #480 closed

[2020-03-10 09:37] rhuss opened #723 "Add E2E tests for "kn service export""
Add E2E tests for `kn export`

[2020-03-10 09:40] rhuss opened #724 ""kn service export" should also export service annotations"
### Bug report

At the moment, `kn export` does not export annotations.

### Expected behavior

User provided annotations should be exported as well (like with `kn service create --annotation`). Maybe filter out some automatically added annotations (if known), but that might be difficult.

Adding an E2E test is a plus.

### Steps to reproduce the problem

* Create a service with annotation: `kn se

[2020-03-10 09:53] #653 closed

[2020-03-10 10:18] daisy-ycguo commented on #566
@rhuss @navidshaikh
I don't think we should work on this test case `Verify the events at configured sink`. It should be a part of e2e test of eventing. We could `verify that pingsource could be described correctly`. Because if pingsource could be described correctly, and eventing functions work well, it's definitely true that event message could be sent to sink.

The reason that I question this re

[2020-03-10 10:34] #315 closed

[2020-03-10 10:40] rhuss commented on #566
Sounds reasonable, but I really wonder how eventing the e2e tests pingsource if it doesn't work with the setup given ?

[2020-03-10 16:08] rhuss commented on #653
@itsmurugappan thanks a lot for your work ! I think as a next step we can now think to maybe export the revisions directly, a first check show that you can import them. So we could already export them with the proper `ownerReferences`, this would avoid the issue with building up the revisions implicitly as it's now.

we need to rearrange the printers a bit, but that should be feasible.

[2020-03-10 16:21] rhuss opened #728 ""kn service export --with-revisions" should create revision COs directly"
Currently, `kn service export --with-revisions` exports only services which are update one after each other. However, as it is allowed to create revisions directly it makes more sense to export those directly, with the proper owner-references.

An `kn service import` then could then also adapt the revision names in case of collisions.

[2020-03-10 17:40] itsmurugappan commented on #653
@rhuss I will give it a try with revisions

[2020-03-10 17:41] itsmurugappan commented on #721
/assign @itsmurugappan

[2020-03-10 21:06] cadeveloper00 opened #732 "Add "kn service status wait" for deployment status check"
Can we add a feature to kn service to check service status after deployment?
This feature should be a blocking call to wait for service status to change from Unknown to final state.

[2020-03-10 21:09] evankanderson commented on #732
This is a suggestion from a customer who is attempting to automate a GitOps workflow, but would like something like `kn service wait-for-ready` to be able to tell when a set of `kubectl apply`-ied configs have settled.

Since `kn service update` already supports wait-for-ready, this is simply requesting to break out that wait-for-ready.

[2020-03-10 21:21] maximilien opened #733 "kn binary needs to be signed for Mac OS X"
### Feature request

Current [`kn-darwin-amd64`](https://github.com/knative/client/releases/download/v0.12.0/kn-darwin-amd64) binary artifact for Mac OS X is not signed. This means that a user that downloaded this binary is not able to "easily" use it on their Mac OS X machine.

If they try to execute the current binary they are prompted with the following dialog box.

<img width="417" alt="kn-mac

[2020-03-10 21:22] maximilien commented on #733
cc @navidshaikh @rhuss

[2020-03-10 21:24] #606 closed

[2020-03-11 03:47] itsmurugappan commented on #723
isnt this the same as #721 ?

[2020-03-11 04:06] itsmurugappan commented on #724
/assign @itsmurugappan

[2020-03-11 04:07] itsmurugappan commented on #728
/assign @itsmurugappan

[2020-03-11 07:32] #566 closed

[2020-03-11 07:57] daisy-ycguo commented on #662
I think the current solution - with a 3 times retries - is good enough. Even the error is caused by users' reason. I don't quite get your point `However, for critical operations it might be preferred to immediately return with an error`.

[2020-03-11 16:12] dsimansk opened #737 "Plugins can't be executed on Windows"
### Bug report

We use `syscall.Exec()` as underlying mechanism to execute plugins locally. However, `syscall` doesn't support Windows as [target platform](https://github.com/golang/go/issues/30662).

The very same problem resolved in [kubectl](https://github.com/kubernetes/kubernetes/pull/76227).

https://github.com/knative/client/blob/db569fae177eb41d688399c33f2d9de64875568f/pkg/kn/commands/plug

[2020-03-12 07:03] MIBc commented on #737
We can refer to `kubectl`. I can help to do it.

[2020-03-12 07:22] rhuss commented on #733
As @dsimansk found out it's the matter who and how you download the binary. See https://discourse.brew.sh/t/code-signing-installed-executables/2131/15 . E.g. when you download with `curl -O -LCopy`  and `chmod a+x` then it works out of the box.

I wonder whether it wouldn't be better to relase as `tar.gz` or `zip` archives with a single binary which would trick browsers ? This would also have the

[2020-03-12 09:37] rhuss commented on #737
Cool, thanks !  I'll assign the issue to you

/assign MIBc

[2020-03-12 10:15] dsimansk commented on #733
From my further tests, archives like `.tar.gz` and `.zip` are flagged by browser with `com.apple.quarantine` attribute as well. The important part is what tools is used to unpack the archive. The build-in MacOS's `tar` will preserve the attributes on unpack, therefore the binary is still unable to run without further actions. However, that's not the case for GNU tar available from brew as "gnu-tar

[2020-03-12 10:53] rhuss commented on #662
I mean, that as I suspect that 90% of the concurrent modification issues are caused by non-conflicting updates (e.g. user updates `spec`, controllers updates `status`) its ok to "override" again. With "critical" I refer to the remaining 10%, so it might be that we want to detect conflicts and then return with an error instead of just overwriting it. Not sure if I'm right here with my assessment, a

[2020-03-12 10:55] rhuss commented on #723
yes ;-)

[2020-03-12 10:55] #723 closed

[2020-03-12 11:45] rhuss commented on #732
Yes, that should be that hard to implement (the only thing would be to also do the initial check for the status in a race-safe way)

[2020-03-13 10:35] rhuss opened #740 "Discussion: Changing Client WG meeting schedule"
The current timeslot for the Client WG meeting every Tuesday is not optimal for many contributors, even if its a bit better during the summer time:

* **10:30am** Pacific Day Time
* **6:30pm** Central European Time (7:30 pm with daylight saving)
* **11:00pm** Indian Summer Time
* **1:30am** China Standard Time

![image](https://user-images.githubusercontent.com/99080/76611585-0d4e9e80-651b-11ea-98

[2020-03-13 10:36] rhuss commented on #740
**Keep the WG call at every Tuesday, 10:30 PDT**

[2020-03-13 10:36] rhuss commented on #740
**Move the WG call to an earlier time** (e.g. 8 or 9am PDT)

[2020-03-13 10:37] rhuss commented on #740
**Two calls per week, one at the current time slot + one much earlier** (maybe on the same time)

[2020-03-13 10:38] rhuss commented on #740
**Alternate time of WG call every week, one week with the current timeslot, the other week earlier the day**

[2020-03-13 13:24] daisy-ycguo commented on #740
Thank you @rhuss . I really appreciate that.

[2020-03-14 08:19] maximilien commented on #519
OK, finally working on this. Should have a PR next week

[2020-03-14 08:24] maximilien commented on #520
Hey @rhuss I discussed with @daisy-ycguo and she’ll be doing the Kafka plugin as I am already doing the GitHub one. The good thing with this split is that by the time we are done we will have both and also some common code.

This is actually a great side effect since I really want to have common code for source plugins in single place to avoid repetition.

That said, might make sense to create a s

[2020-03-14 09:22] maximilien commented on #740
When working with Asia-Euro, which I have been doing for years, the best thing I have found for PDT timezone is two calls per day. AM PDT (8-9a) for US-Euro and early PM PDT (4p or so) for US-Asia. This also gives flexibility for others who are traveling and does not end up being in crazy time for most.

[2020-03-17 01:07] maximilien commented on #737
I also wonder if there is a way to extend PROW to support any platform specific e2e tests execution? Would be useful for this issue (Windows) and the small differences between Mac OSX and Linux. For instance this issue Mac OS X-specific issue #733 will require a Mac to test.

I am going to open an issue to capture this problem. It’s not high-priority since we can trust the various contributors hav

[2020-03-17 01:12] maximilien opened #741 "Need to run e2e tests on different platforms, e.g., Windows, Mac OS X, and Linux"
### Feature request

Currently the e2e tests are automated in CI and run only on Linux containers. This is great but does not reflect the different platforms we intend `kn` users to utilize. As a user client tool, we should expect more users to actually use Windows and Mac OS X as their execution platform.

In addition, some issues have already surfaced that are specific to the user’s platform. In

[2020-03-17 17:40] duglin commented on #740
Can we consider another day too?  Personally, I'm ok with an earlier time but just not on Tuesday

[2020-03-17 18:25] dsimansk opened #743 "kn trigger update doesn't remove filter"
### Bug report

Filter isn't removed with `--filter type-` flag as documentation states.

[code]

### Expected behavior

Filter is removed upon update.

### Steps to reproduce the problem

1. `kn trigger create mytrigger --broker default --sink svc:event-display --filter type=knative.dev.event`
2. `kn trigger update mytrigger --filter type-`
3.  `kn trigger describe mytrigger`

### kn version

HEA

[2020-03-17 18:34] dsimansk opened #744 "kn trigger create fails without --filter flag"
### Bug report

There was a bug in Eventing 0.13.0 that rejected triggers without filters. However, even on version `0.13.1` the creation of such trigger will fail. There's a bug in our current impl that will initialize empty `trigger.Spec.Filter.Attributes` regardless of no flag provided that causes the error behaviour.

Beware, that `kn trigger describe` has to be fixed for empty filters also.

[2020-03-17 21:48] itsmurugappan commented on #728
@rhuss looked at this today.
When we do ```kn service export --with-revisions ```. We would have to export the service and all the active revisions.
When we import using kn import, we would have to get owner uid (of the configuration) after creating the service , plug into revision and create it.
With this approach, Kubectl apply would not work directly. User has to plugin ownerid manually  and us

[2020-03-18 00:45] itsmurugappan commented on #721
This is completed via #739

[2020-03-18 08:15] mvinkler commented on #744
Also, `kn trigger create -h` should be updated accordingly, now it suggests `--filter` is mandatory:
[code]

[2020-03-18 08:18] rhuss commented on #728
Correct.

Yes, that's correct. Sticking the owner-reference together properly is the task of `kn import`.

However, we could also export the`Configuration`, too, so that we can set the owner reference already properly in the YAML file.  I think we should follow this path an export the full graph. Wdyt ?

[2020-03-18 11:09] rhuss commented on #740
As decided yesterday, I opened a Doodle to find the second timeslot (every two weeks) on Tuesday for now: https://doodle.com/poll/kwd5672ic2sdettt

@duglin I'm totally fine to move it also to another day if the group agrees, but for alternating meetings, I'd prefer to stick to the same day to not confuse people too much.

[2020-03-18 11:44] dsimansk commented on #743
The root cause is located in `TriggerBuilder.Filter` function. The current impl works with merged map of filters, but it's never actually replaced only modified. Therefore keys to be removed are stuck there.

https://github.com/knative/client/blob/a858a25135d4dc6f089f5844a5a4d277ded9ca46/pkg/eventing/v1alpha1/client.go#L188-L192

The fix requires PR #745 to land first, because it cover a use case

[2020-03-18 11:44] dsimansk commented on #744
/assign dsimansk

[2020-03-18 13:39] #744 closed

[2020-03-18 23:51] #743 closed

[2020-03-18 23:52] itsmurugappan commented on #728
I am not sure whether this is possible. Please see the below example.
Exporting the service with 3 revisions will result in the below artifacts
[code]

When we create the service again , a new uid and a configuration will be generated, so the exported configuration cannot be used. Now the uid in owner references of the revision has to be changed to the newly generated configuration.

With that bei

[2020-03-20 08:34] rhuss commented on #728
That sounds like a good approach. I have to understand the uid bit a bit better, I wonder whether we could just strip it out ? (and let the controller add it). Sure what the uid is for as the other coordinates are already sufficient for uniquely identifying the service.

[2020-03-20 08:41] rhuss commented on #728
UIDs are decribed [here](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids) but it not clear whether a UID is mandatory. Would be interesting to see what happens if one just remove the UID. Would this work ?

Otherwise I agree that we should rely on `kube import` for the import.

[2020-03-20 09:09] rhuss commented on #728
Another interesting issue is that we would have to create the `Service` first which implicitely creates own `Configuration` and `Revisions`. If we then import then our exported `Configuration` and `Revisions` (with then fixing the ownerRef to the service and deleting the implicitly created objects), we pretty sure run into some races or confuse the controller.

I wonder whether a service side solu

[2020-03-20 09:41] rhuss commented on #728
After some discussion [slack discussion](https://knative.slack.com/archives/CA4DNJ9A4/p1584694716332800) with @markusthoemmes I think we should allow those two mode for `kn service export --with-revisions`:

#### `kn service export --with-revisions`

This will export the objects as described for this issue. The exported format is suitable only for `kn service import` (so I wonder whether we should

[2020-03-20 09:44] rhuss commented on #741
@chaodaiG @chizhg Does our Prow CI infrastructure support running on other platforms than Unix ?

[2020-03-20 09:46] rhuss commented on #721
thanks !

/close

[2020-03-20 09:46] #721 closed

[2020-03-20 10:40] rhuss commented on #400
Sorry for the delay. Let's settle on a `knative/homebrew-client` repoistory (most votes). I will take that it get's created so that we can start to work on that to include the client.

[2020-03-20 16:22] #737 closed

[2020-03-23 03:33] itsmurugappan commented on #728
I tried the above steps. Please let me know if i am missing something

1. Created 2 revisions without owner references which immediately spins up 2 pods which keeps crashing
2. create configuration
3. update owner reference in revision
4. create service
5. update owner reference in configuration and update labels to add "serving.knative.dev/service"
update labels of revision
6. pods are now runnin

[2020-03-23 08:05] rhuss commented on #728
Yes, looks like a serving issue when reconciling a service with an initial not-owned configuration and then updated to an owned configuration by setting the configuration's ownerRef. I would expect the service to eventually reconcile to the ready state, including working routes. @mattmoor is this a correct assumption ? If so I would carry that specific issue over to serving.

[2020-03-23 08:07] rhuss commented on #728
This alone is not what we want. This might be avoided if the _start-with-scale-0_ feature comes, so that not pod gets started (also important to avoid any application specific side effects).

[2020-03-23 16:43] maschmid opened #753 "kn service update greeter --traffic hangs/timeouts"
### Bug report

Running the following against serving 0.12.1 on OpenShift (Serverless 1.5.0)

[code]
hangs, even though the ksvc is ready, and curl shows the correct traffic distribution

[code]

[code]

### Expected behavior

Should not hang

### Steps to reproduce the problem

See above

### kn version

[code]

### Knative (serving/eventing) version

[2020-03-23 19:42] duglin opened #754 "kn service list -o name doesn't seem to work"
### Bug report

[code]

### Expected behavior

Show me the list of services by name - e.g.: `service.serving.knative.dev/echo`

### Steps to reproduce the problem

[code]

Both of the last 2 cmds should work

### kn version

master/HEAD

### Knative (serving/eventing) version

master/HEAD

[2020-03-24 02:45] daisy-ycguo commented on #754
/assign daisy-ycguo
I will take a look at this issue.

[2020-03-24 08:14] rhuss commented on #754
Thanks, @daisy-ycguo  !

Actually the expected behaviour would be a list of service names, line by line (like in `kubectl get pod -o name`

[2020-03-24 08:16] rhuss commented on #753
@maschmid thanks for the report ! I will look at it, but a word of caution when using kn 0.13.0 with a Knative cluster 0.12.1. I should work with Knative serving down to 0.10 but for Knative eventing we decided to support only Knative Eventing 0.13.0+ because of breaking changes in the Eventing API (apigroups moved, pingsource instead of cronjobsource)

I will look into this issue.

/assign

[2020-03-24 08:19] rhuss commented on #753
BTW, I hope we get rid of this "hack" soon, so that one does not have to provide the generated revision name in a traffic split anymore:

[code]

[2020-03-24 15:30] navidshaikh opened #758 "dot release failing with git checkout error"
First dot release of the client 0.13.1 failing while checking out release branch

excerpts:
[code]
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-client-dot-release/1242452798725951488#1:build-log.txt%3A61

/cc @chizhg @chaodaiG

[2020-03-24 15:39] rhuss commented on #758
Could this be related to this change ? --> https://github.com/knative/test-infra/pull/1802/files

[2020-03-24 15:39] rhuss commented on #758
would be interesting what has changed here (maybe an additional `git diff` would be helpful at this point)

[2020-03-24 18:32] chizhg commented on #758
/reopen

[2020-03-24 19:07] itsmurugappan commented on #728
@rhuss i think we can go ahead with the below 2 options you had mentioned.

1. ```kn service export --with-revisions```

* Eventhough import has some challenges, can be useful to show the current state of the service and can be persisted in a cm system.

2. ```kn service export --with-revisions --kubernetes-resources```

* Can be used with kubectl

[2020-03-24 19:56] #758 closed

[2020-03-25 07:24] rhuss commented on #728
@itsmurugappan Yes, that looks fine for me.

Another idea by @evankanderson:

 Revisions after the “latest” is installed, which would allow you to create/update each object exactly once:

The challenge would be how to deal with the traffic (route) configuration of the service when its not pointing 100% to latest.  The question is how can the traffic configuration then be added as a last step witho

[2020-03-25 07:27] rhuss commented on #728
@itsmurugappan also you might want to have a look into this PR which introduces a migration feature to `kn`: https://github.com/knative/client-contrib/pull/6/files#diff-c0d82cc6f6d3bf38a38a9131cf5c3bb7R45 which also already deals with how to set UIDs. // cc: @zhangtbj

[2020-03-25 09:43] rhuss commented on #400
The repo [hombrew-client](https://github.com/knative/homebrew-client) has been created and I added an initial formular for 0.13.1 (thanks @drnic !).

Next step is now to setup Prow properly to PR handling and CI. But I think its probably better to make the creation of the PR be part of the release process of `kn` itself ? (that way we don't need to add a periodic check for a new release, and we ca

[2020-03-25 10:41] rhuss commented on #740
Decision was made to try out a biweekly, alternating schedule so that contributors from the APAC region.

The date and times [we are settled on](https://docs.google.com/document/d/1Uh7jTWQruBBmic-WmTvtc9cMF95kQrKb5lsqWhNuikM/edit#heading=h.mrfej987c0uz) are:

* 10:30am Pacific Time (PDT in summer, PST in winter), starting on April 6t
* 3:30pm Central European Time (CEST in summer, CET in winter),

[2020-03-25 10:59] rhuss commented on #740
PR for community repo added: https://github.com/knative/community/pull/109

[2020-03-25 15:57] itsmurugappan commented on #728
@rhuss the approach used by @zhangtbj is similar to what we discussed https://github.com/knative/client/issues/728#issuecomment-600914117.

This is the import flow,

1. Create service (which creates config and a revision)
2. Get config uuid plugin to other revisions and  create it (Except latest).

[2020-03-25 16:05] itsmurugappan commented on #728
I had tried this approach earlier and it works.

create service with traffic split (eventhough revisions doesnt exist) -> get config uuid plug in to revisions which were not created and create it.

This exactly creates one pod only and traffic split seemed to work correctly.

[2020-03-26 14:48] rhuss commented on #728
Sounds good, so we might want to try todo this.

[2020-03-26 15:29] duglin opened #762 "Misleading error message with multiple names"
### Bug report

[code]

### Expected behavior

I would have expected either something like:
[code]
or for it to do the update on both services (I kind of like this option).

### Steps to reproduce the problem

See above

### kn version

master/head as of 2020/03/26

[2020-03-26 15:30] duglin commented on #762
It would be nice if the fix was global and not just for the update cmd

[2020-03-26 17:25] rhuss commented on #762
Good point and also related to #213 which we should tackle within the next 3 months.

[2020-03-27 02:33] maximilien opened #763 "Extract common `kn` functionality for plugins and specialized Knative clients"
### Feature request

In creating Knative source plugins we discovered that there various parts of Kn that should be easily usable. For example setting up `namespace` and `sync` flags. So are creating `e2e` tests for the plugins.

Much of the functionality above should be usable (so exported) and to avoid closely linking these common libraries with the release cycle of `kn` it's best to extract the

[2020-03-27 02:33] maximilien commented on #763
cc: @rhuss @daisy-ycguo

[2020-03-27 10:56] rhuss commented on #530
`ContainerSource` is back in the game via https://github.com/knative/eventing/pull/2824 so let's reopen this issue and work on it.

[2020-03-27 10:57] rhuss commented on #530
@daisy-ycguo if you have interest you could pick this up again.

[2020-04-01 10:28] mvinkler opened #767 "Plugins can't be executed without extension on Windows"
### Bug report

kn 0.13.1 on Windows is not able to execute plugin without specifying the extension:
[code]
### Expected behavior

`kn hello` executes `kn-hello.bat` plugin
### Steps to reproduce the problem

1. create `kn-hello.bat` file in `~\AppData\Roaming\kn\plugins\`
[code]
2. run `kn hello`

### kn version

[code]

[2020-04-01 16:14] rhuss opened #768 "Add "--target-utilization" to manage "autoscaling.knative.dev/targetUtilizationPercentage" annotation"
### Feature request

In order to override the default utilization of 70% it would be cool if `kn` would allow an option `--target-utilization` for setting the percentage of utilization before scaling up. This option should go to `kn service create` and `kn service update`

[2020-04-01 16:22] navidshaikh opened #769 "test: fix typos/docstrings"
from https://github.com/knative/client/pull/765 review

[2020-04-01 16:23] navidshaikh commented on #769
/assign @maximilien

[2020-04-01 23:28] maximilien opened #772 "refactor: simplify parameters in e2e tests"
### Refactor

From PR #765

[code]

[2020-04-01 23:29] maximilien commented on #772
cc @navidshaikh @rhuss

[2020-04-02 08:39] #769 closed

[2020-04-02 10:00] MIBc commented on #768
I can do this.

[2020-04-02 19:35] maximilien commented on #762
But for this one I think passing one name for create makes a lot of sense since the command is not `kn services create ...` which would say many creates. if you want to create many services then you can easily issue command many times.

[2020-04-02 19:39] maximilien commented on #762
/assign @maximilien as I am doing a live recording showing how to contribute to `kn` and this could be easy. I think this can be solved by itself rather and then perhaps solve all `kn ... create ...` for other commands. Cool?

[2020-04-02 21:28] duglin commented on #762
I can see an argument for 'create' being special and not allowing multiple

[2020-04-03 12:57] #767 closed

[2020-04-03 19:29] maximilien commented on #762
/assign @maximilien

[2020-04-03 20:01] maximilien commented on #762
/assign @maximilien

[2020-04-07 17:46] sixolet opened #786 "Check DeleteTimestamp before creating/modifying resource"
### Bug report

We currently don't check if metadata.deleteTimestamp is set before modifying a resource.

### Expected behavior

Give the user an error if metadata.deleteTimestamp is set; the resource is in the process of a foreground deletion.

### Steps to reproduce the problem

Delete and then immediately modify a service

[2020-04-07 19:55] #762 closed

[2020-04-08 02:26] MIBc commented on #786
I want to try.

[2020-04-08 09:18] #772 closed

[2020-04-08 12:21] MIBc opened #789 "`service describe` show repetitive revisions if service has multi revisions"
### Bug report

If a service has more than three revisons. The 'kn service describe -v' will show repetitive revisions.
Here is a screenshot：
![image](https://user-images.githubusercontent.com/4477478/78783192-c9de3780-79d5-11ea-8a3c-c78a358a2e7f.png)

I have read the [code](https://github.com/knative/client/blob/master/pkg/kn/commands/service/describe.go#L324).
The reason is that the revison woul

[2020-04-09 00:28] duglin opened #792 "Consider adding support for `--all` on `kn service delete`"
### Feature request

Kubectl has a `--all` option to mean "all instances of the specified resource in the namespace". So for example: `kubectl delete ksvc --all` will delete all KnServices in the default namespace. I find this very useful when I want to quickly clean things up.

It would be really nice if we could do: `kn service delete --all` to delete all KnServices.

It might be good to look in

[2020-04-09 11:37] rhuss commented on #792
Looks like a good addition, however, I'm afraid that it can't be in an atomic fashion if the backend doesn't support atomic delete. What if new objects are created during deletion ? What if queried objects are removed in parallel ? (which is not made up considering that a sync delete can take several seconds).

But for a 'best-effort' delete, I think would be fine, although I doubt its useful exce

[2020-04-09 12:04] duglin commented on #792
Even if it were atomic the user could still experience a new Ksvc being created right as it was completing the atomic delete, or even during the return of the "200 OK". So, yep, I think a "best-effort" delete is fine and really all anyone can hope for. I think anyone who uses this is just looking for a convenience thing anyway.

[2020-04-13 08:51] navidshaikh opened #795 "e2e: Update tekton e2e tests"
Update tekton e2e tests to use latest pipeline release v0.11.1.

[2020-04-14 04:43] navidshaikh opened #798 "Fix resource listing with -oname flag"
### Bug report

Follow up issue of https://github.com/knative/client/issues/754 for fixing this for other resource listing.

### Expected behavior

`-oname` flag works for all resource listing.

### Steps to reproduce the problem

[code]

### kn version
HEAD

### Knative (serving/eventing) version
Any

Fix for service listing: https://github.com/knative/client/pull/775

[2020-04-14 04:58] #754 closed

[2020-04-14 09:20] navidshaikh opened #800 "wait, no-wait and async flag should follow bool var CLI conventions"
We're using cobra util to define `no-wait` bool flag. It gets confusing to pass true/false to flags starting with `no`. We've `AddBothBoolFlagsUnhidden ` utility to take care of bool flags according to convention.
This is to track updating the flag definition to use mentioned utility.

See https://github.com/knative/client/pull/794#discussion_r407985406

[2020-04-14 09:22] #718 closed

[2020-04-14 09:23] navidshaikh commented on #800
/assign

[2020-04-14 13:58] dsimansk commented on #789
Fixed in PR #790.

/close

[2020-04-14 13:59] #789 closed

[2020-04-14 14:10] #798 closed

[2020-04-14 19:36] #800 closed

[2020-04-15 16:14] rhuss opened #809 "Add support for ContainerSource"
### Feature request

ContainerSource is back with https://github.com/knative/eventing/issues/2755 in Eventing 0.14.0. As a built-in source we should support it out of the box.

[2020-04-16 01:14] daisy-ycguo commented on #809
/assign
I would take a look at this feature.

[2020-04-17 01:32] daisy-ycguo commented on #650
/assign

[2020-04-18 22:47] mattmoor opened #812 "Support plural resource nouns"
### Feature request

In `kubectl` and `tkn` I can use either the singular or plural for resource names, but with `kn` I get an error when using the plural:

[code]

IMO `services` should simply alias `service`.

[2020-04-20 07:11] rhuss commented on #812
+1 especially for commands that operate on multiple resource instances (but I wouldn't also mind so support both variants unconditionally eg. also `kn services create`)

[2020-04-20 07:23] navidshaikh commented on #812
should we also consider bringing other aliases with this?

for example
 - `svc` for services
 - `rev` for revisions
etc

[2020-04-20 07:55] rhuss commented on #650
Sounds good ! I have a crazy busy week ahead, but if you have any ideas how you would like to structure the eventing docs, let me know. We can already start with `sandbox/docs` in `client-contrib` (or we might open a `client-sandbox` repo for this ?)

[2020-04-20 09:51] navidshaikh commented on #520
Kafka source plugin https://github.com/knative/client-contrib/pull/19

[2020-04-20 09:51] navidshaikh commented on #520
/assign @daisy-ycguo

[2020-04-20 11:56] duglin commented on #812
svc might be too easily confused with k8s svc

[2020-04-20 13:04] rhuss commented on #812
don't think this is a strong argument as the same applies for 'service' itself, too. (i.e. that it can be confused with a k8s 'service')

I thin we can consider command shortcuts but I would do it one step after the other. @navidshaikh would you mind to open an extra issue for this ? There we could also collect the possible shorcuts (like also `src` for `source` ...)

[2020-04-20 14:10] mattmoor commented on #812
To chime in on shortnames, muscle memory would have me typing `ksvc`, which is how we alias it in kubectl 😇

[2020-04-21 02:04] maximilien opened #814 "kn plugins for eventing sources should be able to extend `kn source` group"
### Feature request

Current `kn` plugin architecture prevents plugins to extend existing command groups. This makes sense since we would not want a `kn-service-create` plugin that redefines the `service create` commands. Same for almost all other `kn` command groups.

But there is at least one exception. This is for command groups where we want to define sub-groups but at the same time allow exte

[2020-04-21 02:05] maximilien commented on #814
/assign @maximilien

[2020-04-21 05:44] rhuss commented on #814
tbh, I thought this would be true only for case where a terminal command would overwrite an built-in command (actually the command on which an "Run" is attached).

I suggest to implement this in the generic fashion to just verify that there is no collision on the terminal (sub) command.

[2020-04-21 11:33] rhuss opened #815 "Honour deletionTimestamp for "kn revision delete", too"
As followup to https://github.com/knative/client/pull/805 add the deletion timestamp handling also for `kn revision delete`.

[2020-04-21 11:54] #786 closed

[2020-04-21 13:37] rhuss opened #816 "Refactor autoscaling parameters"
Since we have collected all concurrency related options with the option prefix `--concurrency-` and also list them together in `kn service describe`, the autoscale window parameter should be also in this group. So either move everything to `--concurrency-` or, move everything (limit, target, utilization, window) to `--autoscale`.

I'm not sure in which direction to go, moving to `--concurrency` is

[2020-04-21 13:59] duglin commented on #816
Just to add another wrinkle into it... not having the same names as what people would put into the yaml has caused me some mental pain :-)   it makes it harder to switch between the two worlds.  Thinking/remembering is hard.

[2020-04-21 15:07] MIBc commented on #815
I want to continue working on it.

[2020-04-21 15:16] rhuss commented on #816
I totally agree that we should align where it is possible, but the concurrency options are a bit 'special', as they are sprinkled all over the YAML (as annotations and different fields). I see the value of the CLI to allow a use to *not* remember the full annotation.

I think we should use the given name where possible, but deviate where needed. E.g. I really would love to have all concurrency/sca

[2020-04-21 15:20] rhuss commented on #815
/assign MIBc

[2020-04-21 15:20] rhuss commented on #815
Yes, sorry for already merging the other PR but we are cutting a release today (0.14.0), so wanted to have your contribution to be included.

[2020-04-22 07:29] rhuss commented on #795
@navidshaikh can this be closed ?

[2020-04-22 07:41] rhuss commented on #733
Where do we stand with this issue ? Do we have a plan, e.g. which cert could sign our binaries so that the workaround mentioned above would not be needed anymore? // @navidshaikh @dsimansk

[2020-04-22 07:42] rhuss commented on #673
@navidshaikh I think we can close this issue, right ?

[2020-04-22 09:59] navidshaikh commented on #673
@rhuss : The linked PR https://github.com/knative/client/pull/674 was closed and the examples aren't updated with real image yet, so the issue is still outstanding.

[2020-04-22 10:28] navidshaikh commented on #795
/close

Yes.
We're now `tekton.dev/v1alpha1` tasks for test pipeline on pipeline release v0.11.1.
There are `tekton.dev/v1beta1` tasks available we can update our pipeline accordingly, can be tracked in a separate ticket.

Fixed by https://github.com/knative/client/pull/803

[2020-04-22 10:28] #795 closed

[2020-04-22 10:39] navidshaikh commented on #733
Signing needs to happen in test-infra before publishing the release binaries (can be done for Windows binary as well with macOS).

@chaodaiG @chizhg WDYT about feasibility of this and required certs?

[2020-04-22 15:21] rhuss commented on #673
I see. Let's see whether we find a good image (with a hopefully not so long name)

[2020-04-22 15:56] maximilien commented on #814
I think there is value to both. Some command group should not allow extensions. For instance adding any sub commands fo `service` would IMO a bad thing.

Sure but only for allowed command groups.

[2020-04-22 21:27] richterdavid commented on #336
#334 was closed "in favour of more specific issues around sources", but it's unclear what dependencies this issue has on those (unspecified) more specific issues.

Would you please clarify this? Thanks!

[2020-04-27 05:12] cdlliuy opened #821 "kn client report `timeout` and the kn service is ready"
Currently,  we are running with  kn client v0.13.1 and knative 0.13 as well.
[code]
When running kn client,  sometimes I noticed `kn` reported `timeout` , but the underneath ksvc's status is ready.

See below example:
with cmd1: kn client report to timeout after 295 seconds since `[2020-04-26 14:01:48.81 (UTC)]`
with cmd2:  we can see the ksvc was ready
with cmd3:  the route ready happened at `202

[2020-04-27 15:28] daisy-ycguo commented on #809
ContainerSource has a field `Template corev1.PodTemplateSpec` whose type is:
[code]

Although there are many fields in PodTemplateSpec, we could not support all fields as options. I would select some frequently used fields as container command options. Here are what I have selected:
- container name
- container image
- ImagePullPolicy
- Args
- Env

If you have more in your mind, we could discuss w

[2020-04-28 07:45] rhuss commented on #816
According to [Configuring Autoscaling](https://docs.google.com/document/d/1GQiHc-tDUALK16Bu7Uz1J9fi9CrkhZUKZ7PVMXeIOH8/edit)

we should probably better move to `--autoscale-` prefix and deprecated `--concurrency-` (so, support it for the next releases, too but move to a uniform prefix). I think that makes sense if we want to support even more autoscale related parameters. The per-revision paramete

[2020-04-28 09:09] rhuss commented on #336
We are implementing source support in `kn` on multiple levels:

* Builtin sources that come with Knative eventing itself: PingSource, ApiServerSource, SinkBinding and ContainerSource. Except for ConainerSource this is implemented ('builtin source')
* Source functionality by Plugins. The first source plugin will be a [KafkaSource](https://github.com/knative/client-contrib/issues/9) that is develope

[2020-04-28 09:15] rhuss commented on #814
Why ? What's about a `kn service log` for showing los on a kubernetes based system (like stern does) ? or `kn source apiserver log` (so logs on various levels).

[2020-04-28 09:15] rhuss commented on #814
I would allow it for every group, but forbid to override.

[2020-04-28 09:19] daisy-ycguo commented on #821
@cdlliuy is it a local network problem ? I mean, if the local network is not stable, it may cause the issue.

If there is a way to reproduce the issue, we could look into it.

[2020-04-28 09:51] rhuss commented on #821
I don't think it's a network issue. Could you please try with 0.13.2 and/or 0.14.0 ? We had a [fix](https://github.com/knative/client/pull/701) for a similar issue but this fix is supposed to be included in 0.13.0 already.

Also, does this issue all the time or only sporadically ?

[2020-04-28 09:55] rhuss commented on #809
I wonder whether we could 'reuse' the part from `kn service create` as this is also about setting up a `PodSpec` for the revision (so we could split out those options that are about specifying the pod teplates into a separate package and reuse it). This would have also the benefit that the UX would be uniform for `kn service create` and `kn source container`.

Or this might be not really what we w

[2020-04-28 09:57] rhuss commented on #809
Thinking again, I believe its better to follow the kubectl syntax and maybe add an option `-f` that allows to import a PodTemplate from a YAML file (could be a plain `Pod` declaration)

[2020-04-28 10:13] cdlliuy commented on #821
@rhuss ,  it is sporadically .
we did have several `ingressnotconfigured` errors when creating knative services at the end of the designed `timeout`, but  when analyzing all the `timeout` failures , we found above un-honest timeout cases mixed inside.
Also, given the commit version of v0.13.0 is `db569fa`,  I think the mentioned fix did included already.

[2020-04-28 10:37] daisy-ycguo commented on #809
Here are `kubectl run` options
[code]

[2020-04-28 10:37] daisy-ycguo commented on #809
and here are `kn service create` options:

[code]

[2020-04-28 11:48] rhuss commented on #809
I would just start with:

- [ ] `--image`
- [ ] `--env`
- [ ] `--label`
- [ ] `--annotation`
- [ ] `--service-account`

[2020-04-28 11:48] rhuss commented on #809
we always can add more later (and also check for synergy with `kn service`)

[2020-04-28 11:51] duglin commented on #816
I'd hold off until they're done with that doc and resulting PRs. I'm still hoping they'll rename stuff as a result of that work.

In particular, `--autoscale-limit` is not a great alternative to `container-concurrency`. As a user I would guess that `--autoscale-limit` is about max scaling of instances, not the amount of concurrency allowed per instance

[2020-04-28 13:57] itsmurugappan commented on #816
@rhuss  can I please get access to this doc ?

[2020-04-28 14:42] rhuss commented on #816
We sorted out the issue. FYI you need to subscribe to https://groups.google.com/forum/#!forum/knative-dev in order to access Knative documentations ....

[2020-04-29 05:43] MIBc commented on #815
Why we need to check deletionTimestamp for revision delete?
Unlike update command. Deleting revision will not hang until timeout. It may raise `resource not found` error if revision has been deleted.

[2020-04-29 06:47] MIBc commented on #821
Can you show the ksvc created time in k8s.
We need to make sure time synchronization between client side and k8s cluster.

[2020-04-29 17:58] rhuss commented on #815
Not sure if I understand you comment correcly. Wouldn't it make sense to have consistent behaviour for deleting any resource ? I.e. if the the`deletionTimestamp` is set then no deletion is attempt again (regardless of what we delete).

[2020-04-30 08:29] markusthoemmes commented on #816
FWIW: I would vote against `--autoscale-limit` definitely, it's not even really an autoscaling parameter. It's more of a loadbalancing/enforcement paramter for the revision which is just inferred into `target` by the autoscaler, because that makes sense from its PoV. I'd not prepend that with `autoscale`.

[2020-04-30 14:17] rhuss commented on #816
@markusthoemmes so you are saying that the "limit" and the "target" are not belonging to the same group (like kind of imposed by the syntax "autoscaling.knative.dev/target"), where on is connected to autoscaling and the other not ? If so, then I think the analogy to 'soft' vs 'hard' limit is a bit misleading then, too (limit of what ?)

So its should be `--concurrency-limit` and `--autoscale-targe

[2020-04-30 14:51] markusthoemmes commented on #816
Yeah, it's a little involved.

The autoscaler only knows about the target. If no explicit target is set, it is derived from the concurrency limit (aka containerConcurrency). I agree, the analogy might be a bit weird, it explains the behavior from the user's pov though.

[2020-05-01 21:24] duglin opened #822 "support --scale"
I find myself often needing to do: `--min-scale=X --max-scale=x`, usually when x=1.

It might be nice to support a short-cut here: `--scale=x` to mean "set both min & max".

Just a thought...

[2020-05-04 22:07] danielhelfand opened #823 "Confusing Error Message from kn service describe When Revision Not Available"
### Bug report

When using `kn service describe` on a Service where the Revision is not available, the following error message is returned:

[code]

It would be helpful to display a more informative error message or display that the Revision is not ready as part of the describe command.

Debugging this locally, this error comes from [`completeWithLatestRevisions`](https://github.com/knative/client

[2020-05-05 08:45] rhuss commented on #823
Thanks, for the report, good find. We should address this for the next release. Volunteers ?

[2020-05-05 09:19] rhuss opened #824 "Introduce "KnExport" type for defining an export format."
### Feature request

We have now `kn service export` which supports two modes for exporting revision: One which is directly usable with `kubectl` and uses a kind of "replay of services" to build up the service-configuration-revision graph and one which exports the service and revisions directly. However, the latter can not be applied directly to Kubernetes but only with a (still to build) `kn serv

[2020-05-05 09:19] #728 closed

[2020-05-05 09:23] rhuss commented on #824
bike shedding: I wonder whether this has to remain a client-side feature or would make also for a nice server-side feature by using this type as a real CRD ? In that case, a more "neutral" would make sense (like `serving.knative.dev/Export`)

[2020-05-05 09:24] rhuss commented on #824
Well, maybe "export" is not the right wording here, as it focuses on the direction. Maybe "Transport" or "Transfer" is better suited ?

[2020-05-05 13:20] danielhelfand commented on #823
Would be happy to pick it up if no one is working on it. Not sure of the significance of the empty string coming from. Would just skipping the empty string be appropriate? That I could dig into as far as its origin.

[code]

[2020-05-05 15:27] itsmurugappan commented on #724
@rhuss this was fixed by #819.

[2020-05-05 15:58] itsmurugappan commented on #824
Server side feature means, controller would be reacting to the resource created right ? Then would'nt that work with kubectl apply itself ?

whether we have it at the client or server, crd needs to be packaged with serving install scripts.

[2020-05-05 16:05] rhuss commented on #824
Yes, it would then work with kubectl as well, but then also "properly" as the server side controller is expected to set up the proper ownerrefs.

When we only use it only client side than no CRD is required. Its all about the client translating this yaml to the appropriate Knative Services and Revisions and apply them when using `kn import`. That way, if you use kubectl you will get an error becau

[2020-05-05 16:06] #724 closed

[2020-05-05 16:45] itsmurugappan commented on #824
for leveraging the cli-runtime output formats we need the crd right ?

[2020-05-05 18:09] #814 closed

[2020-05-05 19:38] maximilien opened #827 "Supporting extending all command groups?"
### Feature request

PR #818 allows extensions to the `source` command group. This is needed since `kn` has core commands under `source` to support some eventing sources, e.g., `ping`. However, since the number of variety of eventing sources is large and growing, we envisioned additional eventing source support to be added as plugins. See for instance the `source kafka` and `source github` and oth

[2020-05-05 19:44] maximilien commented on #827
@navidshaikh and @rhuss and others, please chime in here with any opinions and changes on what should this feature would look like.

My goal is to update on any sensible suggestion and open a vote in about 24 hours. We will keep vote open for about the same (24 hours) and if we are a go I can implement this feature thereafter. It’s tricky but doable and know how to approach it based on #818.

Than

[2020-05-05 19:47] maximilien commented on #827
@sixolet @cppforlife @duglin @jchesterpivotal @daisy-ycguo and others who might not have seen this and have been part of this project early on, please chime in your opinion on this or wait for vote. Thanks 🙏🏽

[2020-05-05 19:48] maximilien commented on #827
/assign @maximilien

[2020-05-05 20:52] navidshaikh commented on #827
IMO, we should allow a plugin to extend command groups and bring its own leaf commands as long as they don't collide with kn's own commands.

No for use case 2 to override kn's (leaf or group) commands with plugins, this could bring uncertainty.

[2020-05-06 01:06] maximilien commented on #827
OK thanks for chiming in @navidshaikh. I certainly like this better.

Let's see what others say and I will update. Best.

[2020-05-06 05:43] rhuss commented on #824
Yes, but that does not have to be registered at the server but only locally in the code via a _schema_ . The idea to leverage the CRD machinery on the client side without actually deploying the CRD to the server.

[2020-05-06 05:58] rhuss commented on #827
For me, it is clear that we must not allow use case 2, i.e. no leaf command can be overridden. If some plugin author feels the need to do things differently than the builtin kn commands, then he should name his plugin individually (like 'kn-service-mycreate').

For use case 1, I'm all in for not applying **any restriction** to add new commands to existing command groups at any level. My arguments

[2020-05-06 11:21] navidshaikh opened #828 "e2e: Running serving or eventing specific e2e is broken"
### Bug report

Unable to run serving or eventing specific e2e tests using tags.

### Expected behavior

A user should be able to run only eventing or serving specific e2e tests.

### Steps to reproduce the problem

[code]
OR
[code]

### kn version

HEAD/master

[code]

/kind good-first-issue
/kind cleanup

[2020-05-06 11:22] navidshaikh commented on #828
/assign

[2020-05-06 14:25] itsmurugappan commented on #824
assign /itsmurugappan

[2020-05-06 14:26] itsmurugappan commented on #824
/assign @itsmurugappan

[2020-05-06 20:02] maximilien commented on #827
OK so based on the current feedback. Seems like the consensus is to only allow use case #1. I repeat and refine it here in the least amount of text as I could.

-----
*Use case:* allow any plugin to extend any command group. This implies core groups, e.g., `service` as well as groups introduced by an existing plugin, e.g., `kn-max-foo` which introduces command group `max` and command `foo`.

There

[2020-05-06 20:26] rhuss commented on #827
Sorry, I can't vote on this ballot. What are the options ? What happens if the majority is against it ? Is 👍  option 1, and 👎  option 2 ?

For option 1 to decide, what is the definition of "core" extension ? When two conflicting plugins introduce the same command group, which one 'wins' ?

What should be voted for when neither 1. or 2. is appropriate ? (2 I guess)

You mean when you have two plugi

[2020-05-06 20:27] rhuss commented on #827
Regardless what, my vote is for no restriction at all except for an **exact clash to a core command** (like `kn-service-create`)

[2020-05-07 01:54] danielhelfand opened #829 "Confusing Error Message When Using kn service update"
### Bug report

When using `kn service update` with the [`helloworld-go`](https://knative.dev/docs/serving/samples/hello-world/helloworld-go/) service example, an odd error response comes when you run the following:

[code]

The issue has nothing to do with the service name argument. The issue is that `--env TARGET=Go Sample v2` should be a string: `--env TARGET="Go Sample v2"`.

Possibly related

[2020-05-07 05:47] #823 closed

[2020-05-07 06:22] rhuss commented on #829
It's indeed confusing here, but it's hard or even impossible for `kn` to detect that you forgot quotes for your label. For `kn` you called `kn service update` with three, non-flag arguments: "hello-world-go", "Sample" and "v2". The error message reports that you must only use a single argument which has to be the name of the service to update.

Maybe instead of

rephrasing this to

sounds better ?

[2020-05-07 07:19] MIBc commented on #829
In kubectl , it raise `error: exactly one NAME is required, got 2`  :)

[2020-05-07 08:38] rhuss commented on #827
@maximilien I added some additional explanation to your poll description. Please check whether this appropriate and reflects your thoughts.

[2020-05-07 08:51] rhuss commented on #827
@maximilien  ok, but please let me just add this one thought/question (also posted to slack): Why is the kn user-experience protected when using a kn service-log compared to a kn service log kind of plugin ? IMO its exactly vice versa.

I'm with you that we definitely should strive for a coherent UX, kn combined with plugins. But for me this is more about how to name and model options so that for

[2020-05-07 09:13] rhuss commented on #827
If we allow extension of any group, we should **not allow** to convert a leaf-command to a command group because of a plugin. E.g. a `kn-service-create-mystuff` has to be disallowed as it would convert a builtin terminal command (`create`) to a command group as the longest path normally wins in the plugin resolution.

[2020-05-07 22:18] maximilien commented on #827
OK looks like people want to have use case 1. That is allow plugins to extend a core command group so long as the user sets `allow-core-group-extensions: true` in their `~/.config/kn/config.yml` file. It will be set to false by default.

So a user that has this feature set in their configuration can add a plugin named `kn-service-blah` and will be able to call: `$kn service blah` as part of their

[2020-05-07 22:19] maximilien commented on #827
From Slack discussion, to document my view for posterity, especially since I am in the minority and I lost this vote:

[code]

[2020-05-07 23:33] duglin commented on #827
Just FYI - I don't see the need for the config flag - seems like an unnecessary burden on people. IMO it would have only been needed if we allowed people to override core kn cmds

[2020-05-08 00:37] maximilien commented on #827
I guess I added the flag because of how much I hate this. But since I lost the vote, sure. I can remove the unnecessary burden. Comment here @rhuss, @navidshaikh, @dsimansk (the ones who voted) if you are OK for no config flag.

[2020-05-08 15:21] navidshaikh commented on #829
I think best way to move forward for this issue is documenting to quote space separated flag values.

Ideally, the error message should come from the flag parsing library where it recognizes the pattern where command requires arg(s) and there are multiple values passed after `=` for flags.

[2020-05-11 13:09] #828 closed

[2020-05-12 16:51] danielhelfand commented on #829
Agree on this. Would be great if there was some flag-level validation on this, but I also think I can agree that a documented example might be the best way to go here. I realize this issue is a bit nitpicky as far as this error is concerned.

[2020-05-12 18:55] rhuss commented on #829
I don't think this is easily possible as it is pefectly valid to use a command like `kn service create --env MYENV=value myservicename`. It's just that a space is an argument separator for any command, and tbh I would expect that a user on the teminal is aware of this (as the same behaviour applies to any unix command).

But the error message should be better. Like when multiple arguments are give

[2020-05-12 18:56] rhuss commented on #829
Repeating the detected arguments in the error message might be just good enough.

[2020-05-12 20:35] danielhelfand commented on #792
Anyone working on this, or is there any further discussion to be had with this? Would be interested in picking this up if this is ready to be worked on.

[2020-05-13 00:51] duglin commented on #792
@danielhelfand go for it! thanks

[2020-05-13 12:34] danielhelfand commented on #792
/assign

[2020-05-14 10:52] #792 closed

[2020-05-14 23:04] btannous opened #839 "kn zsh completion does not work"
### Bug report

zsh completion seems like it is not working properly.  Bash completion does work <when using bash>

### Steps to reproduce the problem

[code]

### kn version

[code]

[2020-05-15 10:56] navidshaikh commented on #839
@btannous : Can you please retry with
[code]

[2020-05-15 12:58] duglin opened #842 "kn service describe should show # of instances"
Today `kn service describe` will show this in it's output:
[code]
The `[6]` is interesting. I believe that the generation number - or in user's terms, my version # of my app. That's (sort of) interesting, but at first I thought it was the # of instances of this Revision that were running... that would be far more useful to me.

Proposal: show the # of instances of each revision instead of the gene

[2020-05-15 13:06] danielhelfand commented on #842
Would it perhaps be clearer to call this out by including a more explicit property under `Revisions` to denote that it signifies the generation? Mainly this suggestion is to keep this information available, but think additional information like you're suggesting on instances is valuable as well.

[code]

[2020-05-15 14:58] btannous commented on #839
@navidshaikh that works! Thank you!

[2020-05-15 15:10] btannous commented on #839
Added this to oh-my-zsh, https://github.com/ohmyzsh/ohmyzsh/pull/8927

[2020-05-15 16:30] abrennan89 commented on #650
@rhuss should this be filed against the /docs repo instead? :thinking:

[2020-05-18 12:50] navidshaikh commented on #490
/assign

[2020-05-18 18:59] danielhelfand opened #845 "kn source -h Returns Error: unknown command 'source'"
### Bug report

Running `kn source -h` returns `Error: unknown command 'source'`. This appears due to how `kn` validates commands with plugins.

This occurs because [`HandlePluginCommand`](https://github.com/knative/client/blob/0df54bc500ad960568e5d00285d3f112b9db665e/pkg/kn/commands/plugin/handler.go#L126) searches for a binary on the local path and returns [`Could not find plugin to execute`](ht

[2020-05-18 18:59] danielhelfand commented on #845
/assign

[2020-05-18 23:53] jchesterpivotal opened #847 "`kn source ping describe foo` panics when Sink uses URI instead of Ref"
### Bug report

When using `kn` to describe a PingSource, it will panic due to a nil pointer error if the Sink was defined with a URI instead of a Ref.

I believe the bug lies [in this code](https://github.com/knative/client/blob/0df54bc500ad960568e5d00285d3f112b9db665e/pkg/kn/commands/source/ping/describe.go#L93-L94):

[code]

Specifically, the code assumes that `sink.Ref` is not nil. Interesting

[2020-05-19 10:09] #839 closed

[2020-05-19 10:59] rhuss commented on #847
Thanks for the report, good find !

This should be easy to fix.

[2020-05-19 11:01] rhuss commented on #845
Thanks for spotting this and working on this. See my comment on the PR why I think ignoring plugins can not be the full solution.

[2020-05-19 11:03] rhuss commented on #842
I totally agree that the number of current replicas is useful to show (I hope this is part of the Revision resource, don't know this by heart). The generation is useful when compared against other revisions, just to easily spot which one is newer (also newer version) in which one is older. As absolute number, the generation is not of much use, agreed.

[2020-05-19 11:06] rhuss commented on #842
There is always kind of a compromise between available screen estate and verbosity, especially when it comes to lists. The list of revisions might not be that long to maybe we overdid a bit with the conciseness. I would like to rework the presented information anyway, as I'm also not so happy how we visualize the "@latest" property and the images hashes (e.g. it could be that the same revision is

[2020-05-19 16:38] mattmoor commented on #822
It could support a range as well, e.g. `0-10`

[2020-05-19 17:26] rhuss commented on #822
So maybe deprecating `min-scale` and `max-scale` and shoot for a

[code]

[2020-05-19 23:36] coryrc commented on #741
No

[2020-05-19 23:40] coryrc commented on #741
Well, it doesn't even support Unix! It only supports Kubernetes.

But if someone was able to provide a kubernetes cluster running Windows and created the image performing desired e2e test (along with downloading repository and uploading files to GCS) I think we actually could do this.

[2020-05-19 23:41] coryrc commented on #741
There might also be a non-Prow way of doing things that interacts with Github and could be a blocking presubmit, though there wouldn't be any periodic job.

[2020-05-20 02:22] duglin commented on #822
I think supporting a range is an ok option, and would prefer “-“ over “..”, but I wouldn’t remove the min and max options though. Doing that would require people to do a get() of some kind to find the current values before they could change just one of them. Meaning, if I don’t know what the current min and max are, but I know I want to set min to zero, I would need to first get() the ksvc to get

[2020-05-20 06:54] rhuss commented on #822
@duglin With "undefined" in the example above I mean: Leave untouched.

[2020-05-20 06:57] rhuss commented on #822
I don't like `-` very much because a scale of "-5" is ambigous (and nonsense if interpreted as a sign). "-" is too overloaded IMO. `..` as the "range" operator is a good fit imo.

[2020-05-20 08:36] #847 closed

[2020-05-20 11:46] duglin commented on #822
re: "undefined"... ah, I missed that. Interesting. My first reaction was that it meant "max" (or "min") based on which side it was on.  I wonder if other people will jump to the same incorrect conclusion.

re: "-", doi! totally forgot that "-" would be confused with options processing.

[2020-05-20 18:29] jchesterpivotal opened #849 "Support `--ce-override` on `ping` and `apiserver` sources"
### Feature request

All `Source`-ducktyped objects include a `CloudEventOverride`, which serializes as `extensions`. In `kn`, this is exposed as an option for `source binding create` and `source binding update`, but not for comparable commands on `ping` and `apiserver` command groups.

Also print the cloud event overrides extensions in `describe` output for sources if present.

The request is to

[2020-05-21 22:32] maximilien opened #850 "Avoid `os.Exit(...)` calls other than in top level command handling in `main.go`"
### Bug report

This is not technically a bug but rather a "code smell". Came from [discussions](https://github.com/knative/client/pull/834#discussion_r427206020) in PR #834 with @rhuss

### Expected behavior

No change except we should not be exiting using `os.Exit(...)` anywhere but top level calls ideally in `main.go`

### Steps to reproduce the problem

N/A

### kn version

[code]

### Knative

[2020-05-23 07:06] ZhuangYuZY opened #852 "kn service describe should show cluster local endpoint url"
Today kn service describe can show many information, but I think it miss cluster local endpoint url when it available. Cluster local endpoint url is important when developer want to build multiple micro services. Only one micro service as external endpoints, but others using cluster local endpoint to communicate.

kn client should show cluster local endpoint when it available to make developer kno

[2020-05-25 13:26] rhuss commented on #852
Could you try `kn service describe --verbose` ? This should include the Cluster URL, too.

Please reopen the issue if it does not fit your bill.

[2020-05-25 13:26] #852 closed

[2020-05-26 05:12] #850 closed

[2020-05-26 13:01] cdlliuy opened #858 "kn service delete didn't return within 5m in sync mode"
### Bug report
In our environments,  *sometimes*,  the `kn service delete` cmd didn't return within 300 seconds.

We are running with the latest kn client in which the deletion works in a sync approach.

Once the deletion is hang,  we checked the ksvc and pod status:

[code]

I want to know if all the resources are gone already, what else is preventing the deletion from return ?

### Expected beha

[2020-05-27 06:12] rhuss commented on #858
Have you tried 0.13.2 ? That does an async delete by default (but sync can be enabled with `--wait`).

If you need a sync delete (and I suspect this as your example looks like coming from an integration test), then this, of course, no option. Sync operation works by letting the client wait for a `delete` event delivered by the API Server. In this case it looks like that this event is missed for so

[2020-05-27 07:58] cdlliuy commented on #858
@rhuss ,  yes,  I have used "--no-wait" as a workaround.

For the question regarding to `does not return within 300 seconds`  ,  that is not defined by --wait-timeout.  In fact, I executed the `kn` cmd with go code within a context timeout `300s` ..  I didn't get any response by the timeout setting.

Can you explain this further?
[code]
We are not only the user of kn, but also operates `knative` s

[2020-05-27 08:09] rhuss commented on #858
I meant, did it return automatically (possibly with an error message ?) Or had you to interrupt it with ctrl-c because it hung ?

[2020-05-27 08:21] cdlliuy commented on #858
Interrupt it :-)

[2020-05-27 08:42] rhuss commented on #858
ok, so it looks like that also the timeout doesn't work properly (which is even a more severe issue), because it should have returned  with an error message after 300s.

Could you please try to extract a thread dump in this situation like described in https://stackoverflow.com/a/35290196/207604 ? (i.e. setting env var `GOTRACEBACK=all` before starting kn, and the interrupt with a `kill -QUIT <pid>

[2020-05-27 08:53] rhuss commented on #650
@abrennan89 I think that makes totally sense. Is there already an issue related to where to integrate client documentation ?

[2020-05-27 16:36] abrennan89 commented on #650
There's a project for kn docs: https://github.com/knative/docs/projects/23
I've just been adding related issues there as I find them.

[2020-05-28 00:22] #673 closed

[2020-05-28 06:58] navidshaikh commented on #849
/assign

[2020-05-28 07:15] cdlliuy commented on #858
@rhuss ,  there should be some misunderstanding.
I think the default timeout is 600 seconds when no "--wait-timeout" setting.   Instead of waiting up to 600s,  I used golang context timeout in my program to interrupt it (should be similar as ctrl+c when running in manual) .

I am not worried about the timeout implementation for kn.. Instead,  I would like to know why it can't detect the service is

[2020-05-28 08:46] #490 closed

[2020-05-29 15:39] navidshaikh commented on #849
@jchesterpivotal : I've updated the issue description to also print the ce-overrides values in describe output if present.

[2020-06-01 09:39] #849 closed

[2020-06-01 10:07] #827 closed

[2020-06-01 11:02] #815 closed

[2020-06-02 08:38] #845 closed

[2020-06-04 12:38] navidshaikh opened #874 "traffic tags: Error if requested for removing non-existing tag"
### Bug report
If requested to untag a non-existing tag in traffic block, add an error.

### Expected behavior
`service update` command returns error message indicating the tag doesnt exists for service and non-zero exit status.

### Steps to reproduce the problem
1. `kn service create hello --image knativesamples/helloworld`
2. `kn service update hello --untag foo --no-wait`

### kn version
lates

[2020-06-04 12:52] navidshaikh opened #875 "service update stuck if requested for no-op traffic block operations"
### Bug report
If requested for no-op traffic split related operation on service, `service update` hangs.

### Expected behavior
`service update` commands returns

### Steps to reproduce the problem
1. `kn service create hello2 --image knativesamples/helloworld`
2. `kn service update hello2 @latest=100`

Notice the second command here is a no-op on traffic spec as the traffic is already routed to

[2020-06-04 21:40] danielhelfand commented on #874
Anyone working on this, or further discussion to be had? Would be interested in picking this up.

[2020-06-05 06:32] rhuss commented on #874
thanks !

/assign danielhelfand

[2020-06-05 07:45] MIBc commented on #875
Updating traffic will not create `MODIFIED`  event, right?

[2020-06-05 09:33] rhuss commented on #875
That's a good question, but probably not. We should check why the MODIFIED check has been introduced (I think I was it ;-). However the challenge for traffic update and sync-wait is, to wait until the traffic reconfiguration has happened on the ApiGateway. Should be a certain event, too.

[2020-06-05 11:59] navidshaikh commented on #874
Thanks @danielhelfand!

We can discuss on slack if needed, we'd need to raise the error if given tag is absent, this is mostly done here.

[2020-06-09 11:45] rhuss opened #882 "build.sh is broken for macOs users"
### Bug report

[code]

The reason is that macOs does not have Bash v4 by default but Bash v3 that doesn't not know about a test on the variable's name like in `[ -v REPO_ROOT_DIR ]`. Instead, more conservative and classic approaches like `[ -n "${REPORT_ROOT_DIR}" ]` or even `[ x"$REPO_ROOT_DIR" != x ]` should be used.

This issue has been raised also at https://github.com/knative/test-infra/issu

[2020-06-09 11:47] rhuss commented on #882
I can fix that tomorrow, if someone else is faster to pick that up, please do.

[2020-06-09 13:42] #882 closed

[2020-06-09 17:11] wslyln commented on #655
Hi sorry, but I don't think I have time right now to accomplish this task. I'll attempted it slightly, but didn't quite understand how the original kubectl apply used annotations to save the previous state's configs.

[2020-06-09 17:22] danielhelfand opened #884 "Help Message is Displayed with Incorrect Subcommand"
Typing an incorrect subcommand results in the entire help message being displayed. An example is shown below:

[code]

This makes finding the true error message difficult to find, and is similar to displaying usage with an error message. In most cases, this error will most likely come from a typo, and it might be more helpful to suggest using `--help` as opposed to displaying the entire `--help` m

[2020-06-09 17:31] danielhelfand opened #885 "Error Prefix Not Shown With Error Messages"
### Bug report

An error prefix is not displayed with error messages. Only the error message is shown.

Cobra handles error messages by default if `SilenceErrors` is false, but `kn` handles errors in main.go and [sets `SilenceErrors` to true](https://github.com/knative/client/blob/ff350fb6a70f4903e8744654fa2e470ea048811d/pkg/kn/core/root.go#L154) for the root command.

By removing the `SilenceErro

[2020-06-10 08:02] navidshaikh commented on #885
Thanks @danielhelfand! Linking it with generic tracker for error handling issue https://github.com/knative/client/issues/213 to be addressed.

[2020-06-10 08:13] rhuss commented on #884
I agree. If there are not objection I'm going to add this to #877 , too. But if one want to need this quicker I think its just a matter of remove https://github.com/knative/client/blob/834ee7904932a43b1ab4ef0cdc0ce6a038fda7e4/pkg/kn/core/root.go#L223

[2020-06-10 08:14] rhuss commented on #884
ah, sorry. Should read the full description of the issue, you found already that spot. ;-)

[2020-06-10 08:20] rhuss commented on #655
No worries, and thanks for the update !

[2020-06-11 06:22] #874 closed

[2020-06-16 09:49] rhuss commented on #884
Fixed with #877 being merged.

[2020-06-16 09:49] #884 closed

[2020-06-16 14:50] rhuss commented on #885
I think this has been fixed already in the latest PR merged with #877 and improved in #887 . There is now only a single point where the error is printed (in `main.go`). It's used to customize the error message, I found the printing out of errors at different levels in the stack confusing (which sometimes lead to double error printing when e.g. the error message was printed but still the error was

[2020-06-16 15:12] rhuss opened #888 "Proposal: Refactoring of `KnParameters` to an interface"
Curently we are using a struct `KnParams` as the _context_ that we pass down into specific commands so that they can access the various services:

[code]

This struct was mainly added in this form for allowing injection of fake clients for unit testing. However, this construct has some drawbacks:

* It leaks testing concerns into the business logic
* Anytime something you need for testing is added

[2020-06-16 17:19] rhuss opened #889 "Proposal: Introduce a "public" top-level package directory for sharing outside"
One design goal of `kn` was also to expose a public API to offer common client functionality to other go based applications. We already have some of those API hooks but at various places:

* The client API interfaces at
   - `pkg/serving/v1`
   - `pkg/sources/v1alpha2`
   - `pkg/eventing/v1beta1`
* A testing lib for E2E tests in
   - `lib/test`
* Utilities for parsing kn flags
   - `pkg/kn/flags`

[2020-06-16 17:39] duglin opened #890 "make 'cmd' an stringArray instead of string"
Technically, the "command" in a podSpec can be an array of strings, not just a single string. So, it might make sense to support that from `kn`.  I've needed to use this before and had to split things across 'cmd' and 'args', which gave the same net result but wasn't what I wanted to do when trying to get my podSpec to align with the `kn` cmd line.

[2020-06-17 12:59] pengcheng-cs opened #891 "Has Knative alreay had open-source version Web Dashboard to manipulate ksvcs/revisions? Just like k8s dashboard for k8s cluster"
Has Knative alreay had open-source version Web Dashboard to manipulate ksvcs/revisions? Just like k8s dashboard for k8s cluster.

If not, could I make one based on knative client?

This requirement is from my work at company, we introduced knative@0.8 to our k8s clusters years ago, but that time we were modifing yaml templates to manipulate ksvcs. Now we have upgraded to knative@0.14 and want a mo

[2020-06-17 15:17] danielhelfand opened #892 "Proposal: Knative Resource Validation through kn"
### Feature request

The ability to use `kn` to validate Knative CRDs, but provide a more informative error message or visualization of where issues are found in a resource definition.

### Use case

Ability to more easily find the source of an error in a resource definition that provides more details than kubectl/the standard parsing library. Instead of the error response mentioned in https://git

[2020-06-18 07:06] #579 closed

[2020-06-18 09:33] #824 closed

[2020-06-18 09:42] rhuss commented on #892
Good idea, I think this would play nicely with the proposed "offline generation" of YAML service descriptions (just looked for that issue, but couldn't find it. Going to to open it again).

There are some open question wrt the UI /UX:

* Should this be on a global level or as part of the invidual obects like in "kn service validate". This would fit better to the general scheme `kn <noun> <verb>` a

[2020-06-18 09:44] rhuss commented on #892
So maybe that validation could be come an extra flag for the offline generation of resource files.

[2020-06-18 10:02] rhuss commented on #891
There is no such a WebUI coming from Knative directly, but you have the following options so far:

* OpenShift Serverless (Knative installed in OpenShift) has a nice UI but runs only on OpenShift. This UX has won an [award](https://designawards.core77.com/Interaction/95599/OpenShift-Topology-View) lately.
* There  is also a  [Visual Code plugin](https://marketplace.visualstudio.com/items?itemName=

[2020-06-18 14:12] danielhelfand commented on #892
My personal thought is global to support use cases where multiple kinds of resources are defined in one file. But yes, I agree it would go outside the typical structure of `kn` so would be open to ideas around how to make this work.

I think both client side validation and a `--dry-run` option would be useful. Probably the more typical case would be some server side validation though, which could

[2020-06-19 17:16] rhuss opened #898 "Discussion: Sink Mappings revisited"
Currently, we have a set of fixed mappings for the `--sink` option of sources and triggers:

* `broker:` for specifying a broker
* `service:` & `svc:` for specifying a Knative service
* `http:` and `https:` for direct URL
* no prefix: Knative service

We can also add new mapping in the configuration file `~/.config/kn/config.yaml`  with

[code]

However, I think this is not optimal:

* Knative ser

[2020-06-19 21:55] jchesterpivotal opened #899 "`kn trigger describe foo` panics when Sink uses URI instead of Ref"
### Bug report

This is basically a replay of #847.

The relevant code for `trigger describe` assumes that `sink.Ref` is not null and panics when a URI is used. It appears to be identical to the `source describe` code as it was before #848 was merged.

### Expected behavior

I expect that `kn trigger describe` does not have an error when inspecting a Trigger that uses a URI instead of a Ref.

###

[2020-06-21 16:05] danielhelfand commented on #899
/assign

[2020-06-22 05:24] #899 closed

[2020-06-22 11:45] navidshaikh commented on #898
For knative default addressable prefixes, we hard-code their GVKs as per the respective supported APIs by kn, this makes sure that when a prefix is given it'd work with connected cluster.

If we go with *Union* approach, we'd need to hard-code the respective GVKs.
This should be fine as long as the addressable in underlying platforms are stable enough (in v1 APIs).
Neverthless, the inbuilt prefix

[2020-06-23 08:23] navidshaikh opened #904 "Plugin handling if it retuns with non-zero exit status"
### Bug report

If a plugin exits with non-zero status, help usage hint is printed, which seems to be unnecessary.

### Expected behavior

If plugin execution path is invoked, let plugin print message or error.

### Steps to reproduce the problem
1. Create a sample plugin
[code]
2. Make sure its executable
[code]
3. Run
[code]

Notice the last help usage message printed.

### kn version
master
[co

[2020-06-24 08:24] navidshaikh opened #906 "Document kn config usage and samples"
Document how to structure fields in kn config for plugins, sink mappings etc with the new format support in client.

/kind doc

[2020-06-24 19:37] rhuss opened #907 "Add "-o url" to "kn service describe" and "kn revision describe""
### Feature request

Having a dedicated command to only show the  URL is very helpful in a scripted context so that one does not have to know the specifics of the Service schema to extract the URL via a jsonpath.

### Use case

Retrieve the URL to process it further in a script.

### UI Example

[code]

[2020-06-25 15:42] navidshaikh commented on #907
/assign

[2020-06-26 11:01] navidshaikh commented on #907
@rhuss : any particular in mind for `revision describe -o yaml` ? ( like showing custom-URL if the revision has a tag )

[2020-06-26 11:14] navidshaikh opened #909 "[kn source list] Improve extraction of source instance's sink and ready status"
### Feature request
`kn source list` prints inbuilt source's sink and ready status. This works fine as long as the instance is of an inbuilt knative eventing source. For kafka source, it didnt work as expected and printed `<unknown>` string for both fields.

[code]

We could improve the extraction of these fields and cover more sources.

### Use case
Managing kafka sources via kn plugins.

/kind g

[2020-06-26 13:28] rhuss commented on #907
maybe something like that. I haven't really thought about this but my its better to have a `kn service describe --tag mytag -o url` ? I just want to see the URL for a specific routed revision.

[2020-06-26 13:29] rhuss commented on #889
ballot is over, all positive. Thanks !

/assign rhuss

[2020-06-26 13:30] rhuss commented on #888
ballot is over, let's tackle that refactoring. Thanks !

/assign rhuss

[2020-06-26 15:49] danielhelfand commented on #904
/assign

[2020-06-26 17:10] mpetason commented on #822
/assign

I'm going to work on a single value for now and then maybe range after I get that working.

[2020-06-29 08:10] navidshaikh commented on #909
/assign

[2020-06-30 18:05] itsmurugappan opened #912 "Add Port Name to kn service create options"
### Feature request

Add port name to kn service create options.

For deploying a grpc server as a ksvc,  port name should be "h2c". Currently kn cli doesnt support port name.

Example of grpc server as ksvc https://knative.dev/docs/serving/samples/grpc-ping-go/

[2020-06-30 18:12] rhuss commented on #912
Sounds like an important use case. I suggest we add this to the `--port` option when creating a service and allows a prefix like `h2c:`  for specifying the port name:

[code]

[2020-07-01 08:28] navidshaikh commented on #768
/close

fixed with https://github.com/knative/client/pull/788

[2020-07-01 08:29] #768 closed

[2020-07-01 09:51] navidshaikh commented on #740
/close

alternate WG meeting schedule is in place, thanks @rhuss!

[2020-07-01 09:51] #740 closed

[2020-07-01 09:52] navidshaikh commented on #741
/close

feel free to re-open if you've further comments.

[2020-07-01 09:52] #741 closed

[2020-07-01 09:56] navidshaikh commented on #609
/close

[2020-07-01 10:01] navidshaikh commented on #563
Broker, knative service and URL can be specified, more types can be configured via sink prefixes in the config.

Currently sink is looked up in the namespace kn is operating in, updated issue description with unchecked item for specifying namespace of the sink.

[2020-07-01 10:08] navidshaikh commented on #553
Added doc label to document the behavior.

[2020-07-01 10:10] navidshaikh commented on #544
/close

[2020-07-01 10:11] #544 closed

[2020-07-01 10:13] navidshaikh commented on #539
/close

fixed by #680

[2020-07-01 10:13] #539 closed

[2020-07-02 00:06] #909 closed

[2020-07-02 04:19] itsmurugappan commented on #912
/assign

[2020-07-03 10:55] priyshar01 commented on #633
/assign

[2020-07-03 10:56] hemanrnjn commented on #907
/assign

[2020-07-03 11:04] Kaustubh-pande commented on #722
/assign

[2020-07-07 10:17] navidshaikh opened #918 "Switch to DeprecatedInjectionAnnotation from InjectionAnnotation for backward compatibility"
sugar-controller brings new key for broker injection via namespace labeling, see https://github.com/knative/eventing/pull/3459/files#diff-73d79d1b71a6943bf3368af8b75c551aR40

We're now using the key name from eventing than hardcoding it https://github.com/knative/client/pull/917.
Once we vendor eventing v0.16 release for client v0.16 release, we'd need to switch `DeprecatedInjectionAnnotation` to

[2020-07-07 10:17] navidshaikh commented on #918
/assign

[2020-07-07 20:44] #907 closed

[2020-07-08 07:52] navidshaikh commented on #898
/assign

Summarizing the discussion from WG call:
- Only knative resources to be mapped with default prefixes.
- `ksvc` prefix or no prefix means knative service.
- Free `svc` and `service` prefixes.

[2020-07-08 12:39] dsimansk opened #923 "Add support to combine service create --filename with other options"
### Feature request

Per PR #913 review [discussion](https://github.com/knative/client/pull/913#discussion_r451481222) and [comment](https://github.com/knative/client/pull/913#discussion_r450685124). There's a possibility to extend the initial functionality of `kn service create --filename` with other options. In a nutshell to view provided file as a baseline that can be further modified but other

[2020-07-09 14:37] danielhelfand commented on #923
In the event a user defines both a serviceaccount property in the file and via a flag, which should be applied or should an error be thrown?

[2020-07-10 14:53] #912 closed

[2020-07-10 17:41] #918 closed

[2020-07-11 08:32] rhuss commented on #923
IMO, the resolution should be:

* If something is defined on the command line it always takes precedence. A good use case is `--namespace` as the file applied might have been extracted from a resource from another cluster which has a different namespace setup. Also, anything that a user provides on the CLI should have an effect and should not be ignored.
* Except for the `name` which is the identi

[2020-07-11 09:03] #550 closed

[2020-07-11 11:34] duglin commented on #923
Not sure how I feel about it yet but why would name be different? Someone could be using someone else’s yaml as a common baseline, and it has a name , but they need a new name in their env. Erroring would force them to dup the file and get out of sync.

[2020-07-11 13:01] rhuss commented on #923
tbh, I can't see any use case why someone would like to change the name of a service, as the name is used in Knative (and in K8s in general) as an identifier. I see this feature more like a variant of `kubectl edit` where the input comes from the command line. With `kubectl edit` you can't change the name either. Also, when we want to have the same functionality for `kn service update` (or `kn ser

[2020-07-11 13:02] rhuss commented on #923
I suggest to implement the overwrite of other options first and then finally discuss and decide what to do with a name collision. In the meantime, we can collect arguments pro and against having to allow a name overwrite.

[2020-07-11 13:21] #722 closed

[2020-07-11 14:52] duglin commented on #923
I was only thinking of 'create' since that's what the title of the issue mentioned. In that case I can see someone  hosting a yaml file in their repo that they use but then someone else wants to use it themselves, so they can either copy it (and manually keep it in sync) just so they can change the name, or we can allow them to override the name.  This promotes reuse.

As for 'update', "name" shou

[2020-07-11 15:00] duglin commented on #923
Also, my statement about ignoring "name" on `kn update` applies regardless of whether we allow people to specify cmd line flags. Once a ksvc is created, if we allow people to update it via a file then the "name" field from the file would still need to be ignored.  Or throw an error I guess, but either way, the same rules would apply for it appearing on the cmd line or in the file.... you can't cha

[2020-07-12 15:36] duglin opened #925 "add support for --context flag like kubectl"
### Feature request

`kubectl` has support for a `--context` flag that allows you to specify which cluster in the Kubernetes config file to use. W/o this it makes it harder to switch between kube cluster easily.
For example, I often have Makefiles that point to different clusters and I can just add the `--context` flag to each `kubectl` command w/o having to set KUBECONFIG or use some other tool t

[2020-07-13 06:28] rhuss commented on #923
But you need to find out which service to update ?

[2020-07-13 06:58] rhuss opened #927 "Proposal: Add support for internal plugins"
`kn` provides a plugin architecture that allows calling to external commands via a naming convention (much like `kubectl`). This proposal suggests a small modification in `kn`s plugin handling algorithm to allow also to include golang-based plugins internally plugins so that are compiled together with kn and that implements a `Plugin` golang interface. The required changes are implemented in PR #9

[2020-07-13 08:23] rhuss opened #928 "Proposal: Allow inlining of golang plugins"
`kn` provides a plugin architecture that allows calling to external commands via a naming convention (much like `kubectl`). This proposal suggests a small modification in `kn`s plugin handling algorithm to allow also to include golang-based plugins internally plugins so that are compiled together with kn and that implements a `Plugin` golang interface. The required changes are implemented in PR #9

[2020-07-13 13:50] duglin commented on #923
doi! :-)  My mind was stuck on `kn service update --name foo --file ....` - so yep, w/o --name on cmd line you'll need to use the name from the file. But if --name is there, I'd suggest we just ignore it  - similar to how the namespace field in a kube yaml will be ignored if you use -n on the cmd line

[2020-07-13 13:55] duglin commented on #923
edited^^

[2020-07-13 16:37] rhuss commented on #927
Closing as dup that happens because of the GitHub outage this morning.

[2020-07-13 16:37] #927 closed

[2020-07-14 07:46] #898 closed

[2020-07-14 16:38] sixolet commented on #842
Knative revisoins don't in themselves include information about number of instances. This would work as a plugin though.

[2020-07-14 17:08] danielhelfand opened #930 "Provide More Detail for Error with kn revision describe"
### Feature request

I would like the ability to see more information when a revision fails to become ready via `kn revision describe`. Currently it seems like the reason is truncated as shown below:

[code]

Via kubectl, I can see greater detail about the error:

[code]

### Use case

The ability to more easily debug issues with revisions.

### UI Example

[code]

[2020-07-14 18:42] rhuss commented on #930
Have you tried  `kn service describe --verbose`, too ?

The issue will be that we can only show what is attached to any Knative entity (service, configuration, revision), errors from Pods and Deployments can't be accessed directly.

[2020-07-14 18:46] danielhelfand commented on #930
My apologies. Didn't realize about the `--verbose` option. It appears to work for `kn revision describe` as well:

[code]

[2020-07-14 18:46] #930 closed

[2020-07-14 20:38] #266 closed

[2020-07-14 20:38] #904 closed

[2020-07-14 22:59] itsmurugappan commented on #655
@rhuss your thoughts on `Ko Apply` way of dealing this ?
https://github.com/google/ko/blob/master/pkg/commands/apply.go

[2020-07-15 10:05] pierDipi opened #933 "Broken link `kn in a Tekton Task`"
### Bug report

The link in the `README.md` at the following line returns `404`:

### Expected behavior

See kn in a Tekton Task documentation.

#### Additional context

Correct link: https://github.com/tektoncd/catalog/tree/master/task/kn

[2020-07-15 11:13] navidshaikh commented on #933
Thanks @pierDipi! Looks like there was a recent [re-org](https://github.com/tektoncd/catalog/commit/28a08e2e411c88ee20b2b600f5eb5ae893cf39c1) of the tasks in catalog.

[2020-07-15 12:19] pierDipi commented on #933
Yes, exactly.
Also, this repository has many markdown files with many links, it might be worth adding a non-blocking pre-submit check just like the `pull-knative-docs-markdown-link-check` that we have in `knative/docs` so that we can check these links. What do you think?

[2020-07-15 12:38] navidshaikh commented on #933
@pierDipi :

markdown link check is enabled by default in the tests
see https://github.com/knative/test-infra/blob/master/scripts/presubmit-tests.sh#L24

and

[README](https://github.com/knative/test-infra/tree/master/scripts) excerpts:
[code]

It didnt catch as README wasnt part of any PR raised lately (since change landed in catalog causing link to break).
See it in action here https://github.co

[2020-07-15 12:42] pierDipi commented on #933
Oh, TIL :smile: Thank you!

[2020-07-15 12:59] #933 closed

[2020-07-15 16:37] mpetason commented on #822
@rhuss Do we want to remove the options for --max/--min and replace it with scale with a range? I haven't done enough work on CLI stuff to know if that will upset users who like the --max/--min functionality instead of ranges with one command.

If we're down to depreciate min/max scale and just use scale then I can start that work next. Should we discuss this in the client channel or would it be b

[2020-07-15 16:43] duglin commented on #822
my 2 cents...
- I'm ok with `--scale 0-10` since I'm pretty sure that most people can easily figure out what this means
- I'm less clear on `--scale ..10` because I'm not convinced that we won't have to explain this syntax to people over and over.

To me, `--max-scale 10` and `--scale ..10` are pretty close but the former doesn't require docs.

Is the 2nd syntax solving a pain point?

[2020-07-16 06:00] navidshaikh commented on #822
IMO, we should keep `--max-scale` and `--min-scale` around while `--scale` serves for cases where both knobs should point to a single value (and also allowing users to use the range thing if they like). Ofcourse this brings additional handling where user should be prompted if these flags are given together.

[2020-07-16 08:17] rhuss commented on #822
Ok, I see. People love explicit max/min scale ;-), but maybe we can rename them to be close together on the help page. Therefor I suggest:

* Add a `--scale-min`
* Add a `--scale-max`
* Add a deprecation warning to `--min-scale` and `--max-scale` in the help message and when used, pointing it to the new naming.
* We don't touch `--scale` and keep it with a single value (also I still thing having t

[2020-07-16 08:47] dsimansk commented on #822
@rhuss do we even need to introduce `--scale-min` and `--scale-max` and deprecated the former ones? (adding to the list of flags)
I do like an idea of `--scale` flag with a range support though, it feels like after a while of bake-in time users would get used to it and `min-scale`,`max-scale` could be removed in favour of single `scale` flag.

[2020-07-16 09:32] dsimansk commented on #923
I'm more inclined towards overriding the name from file when it's provided as cmd param to have a consistent policy towards flags that everything provided by the user on cmdline takes precedence over file input. Therefore single value params/flags like `name`,`namespace`,`service-account` will override the file's values, list flags like `env` will be merged and override on the same key etc.

Then

[2020-07-16 09:32] daisy-ycguo opened #935 "Create a common PodFlags for both Service command and ContainerSource command"
The specification of knative Service and eventing ContainerSource include common flags to describe the pod which will be created. I propose to create a common type under `pkg/kn/commands/flags` for these flags.

The specification of knative [Service](https://github.com/knative/serving/blob/master/pkg/apis/serving/v1/revision_types.go#L76) includes a `corev1.PodSpec`, while [ContainerSource](https:

[2020-07-16 09:34] daisy-ycguo commented on #935
@rhuss @navidshaikh let me know your opinion to this proposed changes.

[2020-07-16 09:36] rhuss commented on #822
@dsimansk I think the opinions differ here, whether 3 options should be used or only a single one. Technically even `--scale` was not needed, so it's all about user convenience. I suggest I open a poll with three options:

1. Use `--scale-min`, `--scale-max` and a single valued `--scale` for specifying `min-scale=max-scale`
2. Use `--scale` which can carry a scalar value to set min+max scale,  a r

[2020-07-16 09:37] rhuss commented on #822
Here's the poll. Please vote only once with  👍  for your favourite option. The poll is open until Tuesday.

[2020-07-16 09:38] rhuss commented on #822
**Use `--scale-min`, `--scale-max` and a single valued `--scale` for specifying min-scale=max-scale**

Error on conflicting specification (like it is now already).

[2020-07-16 09:38] rhuss commented on #822
**Use` --scale` only which can carry a scalar value to set min+max scale, a range for setting min and max scale differently or only one of min or max scale (see suggestion above)**

[2020-07-16 09:40] rhuss commented on #822
**[C]**: Implement both [A] and [B] to cover beginner and expert user at the same time

[2020-07-16 09:41] navidshaikh commented on #383
/close

@duglin tested using the script you provided above, 10+ updates to service and it worked fine. Closing the issue, please re-open if you observe otherwise.
Thanks @dgerd for the fix!

[2020-07-16 09:41] #383 closed

[2020-07-16 09:43] rhuss commented on #822
In any case, I sugesst to deprecate `--max-scale` and `--min-scale` in favor of a more consistent naming.

[2020-07-16 14:58] navidshaikh commented on #935
+1 for grouping the related flags together.

How about bringing PodFlags in `pkg/kn/flags` ?
Overall, the flag definitions are scattered in client repo: `pkg/kn/flags`, `pkg/kn/commands/flags`, `pkg/kn/commads/`, `pkg/kn/commands/human_readable_flags.go`. We can work on refactoring the flags defined in deeper pkg levels and bring them to `pkg/kn/flags`. This way its consistent for consumption with

[2020-07-16 20:40] lionelvillard commented on #563
Since sources natively support sending events to plain k8s services, it'd be nice to provide a shortcut, e.g. `svc:my-svc`.

[2020-07-17 06:14] navidshaikh opened #938 "[e2e][flake]: ReconcileIngressFailed: Ingress reconciliation failed"
We have a client flake where this occurs sometimes on a service update, but right after that event has been caught, we do a dump and there the `RoutesReady` condition is True for this service. Could this be an intermediate state from time to time ?

logs:
 - [1](https://prow.knative.dev/view/gcs/knative-prow/pr-logs/pull/knative_client/936/pull-knative-client-integration-tests/1283766840283107331#

[2020-07-17 07:41] rhuss commented on #938
Yesterday in the demo, we have seen that very 'reconciliation failed' message as an intermediate state without the update being aborted. So I don't think that this is the real cause.

[2020-07-18 21:22] csantanapr opened #939 "Add cmd option to allow "ls" for list"
### Feature request

I keep hitting an error using `ls` instead of `list` maybe I'm used to using it with other CLI tools like `tkn`

Can we add the option for `ls` but keep also `list` so the commands like `kn service ls` and `kn revision ls` work?

### UI Example
[code]

/kind proposal
/kind good-first-issue

[2020-07-18 22:01] danielhelfand commented on #939
Could certainly be done via an alias. Just depends on style guidelines for kn.

Think it’s definitely a common abbreviation and find it’s nice when using tkn.

[2020-07-19 13:40] csantanapr commented on #939
Reading the files under conventions https://github.com/knative/client/tree/master/conventions

It mentions that "list" is required but doesn't say anything to not allowed additional aliases where it makes sense for better UX.

Maybe this issue also should cover a proposal ch age to the conventions that "ls" is an alias to "list"

[2020-07-20 06:56] rhuss commented on #939
Thanks for bringing that up @csantanapr  . I think we should generally open a discussion for introducing aliases, as there are other issues, too which ask for adding aliases (e.g. #812).

Personally I totally for aliases if they improve the UX, don't "clash" with a future possible (and different) usage of such an alias and does not clutter the help page with redundant descriptions. I will open a d

[2020-07-20 07:05] rhuss opened #940 "Proposal: Add aliases to commands"
# Feature request

There has been now two features requests which can be covered by command _aliases_

* Add `ls` as alias for `list` #939
* Add plural form like e.g.`kn services` (or maybe also `kn ksvc`) #812

Before tackling these suggestions, let's discuss how we would like to introduce aliases.

My design proposal for adding aliases would be:

* An alias should feel tightly connected to the a

[2020-07-20 14:47] pratham-m opened #941 "TestServiceOptions E2E test is failing with error "/go/bin/helloworld: no such file or directory""
Hi Team,
I am working on executing knative-client "kn" CLI E2E test suite.

**The issue:**
One of the test case `TestServiceOptions` is consistently failing, with below error message:
[code]
**Command used to execute the tests:**
`$ test/local-e2e-tests.sh -timeout=90m -count=1`
or
`$ test/local-e2e-tests.sh -timeout=15m -count=1 -run ^TestServiceOptions$`

**Analysis:**
The test is executed from

[2020-07-20 15:37] danielhelfand commented on #940
For clarification for the point above, an alias, with the exception of plurals, would still be listed on the help page correct? For instance `ls` for list or `ksvc` for `kn service`.

Other than the baseline acceptance criteria of it's nice to have abbreviations and an alias should `feel tightly connected to the aliases command`, wondering if there's any sort of vetting process to add here? Maybe

[2020-07-21 05:35] navidshaikh opened #942 "e2e: Build and use e2e test images from repo source code"
### Feature request

We've hello world test image source in repo, https://github.com/knative/client/tree/master/test/test_images/helloworld and not being built and referenced in tests. The image used in tests [gcr.io/knative-samples/helloworld-go](https://console.cloud.google.com/gcr/images/knative-samples/GLOBAL/helloworld-go?gcrImageListsize=30) is stale, last updated on Nov 2018.
We should be b

[2020-07-21 05:38] navidshaikh commented on #941
That's correct. The tests are written based on the image `gcr.io/knative-samples/helloworld-go` which is built with cmd `/go/bin/helloworld`. The test image seems to be stale, [last updated on Nov 2018](https://console.cloud.google.com/gcr/images/knative-samples/GLOBAL/helloworld-go?gcrImageListsize=30) and out of sync from the Dockerfile source linked.

Ideally, the test image should be built fro

[2020-07-21 05:42] navidshaikh commented on #941
@RichieEscarez @evankanderson : Do you know if helloworld sample image is built and pushed from https://github.com/knative/docs/blob/master/docs/serving/samples/hello-world/helloworld-go/Dockerfile ?
[`gcr.io/knative-samples/helloworld-go`](https://console.cloud.google.com/gcr/images/knative-samples/GLOBAL/helloworld-go?gcrImageListsize=30) seems to not receive any updates.

[2020-07-21 06:16] pratham-m commented on #941
@navidshaikh thanks for the reply and for confirming the observations.
By replacing `/go/bin/helloworld` with `/server` the test to validate "cmd and arg options" is passing.

[2020-07-21 09:18] rhuss commented on #940
I thought about adding as a suffix to an existing help entry like in:

[code]

Not sure what cobra already comes with for alias help support.

Good point. We should add kind of a process for how to add aliases, which includes some justifications for that alias (e.g. is shorter, already known from other commands, ...) and we should decide this from within the community, possibly with a poll.

[2020-07-21 09:33] rhuss commented on #563
We discussed this, but we felt that referring to vanilla Kubernetes objects is outside the 'Knative contract'. (e.g. will it also work on CloudRun ?).

See https://github.com/knative/client/issues/898 for a more in deep discussion on this topic.

[2020-07-21 11:56] rhuss commented on #928
Here's an example how a plugin can leverage this. The sample in https://github.com/rhuss/kn-service-log shows the registration process:

* In https://github.com/rhuss/kn-service-log/blob/master/plugin/plugin.go an implementation of the [Plugin]() interface is created:

[code]

* The important part is the `init()` method. This will append an instance of the plugin to a global slice `plugin.Internal

[2020-07-21 13:05] #923 closed

[2020-07-21 13:50] daisy-ycguo commented on #928
[code]

A question to this item, if I want to register an inline plugin, do I have to change the source code of kn client ? or in another word, do I have to submit a PR to kn client repo ?

[2020-07-21 14:37] rhuss commented on #928
You would have to create an own variation of the kn build. The idea is that no plugin is added to `kn` but instead e.g. we could have a `kn-builder` CLI (in a separate sandbox project), that would do:

* Evaluate a configuration file that has references to one or more plugin sources and other information (like the name of the binary to create or the version of kn which should be used for building)

[2020-07-21 17:52] evankanderson commented on #941
I'm not sure who owns `gcr.io/knative-samples`; I don't see it listed in any of the docs or test-infra code.

@chaodaiG may know more or be able to see who owns that repo.

[2020-07-21 17:57] chaodaiG commented on #941
I don't have any impression of any flow that automates imaging pushing in docs repo

[2020-07-22 09:10] pratham-m commented on #941
I compared both the docker files:
https://github.com/knative/docs/blob/release-0.13/docs/serving/samples/hello-world/helloworld-go/Dockerfile
https://github.com/knative/client/blob/v0.13.2/test/test_images/helloworld/Dockerfile

The only difference is related to downloading of `go mod` dependencies in `knative/docs` docker file.
And as per my understanding, that doesn't have much significance on t

[2020-07-22 21:01] danielhelfand commented on #940
Cobra does support adding an alias section for `-h`, such as what `tkn` does:

[code]

As far as how to exclude certain aliases (e.g. plurals), I am not sure.

[2020-07-22 23:54] evankanderson commented on #941
I'm wondering how/where `gcr.io/knative-samples` got set up -- if it's something that our test infrastructure has access to, prebuilding the images seems reasonable/handy. If it's not, I worry about linking to an increasingly stale set of images.

[2020-07-23 05:11] navidshaikh commented on #941
Yes, most of the examples at knative.docs and client repo are referring images from `gcr.io/knative-samples`. I think we should configure dockerfiles in docs repo as source for images at `gcr.io/knative-samples`?

[2020-07-23 10:25] navidshaikh opened #946 "Missing NAMESPACE column header for 'kn source list -A'"
### Bug report
column header NAMESPACE is not printed for `kn source list -A` output.

[code]

### Expected behavior
column header NAMESPACE should be printed for `kn source list -A` output.

### Steps to reproduce the problem
1 - create some sources
2 -  run `kn source list -A`

### kn version
master

[2020-07-23 10:26] navidshaikh commented on #946
/assign
updated issue description

[2020-07-23 10:44] navidshaikh opened #947 "kn source list and list-types return error if CRD access is restricted"
### Bug report
`kn source list` and `kn source list-types` uses dynamic client and a common operation is to query CRDs and filter on a particular label. It finds all the sources CRDs with label `duck.knative.dev/source: true`, and able to list eventing inbuilt and non inbuilt sources.
A user of cluster might be restricted to list the CRDs in the cluster causing `kn source list` and `kn source list

[2020-07-23 10:45] navidshaikh commented on #947
/assign

[2020-07-23 17:33] danielhelfand opened #949 "kn Tekton Task Isn't Executable As Script"
### Bug report

Trying to use the [`kn` Tekton Task](https://github.com/tektoncd/catalog/tree/436f1e834734c053511ae38dd4f9e20e2888234f/task/kn/0.1) as a script in a step, such as below, fails with the error also shown below:

[code]

[code]

Seems there is no bash for the image.

### Expected behavior

Able to execute `kn` in a Tekton step script.

### Steps to reproduce the problem

Execute a sim

[2020-07-24 01:01] danielhelfand commented on #293
Anyone working on this? Would like to pick this up as it would be helpful to have for our work around gitops/CICD.

[2020-07-24 06:10] navidshaikh commented on #949
/assign

[2020-07-24 07:30] navidshaikh commented on #949
kn binary in image is present at `/ko-app/kn` and `/ko-app` dir isnt in $PATH. So the task should use absolute path of the kn binary.

@danielhelfand : please re-try with
[code]

I am working on refining the kn task at catalog, will include an example using kn image with `script`.

Beside, I think `ko` should add `/ko-app` dir to $PATH if thats where the binaries go? @ImJasonH  wdyt?

[2020-07-24 09:30] navidshaikh commented on #949
kn image `gcr.io/knative-releases/knative.dev/client/cmd/kn:latest` doesnt have shell in it, the image is built by `ko` which uses the default base image `gcr.io/distroless/static:latest` [ref](https://github.com/google/ko#overriding-the-default-base-image). And `script` in task [expects](https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#running-scripts-within-steps) shell being prese

[2020-07-24 09:32] navidshaikh commented on #949
@danielhelfand : meanwhile you can use the latest kn image with shell from [here](https://quay.io/repository/openshift-knative/kn?tab=tags), I've tested the mentioned scenario with this image and it works fine.

[2020-07-24 13:22] danielhelfand commented on #293
/assign

[2020-07-24 13:44] ImJasonH commented on #949
This should be resolveable by making the image's base something with `sh`, like `gcr.io/distroless/base:debug`.

If other users of `gcr.io/knative-release/knative.dev/client/cmd/kn` would find this surprising, we could have another image `.../kn:debug` that's based on `gcr.io/distroless/base:debug`, which the Tekton Task could use.

[2020-07-24 18:20] RichieEscarez commented on #941
@grayside might be able to help? He did a lot of samples work early on.

[2020-07-24 19:09] danielhelfand commented on #949
@navidshaikh Thanks for looking into this and the alternative image

[2020-07-28 05:07] Kaustubh-pande commented on #946
/assign

[2020-07-28 06:49] #946 closed

[2020-07-28 07:34] rhuss commented on #949
tbh, I wouldn't mind to change to a base image with shell, as we are talking here about a short running client executables that does not have the same strong security constraints like long running server processes. So adding a shell makes definitely sense, also to allow the usage of shell based kn plugins that are mounted or added to a container.

So my proposal would be to switch to a richer base

[2020-07-28 10:18] navidshaikh opened #952 "[tests] Add mock test client for dynamic client"
Add mock test client for dynamic client to streamline unit testing.
We should be able to pass the errors to expect while executing via dynamic client.
Ref implementation for mock client: https://github.com/knative/client/blob/master/pkg/sources/v1alpha2/apiserver_client_mock.go#L26

[2020-07-28 10:41] navidshaikh opened #953 "[source list] Add custom type for different types of source objects"
### Feature request

`kn source list` gives you objects of different types of sources. While printing the JSON/YAML format of list, we'd need
proper values for `apiVersion` and `kind` fields of the list printed, since the objects list contains are of different types.

Current behavior, sets empty string for `apiVersion` and `List` for `kind`.
This is to track setting these fields to for eg: `apiVe

[2020-07-28 12:12] rhuss opened #954 "Support Channel CRUD operations"
### Feature request

Knative eventing `channel `should be able to be managed with a `kn channel` family of command.
They should implemented similar to the management of triggers or brokers.

### Use case

Manage Channels for creating a Knative Eventing topology

### UI Example

[code]

[2020-07-28 12:18] rhuss opened #955 "Support Subscription CRUD operations"
### Feature request

`Subscriptions` should be supported and manageable like other entities

### Use case

Manage subscriptions in order to connect channels to sinks

### UI Example

[code]

[2020-07-28 12:33] pratham-m opened #956 "TestServiceOptions E2E test related to --user flag is failing with "invalid value" error"
Hi Team,
I am working on executing knative-client "kn" CLI E2E test suite.

**The issue:**
One of the sub test case which is related to verification of `--user` flag in TestServiceOptions is failing. Error message is:
[code]

**Analysis::**
Reference: https://github.com/knative/client/blob/release-0.13/test/e2e/service_options_test.go#L105
I tried to change the `uid` value from 1000, to an value w

[2020-07-28 14:27] pratham-m commented on #956
Continued debugging the test failure and here are the **observations**
Tried executing the test multiple times. And as seen from the test logs, every time the test is executed, the valid UID range changes and increases by 10,000.
[code]
**Workaround:**
Made changes in test to use 1000710001 as the UID instead of 1000, and the test passed.
[code]
**Test log:**
[code]
**Up Next:** since above change

[2020-07-28 17:06] maximilien commented on #955
Nice. I like that. Though the name `subscription` is rather long :) In time with aliases `sub` would be a nice shorter name. Cheers.

[2020-07-28 17:08] maximilien commented on #940
Do we have a list of the initial alias proposal? Perhaps we can keep track of that on a spreadsheet?

If no one has started this I can make a proposal. Let me know.

[2020-07-28 17:10] maximilien commented on #939
We should close this and discuss in #812 and #940

[2020-07-28 17:13] maximilien commented on #928
I like this. Overall my main concern would be to make sure (in time) that the `kn` release uses it. Perhaps by extracting some command groups as plugin OR better embed some `client-contrib` as plugins.

That would have two side effect:

1. Test this feature for each release since the release would use it
2. Have a path for plugins to be embedded into `kn` yet be developed and maintained as a plugi

[2020-07-28 17:50] itsmurugappan commented on #942
Yes, we could do like serving, where we initially specify the KO_DOCKER_REPO.

[2020-07-28 17:51] itsmurugappan commented on #949
for the distroless image can we please use non root, "gcr.io/distroless/static:nonroot"

[2020-07-28 18:32] ImJasonH commented on #949
`gcr.io/distroless/base:debug-nonroot` even 😄

[2020-07-29 07:03] navidshaikh commented on #954
/assign

[2020-07-29 08:13] pratham-m commented on #956
@navidshaikh thanks for the help.
Using `oc adm policy add-scc-to-group anyuid system:authenticated` before executing the test works fine. the `--user` service option test passed without any changes.
Closing this issue.

[2020-07-29 08:13] #956 closed

[2020-07-29 18:08] duglin opened #959 "Add support for --scale-init"
Now that we have support for defining the initial scale for a service, it would be nice if `kn` supported it via a top-level option instead of just as an annotation.

e.g.
kn service create echo --image duglin/echo --annotation autoscaling.knative.dev/initialScale=0
vs
kn service create echo --image duglin/echo --scale-init=0

or --scale-initial

[2020-07-31 05:16] navidshaikh commented on #938
all the CI jobs against serving master failed lately reporting mentioned issue https://prow.knative.dev/job-history/gs/knative-prow/pr-logs/directory/pull-knative-client-integration-tests

[2020-07-31 06:26] zyjiaobj opened #960 ""kn service delete" exited with code ZERO when it ran into failure"
### Bug report

[code]

### Expected behavior

I suppose I should get a return code "1" for the delete failure.

### Steps to reproduce the problem

Delete n nonexistent ksvc:
[code]

### kn version

[code]

### Knative (serving/eventing) version

[2020-07-31 14:54] rhuss commented on #940
sorry, I promised to do it but haven't had any chance yet. @maximilien If you would create one that would be awesome !

fyi, I will be on PTO for the next 2 weeks ....

[2020-07-31 14:58] rhuss commented on #939
agreed, let's followup in #940 ....

[2020-07-31 14:58] #939 closed

[2020-07-31 22:52] zsxking opened #961 "--mount flag in update command failed with more than one level of directory"
### Bug report

When trying to mount a configmap with:
[code]
it gives error
[code]

### Expected behavior

It should work and mount the configmap onto `/my/path`

When mounting to folder on root, like `/mypath`, it work:
[code]

### Steps to reproduce the problem

1. create a configmap called `test`
2. deploy a kn service: `kn service create hello --image gcr.io/cloudrun/hello`
3. use kn service

[2020-08-01 07:35] gosoon opened #962 "`kn source list --all-namespaces` command output spelling error"
### Bug report

when I use `kn source list --all-namespaces` command, there seems to be something wrong with the output :

[code]

### Expected behavior

consistent with other command outputs,like：
[code]

### Steps to reproduce the problem

### kn version

[code]

### Knative (serving/eventing) version

[2020-08-02 15:02] hemanrnjn commented on #960
/assign

[2020-08-03 14:34] cardil opened #965 "Tekton tests should use new Tekton catalog structure"
### Bug report

Knative client e2e tests that focus on Tekton integration should use tasks that are described with new Tekton Catalog structure.

### Expected behavior

Tekton tests should be able to work with tasks that are defined in new Tekton Catalog structure.

### Steps to reproduce the problem

Run e2e tests for Tekton.

### Knative (serving/eventing) version

Nightly

[2020-08-03 17:59] itsmurugappan commented on #942
/assign

[2020-08-04 06:07] priyshar01 commented on #952
/assign

[2020-08-04 11:42] #947 closed

[2020-08-04 15:34] #965 closed

[2020-08-04 16:09] #935 closed

[2020-08-04 19:45] navidshaikh commented on #938
/assign @tcnghia
/close
fixed by https://github.com/knative/serving/pull/8897

[2020-08-04 19:45] #938 closed

[2020-08-05 09:49] #962 closed

[2020-08-06 10:41] #960 closed

[2020-08-07 09:11] #952 closed

[2020-08-10 10:44] navidshaikh commented on #961
The [volume spec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#volume-v1-core) requires the volume to be[ DNS_LABEL,](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names) which only allows `-` in the names. We are currently replacing all the `/` with `.` (except root `/`).

[2020-08-10 10:47] navidshaikh commented on #961
/assign

[2020-08-11 05:20] navidshaikh commented on #949
In #974 we've following config for test image(s) and kn image, PTAL
[code]
cc: @ImJasonH

[2020-08-13 13:01] navidshaikh opened #979 "kn channel list-types"
### Feature request

List available channel types in cluster which can be used for creating channels.

### Use case
As a user I want to list available channel types in my cluster which can be used to create channels.

### UI Example
[code]

### Implementation notes:
- The implementation could follow `kn source list-types` approach to query CRDs using dynamic client,
  filtered by label `messaging.

[2020-08-13 17:51] mpetason commented on #822
I'm working on [B] still - been busy trying to help close out some issues for Docs before release.

[2020-08-14 01:58] #961 closed

[2020-08-18 05:59] hemanrnjn commented on #959
/assign

[2020-08-18 09:08] #953 closed

[2020-08-18 23:40] duglin opened #983 "jsonpath should emit json"
I know this will be a bit controversial but I'm gonna ask it anyway :-)

[code]
will yield
[code]
I believe this output is almost useless :-)

Emitting the golang formatting isn't machine readable and so I question its value. Yes a human can weed thru it, but they could just as easily scan actual json. It also seems really odd to me that an option with "json" in it doesn't produce json.

Proposal:

[2020-08-19 16:35] dng00 commented on #732
Any update on this?

[2020-08-20 08:11] Kaustubh-pande commented on #979
/assign

[2020-08-20 09:01] rhuss commented on #732
No not yet. It's not planned for the next release (due next week), but if someone is fancy to implement this, feel free to assign it to yourself. We can then discuss the naming (which actually is the hardest problem :)

[2020-08-20 09:19] rhuss commented on #983
I agree with you that the error message is not very useful. However, this should be fixed in https://github.com/kubernetes/cli-runtime as this is the library that we are using for printing out machine readable format

[2020-08-20 09:21] rhuss commented on #983
btw for non-errors json should be the output anyway ....

[2020-08-20 11:09] duglin commented on #983
the error message isn't really my concern, although yes it's hard to extract from there. My main point was just that the entire chunk of text isn't very helpful and should be in json, whether there an error message embedded in there or not.

[2020-08-20 11:42] #942 closed

[2020-08-20 18:42] itsmurugappan commented on #949
@navidshaikh can you please close this, as it was fixed by #974

[2020-08-21 07:53] rhuss commented on #983
I see. However this still needs to be fixed on the kubectl side as the output is as described in https://kubernetes.io/docs/reference/kubectl/jsonpath/

[2020-08-24 07:45] rhuss commented on #928
Adressed all comment, ptal

[2020-08-24 14:21] rhuss commented on #983
cool, let me check whether we are already leveraging this (i.e. whether we already have the appropriate dependency)

[2020-08-24 22:00] ericmillin opened #988 "KnServingClient::UpdateServiceWithRetry signature references private function type"
### Bug report

I was trying to implement the `KnServingClient` interface, but I could not implement all of it because `UpdateServiceWithRetry` contains a private function type, `serviceUpdateFunc`.
[code]

### Expected behavior

Publicly exposed functions depend on publicly exposed types

### Steps to reproduce the problem

Try to implement `KnServingClient` in a package without access to `servic

[2020-08-24 22:57] ericmillin opened #989 "add WatchService to KnServingClient interface"
### Feature request

Expose the `WatchService` function via `KnServingClient` interface. This will make the function available to users outside the project.

### Use case

I want to use the kn client to watch services in my own code

[2020-08-25 09:17] rhuss commented on #989
Good idea, lets tackle this for the next release cycle

[2020-08-25 16:25] #954 closed

[2020-08-27 02:12] sirius1024 opened #993 "Why service list always show "Waiting for load balancer to be ready"?"
/kind question

I've created a new knative serving with kubectl apply -f some.yaml
when I use `kn service list` it always show:
NAME            URL                                    LATEST                AGE   CONDITIONS   READY     REASON
helloworld-go   http://helloworld-go.default.k8s.ren   helloworld-go-7ml4z   16h   1 OK / 3     Unknown   Uninitialized : Waiting for load balancer to be ready

[2020-08-27 05:39] navidshaikh commented on #993
looks like the setup issue, can you add more details ? What serving version is installed ? What networking layer is used and if its ready?

docs: https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-serving-component

[2020-08-28 10:51] navidshaikh opened #994 "BYO revision names"
There was a recent discussion about a scenario to
  - create a service using kn
  - get service yaml using `kubectl get ksvc foo -oyaml`
  - edit a field/image and apply
fails with;
[code]
This is expected as the revision template name must be updated as well OR leave it blank for the server to fill in.

Per configuration update, kn's default behavior is to generate a revision name for you, in the

[2020-08-28 15:33] duglin commented on #994
I wonder if the high-order question here is: should the CLI be assigning a name to the revision w/o the user asking for one?

If the presence of the generation number provides value, should we instead consider having serving include the generation number in the name it generates? Then the CLI doesn't need to do it and I think we'd avoid the scenario that Jacques ran into.  I've seen other people r

[2020-09-01 06:36] navidshaikh commented on #994
Yes, planning to open an issue at serving for this.

Correct. The other difference here is, with kn if user provides same the value for a Configuration field (i.e. no change), it would (unnecessarily) generate a new revision, since kn has generated a *new* revision name for you (which is seen as Configuration update by server).

[2020-09-01 07:09] rhuss commented on #994
I always wonder what exactly was the reasoning of introducing BYO revision names as a feature of Knative Serving (i remember that @sixolet explained it to me in the past, but i forgot and can't find the reasoning in the docs)

However, as this is a backend feature I don't see an issue to support it on the client side. The question is of course whether it needs to be the default.

If a user decides

[2020-09-01 07:22] rhuss commented on #988
@ericmillin could find ! that should be easy to fix and then available for 0.18.0 (or 0.17.1)

[2020-09-01 09:30] savitaashture opened #997 "Add CLI support to specify multiple containers"
### Feature request

Knative Serving release [v0.16.0](https://github.com/knative/serving/releases/tag/v0.16.0) has support for multiple containers as an alpha feature.

To propose multi container feature to beta user experience is one of the important aspects to be considered as part of CLI(kn).

The samples has been added as part of [PR](https://github.com/knative/docs/pull/2732)

For more info

[2020-09-01 10:17] rhuss commented on #997
Good point, we definitely should add this to `kn`. The tricky part will be how to add this to the UX

* Allow multiple `--image` parameters (but what would be then the main container ?)
* How to add container specific options for the second container, separating them from the ones of the first container (like environment variables).

Or maybe just support a simplified usage of adding a second cont

[2020-09-01 10:46] savitaashture commented on #997
@rhuss Yes i agree with you this is bit tricky to support as part of UX

The main container will be the one where `containerPort` specified by the user

Yes, there are few options which are not supported in sidecar but supported as part of main container (specifically Probes, ContainerPort )

For more info here is the design doc https://docs.google.com/document/d/1XjIRnOGaq9UGllkZgYXQHuTQmhbECNAOk

[2020-09-02 07:50] #988 closed

[2020-09-03 09:37] sirius1024 commented on #993
@navidshaikh I think it's because of I access kn servings with NodePort and istio. And "Waiting for load balancer to be ready" clearly.
So is this means that I need to access them with ingress to resolve the warning? Nginx-ingress or traefik-on-k8s right?

[code]

[code]
serving and eventing is different version case I upgrade it with https://knative.dev/docs/install/upgrade-installation/
seems th

[2020-09-04 18:25] ericmillin opened #998 "when `kn service create` fails, there is no container error message"
### Bug report
When a service create fails, sometimes the revision container error is empty, i.e. `Container failed with: .`. E.g.,
[code]

`kn service describe example2` has the same problem.

### Expected behavior

Some sort of error message, ideally a helpful one

### Steps to reproduce the problem

Run `kn service create example --image busybox`

### Versions
[code]

[2020-09-06 14:30] MIBc commented on #998
I think it is not suitable to run an application using busybox image. The knative will test the probe which default port is 8080. I think budybox don't have such application server. You can use helloworld-go image instead.

[2020-09-07 13:37] navidshaikh commented on #998
those error messages are produced at server and relayed by client, @ericmillin do you mind opening the issue against serving ?
(since the client dont cross the boundary of knative APIs and cant inspect the underlying resources for the errors)

[2020-09-07 23:56] ericmillin commented on #998
@MIBc I know why it didn't work. The point is the error message is empty.

@navidshaikh I created an issue in serving. Thanks :)

[2020-09-07 23:56] #998 closed

[2020-09-08 22:22] maximilien opened #999 "`kn` blog posts planning"
### Feature request

This issue is to help organize and align any blog posts for kn. Of course, you are free to write and publish blog posts without discussing here. But as per 09/08 WG meeting some of us are planning some blog posts and we will try to use this issue to track and help each other provide feedback on DRAFT.

Evidently once the planned posts are published we will close this issue or

[2020-09-08 22:27] maximilien commented on #999
**Title**: “Introducing Knative client-contrib: contributing your plugin extensions to Knative’s kn client CLI”
**Status**: See [DRAFT on Google doc](https://docs.google.com/document/d/1RL-V0HE9bSGelEHGqVmTWmn5fTko46nncqwmYGuPx0U/edit). Feedback as comments welcomed.
**Next steps**: waiting for plugins to be moved to `knative-sandbox` and will also update to mention the new inner plugin architectu

[2020-09-08 22:28] maximilien commented on #999
/assign @maximilien

[2020-09-09 18:29] navidshaikh opened #1002 "[e2e][service export] Test failing with a couple of additional annotations in comparison"
excerpts from https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_client/1001/pull-knative-client-integration-tests/1303741255074713600#1:build-log.txt%3A834 (serving nightly)

[code]

[2020-09-09 18:29] navidshaikh commented on #1002
cc @itsmurugappan

[2020-09-09 18:35] itsmurugappan commented on #1002
I wanted to refactor this test after current [pr](#1000)  am working on.

Should we filter the annotations while comparing ?

[2020-09-09 18:39] navidshaikh commented on #1002
not all but I think the ones carrying timestamp should be
[code]

[2020-09-10 08:19] #1002 closed

[2020-09-11 08:52] rhuss commented on #906
Documentation should include:

* Location of the config file
* Possible configuration option that can be used

[2020-09-11 09:14] rhuss commented on #906
Moved to https://github.com/knative/docs/issues/2803

[2020-09-11 09:14] #906 closed

[2020-09-11 10:38] rhuss commented on #652
@abrennan89 I think such kind of documentation is best hosted in the client repo itself so that it is closer to the code itself. wdyt ?

If so, I would keep that issue within this repo and add the docs (markdown or asciidoc) to this client repo.

[2020-09-11 10:41] rhuss commented on #651
I think a dedicated document (or multiple documents) below https://github.com/knative/docs/client would be the proper place for this.

[2020-09-11 13:44] rhuss commented on #650
@abrennan I'd like to move this issue also over to the docs repo, and also want to split it up more. This issue would be a candidate to discuss in one of the next calls.

[2020-09-11 14:14] rhuss commented on #648
fixed with knative/docs#2230

Maybe we can move that installation section to the user guide sugested in #650

[2020-09-11 14:14] #648 closed

[2020-09-12 12:03] duglin opened #1008 "--min-scale/max-scale are broken"
the latest `kn` seems to support --min-scale and --max-scale, at least it doesn't complain when I try to use them. But nothing is set in the ksvc - so they have no effect. If we're not going to generate an error (due to them not being valid flag) then we should still support them on the backend properly.

I suspect this might catch a lot of people - took me a while to figure out why my services ke

[2020-09-13 19:20] mpetason commented on #1008
/assign

[2020-09-14 07:16] rhuss commented on #510
@abrennan89 would make sense to keep an umbrella issue like this or isn't it better use a project board instead ? If so, I would close the issue here and we just move over the include task-issues.

[2020-09-14 07:17] rhuss commented on #510
Closing this now, we could reopen it later if needed.

[2020-09-14 07:17] #510 closed

[2020-09-14 07:25] rhuss commented on #424
Lets keep the issue open (and dont move it over to the docs repo) as this is about cleaning up documentation within this repo.

However, I still believe that having that kind of information as part of the user manual (#650) makes a lot of sense.

[2020-09-14 07:31] rhuss commented on #101
As  https://github.com/knative/serving/blob/master/docs/spec/normative_examples.md has been replaced by a pointer to the knative client githup repo, I think we can close this issue. The examples that have been used included in this document will be moved more less over to the forthcoming user manual (#650)

btw, I think  https://github.com/knative/serving/blob/master/docs/spec/normative_examples.m

[2020-09-14 07:31] #101 closed

[2020-09-14 07:34] rhuss commented on #58
👍 this explanation should become definitely part of the developer handbook as described in #652 that should be part of this repository. I will update the parent issue with this task and close this one for now.

[2020-09-14 07:34] #58 closed

[2020-09-14 07:50] navidshaikh commented on #1008
Thanks Doug! This should've been caught in e2e, which alerts missing e2e. The fix should contain e2e for visible + hidden variant of these flags.

[2020-09-14 07:53] rhuss opened #1009 "Update to 1.18 client-go library"
Update the dependency on client-go to version 1.18 which introduces some backward incompatible changes. See also https://knative.slack.com/archives/C01AK3YNHPW for the knative coordinated effort to make the switch.

[2020-09-14 13:03] NEERAJAP2001 commented on #424
@rhuss sir, how can I go ahead with solving the issue as docs are already there?

[2020-09-15 03:12] MIBc commented on #1009
Should we update only client-go or all k8s library ?

[2020-09-15 09:34] rhuss commented on #1009
We should align with the other knative projects, I think they have updated everything to k8s 1.18

[2020-09-15 09:51] #959 closed

[2020-09-15 14:40] MIBc commented on #1009
/assign

[2020-09-15 16:14] rhuss opened #1014 "Add "--annotation-service" and "--annotation-revision" to kn service create/update"
### Feature request

In order to provide the same support as for labels also for annotations, the two options mentioned in the title should be implemented with the same semantics as for labels:

[code]
### Use case

One use case is to add `sidecar.istio.io/inject: "true"` annotation to the pod template which is currently not possible.

cc: @nak3

[2020-09-15 19:13] navidshaikh commented on #1014
/assign

[2020-09-16 04:51] theckang opened #1015 "Add support for volume sub-paths"
### Feature request

Add the ability in `kn service create` and `kn service update` to specify a sub-path, in addition to the volume's mount path.

### Use case

I have AWS config and credentials stored in `.aws/config` and `.aws/credentials` respectively.  I generate a `configmap` for the config and a `secret` for the credentials.  In order to mount the config and secret to the same path in a ser

[2020-09-16 07:32] navidshaikh commented on #940
Adding aliases should be straightforward once we agree on the set, lets target this for the v0.18 release? Adding to milestone.

[2020-09-18 06:49] rhuss commented on #940
Added initial suggestions to https://docs.google.com/spreadsheets/d/1WOVoN2kmqdMAEwBJOL1bj4QwGXICqaOI59Za8DPr2Xo/edit?usp=sharing

Please review, comment and/or add other suggestions (but please keep in mind that we don't want to go over-board and we should have a good reason for adding a particular alias)

[2020-09-18 10:32] navidshaikh opened #1020 "autoscaling annotations must be put under "spec.template.metadata.annotations" to work"
In client, we set (all) the annotations to service metadata annos as well as template metadata annotations.
see https://github.com/knative/client/blob/1607bf8c0c6404632d203f5a8794ac60d7c7659c/pkg/serving/config_changes.go#L457

With https://github.com/knative/serving/pull/9358 serving now validates the autoscaling related annotations, we'd need to stop setting the respective annotations at service

[2020-09-18 10:32] navidshaikh commented on #1020
cc: @markusthoemmes

[2020-09-18 12:37] dsimansk commented on #1020
/assign

[2020-09-21 08:05] cdlliuy opened #1023 "Make error-window when waiting for a service to be ready configurable"
_The use case described below in this description would be supported by a new option as described [below](https://github.com/knative/client/issues/1023#issuecomment-759986466)_

-------

we are running with cluster-autoscaler, and https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler to put some low-priority paus

[2020-09-21 08:29] cdlliuy commented on #1023
@maximilien  :-）

[2020-09-21 15:12] mattmoor commented on #1009
Generally we move all K8s libs in sync.

[2020-09-21 21:02] ericmillin commented on #858
@rhuss I'm hitting this issue in the kn client. I think the problem is here: https://github.com/knative/client/blob/c801e8205ab4712e71b724edaa5634805db2d902/pkg/serving/v1/client.go#L271

I added some crude logging and I saw an `ADDED` event first, then all the subsequent events received by the callback had empty `Type` fields and `nil` Objects.

[2020-09-21 21:10] ericmillin commented on #858
Here's a repro:

[code]

[2020-09-21 21:30] ericmillin commented on #858
@rhuss Sync delete in the kn client fails for me consistently. It always times out. What I see is an "ADDED" event at start and all subsequent events that are handled in the DeleteService callback have empty `Type` and nil `Object` fields.

[2020-09-21 21:31] ericmillin commented on #858
I can reproduce
Repro:
[code]

[2020-09-22 07:06] #1020 closed

[2020-09-24 09:20] arghya88 commented on #955
/assign

[2020-09-24 15:08] navidshaikh commented on #955
@arghya88 : Welcome! I've a WIP PR #1013 for this, mind looking at some other open issues? thanks! :-)

[2020-09-24 15:15] arghya88 commented on #955
@navidshaikh okay..I was not aware of it as it was not linked

[2020-09-24 15:19] navidshaikh commented on #955
@arghya88 : yup, I'd missed linking that, fixed now ;-) Here is another https://github.com/knative/client/issues/1014 that we'd like to get in the next release, feel free to assign it.

[2020-09-24 15:31] arghya88 commented on #1014
/assign

[2020-09-25 14:09] markusthoemmes opened #1031 "Track whitelist terminology in cobra etc."
The client is currently forced to use whitelist terminology due to dependencies

See:
https://github.com/knative/client/blob/b916a5b3ed356ad8fd0cbd91fbe511765c231bcf/pkg/kn/commands/options/options.go#L40
https://github.com/knative/client/blob/4a3cf245504a71eccec0b681bfc053c291e1cee2/cmd/kn/main_test.go#L163
https://github.com/knative/client/blob/8f7088f0c013f583d05abfe78325e177720c3ba3/cmd/kn/mai

[2020-09-26 09:25] MIBc commented on #1009
I think this issue has been solved by https://github.com/knative/client/pull/1025. We can close it.

[2020-09-27 01:40] cdlliuy commented on #1023
A proposal is to let "kn" client to wait as long as the `--wait-timeout` if we can't get a succeed msg from ksvc, and print out the intermittent error to end-user, i.e.

[code]

[2020-09-29 10:18] rhuss commented on #940
As there are no additional comments, let's settle on this initial set of aliases:

service | ksvc
-- | --
service | services
revision | revisions
route | routes
source | sources
broker | brokers
trigger | triggers
channel | channels
plugin | plugins
<cmd> list | <cmd> ls

[2020-09-29 10:42] rhuss commented on #1031
@markusthoemmes thanks for the heads-up!

As the upstream PR is merged, let's update as soon as there is the next release.

[2020-09-29 13:01] rhuss commented on #1023
An issue with this kind of waiting for a resource to reach a certain status is when to stop and ignore intermediate failures. As Knative (as Kubernetes) are declarative platforms that are _eventually_ consistent there is no clear point in time where to stop the check. We already added some 'grace' period in the checks that allow for some intermediate errors (if the status changes to green within t

[2020-09-29 13:04] rhuss commented on #1023
I think the report of an initial failure to start the pod is valid (according to your description), `kn` has no idea that this is to be expected.

On the other hand, how long would it takes for preempting pods and starting the second pod ? Is this a matter of seconds or minutes ? Because if its only let's say 10s then we can increase the grace period, but if we would have to increase this wait tim

[2020-09-29 13:39] cdlliuy commented on #1023
@rhuss , I think  preempting pods and starting the second pod  are quite quick in my case, just seconds , but it did relate to the workload of kube-scheduler, since the unschedule pod is requeued.

See below, 3 seconds in my case.
[code]

[2020-09-29 18:06] rhuss commented on #1009
Correct

[2020-09-29 18:06] #1009 closed

[2020-09-29 23:49] ZhiminXiang opened #1034 "TestServiceOptions is a bit flaky"
### Bug report

### Expected behavior

No flakiness of TestServiceOptions

### Steps to reproduce the problem

Per https://testgrid.knative.dev/client#continuous, it is a bit flaky right now, which seems block the release PR https://github.com/knative/client/pull/1033

[2020-09-30 08:03] navidshaikh commented on #940
We've a subscription CRUD PR open, how about adding the following couple of aliases?

command | alias
-- | --
subscription | subscriptions
subscription | sub

[2020-09-30 09:32] navidshaikh opened #1035 "[release-0.18] Early kn release v0.18.0"
See https://github.com/knative/client/releases/tag/v0.18.0 thats a week ahead of the schedule.

I see branch release-0.18.0 pushed today triggering this build, cc: @ZhiminXiang

I think we should delete this release and the respective branch for now.

[2020-09-30 09:51] rhuss commented on #1035
@ZhiminXiang please note that the client still releases 1 week after serving/eventing to get the dependencies (on serving and eventing) right. We plan to reduce that, but not for now.

[2020-09-30 09:59] arghya88 commented on #940
I would like to work on this if that's okay.

[2020-09-30 11:14] navidshaikh commented on #940
@arghya88 : Awesome! please go ahead and thanks for your contributions!

[2020-09-30 14:48] #1014 closed

[2020-09-30 18:11] ZhiminXiang commented on #1035
I have manually delete release-0.18 branch as well as v0.18.0 tag. It should be good now.

[2020-09-30 18:12] #1035 closed

[2020-10-01 16:44] #955 closed

[2020-10-02 09:24] rhuss opened #1039 "Proposal: Create a dedicated repository `knative/client-pkg` for shared code"
### Feature request

I suggest creating a new repository in core knative called `client-pkg` which holds all the shared code that is proposed in #889

### Use case

The motivation for this change is that this split-off is needed to avoid cyclic dependencies when e.g. plugin code is referring to client support libraries like parsing options in a common way or reusing the way how sinks can be specif

[2020-10-02 09:36] rhuss commented on #1039
An alternative option would be to include the shared code to `knative/pkg`, but that would introduce also some client specific dependencies like cobra to knative/pkg

[2020-10-04 17:17] duglin opened #1042 "Support more aliases for really long options"
Now that our validating webhook will flag revision annotation that appear on the service, it'll force people to type `--annotation-revision xxx=yyy` and that's a lot typing. Can we look into supporting some alias? For example:
- `--ar` for `--annotation-revision`
- `--as` for `--annotation-service`
- `--lr` for `--label-revision`
- `--ls` for `--label-service`

[2020-10-06 05:00] Kaustubh-pande commented on #979
As per the review comments, change the header fields to NAME & DESCRIPTION
[code]

[2020-10-06 07:22] arghya88 commented on #1042
/assign

[2020-10-06 10:20] navidshaikh opened #1045 "Investigate auto doc for aliases"
Currently we've to manually document the aliases for the commands and flags, that should've been added by auto doc utility from cobra.
ref: https://github.com/knative/client/pull/1041

[2020-10-06 10:43] navidshaikh commented on #1042
How about

`--a-rev` for `--annotation-revision`
`--a-ksvc` for `--annotation-service`
`--l-rev` for `--label-revision`
`--l-ksvc` for `--label-service`

?

this way, we keep the parity with other aliases and maintain the flag format?

[2020-10-06 10:57] #940 closed

[2020-10-06 11:16] duglin commented on #1042
I still kind of prefer the two letter version (one letter per word), but what you suggested is still better than what we have today :-)

[2020-10-06 17:20] ericmillin opened #1047 "KnServingClient::WaitForService continues to wait if app is deleted"
### Bug report

If you delete an app while you are waiting for it start, the create wait will continue until it times out

### Expected behavior
Wait ends

### Steps to reproduce the problem

In terminal A:
[code]
In terminal B:
[code]

### kn version

[code]

[2020-10-06 18:07] #1008 closed

[2020-10-06 20:17] #979 closed

[2020-10-06 20:22] duglin commented on #1042
Per the call today, I think the list of auto-scaling annotations can be found here:
https://github.com/knative/serving/blob/master/pkg/apis/autoscaling/register.go
and serving:
https://github.com/knative/serving/blob/master/pkg/apis/serving/register.go

Not all of these are really user settable tho

[2020-10-07 16:40] danielhelfand commented on #1045
Is the goal here for just docs or to include in help command as well?

Something like below could very easily be added for help:

[code]

While updating [`generate-docs.go`](https://github.com/knative/client/blob/b13cd70490587f22ec88831d657c0daf38ed4308/hack/generate-docs.go) might require relying less on `"github.com/spf13/cobra/doc"` default doc generation approaches and implementing a custom ap

[2020-10-08 11:34] zroubalik opened #1053 "Add WithLabel list filter to serving client lib"
### Feature request

The list filters in serving client lib are missing an option to filter by specified label, eg. something similar that could be achieved by this call:
[code]

Serving Client lib:
https://github.com/knative/client/blob/b13cd70490587f22ec88831d657c0daf38ed4308/pkg/serving/v1/client.go#L110-L142

Would be nice to add `func WithLabel(labelKey, labelValue string) ListConfig`

[2020-10-08 11:35] zroubalik commented on #1053
/assign

[2020-10-08 13:45] navidshaikh commented on #1045
I think having
[code]
section for help text should do, I'd remove the inline hint of alias from the short description, in favor of former.

[2020-10-08 13:49] navidshaikh commented on #1045
looks like tkn is controlling the help text using usage template https://github.com/tektoncd/cli/blob/master/pkg/cmd/root.go#L43

[2020-10-08 13:51] danielhelfand commented on #1045
Yes, I put together something like below for `kn`:

[code]

Can put in a pr if it makes sense.

[2020-10-08 13:59] navidshaikh commented on #1045
nice! How about re-ordering of the subsections as:
[code]

[2020-10-08 14:01] danielhelfand commented on #1045
Sure, sounds good. Let me rearrange and I'll submit something.

[2020-10-09 07:09] #1045 closed

[2020-10-09 14:26] #1053 closed

[2020-10-13 14:00] cdlliuy commented on #1023
@rhuss ,  can you help to share a little bit your comment on this?

[2020-10-14 09:41] rhuss commented on #1023
sure.

We just released a fix for the that 'grace period' in which intermediate errors are tolerated. That was unfortunately broken in certain situations. If you don't mind could you please try out kn 0.18.1 and whether it maybe already fixes the issue at hand ?

The current 'error window' as we call it is 2s. The problem with increasing this value is, **if** there is a real error it takes that se

[2020-10-15 02:46] duglin commented on #71
@rhuss did you still want this?

[2020-10-15 02:48] duglin commented on #182
/remove-lifecycle stale

[2020-10-15 03:53] navidshaikh commented on #609
/close

[2020-10-15 03:53] #609 closed

[2020-10-15 03:54] navidshaikh commented on #633
/remove-lifecycle stale

[2020-10-15 11:15] duglin commented on #166
I think "soonish" has passed :-)

[2020-10-15 11:49] duglin commented on #287
/remove-lifecycle statle

I'd like to revisit this one. I feel like thinking has shifted since this was first opened and we should consider expanding the list of objects that `kn` supports

[2020-10-15 11:50] duglin commented on #317
/remove-lifecycle stale
@daisy-ycguo  @wslyln were one of you going to work on this?

[2020-10-15 11:51] duglin commented on #390
@akerekes were you going to work on this?

/remove-lifecycle stale

[2020-10-15 12:02] duglin commented on #585
I still think this is an issue
/remove-lifecycle stale

[2020-10-15 12:04] duglin commented on #842
/remove-lifecycle stale
still would like to see this one

[2020-10-15 12:05] duglin commented on #890
/remove-lifecycle stale

[2020-10-15 12:10] duglin commented on #925
/remove-lifecycle stale

would be a good first issue too I think

/kind good-first-issue

[2020-10-15 15:21] dsimansk commented on #654
/remove-lifecycle stale
/assign

[2020-10-15 18:30] danielhelfand opened #1066 "GitHub Action for kn"
### Feature request

It would be helpful for developers using GitHub Actions to have an easy way to use `kn`. Wondering if there has been any discussion around supporting an official GitHub Action and making it available through the [GitHub Actions Marketplace](https://github.com/marketplace).

Creating a GitHub Action docs: https://docs.github.com/en/free-pro-team@latest/actions/creating-actions

[2020-10-15 20:53] dng00 commented on #732
@evankanderson / @rhuss , appreciate if team can provide an update on this. Currently we are waiting for fixed amount of time before checking the status again. Can you suggest a more efficient work around while this is being worked on?

[2020-10-20 14:04] navidshaikh commented on #732
@dng00 : Lets discuss this in today's client working group call? we meet every week on Tuesday, you can find more details in the [charter](https://knative.dev/community/contributing/working-groups/working-groups/#client) (todays meeting starts in about 3.5 hours from now).

[2020-10-20 14:53] rhuss commented on #732
I think it make sense, but I propos to call it just `kn service wait` and then possibly specify what to wait for as an option. Maybe make it even compliant to `kubectl wait` (which does something similar with kubectl only), but only if this make sense.

[2020-10-21 14:45] rhuss commented on #889
/remove-lifecycle stale

[2020-10-23 07:02] navidshaikh commented on #941
/close

We now build the test images part of CI run.

[2020-10-23 07:02] #941 closed

[2020-10-23 08:17] cdlliuy commented on #1023
@rhuss ,  sure,  I will have a try for the 0.18.1 release and report back to you :-)

[2020-10-23 20:13] abrennan89 opened #1071 "docs/DEVELOPMENT.md points to old contributing docs"
### Bug report

https://github.com/knative/client/blob/master/docs/DEVELOPMENT.md#development points to https://knative.dev/contributing/ - which looks weird and outdated.

### Expected behavior

I think it should actually point to here: https://knative.dev/community/contributing/

Also, serving, eventing and docs are listed here https://knative.dev/community/contributing/#contributors but CLI is

[2020-10-26 08:20] rhuss opened #1073 "Improve "kn service apply" to use a strategic patch strategy for perfoming the 3-way merge"
### Feature request

As described in https://github.com/knative/client/pull/964#issuecomment-707184807 the way we are performing the 3way merge for a `kn service apply` is limited and can be improved.

### Use case

Instead of doing a `jsonmergepatch.CreateThreeWayJSONMergePatch`, ideally a `strategicpatch.CreateThreeWayMergePatch` should be used but this fails because of lack of support for CRDs

[2020-10-27 12:57] rhuss commented on #1066
I wonder whether we need a dedicated action or if our container image for kn that could be used as an action would be good enough ? (saying that with being a github action noob )

[2020-10-27 13:47] navidshaikh commented on #293
/remove-lifecycle stale

@danielhelfand are you still looking at it? @itsmurugappan wanted to work on this.

[2020-10-27 17:55] danielhelfand commented on #293
/unassign

Sure, please feel free to pick it up.

[2020-10-27 20:21] rhuss opened #1076 "Add sink prefix "channel:" for allowing to address a channel"
### Feature request

A channel is a valid sink for a source, so it should be possible to address that via a `--sink` option

[2020-10-27 20:53] mpetason commented on #822
@rhuss @maximilien With the recent PR I'm ignoring 0 values. Is it expected that you should use --scale-min 0 to set the min scale to 0? Right now with create or update, if the value is 0 it either doesn't set it, or it doesn't update it. Something like `update --scale 0..5` won't set the min scale to 0, it will ignore the 0 value and just leave whatever is currently set for the min scale annotati

[2020-10-28 16:07] danielhelfand commented on #1066
I think the challenge with GitHub Actions right now is that there isn't the perfect pattern for including CLIs as part of a build. In a lot of cases, actions have been developed to install CLIs on the host, which is not the most ideal pattern.

And the challenge with using an image (i.e. `uses: docker://gcr.io/knative-releases/knative.dev/client/cmd/kn:latest`) is properly utilizing things on the

[2020-10-28 16:15] danielhelfand opened #1080 "Package Manager Option for Windows Installation"
As a Windows user, I would like the ability to install `kn` via a package manager such as [Scoop](https://scoop.sh/) or [Chocolatey](https://chocolatey.org/) to help simplify the installation/update process of working with `kn`. An example similar to `kn` could be what has been created for `tkn` for its [Chocolatey package](https://github.com/danielhelfand/chocolatey-tektoncd-cli).

/kind feature

[2020-10-28 19:45] mpetason commented on #822
@duglin do you have any suggestions about how you would like to see it work? I posted on the issue to get feedback about how it should work so that I can implement it.

[2020-10-28 23:56] duglin commented on #822
I’m confused, why not just accept and use 0? Why would we ignore it. @rhuss suggested that ..X be used to mean set a max of X but leave the min untouched.

[2020-10-29 01:01] duglin commented on #822
To add more - keep it simple - for x..y:
- set min to x
- set max to y
- generate an error if y < x, or if x < 0

so, yes 0..0 is valid since even today we support `--scale-min=0 --scale-max=0`

[2020-10-29 07:13] navidshaikh commented on #1080
+1

FYI we've https://github.com/knative/homebrew-client for delivering kn via homebrew for macOS / Linux distributions.

[2020-10-29 19:16] danielhelfand commented on #1080
Another thing to note is that [winget](https://docs.microsoft.com/en-us/windows/package-manager/winget/) may be the preferred tool for Windows once it is officially released.

[2020-10-29 21:42] maximilien commented on #763
We could probably close this as well since it’s kind of done

[2020-10-29 21:42] #763 closed

[2020-10-29 22:01] maximilien commented on #141
Closing this since much of this can be done with tools.

[2020-10-29 22:01] #141 closed

[2020-10-29 22:02] maximilien commented on #147
Closing this. There are other ways to retrieve and follow logs.

[2020-10-29 22:02] #147 closed

[2020-10-29 22:03] maximilien commented on #259
Closing this as I think config is all done and setup now

[2020-10-29 22:03] #259 closed

[2020-10-29 22:04] maximilien commented on #397
This is still something interesting to pursue so leaving it open as new plugins are being setup in `knative-sandbox` org.

[2020-10-30 13:25] rhuss commented on #822
@mpetason Sorry, I'm a bit late to the game (such a busy week it is), but I summarized my thinking in https://github.com/knative/client/pull/1070#issuecomment-719546336

The problem I see with the interpretation of using "unchanged" is, that we never have a way to reset a scale-max once it's set. But let discuss over there at the PR ?

[2020-10-30 20:30] maximilien commented on #520
We are moving these (all plugins) to knative-sandbox and https://github.com/knative-sandbox/kn-plugin-source-kafka is already there though is being updated. I think we can close this issue.
Cc: @daisy-ycguo

[2020-10-30 20:31] maximilien commented on #258
I am closing this as I believe we are good

[2020-10-30 20:31] #258 closed

[2020-10-30 20:39] maximilien commented on #519
We’ve moved to a different approach to creating the source plugins. So I suggest closing this and let’s track them on knative-sandbox

[2020-11-02 04:35] cdlliuy commented on #821
The error was seen more recently and will provide logs as required

[2020-11-02 09:15] rhuss opened #1086 "Leftover fixes for `kn service apply`"
The following things should be added to improve #964 :

* Add Changelog entry
* Add an e2e test for `kn service apply -f`
* Fix some formatting issue (comment after import)
* Pick the `user-container` when checking for the container to merge

[2020-11-02 12:12] dsimansk opened #1087 "Export command doesn't honour --mode flag"
### Bug report

When `--mode` flag is specified for ksvc without `--with-revisions` flag that output format is plain Knative Service yaml instead of our custom `Export` type.

[code]
### Expected behavior

`kn service export hello -o yaml --mode export` - output is printed in requested `Export` format.

### Steps to reproduce the problem

Exec and check the format.
[code]

### kn version

HEAD

##

[2020-11-02 12:23] dsimansk commented on #1087
@itsmurugappan please let know if you'd like to work on this one or should I.

[2020-11-02 13:20] itsmurugappan commented on #1087
Sure I can work on it. /assign

[2020-11-02 13:42] itsmurugappan commented on #1087
/assign

[2020-11-02 14:08] itsmurugappan commented on #30
/remove-lifecycle stale
/assign

[2020-11-03 02:13] itsmurugappan commented on #30
@rhuss @navidshaikh i think this is the issue we discussed in the last wg. For implementing this am planning to take the below approach, please let me know if this is good

- Implement knclientinterface to work on local directory
- change this line in all commands to return the appropriate client based on cmd flags
```client, err := p.NewServingClient(namespace)```

[2020-11-04 09:56] navidshaikh opened #1089 "Drop deprecated --async flag in favor of --no-wait"
Flag `--async` was deprecated but still supported in the favor of `--no-wait`, introduced in v0.13.0 release. Its been 5 releases since then and we can consider removing support for `--async` now. Please consider moving to `--no-wait` if you are using `--async`.

[2020-11-05 14:21] navidshaikh commented on #1076
/assign

[2020-11-05 15:21] navidshaikh opened #1093 "Add -o url to describe of resources which can be accessed via URL"
### Feature request

We've `kn service describe -o url` which returns the service URL. This is to request similar feature for other eventing resources.

- [ ] broker
- [ ] channel

### Use case

User can use `kn broker describe b0 -ourl` etc for the scripting use cases.

### UI Example

[code]

[code]

/kind good-first-issue

[2020-11-05 20:09] rhuss commented on #30
@itsmurugappan sorry for the late reply, but this sounds like a good strategy. I don't think you have to implement every method, only those that are needed for this functionality. Also the file name should then be part of that new implementation's struct.

Also I learned this trick today (thanks to @markusthoemmes ):

[code]
It'll implement all functions with nil-pointer function calls. Then you o

[2020-11-05 20:12] rhuss commented on #30
(sorry closed by accident)

[2020-11-06 04:24] arghya88 commented on #1093
/assign

[2020-11-06 15:27] navidshaikh opened #1095 "Add machine readable output (-o flag) to kn trigger describe"
use case: `kn trigger describe NAME -oyaml`

see `kn service describe NAME -oyaml` for ref

[2020-11-06 15:29] navidshaikh opened #1096 "Add machine readable output (-o flag) to kn source apiserver describe"
use case: `kn source apiserver describe NAME -oyaml`

see `kn service describe NAME -oyaml` for ref

/kind good-first-issue

[2020-11-06 15:29] navidshaikh commented on #1095
/kind good-first-issue

[2020-11-06 15:30] navidshaikh opened #1097 "Add machine readable output (-o flag) to kn source binding describe"
use case: `kn source binding describe NAME -oyaml`

see `kn service describe NAME -oyaml` for ref

/kind good-first-issue

[2020-11-06 15:32] navidshaikh opened #1098 "Add machine readable output (-o flag) to kn source ping describe"
use case: `kn source binding describe NAME -oyaml`

see `kn service describe NAME -oyaml` for ref

/kind good-first-issue

[2020-11-06 15:36] navidshaikh opened #1099 "Add machine readable output (-o flag) to kn broker describe"
use case: `kn broker describe NAME -oyaml`

see `kn service describe NAME -oyaml` for ref

/kind good-first-issue

[2020-11-06 16:23] kameshsampath opened #1100 "kn channel create does not honour `default-ch-webhook` settings"
### Bug report

Using the docs https://knative.dev/docs/eventing/channels/default-channels/, we can configure the default channel, assume Kafka is installed and I configure the `default-ch-webhook` CM to be like:

[code]
__NOTE__:  Kafka is configured and running correctly and so is KafkaChannel resource

When I do `kn channel create my-events-ch -n knativetutorial`, I expect the channel to be cre

[2020-11-06 16:30] rhuss commented on #1100
We switched to use the default "Channel" CRD which actually uses the default as configured for the cluster. So actually I would expect it to be just "Channel" as type in the list. @navidshaikh do you know whether this was included in 0.18 ?

[2020-11-06 16:39] kameshsampath commented on #1100
@rhuss  not sure I got what you meant, you mean `default` as the CM name ?

[2020-11-07 00:11] csantanapr opened #1101 "produce kn binary for Linux arm64"
### Feature request

Provide a build for Linux arm64

### Use case

In the next release of knative 0.19 all the controllers would be able to run on arm64 cpu architecture, the same way there are builds for `kubectl` for arm64 would be good to produce builds for `kn`

[2020-11-09 08:30] rhuss opened #1102 "Reuse conflict retry loop from client-go/util/retry"
Instead of our homegrown algorithm for retrying updates in case of a conflict, we should reuse https://github.com/kubernetes/client-go/blob/1eb2027cd51eefaca0f851d5a2c90f8dd9b2a71d/util/retry/util.go#L68-L75 from the kubernetes client lib.

The goal of this refactoring task is to identify the spots where we are doing retries and switch over to this utility method, much like the `kn service import`

[2020-11-09 09:49] #1076 closed

[2020-11-09 09:49] #1089 closed

[2020-11-09 14:04] #654 closed

[2020-11-10 10:15] rhuss commented on #842
If we would get to the number that would be quite cool but as mentioned it's really hard to impossible to get the number of running pods that belong to a revision as this required inspecting the corresponding `Deployment`which is not accesible via Knative API. A plugin could help, but this would be a complete different thing as it would _replace_ `kn service describe` (e.g. could be a `kn-service-

[2020-11-10 10:16] rhuss commented on #213
/remove-lifecycle stale

[2020-11-10 10:19] rhuss commented on #333
/remov-lifecycle stale

[2020-11-10 10:20] rhuss commented on #333
/remove-lifecycle stale

[2020-11-10 10:21] rhuss commented on #496
/remove-lifecycle stale

[2020-11-10 10:22] rhuss commented on #812
Fixed with 0.18

[2020-11-10 10:22] #812 closed

[2020-11-10 11:45] #1101 closed

[2020-11-10 12:44] duglin commented on #842
This touches on something we've discussed before... are we a K8s project or not? IMO it feels like we're doing a disservice to our users by avoiding something as useful as this. However, having said that, can we support this IF the API (data) is available  and just return `n/a` if it's not (or remove the field entirely). This then gives the freedom for non-K8s backends to optionally support these

[2020-11-10 13:44] rhuss commented on #888
/remove-lifecycle-stale

[2020-11-10 13:47] rhuss commented on #888
/remove-lifecycle stale

[2020-11-10 14:37] aliok commented on #1100
FYI, I bumped into this as well.

@rhuss, the configmap is not _entirely_ ignored. Only the `namespaceDefaults` part.

So, `kn` simply uses the `clusterDefault` instead of using the `namespaceDefaults` when creating a resource for e.g. `knativetutorial` above.

[2020-11-11 00:42] akerekes opened #1109 "Race condition in commands using watch"
### Bug report

The `wait.Wait.Wait()` implementations create the watch they are listen to in a goroutine that can execute later than the code that emits the event the watch was intended for.

### Expected behavior

The watch is created upfront, then the wait for the event is executed in a goroutine while the main thread calls the backend that will emit the expected event.

### Steps to reproduce

[2020-11-11 07:48] navidshaikh commented on #1100
@rhuss : Yes, we populate `messagingv1beta1.Channel` and hand over to eventing.

@aliok : `kn` doesnt know about the default channel config set via CM at all. It populates the `messagingv1beta1.Channel` spec and submits to eventing, the cluster/namespace defaults are then taken care by eventing layer.

I could reproduce the issue using (v1beta1 apis) yaml + kubectl as well. Cluster wide default wo

[2020-11-11 08:16] aliok commented on #1100
@navidshaikh thanks for trying this.

I did exactly the same as you did (creating stuff with YAML) but I did it with 0.17 of eventing, 0.17 of eventing-contrib, 0.18 of `kn`. I now also realized I used `v1` API instead of `v1beta` for `Channel`.

I think it is most likely there's a bug in `v1beta1` `Channel` reconciliation and since `kn` is creating the `Channel` with that version, we're having th

[2020-11-11 08:25] aliok commented on #1100
oh, @navidshaikh I just realized the `default-ch-webhook` you posted above has a typo: `namespaceDefault` --> `namespaceDefaults`.

[2020-11-11 08:38] aliok commented on #1100
@navidshaikh sorry, the typo got me confused and I made assumptions in 2 comments earlier.

I don't understand why (since `kn` is not doing anything with the confirmap) but I think it happens on `kn` only.

Configure default-ch-webhook
[code]

Create a `Channel` in `default` ns and `knativetutorial` ns:

[code]

List channels:
[code]

Works as expected. I also tried using `v1` of `Channel` and I s

[2020-11-11 08:41] aliok commented on #1100
and, I tried this with Knative eventing 0.17.8, eventing-contrib 0.17.x, `kn` 0.18.latest

[2020-11-11 13:14] dsimansk commented on #994
In Serving `0.19.0` there's change to more consistent naming, PR https://github.com/knative/serving/pull/9740. It seems to me as another good reason to move away from `kn` generating those names by default.

[2020-11-12 09:07] aliok commented on #1100
This is the reason for this problem: https://github.com/knative/eventing/issues/4514

[2020-11-12 16:55] arghya88 commented on #1099
/assign

[2020-11-13 08:28] arghya88 commented on #1095
/assign

[2020-11-15 01:21] #891 closed

[2020-11-15 01:21] #885 closed

[2020-11-15 01:21] #753 closed

[2020-11-15 01:21] #733 closed

[2020-11-15 01:21] #662 closed

[2020-11-15 01:21] #655 closed

[2020-11-15 01:21] #646 closed

[2020-11-15 01:21] #551 closed

[2020-11-15 01:21] #530 closed

[2020-11-15 01:21] #512 closed

[2020-11-15 01:21] #447 closed

[2020-11-15 01:21] #408 closed

[2020-11-15 01:21] #396 closed

[2020-11-15 01:21] #375 closed

[2020-11-15 01:21] #349 closed

[2020-11-15 01:21] #323 closed

[2020-11-15 01:21] #303 closed

[2020-11-15 01:21] #261 closed

[2020-11-15 01:21] #230 closed

[2020-11-15 01:21] #184 closed

[2020-11-15 01:21] #188 closed

[2020-11-16 01:21] #91 closed

[2020-11-16 01:21] #6 closed

[2020-11-16 01:21] #1 closed

[2020-11-16 05:58] chizhg commented on #733
@navidshaikh is this still an issue? Can you sign the release binaries in the `build_release` function - https://github.com/knative/client/blob/master/hack/release.sh#L23?

[2020-11-17 07:38] navidshaikh commented on #278
/reopen
/remove-lifecycle stale

[2020-11-17 07:39] navidshaikh commented on #336
/reopen
/remove-lifecycle stale

[2020-11-17 07:45] navidshaikh commented on #257
/reopen
/remove-lifecycle stale

still an issue with kn v0.19.0 release
[code]

[2020-11-17 07:53] navidshaikh commented on #394
/reopen
/remove-lifecycle stale

[2020-11-17 07:54] navidshaikh commented on #398
/reopen
/remove-lifecycle stale

[2020-11-17 07:57] navidshaikh commented on #497
/unassign
/reopen
/remove-lifecycle stale

This would require to parse the CRD to fetch source type details, which is out of knative APIs boundary and the access may be denied to read the resource. Need to check if these details can be accessed via the discovery APIs.

[2020-11-17 07:58] navidshaikh commented on #498
/reopen
/remove-lifecycle stale

[2020-11-17 08:16] navidshaikh commented on #110
/reopen
/remove-lifecycle stale

Added refactor label to it and we can consider this while separating the flags into their own package for re-usability by plugins.

[2020-11-17 14:59] navidshaikh commented on #1100
/close

The issue is opened against eventing and we're carrying workaround for now.

[2020-11-17 14:59] #1100 closed

[2020-11-17 16:24] #1093 closed

[2020-11-18 13:11] #1099 closed

[2020-11-18 16:09] arghya88 commented on #1098
/assign

[2020-11-20 01:27] #563 closed

[2020-11-20 10:01] navidshaikh opened #1129 "e2e test failures: TestSink and TestSourcePing"
TestSink and TestSourcePing e2e tests are failing
ref: [logs](https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_client/1128/pull-knative-client-integration-tests/1329670780031602688)

[2020-11-23 03:05] duglin commented on #983
/remove-lifecycle stale

[2020-11-23 05:30] navidshaikh commented on #928
/close

fixed by #902

[2020-11-23 05:30] #928 closed

[2020-11-23 05:30] navidshaikh commented on #928
/remove-lifecycle stale

[2020-11-24 11:42] skonto commented on #997
@rhuss @savitaashture one way to do this safely is via a [template file](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-group). It should be essentially a copy of what the user would use in a ksvc and that should be validated by the existing Serving logic.

[2020-11-24 14:53] rhuss commented on #997
An example could be to used the `--file` option that we already for something like

[code]

[2020-11-24 19:12] #1095 closed

[2020-11-24 19:51] #822 closed

[2020-11-25 09:32] #1109 closed

[2020-11-26 08:26] rhuss commented on #462
Reopen it as I think this issue contains still some good content that we might convert into a document.

[2020-11-26 08:46] rhuss opened #1143 "Add support for namespaces for all commands that take a --sink option"
### Feature request

It should be possible to specify the namespace of a sink for all commands that support a `--sink` option

### Use case

Allowing the namespace for a sink allows to create cross-namespace eventing meshes, which is a not uncommon use case. It adds a new level of flexibility for creating complex eventing architectures.

### UI Example

[code]

would create a destination which poi

[2020-11-26 08:46] rhuss commented on #563
Although this issue has been closed, I think we should still think about how to allow the specification of a different namespace for a cross-namespace eventing mesh.

I create a new issue for this: https://github.com/knative/client/issues/1143

[2020-11-26 09:02] navidshaikh commented on #1143
/assign
/milestone v0.20.0

[2020-11-26 09:47] navidshaikh commented on #1066
cc @kameshsampath

[2020-11-26 09:49] kameshsampath commented on #1066
thanks @navidshaikh , I have a early version of the action https://github.com/kameshsampath/kn-service-action and an example using it https://github.com/kameshsampath/kn-service-action-example. Right now tested only on OpenShift

[2020-11-26 09:49] kameshsampath commented on #1066
@danielhelfand ^^

[2020-11-26 10:13] rhuss opened #1144 "Use server-generated revisions names as default for services (instead of BYO revision name)"
As discussed in https://github.com/knative/serving/issues/9544 BYO revision names that we use by default (i.e. the client set the revision name and not the serving controller), has some issues when it comes to sink bindings, but also for `kn service apply` we can't use BYO revision names. Tbh, I always have a hard time to remember the actual use case for what BYO revision names are used (and again

[2020-11-26 11:01] arghya88 commented on #1097
/assign

[2020-11-26 11:01] arghya88 commented on #1096
/assign

[2020-11-26 11:20] rhuss commented on #519
Yeah, I think we can indeed close this and open more specific issues in case e.g. when we want to extend the plugin contract.

[2020-11-26 11:20] #519 closed

[2020-11-26 11:28] rhuss commented on #994
See #1144 for finally deciding to change the default.

[2020-11-26 11:38] Kaustubh-pande commented on #1097
@arghya88 if you not started on this, I would like to work on it.

[2020-11-26 11:38] rhuss commented on #1066
@kameshsampath thanks a lot @kameshsampath ! Eventually we could move to a `knative-sandbox/kn-github-atcion` for wider visibility. We can discuss the implementation details over there at kamesh' repo, before moving on. E.g. when it comes to authentication and other configuration requirements.

[2020-11-26 11:46] arghya88 commented on #1097
@Kaustubh-pande sure.

/unassign

[2020-11-26 11:47] arghya88 commented on #1097
/assign @Kaustubh-pande

[2020-11-26 12:28] duglin commented on #1144
Did serving agree to add support?

[2020-11-26 12:35] duglin commented on #1143
@lionelvillard does eventing have a flag to disable support for this? There are some envs where it would not be allowed. And if there is a way to disable it how would that error be surfaced to the user with this new CLI feature?

[2020-11-26 12:49] rhuss commented on #733
@navidshaikh Not really sure about the mechanics of signing, but i guess we would need a certificate for this that is signed by Apple ? I know we have something for OpenShift Serverless (so, the `kn` binaries in OpenShift are signed)

@chizhg Do we have a "knative.dev" cert for performing the signing ? If not would be curious what need to be done to get one ...

[2020-11-26 12:57] rhuss commented on #287
So if we can agree that `ConfigMap` and `Secret` are part of Knative and can be fully managed (create/describe/list/delete/update), then I have no principal issue with that except maybe that we don't add any value of the `kubectl` management of those (which is quite feature rich). We would need to copy these over, so ideally we would just add a little shim and then call the kubectl implementation

[2020-11-26 14:58] duglin commented on #287
I'd prefer top level entities so that all resources a user might need to manage are treated equally. Similar to how we have the eventing resources at the same level as the knService resources.

As for duplicating what kubectl does, from a UX perspective the more people can get their job done via one CLI  the better the experience, IMO.

[2020-11-26 16:31] #1096 closed

[2020-11-27 12:30] #1098 closed

[2020-11-27 13:16] #1097 closed

[2020-12-01 07:52] rhuss commented on #485
Still a bug

[2020-12-01 07:54] rhuss commented on #551
fyi, there is no a `kn service apply`

[2020-12-01 07:57] rhuss commented on #646
It's ok to close this issue (because I don't think we have a good way on the client side to detect if an image has been changed).

Linking it to #1144 as this is another indication that we should switch to server generated names by default

[2020-12-01 07:59] rhuss commented on #829
Reopen it as I think we can still do better with the error message.

[2020-12-01 08:01] rhuss commented on #875
@navidshaikh  is still an issue ? I don't remember that we fixed this ....

[2020-12-01 08:03] rhuss commented on #892
Let's keep that open as a posible future feature for kn

/reopen
/remove-lifecyle stale

[2020-12-01 09:26] rhuss commented on #821
Ok,

let's keep the issue open. @cdlliuy please let me know if you have more information about it

/remove-lifecycle stale

[2020-12-01 09:29] rhuss commented on #520
I think it would still be helpful to have an example for a source plugin. Maybe we can create a `knative-sandbox/kn-plugin-samples` that could hold multiple samples for plugins (for "hello-world", for sources, ...). or we could also have multiple repositories in the sandbox, one for each sample.

wdyt ?

[2020-12-01 10:14] rhuss commented on #166
:-P yes, sometimes time scales are stretching a bit

Not sure how valid this is, but if we want to change this still we have to be perfect backwards compatible. As we are about _relaxing_ constraints, I think this could be still possible (i.e. allowing to omit the service name and just require a `--image` option and the service name would be calculated from the image name, if possible. If there is

[2020-12-01 10:24] rhuss commented on #71
@duglin good point, I'm not sure if this is still a top priority. Of course it makes a nice touch. For scripting this would make probably quite some sense, for interactive usage we probably should better level up on our completion game, to allow context sensitive completion values (like actual names that are deployed).

[2020-12-01 10:33] rhuss commented on #184
Should we create a new issue for allowing advanced configuration management ? (like managing the namespace, context but also our own config like listing, creating, deleting mappings via scripting ?)

Especially managing sink prefixes via a `kn config add sink-prefix svc --group ... --kind ... --version` or so might be helpful in longer scripts in e.g. a CI which always starts with an empty config.

[2020-12-01 10:40] rhuss commented on #400
/remove-lifecycle stale
/reopen

for the automation step to create the brew release as part of the regular release, let's continue to work on this issue.

[2020-12-01 10:45] rhuss commented on #655
@itsmurugappan I think this would be a nice addition, but only if not restricted to Golang. In the meantime, `mink` continued on this idea, by leveraging build packs for broader language support. Let's keep core `kn` focussed on deploy aspects only.

[2020-12-01 10:50] rhuss commented on #816
/remove-lifecycle-stale
/reopen

We definitely still need on this refactoring. E.g we have `--autoscale-window` but `--scale-min`. Technically it should be probably all `--autoscale` but `--scale` is shorter.

Also we are still missing some parameters, like the configuration options for the panic window.

[2020-12-01 13:00] duglin commented on #166
I think
[code]
if backwards compatible IF we also support:
[code]
I think the arg parser would need to be told that the pattern is really `kn service create NAME [IMAGE] [ OPTIONS ]` and then we'd need to add code to verify that either the optional positional arg IMAGE or the --image flag is there, but I think that's do-able.

[2020-12-02 10:39] navidshaikh commented on #875
@rhuss : yes, I could reproduce it against kn nightly.

[2020-12-02 13:28] daisy-ycguo opened #1160 "Upgrading to Eventing sources and messaging latest api version"
### Feature request

Eventing has changes their APIs to v1, including:
- Channels from v1beta1 to v1
- Subscription from v1beta1 to v1
- ContainerSource to v1
- pingsource resource to v1beta1
- apiserversource to v1beta1
- binding to v1beta1

We may want to support the latest version in Client.

[2020-12-02 13:56] #809 closed

[2020-12-03 01:47] daisy-ycguo opened #1162 "Revise kn plugin document"
/kind doc

Since we are moving plugins to knative-sandbox, the plugin document is out of date. We shall revise it, especially the contribution guide.

[2020-12-03 08:33] rhuss commented on #1143
tbh, at the current state of eventing disabling cross-namespace support doesn't make much sense. A user can always provide the URL to the sink which is not secured on an eventing level. you can work with k8s authentication to avoid accessing the sink on the control plane level, but still, if you have the URL (and you can easily guess it as it follows a common naming scheme) you can access anything

[2020-12-03 10:49] navidshaikh commented on #993
@sirius1024 : do you still see the issue? feel free to re-open in that case

[2020-12-03 10:59] rhuss commented on #1039
Let's revive this issue, to resolve cyclic dependencies. There are several options

* Fine granular for plugins only (*knative-sandbox/kn-plugin-pkg* and *knative-sandbox/kn-plugin-source-pkg*)
* One repo for all shared plugin libraries
* One repo *knative/client-pkg* for shared code among plugins, but also the shared code with the client itself (server access, option parsing, …) (as discussed in

[2020-12-04 10:24] arghya88 commented on #1042
@navidshaikh do we have a consensus on this to move forward?

[2020-12-04 12:33] navidshaikh commented on #1042
flag alias with more than single letter / double dash seems odd to me
@rhuss wdyt ?

[2020-12-04 15:46] ctron opened #1165 "kn seems to re-order the environment variables"
### Bug report

It seems that `kn` does re-order the environment variables defined for a container.

### Expected behavior

I would expect the environment variables to stay in the same order.

### Steps to reproduce the problem

Deploy a Knative service with `kubectl apply`. Execute `kn service update -e N=1`.

The the order of environment variables is import, e.g. in the following case:

[code]

[2020-12-07 18:41] rhuss commented on #1144
@duglin wdy mean with _adding support_ ? Server-side naming of revisions exists from the very befinning.

[2020-12-07 21:42] rhuss commented on #989
Not sure if this is already implemented but I still think it is a good idea :-)

/remove-lifecycle-stale

[2020-12-07 22:11] rhuss commented on #1042
We should not introduce shortcuts with double-dash options. This is totally unexpected to use a long option with an acronym as a name. That is reserved for single-letter options. Of course, we can think about using the single letter namespace for certain abbreviation but this should be carefully considered (as removing them afterwards is not easy).

So -1 from me to use shortcuts/aliases with `--`

[2020-12-07 22:18] rhuss commented on #875
Ok, then we should fix it :)

[2020-12-08 02:53] duglin commented on #1144
Maybe I'm doing something wrong, but when I create a ksvc via kubectl the revision name (spec.template.metadata.name) field is not set by the server. Is there something I need to turn on to make the serving controller set a name?

[2020-12-08 09:26] rhuss commented on #1144
It's set on the revisions, not on the service. The lack of the name in the service definition indicates that the server should generate the revision names when they are created by the backend. When this field is set, then its taken over for the name. But this also mean, that when you set the field on your own, you have to change the name manually every time you are doing an update (that is what kn

[2020-12-08 09:27] rhuss commented on #1144
tl;dr - Ksvc `spec.template.metadata.name` is only set when you use the BYO revision name feature and the value of the field is the client-side provided revision name. If left empty, it stays empty but the server will generate unique revisions names by itself if it needs to create a new revision.

[2020-12-08 11:22] rhuss commented on #166
This could work if we don't have options with optional values because then its not clear if the argument is the options' value or an extra argument. As the user has still both to specify (and `--image` can be shortened to `-i`), I'm not sure that saving 3 key strokes is worth the effort (implementing, testing, documenting).

On the other I still kind of like the idea to allow just the image and th

[2020-12-08 11:30] rhuss commented on #983
Good point, @knative/client-writers anyone has some time to spend to investigate this issue? (I'm quite loaded these days)

[2020-12-08 12:42] dsimansk commented on #983
@rhuss I'd say you've tagged a wrong team here. However, to the question the `jsonpath-as-json` is present in `cli-runtime` from version 1.19.x onwards. We're currently at `1.18.8` per [go.mod](https://github.com/knative/client/blob/master/go.mod#L38).

[2020-12-08 12:55] duglin commented on #1144
ah sorry - for some reason I thought you were talking about the ksvc revName, not the revision itself.  Pardon the distraction :-)

[2020-12-08 15:56] rhuss commented on #983
Ah, I see. So I would wait until we do also an upgrade to 1.19.x

[2020-12-09 00:30] duglin commented on #166
What would the syntax of the create look like if NAME was optional?  Would it be:
[code]
That could work, but it wouldn't be backwards compatible.  Seems to me, the only way to make it so, would be to do something a little funky and say that if `--image` is present then the first positional arg is the NAME, otherwise if `--image` is missing then the first positional arg is IMAGE.  Do-able, just a

[2020-12-09 06:27] rhuss commented on #166
No, my suggestion would be:

[code]

* If the positional argument is not a valid name but an image specification (e.g. a `docker.io/myuser/myapp`), then consider the positional argument to be an image. No `--image` is required then, and the service name is extracted from the image name (`myapp`). The extracted name would then be printed in the output (as we already do)
* If the positional argument

[2020-12-09 14:41] mattmoor commented on #166
Haven't grokked the whole issue, but you can already do:
[code]

I have some changes brewing in mink that would generalize the current ko/dockerfile/buildpack story to support arbitrary tasks / pipelines (later even custom tasks); the idea is `{resource}://{task-name}/{path}`.  I demoed the early concept at HackyHour last week, but I'd be happy to give it again.  At head, you can try `mink run tas

[2020-12-09 19:31] rhuss commented on #166
My suggestion above is more or less the same, except that it is wrapped in kn itself (via a 'image plugin' mechanism) and could possibly work on Windows as well without the help of a Unix shell.

Does this mean that mink gets a hard dependency on Tekton ? I liked the idea to _also_ use Tekton but has a simple, one-shot build alternative, too.

Really love the idea of a "build URL scheme" when spec

[2020-12-10 17:01] mattwelke commented on #1066
I recently added a step in a GitHub Actions workflow to install kn:

[code]

GitHub Actions has been an area of interest for me lately, and I wanted to try making an action of my own, so I thought this would be a fun project to do. I planned to start it this weekend, but decided to search and found this issue first.

I think this is why the pattern so far is to have JavaScript actions that mutate

[2020-12-10 19:17] csantanapr commented on #166
I like this goal of having a working directory, and `kn` can build the image locally or build the image remotely on cluster via tekton like mink

[2020-12-14 04:23] navidshaikh commented on #424
/close
in favor of other docs rehaul issue

[2020-12-14 04:23] #424 closed

[2020-12-14 09:00] rhuss commented on #652
/remove-lifecycle stale

[2020-12-15 01:59] mattwelke commented on #1066
I did some more reading on JavaScript vs. Docker actions and I read that Docker actions can actually mutate the host file system too. I was wrong about that before.

I took a stab at creating `setup-kn` as my first real action: https://github.com/mattwelke/github-action-setup-kn

I made it as a JavaScript action, taking inspiration from the setup-gcloud action from Google. It doesn't have a build

[2020-12-15 12:26] kameshsampath commented on #1066
@mattwelke  - the biggest adv I see with Dockerfile based approach is that you dont need to be JS expert :)  and enables people w/o JS knowledge to collaborate easily. But I do feel the native JS actions do have some advantages but never tried

[2020-12-15 13:30] cdlliuy commented on #1023
@rhuss , it seems that the waiting time here is not enough ... Also, there are more intermittent error failure may happen during reconcile.  Will get it back on this issue with more information.

[2020-12-15 17:36] rhuss commented on #462
/remove-lifecycle stale

[2020-12-15 17:36] rhuss commented on #1160
@daisy-ycguo Actually, our strategy is a bit more defensive: We want to use the *smallest* support version of any API right now. The reasoning for this is laid out in https://github.com/knative/client/issues/462

[2020-12-15 17:39] rhuss commented on #1129
Is this still the case ?

[2020-12-15 18:03] rhuss commented on #1023
Yes, please. It's really difficult to find a reliable way that works in all circumstance in case of eventual success.

[2020-12-16 05:56] navidshaikh commented on #1129
We're carrying a workaround #1117 for it in client by embedding the namespace in the POST. The original issue with eventing is still open https://github.com/knative/eventing/issues/4514. Lets keep it open until its fixed in eventing to track reverting the workaround in client.

[2020-12-16 19:47] Berndinox opened #1172 "Windows - wrong input - error"
### Bug report

When writting a wrong command:
[code]

### Expected behavior

A more "readbale" message!

### Steps to reproduce the problem

Windows 10

### kn version

[code]

[2020-12-16 21:04] mattwelke commented on #1066
After talking on Slack, we decided it would be worth looking more into Docker actions for all actions, including setting up kn. I will look more into them before continuing with this and collaborating.

Another goal is to use the existing kn Docker image as is, as the Docker action, or with the refactorong needed to use it both as it's used right now and as a Docker action.

[2020-12-17 08:36] navidshaikh commented on #1172
/assign

[2020-12-17 09:41] navidshaikh commented on #1172
thanks for the report @Berndinox !

We try to parse the sub-string `'kn service'` from the following error message for a follow up tip (`Run 'kn service --help' for usage`).
[code]
however, we're using `os.Args[0]` to grab the `kn` string to match the pattern, which on Windows platform is expanding to its absolute path (`C:\Windows\system32\kn.exe`) and the `\k` collides with the regexp expression

[2020-12-17 16:15] rhuss commented on #1172
fwiw, there should be also an option for regexp to quote the string, instead of using it directly.

[2020-12-31 10:39] utherp0 opened #1181 "kn needs the ability top set a default timeout for the service"
### Feature request

kn create needs a flag for setting the default timeout for the service

### Use case

I want to create my services with a default timeout of 10 seconds rather than the standard 300 - currently I can't create a service with the timeout of 10 secs and need to post-create change it (in this case using the OpenShift UI/YAML editor) which creates a new revision

There are flags for

[2021-01-07 02:28] #999 closed

[2021-01-08 17:07] jwilner opened #1184 "`kn apply` ignores revision name"
### Bug report

Revision name is discarded -- note the revision name in the output below:

[code]

### Expected behavior

Expected it to behave like create in this scenario (note the revision name).

[code]

### Steps to reproduce the problem

Pretty much the steps above.

### kn version

`go installed` from e7042dd15f8413cc9b82dacad9347a5e4460d8e7

[code]

### Knative (serving/eventing) version

[2021-01-08 17:09] jwilner commented on #1184
Oh and the issue is pretty clearly here: https://github.com/knative/client/blob/release-0.19/pkg/kn/commands/service/apply.go#L69

[2021-01-08 17:29] jwilner opened #1186 "Support traffic flags for `kn service apply`"
### Feature request

I'd like to be able to use `traffic` flags with `kn service apply`.

### Use case

My current goal is for my team to have CD driven by a service definition that is the source-of-truth, while supporting dark-mode logic for certain branches.

My naive assumption was I’d be able to do something like this:

- On “true” deploy: `kn service apply --filename service.yaml --image "${I

[2021-01-11 02:20] cdlliuy commented on #1023
@rhuss  , we did observe more intermittent reconcile failure as described in https://github.com/knative/serving/issues/10511 .
You said `The current 'error window' as we call it is 2s` .
Is that possible to make the parameter as an option for end-user?

[2021-01-13 02:42] #553 closed

[2021-01-14 05:45] navidshaikh commented on #317
/remove-lifecycle stale

[2021-01-14 05:49] navidshaikh commented on #633
/remove-lifecycle stale

[2021-01-14 06:02] Kaustubh-pande commented on #317
I'd like to work on this issue.
/assign

[2021-01-14 07:28] rhuss commented on #182
/remove-lifecycle stale

[2021-01-14 07:29] rhuss commented on #390
/remove-lifecycle stale

[2021-01-14 07:30] rhuss commented on #585
/remove-lifecycle stale

[2021-01-14 07:37] rhuss commented on #1023
yes, let's do it as it seems that we can't have a value that works for every context. Let's call the flag `--wait-window` so that the name correlates to the "wait" functionality.

[2021-01-14 08:09] cdlliuy commented on #1023
@rbuss,  not sure whether the name `wait-window` will be confusing with `wait-timeout`?
Maybe `--wait-window-on-errors` ?  or `toleration-window` ? I can't think out more given the limited English words in my mind.

[2021-01-14 08:13] rhuss commented on #1023
the concept is hard to explain in one word anyway. It should start with `--wait` so that it aligns with the other wait option (`--wait-timeout`), so I would be fine with `--wait-window` and explaining it in the help message. It also a balancing act between being precise and too verbose (which leads to more typing and harder to memorize). Also, we already have the concept of a "window" included wit

[2021-01-14 12:46] #30 closed

[2021-01-14 14:43] duglin commented on #890
/remove-lifecycle stale

[2021-01-14 14:43] duglin commented on #925
/remove-lifecycle stale

[2021-01-14 14:55] rhuss opened #1191 "Removed hard-coded "kn" in usage/error messages"
Instead use `argv[0]`, the first argument provided on the command line. If the command is called with a path, that path should be stripped off from the given argument.

See https://github.com/knative/client/pull/1175 for more context.

[2021-01-14 15:29] #1172 closed

[2021-01-15 06:56] navidshaikh commented on #1015
/reopen
/remove-lifecycle stale

[2021-01-19 07:48] rhuss commented on #732
/remove-lifecycle stale

[2021-01-19 16:10] rhuss opened #1195 "Minor feature suggestion for offline mode (kn service --target)"
### Feature request

Some minor tuning for the `kn service create --target` offline mode:

* The success message should mention which file has been created. Until now it looks like the usual kn service create message without any context that it has operated in offline mode
* Empty sections should be filtered out in the file created. This might be a bit tricky, but I think it should be possible as

[2021-01-19 16:41] rhuss commented on #1195
For reference: Here's the previous discussion that resulted in the `--target` name: https://github.com/knative/client/pull/1122#pullrequestreview-547101347

[2021-01-20 09:09] dsimansk opened #1197 "Add support for DomainMapping resource"
### Feature request

It'd be great is if we could add support for `DomainMapping` custom [resource](url), that was recently added to Serving API.

### Use case

With the use of `DomainMapping` it's possible to create custom domains per namespace and per Service reference to address the endpoints.

The required parameters are domain name (fqdn) and reference (`Addressable`, currently only [ksvc](ht

[2021-01-20 09:18] rhuss commented on #1197
Thanks, definitely something we should add !

I wonder whether we should call it `--sink` as it is essentially the same type that a sink uses. But on the other hand sink is an eventing concept and only because it is sharing the same type doesn't mean it has to be the same option name. So `--ref` or `--reference` (with a short `-r` option) would be fine IMO.

[2021-01-20 12:26] dsimansk commented on #1197
I give it a thought during writing the initial description and it seemed to me that `--reference|--ref` is more suitable as it reflects the naming from DomainMapping as well.
As pointed out by @navidshaikh, the sink flag is [extensible](https://github.com/knative/client/blob/master/pkg/kn/commands/flags/sink.go#L38) with custom flag name.

[2021-01-20 16:24] rhuss commented on #889
/remove-lifecycle stale

[2021-01-21 15:40] rhuss commented on #858
Let's reopen this if this is still an issue. I think we added some extra code to be prepared for this situation, but we should try to reproduce it with the latest kn release.

[2021-01-22 23:36] ericmillin commented on #1047
/remove-lifecycle stale

[2021-01-25 05:08] navidshaikh commented on #1073
/remove-lifecycle stale

[2021-01-25 12:48] cardil opened #1202 "Allow to use toReference method from outside, in ex. kn plugins"
https://github.com/knative/client/blob/c503b88be21d859227d4e35471130e03c62def47/pkg/kn/commands/source/binding/binding.go#L77

Writing a kn-event plugin I wanted to parse the addressable in the same way as it is parsed in `kn source binding --subject` option. To be able to do it, this function needs to be moved to a public place. Maybe `knative.dev/client/pkg/util` is a good place?

[2021-01-25 12:48] cardil commented on #1202
/assign

[2021-01-25 13:53] dsimansk commented on #1195
In the PR discussion I stated the following list `1. offline | 2. target | 3. local`. I can easily agree that `offline` sounds too negative. Then might be the `--local` flag a better bet?

[2021-01-25 14:20] rhuss commented on #1202
@cardil How urgent is it ? I'm asking because I'm on the way (albeit slowly) to move shared code into a dedicated repository to support reuse and break cyclic dependencies --> https://github.com/knative/client/issues/1039

It might still take a bit, but that will the eventual location where we should put the parsing code.

[2021-01-25 14:25] cardil commented on #1202
I wanted that to finish my kn-event poc. Either way this method needs to be public in order to enable reuse.

So, answering your question. I would like to do it as soon as possible. They I'm happy to follow up when the code gets transferred to other repo.

[2021-01-26 03:16] xtreme-sameer-vohra opened #1204 "Add dataBase64 flag for Ping Source"
### Feature request

For parity to be able to create a ping source using the kn cli

### Use case
Use the `dataBase64` for binary data as shown in the [docs](https://knative.dev/docs/eventing/samples/ping-source/)

`kn source ping create test-ping-source --schedule "*/2 * * * *" --dataBase64: "ZGF0YQ==" --sink ksvc:event-display`

[2021-01-26 11:20] julz commented on #1197
Agree with @dsimansk that ref is better. As well as `ref` being what the yaml version uses, as of now the requirements for `ref` are slightly stricter than for sink (can't resolve to an address with a path, for example) so I think it's less confusing to keep them distinct.

[2021-01-26 15:45] #1202 closed

[2021-01-27 02:58] cdlliuy opened #1205 "Add support to allow scaling metric type (concurrency, rps, cpu, memory)"
### Feature request
Currently,  I can't set the autoscaler metric with rps.    How about add a new option `--autoscaler-metric` ?
### Use case

Currently, I can't achieve below knative creation with `kn`
[code]

### UI Example

how about using
`kn service create --autoscaler-metric rps` for above?  The default value for `--autoscaler-metric` should be `concurrency`

[2021-01-28 12:08] dsimansk commented on #1204
I wonder if should just add a plain `--dataBase64` flag, that's pretty much straightforward and fast to do.
On the other hand I'd like something like more sophisticated `--data` flag that could try to detect base64 encoding automatically, or --data "base64:Hello!" that encodes the data for the `kn` user.

Wdyt? @rhuss @navidshaikh @maximilien

[2021-01-29 02:02] #1034 closed

[2021-02-01 09:19] dsimansk commented on #1087
/remove-lifecycle stale

[2021-02-01 16:11] dsimansk commented on #1086
/remove-lifecycle stale

[2021-02-01 16:43] dsimansk commented on #1204
In addition a quick observation `dataBase64` is available `sources/v1beta2`, but `kn` is still on `v1alpha2` for the backward compatibility support.

https://github.com/knative/eventing/blob/master/pkg/apis/sources/v1beta2/ping_types.go#L80-L83
https://github.com/knative/client/blob/master/pkg/sources/v1alpha2/ping_client.go#L24

[2021-02-02 13:49] rhuss commented on #1184
The issue here is, that we don't support BYO revision name with `kn service apply`. The reason is that we can't make that idem-potent, e.g. calling `kn service apply` a second time with the same arguments has to be a no-op and don't provide an error. Also I remember other issues with BYO revision names.

@jwilner Actually, what is your use case with providing a revision name with `kn service apply

[2021-02-02 15:54] jwilner commented on #1184
@rhuss I don't immediately remember what my need for revision-name was. I can dig into it some more and get back to you. In the meanwhile, you can see our current usage in the pasted bash snippet in https://github.com/knative/client/pull/1187#issuecomment-771729924

[2021-02-09 03:24] duglin commented on #842
ping

[2021-02-09 03:24] duglin commented on #842
/remove-lifecycle stale

[2021-02-09 17:37] dprotaso commented on #997
/label good-first-issue

[2021-02-09 17:37] dprotaso commented on #997
/label 'good first issue'